Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

fix: move payment gateway errors to top of form
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: only setup checkbox once
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: correct spacing for recurring donation checkbox
  src/Views/Form/Templates/Sequoia/assets/css/recurring.scss
Due: stylelint --fix

chore: remove slash from end of url before comparision
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add isPluginActive helper function
  src/Helpers/Utils.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: ensure that donate fieldset exists
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

feature: implement isPluginActive helper method
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make input color consistent with figma
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: use pointer cursor for back button
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: hide donate now for apple or google pay gateways
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: use brand icons for gateways
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: use template literals
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: collect all addon dynamic css in one variable
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update logic to print dynamic css
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add webkit support for clip-path
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
  src/Views/Form/Templates/Sequoia/assets/css/ffm.scss
  src/Views/Form/Templates/Sequoia/assets/css/newsletter.scss
  src/Views/Form/Templates/Sequoia/assets/css/recurring.scss
Due: stylelint --fix

feature: swap donate now button for google/apply pay button
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix, stylelint --fix

fix: setup icons on payment section refresh
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: replace submit button fully on gateway load
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: move gateway error to top of form
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix, stylelint --fix

fix: clear gateway specific errors on load
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: remove redundant code
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: hide load if button is enabled
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: format error in bottom of form
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix, stylelint --fix

fix: position submit button at bottom
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: persist identical fields
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

chore: update pot file
  languages/give.pot
Due: none

chore: update plugin version to 2.7.0
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add missing automatic upgrade for 2.7.0
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: keep global default stripe account as default for form metabox settings
  includes/gateways/stripe/includes/admin/admin-filters.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve multiple stripe accounts ui for smaller screens
  assets/src/css/admin/stripe-admin.scss
Due: stylelint --fix

fix: resolved issues related to edit update and cancel stripe account name
  assets/src/js/admin/stripe-admin.js
Due: eslint --fix

fix: center apple/google pay buttons
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: prevent identical errors from appearing
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: add actions to handle storing used stripe account for processing donation
  includes/gateways/stripe/includes/actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update state config for Monaco country
  includes/country-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add manual upgrade routine
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add notice to show when upgrade routine if not processed
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/country-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add donation note with manual upgrade routine
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix
