Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: use form element instead of form wrap
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: set default setting value to enabled
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: minor improvements to helper fn
  assets/src/js/frontend/give-stripe-checkout.js
  assets/src/js/frontend/give-stripe-modal.js
Due: eslint --fix

fix: improve overall stripe checkout modal design
  assets/src/css/frontend/give-stripe.scss
Due: stylelint --fix

fix: minor improvements to helper fn
  includes/gateways/stripe/includes/give-stripe-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve conditional check of card name for stripe checkout
  includes/process-donation.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve html markup for stripe checkout
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, npm run lint:php:fix

hotfix: improve line height of template names
  assets/src/css/admin/forms.scss
Due: stylelint --fix

hotfix: improve form template image descriptions
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update readme.txt with website links
  readme.txt
Due: none

doc: update the welcome page verbiage
  includes/admin/class-give-welcome.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update the gateways settings tab inline docs
  includes/admin/settings/class-settings-gateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update the general settings tab inline docs
  includes/admin/settings/class-settings-general.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update the default offline donation instructions and email
  includes/gateways/offline-donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update the Stripe fee notice to make it clearer
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

hotfix: specify form id when checking if legacy form
  includes/gateways/manual.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused code from old gravatar widget that never got used
  give.php
  includes/class-give-donor-wall-widget.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unnecessary variable
  includes/donors/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

hotfix: prevent float styles on donation amount input
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

refactor: add `ids` as a numberic attribute
  includes/donors/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not set embed iframe url as 404
  src/Controller/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unnecessary code
  src/Controller/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: rename query param to prevent conflict with exiting query_vars
  src/Helpers/Form/Utils.php
  src/Route/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: hide not give related html
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

chore: remove unused code
  src/Controller/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: validate donor ids
  includes/donors/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/donors/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add numberToDigits utility function
  assets/src/js/admin/reports/components/mini-chart/utils/index.js
Due: eslint --fix

fix: implement numberToDigits function
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

fix: remove server-side trend rounding
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: correct implementation of number ToDigits
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

fix: do round zero trend percentage to no decimal places
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

fix: improve implementation of numberToDigits
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

chore: add change log item for #4766
  readme.txt
Due: none

chore: run npm run production to generate new POT file
  languages/give.pot
  package-lock.json
Due: prettier --write

chore: fix typo in change log
  readme.txt
Due: none

fix:set script version to plugin version to load fresh file on every plugin release
  src/Views/Admin/DashboardWidgets/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set default template to legacy if missing
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: move stripe error wrappers (not just errors)
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

chore: add change log for 2.7.1 and fix typos in previous change logs
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
