Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

chore: use dynamic api endpoint
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: access mode from PayPal client
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix typo
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use give_register_gateway hook to register payment gateways
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add delete webhook method
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improvements to output redirection fn
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add initial paypal commerce advanced fields assets
  src/PaymentGateways/PayPalCommerce/assets/css/paypal-advanced-card-fields.scss
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
  webpack.config.js
Due: eslint --fix, stylelint --fix

chore: add helper function to get token
  src/PaymentGateways/PayPalCommerce/MerchantDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: load advanced card fields
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update script load to load paypal related assets
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: inject input field styling in iframe
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
Due: eslint --fix

Implement Setup Page design.
  .storybook/main.js
  .storybook/preview-body.html
  assets/src/css/admin/setup.scss
  assets/src/images/setup-page/addons@2x.min.png
  assets/src/images/setup-page/configuration@2x.min.png
  assets/src/images/setup-page/givewp101@2x.min.png
  assets/src/images/setup-page/paypal.svg
  assets/src/images/setup-page/paypal@2x.min.png
  assets/src/images/setup-page/stripe@2x.min.png
  package-lock.json
  package.json
  src/Views/Admin/Pages/OnboardingWizard.php
  src/Views/Admin/Pages/Setup.php
  src/Views/Admin/Pages/templates/setup-page/dismiss.html
  src/Views/Admin/Pages/templates/setup-page/footer.html
  src/Views/Admin/Pages/templates/setup-page/index.html.php
  src/Views/Admin/Pages/templates/setup-page/row-item.html
  src/Views/Admin/Pages/templates/setup-page/section.html
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/examples.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/icons.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/items.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/addons.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/configuration.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/givewp101.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/paypal.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/stripe.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/styles.js
  src/Views/Admin/Pages/templates/setup-step-template.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Add Setup Page hooks to hide admin notices.
  src/Views/Admin/Pages/Setup.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update Stripe icon.
  assets/src/images/setup-page/stripe@2x.min.png
Due: none

Remove excess character.
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
Due: eslint --fix

Add storybook:build command.
  .gitignore
  package.json
Due: prettier --write

Add namespace to Setup Page stories.
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/examples.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/icons.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/items.stories.js
Due: eslint --fix

fix: Move google fonts import to enqueued style.
  assets/src/css/admin/setup.scss
  src/Views/Admin/Pages/Setup.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Add review badge variation.
  assets/src/css/admin/setup.scss
  src/Views/Admin/Pages/templates/setup-page/index.html.php
  src/Views/Admin/Pages/templates/setup-page/row-item.html
  src/Views/Admin/Pages/templates/setup-page/stories/badges.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/examples.stories.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: Replace plain text chevron with font-awesome icon.
  assets/src/css/admin/setup.scss
  src/Views/Admin/Pages/templates/setup-page/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Add block link support.
  assets/src/js/admin/admin-setup.js
  src/Views/Admin/Pages/Setup.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: Float the footer anchor to avoid expanding the focus state.
  assets/src/css/admin/setup.scss
Due: stylelint --fix

Specify dismiss button focus state.
  assets/src/css/admin/setup.scss
Due: stylelint --fix

Scaffold setup page.
  assets/src/css/admin/setup.scss
  src/Views/Admin.php
  src/Views/Admin/Pages/Setup.php
  src/Views/Admin/Pages/templates/setup-step-template.php
  src/Views/Admin/Pages/templates/setup-template.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Configure Setup page.
  includes/admin/settings/class-settings-advanced.php
  includes/install.php
  src/Views/Admin.php
  src/Views/Admin/Pages/Setup.php
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add missing Onboarding class.
  src/Onboarding/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

Escape setup template strings and URLs.
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix copyright year in setup scss header.
  assets/src/css/admin/setup.scss
Due: stylelint --fix

Replace Null Coalescing Operator with PHP 5.2 compatible solution.
  src/Views/Admin/Pages/templates/setup-step-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add doc blocks for Onboarding/Setup classes and methods.
  src/Onboarding/Onboarding.php
  src/Views/Admin/Pages/Setup.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Update docblock to fix copy/paste.
  src/Onboarding/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove unused code.
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update changelog for the new Setup page.
  readme.txt
Due: none

fix: Map setting default value to match options.
  includes/admin/settings/class-settings-advanced.php
Due: npm run lint:textdomain, npm run lint:php:fix

Check nonce on a specific global parameter.
  src/Onboarding/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update setup page setting to follow enabled/disabled convention.
  includes/admin/settings/class-settings-advanced.php
  src/Onboarding/Onboarding.php
  src/Views/Admin.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolve contentinfo accessibility flagged due to footer.
  assets/src/css/admin/setup.scss
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Escape and translate setup page section headers.
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  readme.txt
Due: none
