Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

refactor: reduce code intentation
  src/DonorProfiles/resources/js/app/index.js
Due: eslint --fix

doc: update changelog.md
  CHANGELOG.md
Due: none

format: improve code formatting
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: load assets only if rendering donor dashboard
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: revert js file changes
  src/DonorProfiles/resources/js/app/index.js
Due: eslint --fix

format: improve code formatting
  src/DonorProfiles/RequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make only logout link clickable
  src/DonorProfiles/resources/js/app/components/tab-menu/index.js
  src/DonorProfiles/resources/js/app/components/tab-menu/style.scss
Due: eslint --fix, stylelint --fix

feature: add and use helper function
  src/DonorProfiles/App.php
  src/DonorProfiles/RequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: decrease top margin for dashboard content
  src/DonorProfiles/resources/js/app/components/dashboard-content/index.js
  src/DonorProfiles/resources/js/app/components/dashboard-content/style.scss
Due: eslint --fix, stylelint --fix

fix: increase tab link lineheight
  src/DonorProfiles/resources/js/app/components/tab-link/style.scss
Due: stylelint --fix

fix: improve receipt heading format
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
Due: eslint --fix

refactor: add missing function argument
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add missing code
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: reduce receipt line item padding
  src/DonorProfiles/resources/js/app/components/donation-receipt/style.scss
  src/DonorProfiles/resources/js/app/components/subscription-receipt/index.js
  src/DonorProfiles/resources/js/app/components/subscription-receipt/style.scss
Due: eslint --fix, stylelint --fix

fix: resolve receipt rounded corners issue
  src/DonorProfiles/resources/js/app/components/donation-receipt/style.scss
Due: stylelint --fix

fix: remove left padding for radio control
  src/DonorProfiles/resources/js/app/components/radio-control/style.scss
Due: stylelint --fix

fix: do not use helper function
  src/DonorProfiles/App.php
  src/DonorProfiles/RequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use ob_get_clean
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

refavtor: fix if condition
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use cursor pointer for cancel buttons
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
  src/DonorProfiles/resources/js/app/components/logout-modal/index.js
  src/DonorProfiles/resources/js/app/components/logout-modal/style.scss
  src/DonorProfiles/resources/js/app/components/subscription-cancel-modal/index.js
  src/DonorProfiles/resources/js/app/components/subscription-cancel-modal/style.scss
Due: eslint --fix, stylelint --fix

fix: giving stats respect global currency settings
  src/DonorProfiles/Tabs/DonationHistoryTab/DonationsRoute.php
  src/DonorProfiles/resources/js/app/tabs/donation-history/stats/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/actions.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/initialState.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/reducer.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: improve edit profile save state
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
Due: eslint --fix

fix: include icons in receipt lineitems
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/resources/js/app/components/donation-receipt/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

fix: reload personal information section when gatways reload
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: do not add # when searching for dom id
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: improve upgrade notice bg color and title line height
  src/DonorProfiles/resources/styles/upgradenotice.scss
Due: stylelint --fix

fix: add docs link
  src/DonorProfiles/resources/views/upgradenotice.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add dismiss link to upgrade notice
  src/DonorProfiles/resources/js/admin/index.js
  src/DonorProfiles/resources/styles/upgradenotice.scss
  src/DonorProfiles/resources/views/upgradenotice.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: improve responsive donation table styles
  src/DonorProfiles/resources/js/app/components/donation-row/index.js
  src/DonorProfiles/resources/js/app/components/table/style.scss
Due: eslint --fix, stylelint --fix

fix: tighten logout link padding
  src/DonorProfiles/resources/js/app/components/tab-menu/style.scss
Due: stylelint --fix

fix: add responsive headers to subscriptions table
  src/DonorProfiles/resources/js/app/components/subscription-row/index.js
Due: eslint --fix

fix: animate loading spinner
  src/DonorProfiles/resources/js/app/components/heading/index.js
  src/DonorProfiles/resources/js/app/components/heading/style.scss
Due: eslint --fix, stylelint --fix

fix: resolve since last donated error
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not format last donation date return
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.10.0-beta.3 release
  CHANGELOG.md
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update package lock
  package-lock.json
Due: prettier --write

format: add newline
  CHANGELOG.md
Due: none

doc: update changelog
  CHANGELOG.md
Due: none

doc: add @unlreaded tag
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix
