Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Fix typo in function definition.
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

fix: load country setting within table
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove form preview creation from Wizard page render.
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: seperate connect button and introduction section
  assets/src/css/admin/settings.scss
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: connect setting with give_settings
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/PaymentGateways/PayPalCommerce/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use sbg image for paypal logo
  assets/src/images/admin/paypal-logo.svg
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix use paypal-commerce in non user facing code instead of paypal-donation
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/RefundPaymentHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update heading in paypal donation introductio setting section
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: match space and font size with figma design
  assets/src/css/admin/settings.scss
Due: stylelint --fix

chore: fix image size and feature list spacing
  assets/src/css/admin/settings.scss
Due: stylelint --fix

fix: make check case-insensitive
  src/Helpers/Frontend/Shortcode.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use esc_html__
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use chosen field type setting field
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: return default country if not selected yet
  src/PaymentGateways/PayPalCommerce/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use select field because chosen store value in array
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

Downgrade phpunit to ^5 for PHP5.6 support.
  composer.json
  composer.lock
Due: prettier --write

chore: add support for sub group in setting tab
  assets/src/js/admin/admin-settings.js
  includes/admin/class-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore:install composer and npm
  composer.lock
  package-lock.json
Due: prettier --write

chore: update plugin version
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add filter to allow edit value of vault query param
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: extend modal plugin to allow for additional classes and full body markup
  assets/src/js/plugins/modal.js
Due: eslint --fix

feature: display success modal on account connection
  assets/src/css/admin/paypal-commerce.scss
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Replace wizard feature option One-Time Donations with Offline Donations.
  assets/src/js/admin/onboarding-wizard/app/steps/features/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/offline-donations/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/one-time-donation/index.js
  src/Onboarding/Routes/FeaturesRoute.php
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Update offline checkout notes for preview form.
  src/Onboarding/DefaultFormFactory.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add since tags
  assets/src/js/plugins/modal.js
Due: eslint --fix

Add an action observer for side effects that aren't directly state related.
  assets/src/js/admin/onboarding-wizard/app/store/observers.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
Due: eslint --fix

Add an observer to control for the scrollbar in the Preview step.
  assets/src/js/admin/onboarding-wizard/app/store/observers.js
Due: eslint --fix

fix: replace src with dist
  src/Onboarding/Setup/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove redundant script enqueue
  src/Onboarding/Setup/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update docblock comment for clarification.
  assets/src/js/admin/onboarding-wizard/app/store/observers.js
Due: eslint --fix

correct typo in terms field description
  includes/admin/settings/class-settings-display.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add before unload listeners to wizard component
  assets/src/js/admin/onboarding-wizard/components/wizard/index.js
Due: eslint --fix

fix: add return true permissions callback
  includes/api/class-give-api-v2.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove trailing comma from function call arguments.
  src/Onboarding/Wizard/FormPreview.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use return true string in place of calling return true fn
  includes/api/class-give-api-v2.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: shorten and tweak pci compliance messaging
  assets/src/css/admin/paypal-commerce.scss
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

New CHANGELOG.md, Keep a Changelog, and Semantic Versioning standards are now in place (#5117)
  CHANGELOG.md
  readme.txt
Due: none

increase min donation amount and use proper params for give_format_decimal
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, npm run lint:php:fix

add change log entry
  CHANGELOG.md
Due: none

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
