Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: use new class to check migration status
  includes/admin/tools/views/html-admin-page-system-info.php
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: match foreign key type with referenced table column type
  src/Revenue/Migrations/CreateRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use min rather than inline ternary
  src/Totals/resources/views/totals.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: rename total panel to filters
  src/Totals/resources/js/edit/inspector.js
Due: eslint --fix

fix: rearrange inspector panels
  src/Totals/resources/js/edit/inspector.js
Due: eslint --fix

fix: rearrange order of block elements
  src/Totals/resources/views/totals.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use theme body font size for progress text
  src/Totals/resources/css/common.scss
Due: stylelint --fix

feature: add show goal attribute and control
  src/Totals/Block.php
  src/Totals/Model.php
  src/Totals/resources/js/data/attributes.js
  src/Totals/resources/js/edit/inspector.js
  src/Totals/resources/views/totals.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: renmae Goal Color control as Progress Bar Color
  src/Totals/resources/js/edit/inspector.js
Due: eslint --fix

chore: make default goal amount 1000
  src/Totals/Block.php
  src/Totals/Model.php
  src/Totals/resources/js/data/attributes.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: use rem units to improve spacing across themes
  src/Totals/resources/css/common.scss
Due: stylelint --fix

fix: open the goal section by default
  src/Totals/resources/js/edit/inspector.js
Due: eslint --fix

fix: defensively style text in block editor
  src/Totals/resources/css/editor.scss
Due: stylelint --fix

chore: do not overwrite migration if has same timstamp
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent migration overwrite by creating unique ket with timestamp and id
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: progress on passing country during onboarding
  assets/src/js/admin/admin-settings.js
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/PaymentGateways/PayPalCommerce/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: change 'show goal in block' to 'show progress bar'
  src/Totals/resources/js/edit/inspector.js
Due: eslint --fix

feature: add "multicheck" type in the types list for handling default properties
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: fill in white space with 3DS plug
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: point PayPal connect in onboarding to PayPal Commerce
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: move offline gateway to end of settings list
  includes/admin/settings/class-settings-gateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: priotitize Stripe and then PayPal in gateway settings list
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
  src/PaymentGateways/PaypalSettingPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove table and tbody tag
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add custom country field
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unused use
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

choreL remove newline
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: hidden account country setting if pyapal account connected
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not show modal when edit account country setting
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: hide account country setting if paypal connected
  assets/src/js/admin/admin-settings.js
Due: eslint --fix

fix: get account country from options instead of give settings
  src/PaymentGateways/PayPalCommerce/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use Setting class to get account country
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use cache setting object to get account country
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: hide account country setting field by positin to keep width
  assets/src/css/admin/settings.scss
  assets/src/js/admin/admin-settings.js
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: disabled connect to PyaPal button after first click
  assets/src/js/admin/admin-settings.js
Due: eslint --fix

chore: add comment
  assets/src/css/admin/settings.scss
Due: stylelint --fix

refactor: seperate php code from html
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix typo in description
  includes/admin/tools/export/give-export-donations-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent javascript error
  assets/src/js/admin/admin-settings.js
Due: eslint --fix

fix: prevent console errors and improve focus styles
  src/Views/Form/Templates/Sequoia/assets/css/currencyswitcher.scss
Due: stylelint --fix

chore: add initial code for Revenue respository
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
