Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

fix: use correct donation variable name, rather than payment
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: include labels for cancelled and failed payments in payment statuses chart
  src/API/Endpoints/Reports/PaymentStatuses.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: set default yaxes max to 10 for bar charts
  assets/src/js/admin/reports/components/chart/utils/index.js
Due: eslint --fix

fix: expand color palette and add border to pie charts
  assets/src/js/admin/reports/components/chart/utils/index.js
  assets/src/js/admin/reports/components/donor-item/utils/index.js
  assets/src/js/admin/reports/components/legend/utils/index.js
Due: eslint --fix

fix: use db_query functions
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: ignore hour value of date input
  assets/src/js/admin/reports/store/reducer.js
  assets/src/js/admin/reports/utils/index.js
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: loop until end reached, not after
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add support for hidden type form metabox setting field
  includes/admin/give-metabox-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use declarative approach for getInitials
  assets/src/js/admin/reports/components/donor-item/utils/index.js
Due: eslint --fix

chore: add support fro form_theme setting
  assets/src/js/admin/admin-forms.js
  includes/admin/forms/class-metabox-form-data.php
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

docs: update login shortcode main label to match WP's and test to ensure email log in works as expected - Resolves #4434
  templates/shortcode-login.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add dummy settings
  src/Form/Config/Themes/Legacy.php
  src/Form/Config/Themes/Sequola.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

docs: fix description for akismet to resolve #4501
  includes/admin/settings/class-settings-advanced.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: added change log for 2.6.0
  readme.txt
Due: none

chore: add dummay field options
  src/Form/Config/Themes/Legacy.php
  src/Form/Config/Themes/Sequola.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: chnage theme order
  src/Form/Config/Themes/Load.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add logic to render form theme settings
  assets/src/css/admin/forms.scss
  assets/src/js/admin/admin-scripts.js
  src/Form/Theme.php
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: use 'legacy=true' param to conditionally load legacy reports vs new reports
  includes/admin/admin-actions.php
  includes/admin/admin-pages.php
  includes/admin/forms/dashboard-columns.php
  includes/admin/reports/class-earnings-report.php
  includes/admin/reports/class-form-reports-table.php
  includes/admin/reports/class-forms-report.php
  includes/admin/reports/class-gateways-report.php
  includes/admin/reports/graphing.php
  includes/admin/reports/reports.php
  includes/admin/views/html-admin-settings.php
  src/Views/Admin/Pages/Reports.php
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: prevent fatal error
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove unnecessary anchor href filter
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: set button margin to 0 (for Safari style)
  assets/src/js/admin/reports/components/mini-period-selector/style.scss
  assets/src/js/admin/reports/components/period-selector/style.scss
Due: none

chore: store and show form theme settings
  assets/src/js/admin/admin-forms.js
  includes/admin/forms/class-metabox-form-data.php
  src/Form/Theme.php
  src/Form/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

hotfix: expand query to include all anchors with 'give-reports' in href attr
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: move db operation handler to helper fns
  give.php
  includes/admin/forms/class-metabox-form-data.php
  src/Form/Helpers.php
  src/Form/Helpers/Theme.php
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update helper fn to get them setting on request
  src/Form/Helpers/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: handle actived theme metabox view
  assets/src/css/admin/forms.scss
  assets/src/js/admin/admin-forms.js
  src/Form/Theme.php
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

refactor: rename fns
  includes/admin/forms/class-metabox-form-data.php
  src/Form/Helpers/Theme.php
  src/Form/Theme.php
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix typo
  assets/src/js/admin/admin-forms.js
Due: eslint --fix

chore: rename fn
  assets/src/js/admin/admin-forms.js
Due: eslint --fix

chore: rename fns
  give.php
  includes/admin/forms/class-metabox-form-data.php
  src/Form/Themes.php
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: move unrelated fn to helper fn
  give.php
  src/Form/Helpers/Themes.php
  src/Form/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use absolute path
  src/Form/Config/Themes/Load.php
  src/Form/Helpers/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove singleton pattern
  src/Form/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Update readme.txt
  readme.txt
Due: none

Update active install count
  readme.txt
Due: none

chore: bump WP compatible version
  readme.txt
Due: none

chore: bump to version 5.4
  readme.txt
Due: none

chore: fix markdown link in readme
  readme.txt
Due: none

chore: prevent object creation
  src/Form/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: allow to save form theme settings only if form theme selected
  assets/src/js/admin/admin-forms.js
  includes/class-give-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
