Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

chore: update changelog date for 2.8.0-beta.1
  CHANGELOG.md
Due: none

Admin notices are no longer animated. (#5182)
  CHANGELOG.md
  includes/class-notices.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: attaching events on dynamically created elements
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

refactor: calculate field style when card name field is on screen
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: load smart buttons when render custom credit card fields
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

chore: fix typo
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

feature: RTL styles
  assets/src/css/frontend/forms.scss
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/css/receipt.scss
Due: stylelint --fix

feature: add isRTL helper function
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

refactor: add icon padding depending on the page text direction
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

refactor: show arrow icon depending on the page text direction
  src/Views/Form/Templates/Sequoia/Actions.php
  src/Views/Form/Templates/Sequoia/sections/form-navigator.php
Due: npm run lint:textdomain, npm run lint:php:fix

Trailing comma in function call is removed for PHP 5.6 support (#5195)
  CHANGELOG.md
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, npm run lint:php:fix

License activation is restored by resolving JS translation error. (#5186)
  CHANGELOG.md
  assets/src/js/plugins/give-api/notice.js
Due: eslint --fix

chore: prepare 2.8.0-beta.2 release
  CHANGELOG.md
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: apply workaround for paypal commerce token
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: load default cc form
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use hostedCardFieldsContainers field instead of getFields
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

chore: improve code formatting
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: show hide card field on basis of donor opted in for recurring or not
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: remove extra margin from iframe
  assets/src/css/frontend/paypal-commerce/advanced-card-fields.scss
Due: stylelint --fix

refactor: consolidate PayPal authentication and onboarding to a repository
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalAuth.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused dependencies
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not process advanced card field if donor apted in for recurring donation
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: correct missing dependency and api url
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalAuth.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: check for changes in webhook and update PayPal
  src/Controller/PayPalWebhooks.php
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/Models/WebhookConfig.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
  src/PaymentGateways/PayPalCommerce/Repositories/Traits/HasMode.php
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
  src/PaymentGateways/PayPalCommerce/Webhooks/WebhookChecker.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: json encode PATCH body
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove order property and add bottom margin to the fee breakdown message
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
Due: stylelint --fix

feature: add rtl styles for t&c
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

feature: add rtl styles
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
Due: stylelint --fix

Onboarding Form Preview default image is now updated. (#5203)
  CHANGELOG.md
  assets/src/images/donate.min.png
  assets/src/images/onboarding-preview-form-image.min.jpg
  src/Onboarding/DefaultFormFactory.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: increase max width of stripe checkout modal
  assets/src/css/frontend/give-stripe.scss
Due: stylelint --fix

fix: switch token refreshing to use client credentials
  src/PaymentGateways/PayPalCommerce/Models/MerchantDetail.php
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

fix: use fit-content to determine max-width
  assets/src/css/frontend/give-stripe.scss
Due: stylelint --fix

fix: checkmark position
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: term links position
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

feature: RTL styles
  src/Views/Form/Templates/Sequoia/assets/css/newsletter.scss
Due: stylelint --fix

feature: add a WebhookRegister for handling all event registration
  src/Controller/PayPalWebhooks.php
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
  src/PaymentGateways/PayPalCommerce/Webhooks/WebhookChecker.php
  src/PaymentGateways/PayPalCommerce/Webhooks/WebhookRegister.php
  src/ServiceProviders/PaymentGateways.php
  src/ServiceProviders/Routes.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: correct webhook update request and add error message
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
  src/PaymentGateways/PayPalCommerce/Webhooks/WebhookChecker.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add convenience method for adding multiple events
  src/PaymentGateways/PayPalCommerce/Webhooks/WebhookRegister.php
Due: npm run lint:textdomain, npm run lint:php:fix
