Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

refactor: move transaction commit below the status check so that is not executed if migration fails
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add `Failed` status color
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

feature: add cross svg icon
  src/Views/Form/Templates/Classic/resources/views/icon-defs.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: update receipt template to show failed donation status
  src/Views/Form/Templates/Classic/resources/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add @wordpress/dependency-extraction-webpack-plugin
  package-lock.json
  package.json
Due: prettier --write

chore: transform wordpress depedencied to external global libraries
  webpack.mix.js
Due: eslint --fix

chore: add support for jquery and lodash
  webpack.mix.js
Due: eslint --fix

chore: merge existing plugins to production plugin config in webpack
  webpack.mix.js
Due: eslint --fix

feature: add first draft of EnqueueScript class
  src/Helpers/EnqueueScript.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: use single quote
  src/Views/Form/Templates/Classic/resources/views/receipt.php
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: currentely assign depedency in script asset
  webpack.mix.js
Due: eslint --fix

fix: correctely calculate script url and asset path
  src/Helpers/EnqueueScript.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use EnqueueScript class to register script
  src/DonorDashboards/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comment
  webpack.mix.js
Due: eslint --fix

formaT: improve code formatting
  src/Helpers/EnqueueScript.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use script id when register translations
  src/Helpers/EnqueueScript.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: make string translatable
  src/DonorDashboards/resources/js/app/components/avatar-control/index.js
  src/DonorDashboards/resources/js/app/tabs/edit-profile/content.js
Due: eslint --fix

refactor: register donation form listing page script
  src/DonationForms/DonationFormsAdminPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use default mode of @wordpress/dependency-extraction-webpack-plugin
  webpack.mix.js
Due: eslint --fix

chore: update react package
  package.json
Due: prettier --write

chore: update react-dom package
  package.json
Due: prettier --write

chore: install @wordpress/components
  package-lock.json
  package.json
Due: prettier --write

fix: get correct donation form stripe account
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.19.2 release
  give.php
  includes/gateways/stripe/includes/give-stripe-helpers.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

fix: return 403 intead of 404
  src/PaymentGateways/Gateways/PayPalStandard/Controllers/PayPalStandardWebhook.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add missing plugin version
  src/PaymentGateways/Gateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURL.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: access donation amount from price instead of amount
  src/PaymentGateways/Gateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURL.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: revert to old react and install correct @wordpress/components
  package-lock.json
  package.json
Due: prettier --write

refactor: respond with 200 http status to paypal standard ipn
  src/PaymentGateways/Gateways/PayPalStandard/Controllers/PayPalStandardWebhook.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/WebhookValidator.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add unreleased tag
  src/PaymentGateways/Gateways/PayPalStandard/Controllers/PayPalStandardWebhook.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/WebhookValidator.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: install @wordpress/hooks packages
  package-lock.json
  package.json
Due: prettier --write

refactor: register report script with EnqueueScript class
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  assets/src/js/admin/reports/components/donation-item/index.js
  assets/src/js/admin/reports/components/donation-item/utils/index.js
  assets/src/js/admin/reports/components/donor-item/index.js
  assets/src/js/admin/reports/components/export-csv/index.js
  assets/src/js/admin/reports/components/loading-notice/index.js
  assets/src/js/admin/reports/components/mini-period-selector/index.js
  assets/src/js/admin/reports/components/period-selector/index.js
  assets/src/js/admin/reports/components/settings-toggle/index.js
  assets/src/js/admin/reports/components/tabs/index.js
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: log error
  src/PaymentGateways/Gateways/PayPalStandard/Controllers/PayPalStandardWebhook.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: log warning
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/WebhookValidator.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove undefined css from plugin setup onboarding feature
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use EnqueueScript to register on boarding wizard script
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: allow to register translations and localize data before enqueue script
  src/DonationForms/DonationFormsAdminPage.php
  src/DonorDashboards/App.php
  src/Helpers/EnqueueScript.php
  src/Onboarding/Wizard/Page.php
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: register localize data to donor dashboard script correctly
  src/DonorDashboards/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use @wordpress/i18n in script
  src/Log/Admin/Logs/index.js
Due: eslint --fix

refactor: use EnqueueScript to register log dashboard script
  src/Log/Assets.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
