Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

Revert "chore: remove unnecessary code"
  includes/payments/class-payment-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove unnecesary code
  includes/payments/class-payment-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add DataNotice component
  assets/src/js/admin/reports/components/data-notice/index.js
  assets/src/js/admin/reports/components/data-notice/style.scss
  assets/src/js/admin/reports/components/rest-chart/index.js
Due: eslint --fix

fix: improve chart styles
  assets/src/js/admin/reports/components/card/style.scss
  assets/src/js/admin/reports/components/chart/index.js
  assets/src/js/admin/reports/components/chart/style.scss
  assets/src/js/admin/reports/components/legend/style.scss
Due: eslint --fix

fix: update regex to remove numeric from zip file
  includes/admin/add-ons/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use WP core function to delete plugin cache
  includes/admin/add-ons/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code formatting
  includes/admin/add-ons/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add form style setting option
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code formatting
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: return string
  includes/template-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: setup initial code to communicate with iframe
  assets/src/js/frontend/give-ajax.js
  includes/class-give-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add temporapy code to show receipt
  includes/forms/view/embed-form.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add loading states
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  assets/src/js/admin/reports/components/card/style.scss
  assets/src/js/admin/reports/components/chart/style.scss
  assets/src/js/admin/reports/components/data-notice/index.js
  assets/src/js/admin/reports/components/data-notice/style.scss
  assets/src/js/admin/reports/components/grid/index.js
  assets/src/js/admin/reports/components/loading-overlay/index.js
  assets/src/js/admin/reports/components/loading-overlay/style.scss
  assets/src/js/admin/reports/components/not-found-overlay/index.js
  assets/src/js/admin/reports/components/not-found-overlay/style.scss
  assets/src/js/admin/reports/components/rest-chart/index.js
  assets/src/js/admin/reports/components/rest-list/index.js
  assets/src/js/admin/reports/components/rest-list/utils/index.js
  assets/src/js/admin/reports/components/rest-mini-chart/index.js
  assets/src/js/admin/reports/components/skeleton-chart/index.js
  assets/src/js/admin/reports/components/skeleton-chart/style.scss
  assets/src/js/admin/reports/store/reducer.js
Due: eslint --fix

feature: add loading markup
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve loading notice style
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  assets/src/js/admin/reports/components/loading-notice/index.js
  assets/src/js/admin/reports/components/loading-notice/style.scss
  assets/src/js/admin/reports/components/not-found-notice/index.js
  assets/src/js/admin/reports/components/not-found-notice/style.scss
  assets/src/js/admin/reports/components/not-found-overlay/style.scss
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: internationalize loading states
  assets/src/js/admin/reports/components/loading-notice/index.js
  assets/src/js/admin/reports/components/loading-overlay/index.js
  assets/src/js/admin/reports/components/not-found-notice/index.js
  assets/src/js/admin/reports/components/not-found-overlay/index.js
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add inline documentation
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  assets/src/js/admin/reports/components/legend/index.js
  assets/src/js/admin/reports/components/loading-notice/index.js
  assets/src/js/admin/reports/components/loading-overlay/index.js
  assets/src/js/admin/reports/components/not-found-notice/index.js
  assets/src/js/admin/reports/components/not-found-overlay/index.js
  assets/src/js/admin/reports/components/rest-list/index.js
  assets/src/js/admin/reports/components/rest-list/utils/index.js
  assets/src/js/admin/reports/components/rest-mini-chart/index.js
  assets/src/js/admin/reports/components/skeleton-chart/index.js
Due: eslint --fix

fix: echo translated strings
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: match markup to LoadingNotice
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve tooltip styles
  assets/src/js/admin/reports/components/chart/utils/index.js
Due: eslint --fix

fix: rename not-found-overlay class
  assets/src/js/admin/reports/components/not-found-overlay/style.scss
Due: none

chore: update regex to neutralize zip file to match add-on name
  includes/admin/add-ons/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add intial code to process donation in iframe with offsite checkout page
  includes/class-give-scripts.php
  includes/gateways/paypal-standard.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: check for old element first before validating it's html
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

chore: add register & login fields before payment gateway
  templates/form-styles/elegent/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix style issue with registration and login fields
  templates/form-styles/elegent/assets/css/form.scss
Due: none

feature: setup loading states for dashboard widget
  assets/src/js/admin/reports/widget.js
  assets/src/js/admin/reports/widget/index.js
  src/Views/Admin/DashboardWidgets/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: return correct periods for income endpoint
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: flip indicator SVGs
  assets/src/js/admin/reports/components/mini-chart/index.js
  assets/src/js/admin/reports/components/mini-chart/style.scss
Due: eslint --fix

fix: improve date picker styles
  assets/src/js/admin/reports/components/period-selector/index.js
  assets/src/js/admin/reports/components/period-selector/style.scss
Due: eslint --fix

chore: add hook to show text above personal information section
  templates/form-styles/elegent/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unsed code
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

fix: hide login form after successful login
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

chore: remove unused code
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

chore: add todo
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

Add missing customization hook
  includes/forms/functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: add helper fn to auto decide redirect
  includes/forms/route.php
  includes/forms/template.php
  includes/gateways/paypal-standard.php
  includes/template-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add embed support in give_form shortcode
  includes/forms/functions.php
  includes/forms/route.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: pass query string as shortcode argument
  includes/forms/view/embed-form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unnecessary apram from shortcode for iframe mode
  includes/forms/route.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
