Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

fix: display stripe account name and email for better informative stripe account screen
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add donation id to session only if exist
  includes/payments/functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: properly escape the localized strings
  includes/gateways/stripe/includes/admin/admin-helpers.php
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove extra line spaces
  includes/gateways/stripe/includes/filters.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: escape required localized string for admin filters
  includes/gateways/stripe/includes/admin/admin-filters.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: escape required localized string for payment class files
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: escape required localized string for admin actions
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add missing closing bracket
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: user sprintf instead of string interpolation
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use short array format
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve code to use namespaces helper fn
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use give notices class to print frontend notices
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update since for the fn as we are merging this pr in 2.7.0
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: introduce stripe helper fn class file
  src/Helpers/Gateways/Stripe.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add error messages and can show fields method generally for use in respective gateways
  includes/gateways/stripe/includes/class-give-stripe-gateway.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: relocate credit card field fn to its specific class and show error properly
  includes/gateways/stripe/includes/actions.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use canShowFields for becs to display error messages
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use canShowFields fn for stripe sepa to display error messages
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-sepa.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use the isAccountConfigured helper fn
  includes/gateways/stripe/includes/give-stripe-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve fatal error related to error messages variable
  includes/gateways/stripe/includes/class-give-stripe-gateway.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove conditional payment fields helper fn as new created under src directory
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove unnecessary whitespace change at the end of file
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add public to fn for the relocated fn in class for cc fields
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update detail item labels
  src/Receipt/DonationDetailsGroup/Details/Amount.php
  src/Receipt/DonationDetailsGroup/Details/PaymentGateway.php
  src/Receipt/DonationDetailsGroup/Details/Status.php
  src/Receipt/DonationDetailsGroup/Details/TotalAmount.php
  src/Receipt/DonorDetailsGroup/Details/BillingAddress.php
  src/Receipt/DonorDetailsGroup/Details/Email.php
  src/Receipt/DonorDetailsGroup/Details/Name.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: support all text inputs
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

feature: add calednar icon to datepicker
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: increase line-height for textareas
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

feature: style checkboxes
  src/Views/Form/Templates/Sequoia/assets/css/ffm.scss
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

feature: add radio styles
  src/Views/Form/Templates/Sequoia/assets/css/ffm.scss
Due: none

feature: add select styles
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

feature: setup input icons
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

chore: render only children of body tag
  src/Views/Form/Templates/Sequoia/views/receipt.php
  src/Views/IframeContentView.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: render pdf reipt download button
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve the fn isAccountConfigured based on requested changes
  src/Helpers/Gateways/Stripe.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: rename fn name and call to camelcase
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: rename the array keys to format with camelcase
  includes/gateways/stripe/includes/class-give-stripe-gateway.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-sepa.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove details table if not any data inside
  src/Views/Form/Templates/Sequoia/assets/css/receipt.scss
Due: none

refactor: prevent duplicate function calls
  includes/gateways/stripe/includes/class-give-stripe-gateway.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: add option to get localize date
  includes/misc-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: print localize date on donor wall
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
