Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

fix: return whole data as result
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unwanted fn param
  src/Form/LoadTheme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: do not load frontend related hooks in admin
  src/Form/LoadTheme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add defuault redirect handler template
  src/Views/Form/defaultRedirectHandlerTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: set language
  src/Views/Form/defaultFormReceiptTemplate.php
  src/Views/Form/defaultFormTemplate.php
  src/Views/Form/defaultRedirectHandlerTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: use loadTheme fn
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: redirect parent page if offsite payment gateway
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: correctly cache/retrieve report data
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/PaymentMethods.php
  src/API/Endpoints/Reports/PaymentStatuses.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: ensure that get_reports fns return array
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/RecentDonations.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add step selector properties
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

fix: improve markup structure
  src/Views/Form/Themes/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: rename form-stats class to income-stats
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/sections/income-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove progress bar and introduction rendering from introduction section
  src/Views/Form/Themes/Sequoia/sections/introduction.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: rename perosnal-information-text class
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: imrove focus button styles
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: improve button focus state
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

chore: return array from get_report fn
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: return array from fn
  src/API/Endpoints/Reports/DonationsVsIncome.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove unwanted give_get_status fn
  src/API/Endpoints/Reports/PaymentMethods.php
  src/API/Endpoints/Reports/PaymentStatuses.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove unwanted fn
  src/API/Endpoints/Reports/PaymentMethods.php
  src/API/Endpoints/Reports/RecentDonations.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add enable/disabled introduction control
  src/Views/Form/Themes/Sequoia/assets/js/form.js
  src/Views/Form/Themes/Sequoia/optionConfig.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: cache donation status
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unused css
  blocks/donation-form/style.scss
Due: none

fix: setup rewrite rule corretely on plugin install
  includes/install.php
  src/Route/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add automatic upgrade to setup rewrite rule
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: scaffold sliding animations
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

fix: remove form template related setting from widget
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove embed and form_template shortcode param
  includes/forms/functions.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: inhert form template setting instead allowing override
  src/Controller/Form.php
  src/Form/LoadTheme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove form template related settings from guteberg block
  blocks/donation-form/class-give-donation-form-block.php
  blocks/donation-form/data/attributes.js
  blocks/donation-form/data/options.js
  blocks/donation-form/edit/inspector.js
  includes/class-give-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: prevent auto scrolling for iframe
  assets/src/js/frontend/form-theme/parent-page.js
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: prevent iframe resizer logging
  assets/src/js/frontend/form-theme/parent-page.js
Due: eslint --fix

fix: make iframe width 100%
  assets/src/css/frontend/forms.scss
Due: none

fix: remove gap beneath form image
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: add default primary color
  src/Views/Form/Themes/Sequoia/assets/js/form.js
  src/Views/Form/Themes/Sequoia/optionConfig.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: use fallback form is id id aram is not provide
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unused code
  includes/class-give-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unused code
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove console log
  assets/src/js/frontend/give-donations.js
Due: eslint --fix
