Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

add back change log
  CHANGELOG.md
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

fix: set size to avatar size
  assets/src/css/frontend/_components.donor.scss
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore add size to img tag
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make gravatar responsive in donor wall shortcode
  assets/src/css/frontend/_components.donor.scss
  assets/src/js/frontend/give-donor-wall.js
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: remove testing code
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: show nam initial in centre
  assets/src/css/frontend/_components.donor.scss
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: preserve the current state of the first name, last name and email field when the payment method changes
  assets/src/js/frontend/give-donations.js
Due: eslint --fix

fix: resolve additional email bug
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: hide anonymous svg and name initial conditionally
  assets/src/css/frontend/_components.donor.scss
Due: stylelint --fix

feature: implement profile data sanitization logic
  src/DonorProfiles/Routes/ProfileRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove extra comma
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use esc_html
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move sanitization functions to helper class
  src/DonorProfiles/Helpers/SanitizeProfileData.php
  src/DonorProfiles/Routes/ProfileRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolve additional email issue
  src/DonorProfiles/resources/js/app/components/select-control/index.js
  src/DonorProfiles/resources/js/app/components/text-control/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/address-controls/index.js
Due: eslint --fix

chore: add docblocks
  src/DonorProfiles/Helpers/SanitizeProfileData.php
  src/DonorProfiles/Profile.php
  src/DonorProfiles/Routes/ProfileRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update docblocks
  src/DonorProfiles/App.php
  src/DonorProfiles/Block.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add support for handling fields state of multiple donations forms
  assets/src/js/frontend/give-donations.js
Due: eslint --fix

chore: replace anonymous donor image
  assets/src/images/anonymous-user.svg
Due: none

chore: add border only for name initials
  assets/src/css/frontend/_components.donor.scss
Due: stylelint --fix

fix: use absolute path for loading autoloader
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

GitHub Actions should now automated WordPress tests (#5489)
  .github/workflows/wordpress.yml
  .travis.yml
  CHANGELOG.md
  README.md
  includes/class-give-cache-setting.php
  includes/database/class-give-db-meta.php
  includes/install.php
  includes/payments/class-payment-stats.php
  includes/payments/class-payments-query.php
  tests/bin/travis.sh
  tests/bootstrap.php
  tests/unit-tests/stripe/tests-give-stripe-admin-helpers.php
  tests/unit-tests/tests-give.php
  uninstall.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add form title to paypal payment
  includes/misc-functions.php
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalOrder.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update function description
  includes/misc-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add function param to returj result in limited character
  includes/misc-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

style: minor increase in margin between donor avatar and content
  assets/src/css/frontend/_components.donor.scss
Due: stylelint --fix

chore: send payment description with 127 letters
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: correct the change log for avatar size issue
  CHANGELOG.md
Due: none

chore: trim title after filter hook
  includes/misc-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog section
  CHANGELOG.md
Due: none

chore: update function doc
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add style to host field with css
  assets/src/css/frontend/forms.scss
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: remove unused css
  assets/src/css/frontend/paypal-commerce/advanced-card-fields.scss
  assets/src/css/frontend/paypal-commerce/index.scss
  webpack.config.js
Due: eslint --fix, stylelint --fix

chore: do not need to add input container style by js
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

chore: set initial height input field wrapper
  assets/src/css/frontend/forms.scss
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
