Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

doc: update changelog.md
  CHANGELOG.md
Due: none

refactor: use const instead of function
  src/Tracking/TrackJobScheduler.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: remove duplicate comment
  src/Tracking/TrackingData/ActiveDonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove extra tab
  src/Tracking/TrackingData/DonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add missing php doc tag
  src/Tracking/TrackingData/DonationMetricsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update changelog.
  CHANGELOG.md
Due: none

feature: scaffold notice logic
  src/DonorProfiles/Admin/UpgradeNotice.php
  src/DonorProfiles/resources/views/upgradenotice.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold setting logic
  src/DonorProfiles/Admin/Settings.php
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: break long migration titles
  src/MigrationLog/Admin/Migrations/index.js
Due: eslint --fix

chore: update button text
  src/MigrationLog/Admin/Migrations/index.js
Due: eslint --fix

fix: period selector
  src/Views/Components/PeriodSelector/style.module.scss
Due: stylelint --fix

chore: Simplify custom field persistance.
  src/Form/LegacyConsumer/Commands/SetupFieldPersistance.php
  src/Framework/FieldsAPI/FormField/FieldStoreAsMeta.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Remove tests for removed functionality.
  tests/unit/tests/Framework/FieldsAPI/FormField/FieldStoreAsMetaTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve upgrade notice styles
  assets/src/css/admin/give-admin.scss
  src/DonorProfiles/Admin/Settings.php
  src/DonorProfiles/Admin/UpgradeNotice.php
  src/DonorProfiles/resources/styles/upgradenotice.scss
  src/DonorProfiles/resources/views/upgradenotice.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: generate donor profile page
  src/DonorProfiles/Admin/Settings.php
  src/DonorProfiles/Admin/UpgradeNotice.php
  src/DonorProfiles/RequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change property scope to protected
  src/Framework/FieldsAPI/FormField/FieldStoreAsMeta.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update property visibility.
  src/Framework/FieldsAPI/FormField/FieldEmailTag.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: improve give_field IDE friendliness
  src/Form/LegacyConsumer/functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Pull meta from donor.
  src/Form/LegacyConsumer/Commands/SetupFieldEmailTag.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add test for custom field email tags.
  tests/unit/tests/Form/LegacyConsumer/Commands/SetupFieldEmailTagTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: Add field trait for showInReceipt.
  src/Form/LegacyConsumer/Commands/SetupFieldConfirmation.php
  src/Form/LegacyConsumer/Commands/SetupFieldReciept.php
  src/Framework/FieldsAPI/FormField.php
  src/Framework/FieldsAPI/FormField/FieldReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update field trait properties visibility.
  src/Framework/FieldsAPI/FormField/FieldAttributes.php
  src/Framework/FieldsAPI/FormField/FieldDefaultValue.php
  src/Framework/FieldsAPI/FormField/FieldHelpText.php
  src/Framework/FieldsAPI/FormField/FieldLabel.php
  src/Framework/FieldsAPI/FormField/FieldReadOnly.php
  src/Framework/FieldsAPI/FormField/FieldRequired.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused code
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add helper function to know if site has access token
  src/Tracking/AdminActionHandler.php
  src/Tracking/Repositories/TelemetryAccessDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: sen dlast set if informaton when disable tracking
  src/Tracking/AdminActionHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

Revert "fix: period selector"
  src/Views/Components/PeriodSelector/style.module.scss
Due: stylelint --fix

Revert "chore: update button text"
  src/MigrationLog/Admin/Migrations/index.js
Due: eslint --fix

Revert "feature: break long migration titles"
  src/MigrationLog/Admin/Migrations/index.js
Due: eslint --fix

refactor: send plugin setting when admin edit setting
  src/Tracking/AdminActionHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add support to send tracking data immidiately
  src/Tracking/AdminActionHandler.php
  src/Tracking/TrackJob.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: do not verify tracking setting in send function
  src/Tracking/TrackJob.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: updtae comment
  src/Tracking/AdminActionHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve page generation logic and settings override
  assets/src/css/admin/settings.scss
  src/DonorProfiles/Admin/Settings.php
  src/DonorProfiles/RequestHandler.php
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: add live telmetry server url
  src/Tracking/TrackClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolve login issues
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
Due: eslint --fix

fix: improve page generation logic
  src/DonorProfiles/Admin/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make notice dismissible
  assets/src/js/admin/admin.js
  src/DonorProfiles/resources/js/admin/index.js
  src/DonorProfiles/resources/styles/upgradenotice.scss
  src/DonorProfiles/resources/views/upgradenotice.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: generate donor profile page after install
  src/DonorProfiles/Admin/Settings.php
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: override legacy page settings is override is enabled
  src/DonorProfiles/Admin/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add docblocks
  src/DonorProfiles/Admin/Settings.php
  src/DonorProfiles/Admin/UpgradeNotice.php
  src/DonorProfiles/resources/js/admin/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix
