Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: add `give flush-logs` cli command
  src/Log/Commands/FlushLogsCommand.php
  src/Log/LogServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused property
  src/Views/Components/Table/index.js
Due: eslint --fix

refactor: add `data-givewp-test` attribute
  src/Log/Admin/Logs/index.js
Due: eslint --fix

refactor: update test
  tests/e2e/integration/logs/logs_page_spec.js
Due: eslint --fix

format: move check on top of the method body
  src/Log/Migrations/MigrateExistingLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add test for receipt info.
  tests/unit/tests/DonorProfiles/Repositories/DonationsTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove `MigrateExistingLogs` from the migrations register because it is already used in the update system
  src/Log/LogServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve error handling for queries
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/Tabs/DonationHistoryTab/DonationsRoute.php
  src/DonorProfiles/resources/js/app/tabs/donation-history/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Migrations and Logs UI is now polished (#5662)
  src/MigrationLog/Admin/Migrations/index.js
  src/Views/Components/PeriodSelector/style.module.scss
Due: eslint --fix, stylelint --fix

chore: update changelog to reflect latest merges
  CHANGELOG.md
Due: none

chore: update package-lock
  package-lock.json
Due: prettier --write

chore: prepare for 2.10.0-beta.2 release
  CHANGELOG.md
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove trailing comma for php 5.6 compatibility
  src/DonorProfiles/Repositories/Donations.php
  tests/unit/tests/DonorProfiles/Repositories/DonationsTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove error_lo
  src/DonorProfiles/Admin/SuccessNotice.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: schdule tracking job only if admin acessing site
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update changelog.md
  CHANGELOG.md
Due: none

doc: fix typo
  src/DonorProfiles/Admin/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: install 'react-is' peer dependeny
  package-lock.json
  package.json
Due: prettier --write

fix: display error message in donor profile
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/dashboard-content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/actions.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/initialState.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/reducer.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/utils/index.js
Due: eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

refactor: remove unused use
  src/DonorProfiles/Tabs/DonationHistoryTab/DonationsRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/DonorProfiles/Tabs/DonationHistoryTab/DonationsRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update code doc
  src/DonorProfiles/Tabs/DonationHistoryTab/DonationsRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

build:run npm install
  package-lock.json
Due: prettier --write

fix: prevent undefined onClick error
  src/DonorProfiles/resources/js/app/components/button/index.js
Due: eslint --fix

fix: register hook only if tracking enabled
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent zero from printing on donation receipt when PDF receipts is deactivated
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
Due: eslint --fix

fix: open annual receipts in new tab
  src/DonorProfiles/resources/js/app/components/annual-receipt-table/annual-receipt-row/index.js
Due: eslint --fix

fix: hide subscription section in receipts
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: catch rest errors in fetch utilities
  src/DonorProfiles/resources/js/app/tabs/annual-receipts/utils/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/utils/index.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/utils/index.js
Due: eslint --fix

fix: remove extra p
  templates/shortcode-receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve modal positioning
  src/DonorProfiles/resources/js/app/components/logout-modal/style.scss
  src/DonorProfiles/resources/js/app/components/subscription-cancel-modal/style.scss
Due: stylelint --fix

fix: improve donor info responsive margins
  src/DonorProfiles/resources/js/app/components/donor-info/style.scss
Due: stylelint --fix

fix: improve stats responsive styles
  src/DonorProfiles/resources/js/app/tabs/donation-history/stats/style.scss
Due: stylelint --fix

fix: improve table responseive styles
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
  src/DonorProfiles/resources/js/app/components/table/style.scss
Due: stylelint --fix

fix: improve donation receipt styles
  src/DonorProfiles/resources/js/app/components/donation-receipt/style.scss
Due: stylelint --fix

fix: improve edit profile responsive styles
  src/DonorProfiles/resources/js/app/components/avatar-control/style.scss
  src/DonorProfiles/resources/js/app/components/field-row/style.scss
Due: stylelint --fix

fix: improve upgrade notice copy and styles
  assets/src/images/admin/donor-dashboard.svg
  src/DonorProfiles/resources/styles/upgradenotice.scss
  src/DonorProfiles/resources/views/upgradenotice.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: localize upgrade notice strings
  src/DonorProfiles/resources/views/upgradenotice.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: render react app only if donor dashboard container exits
  src/DonorProfiles/resources/js/app/index.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
