Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

fix: use image from theme options
  src/Views/Form/Themes/Sequoia/receiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add margin to prevent box-shadow cutoff
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: add social sharing option
  src/Views/Form/Themes/Sequoia/optionConfig.php
  src/Views/Form/Themes/Sequoia/receiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: prevent boxshadow from being cutoff
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

chore: add acheck for get_receipt ajax
  src/Helpers/Form/Utils.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: overwrite number of decimalss on receipt page
  src/Views/Form/Themes/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix typo
  src/Views/Form/Themes/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve donation total styles
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: improve download button spacing
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: improve social sharing style
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: disable social sharing by default
  src/Views/Form/Themes/Sequoia/optionConfig.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve receipt headline style
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: update widget admin script URL
  assets/src/js/admin/admin.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: hide form setting by default
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use choosen select box to allow admin to select form easily
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: compile admin-widgets.js
  webpack.config.js
Due: eslint --fix

refactor: create helper function for reuse another place
  assets/src/js/admin/admin-scripts.js
  assets/src/js/admin/utils/setupChosen.js
Due: eslint --fix

chore: update widget js path
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use chosen js form select form field
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: make select field chosen type after widget save
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

fix: add function doc
  src/Helpers/Form/Theme/Utils/Frontend.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: return int or null
  src/Helpers/Form/Theme/Utils/Frontend.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: get form template on ajax request
  assets/src/js/admin/admin-widgets.js
  includes/ajax-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add logic to show hide form settings
  assets/src/js/admin/admin-widgets.js
  includes/ajax-functions.php
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: set default value for continue button title
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add logic to show & hide fields
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: add new form template setting fields
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add logic to show & hide new form template setting
  assets/src/js/admin/admin-widgets.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: replace tempaltes with view getters
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove getTemplate method
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: replace getTemplate() calls with view getters
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: replace template overloading with receipt view getter
  src/Views/Form/Themes/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve social sharing margins
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: tighten receipt headline margins
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

chore: setup chosen field in widget
  assets/src/css/admin/payment-history.scss
  assets/src/js/admin/admin-widgets.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add alias for setting to prevent conflict
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add becs direct debit payment gateway support
  includes/gateways/stripe/class-give-stripe.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: include becs direct debit class file
  includes/gateways/stripe/class-give-stripe.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add support for becs script in webpack
  webpack.config.js
Due: eslint --fix

fix: load becs script when becs gateway is enabled
  includes/gateways/stripe/includes/give-stripe-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
