Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

fix: include 'give_subscription' status in query args
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update setup page setting to follow enabled/disabled convention.
  includes/admin/settings/class-settings-advanced.php
  src/Onboarding/Onboarding.php
  src/Views/Admin.php
Due: npm run lint:textdomain, npm run lint:php:fix

Escape setup template strings and URLs.
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Escape and translate setup page section headers.
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove unused code.
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Replace Null Coalescing Operator with PHP 5.2 compatible solution.
  src/Views/Admin/Pages/templates/setup-step-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Check nonce on a specific global parameter.
  src/Onboarding/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

Implement Setup Page design.
  .storybook/main.js
  .storybook/preview-body.html
  assets/src/css/admin/setup.scss
  assets/src/images/setup-page/addons@2x.min.png
  assets/src/images/setup-page/configuration@2x.min.png
  assets/src/images/setup-page/givewp101@2x.min.png
  assets/src/images/setup-page/paypal.svg
  assets/src/images/setup-page/paypal@2x.min.png
  assets/src/images/setup-page/stripe@2x.min.png
  package-lock.json
  package.json
  src/Views/Admin/Pages/OnboardingWizard.php
  src/Views/Admin/Pages/Setup.php
  src/Views/Admin/Pages/templates/setup-page/dismiss.html
  src/Views/Admin/Pages/templates/setup-page/footer.html
  src/Views/Admin/Pages/templates/setup-page/index.html.php
  src/Views/Admin/Pages/templates/setup-page/row-item.html
  src/Views/Admin/Pages/templates/setup-page/section.html
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/examples.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/icons.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/items.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/addons.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/configuration.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/givewp101.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/paypal.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/stripe.js
  src/Views/Admin/Pages/templates/setup-page/stories/src/styles.js
  src/Views/Admin/Pages/templates/setup-step-template.php
  src/Views/Admin/Pages/templates/setup-template.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Add Setup Page hooks to hide admin notices.
  src/Views/Admin/Pages/Setup.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: create Webhooks repository and use in controller
  src/Controller/PayPalWebhooks.php
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add namespace to Setup Page stories.
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/examples.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/icons.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/items.stories.js
Due: eslint --fix

Add storybook:build command.
  .gitignore
  package.json
Due: prettier --write

Remove excess character.
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
Due: eslint --fix

Update Stripe icon.
  assets/src/images/setup-page/stripe@2x.min.png
Due: none

Add block link support.
  assets/src/js/admin/admin-setup.js
  src/Views/Admin/Pages/Setup.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Add review badge variation.
  assets/src/css/admin/setup.scss
  src/Views/Admin/Pages/templates/setup-page/index.html.php
  src/Views/Admin/Pages/templates/setup-page/row-item.html
  src/Views/Admin/Pages/templates/setup-page/stories/badges.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/examples.stories.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: prevent resanitization of amounts during formatting
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/PaymentMethods.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set decimal place based on currency options
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add inline documentation
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: save paypal merchant details
  src/PaymentGateways/PaypalSettingPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add logic to get access token
  src/PaymentGateways/PayPalCheckout/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add logic to save client rest api credentials
  src/PaymentGateways/PaypalSettingPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: create seperate class to handle paypal on boarding redirect
  src/PaymentGateways/PayPalCheckout/PayPalOnBoardingRedirectHandler.php
  src/PaymentGateways/PaypalSettingPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: pass encoded return_url
  src/PaymentGateways/PayPalCheckout/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: rmeove paypal legacy tab menu
  src/PaymentGateways/PaypalSettingPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update Give Bootstrapping with Service Container and Service Providers (#4925)
  give.php
  src/API/API.php
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/DonationsVsIncome.php
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/PaymentMethods.php
  src/API/Endpoints/Reports/PaymentStatuses.php
  src/API/Endpoints/Reports/RecentDonations.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
  src/API/RestRoute.php
  src/Container/Container.php
  src/Container/Exceptions/BindingResolutionException.php
  src/ServiceProviders/LegacyServiceProvider.php
  src/ServiceProviders/RestAPI.php
  src/ServiceProviders/ServiceProvider.php
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

refactor: store paypal merchant details under unique key
  src/PaymentGateways/PayPalCheckout/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCheckout/PayPalOnBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolve remaing merge conflict
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename class
  src/PaymentGateways/PayPalCheckout/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCheckout/onBoardingRedirectHandler.php
  src/PaymentGateways/PaypalSettingPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: create a seperate class to store option ids
  src/PaymentGateways/PayPalCheckout/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCheckout/OptionId.php
  src/PaymentGateways/PayPalCheckout/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: toggle connect button coditionally
  src/PaymentGateways/PayPalCheckout/AdminSettingFields.php
  src/PaymentGateways/PayPalCheckout/Utils.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: load payment gateways service provider
  give.php
  src/ServiceProviders/LegacyServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: rediect admin to success page after onboarding
  src/PaymentGateways/PayPalCheckout/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: show notice after onboarding
  src/PaymentGateways/PayPalCheckout/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: reset mechant detals before saving new details
  src/PaymentGateways/PayPalCheckout/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: check setting page before saving paypal account details
  src/PaymentGateways/PayPalCheckout/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix typo
  src/PaymentGateways/PayPalCheckout/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: toggle paypal connect button conditionally
  src/PaymentGateways/PayPalCheckout/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: show Subscription api in feature list if Recurring addon active
  src/PaymentGateways/PayPalCheckout/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add PaymentGateways service provider
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix
