Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

feat: validate mode in ajax controller and record changes
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

feat: orgranize paypal connection buttons
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: revert changes
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalAuth.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/PaymentGateways/PayPalCommerce/Repositories/Traits/HasMode.php
Due: npm run lint:textdomain, npm run lint:php:fix

feat: use trait in class to handle mode
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/PayPalClient.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feat: set PayPal as per request
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: reuse same setting to display papla connection setting for different modes
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

feat: make mode property accesible
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalAuth.php
  src/PaymentGateways/PayPalCommerce/Repositories/Traits/HasMode.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use correct PayPal connection button
  assets/src/js/admin/paypal-commerce/index.js
Due: eslint --fix

refactor: use class instead of id
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use class instead of id
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove error as per context
  assets/src/js/admin/paypal-commerce/index.js
Due: eslint --fix

fix: use correct settign name
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Remove locale from PayPal SDK query parameters (#6791)
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

feat: set custom mode to relative classes when on handle paypal on boarding response
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

feat: defin ePayPalClient as singlton class
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

fis: display connected paypal commerce account correctly
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: access latest merchant details for validation
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove extra space from class attribute
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Add user-friendly error messages for Stripe payments (#6787)
  includes/gateways/stripe/includes/class-give-stripe-payment-intent.php
  src/PaymentGateways/Gateways/Stripe/Traits/HandlePaymentIntentStatus.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.27.1 release
  CHANGELOG.md
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/components/ProductRecommendation/index.tsx
  give.php
  includes/admin/settings/class-settings-recurring.php
  includes/admin/views/html-admin-settings.php
  includes/gateways/stripe/includes/class-give-stripe-payment-intent.php
  readme.txt
  src/Donations/DonationsAdminPage.php
  src/Donations/resources/components/DonationsListTable.tsx
  src/Donors/DonorsAdminPage.php
  src/Donors/resources/components/DonorsListTable.tsx
  src/PaymentGateways/Gateways/Stripe/Traits/HandlePaymentIntentStatus.php
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
  src/Promotions/InPluginUpsells/Endpoints/ProductRecommendationsRoute.php
  src/Promotions/InPluginUpsells/LegacyFormEditor.php
  src/Promotions/InPluginUpsells/PaymentGateways.php
  src/Promotions/InPluginUpsells/resources/js/donation-options.ts
  src/Promotions/InPluginUpsells/resources/js/payment-gateway.ts
  src/Promotions/ServiceProvider.php
  src/Promotions/sharedResources/hooks/useRecommendations.ts
  src/Promotions/sharedResources/requests/dismissRecommendation.ts
  src/Views/Admin/Pages/Reports.php
  src/Views/Components/ListTable/ProductRecommendations/index.tsx
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: prepare for 2.27.1 release
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update webpack
  webpack.mix.js
Due: eslint --fix

chore: prepare for 2.27.2 release
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

New: Support Slack-bot-based zip packaging requests (#6807)
  .github/workflows/generate-zip.yml
  package.json
Due: prettier --write

fix: use class
  assets/src/css/admin/settings.scss
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

refactor: handle disconnection for paypal connected account
  assets/src/js/admin/paypal-commerce/index.js
Due: eslint --fix

refactor: show country select field
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: fix styling for paypal disconnection button
  assets/src/css/admin/paypal-commerce.scss
Due: stylelint --fix

refactor: remove unused param
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

feat: add mode to disconnection button
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

feat: handle error when disconnect paypal account
  assets/src/js/admin/paypal-commerce/index.js
Due: eslint --fix

feat: add support for mode param to disconnect paypal account by mode
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not need to hide billing details when disconnect paypal account
  assets/src/js/admin/paypal-commerce/index.js
Due: eslint --fix

feat: show help notice by paypal connection mode
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: prevent duplicate observer registration
  assets/src/js/admin/paypal-commerce/index.js
Due: eslint --fix

fix: add error to correct array
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

feat: re check connected account by paypal mode
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix
