Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: share function
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

chore: update formatting
  src/Views/Form/Templates/Classic/Classic.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move subscription methods into parent gateway class and interface
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/PaymentGateways/Gateways/TestGateway/TestGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add subscription module interface
  src/Framework/PaymentGateways/Contracts/SubscriptionModuleInterface.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add hasSubscriptionModule
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add checkmark icon
  src/Views/Form/Templates/Classic/resources/views/icon-defs.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update receipt template
  src/Views/Form/Templates/Classic/resources/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Account for HTML modified by gateway change. (#6064)
  assets/src/js/frontend/give-ajax.js
  src/DonationSummary/ServiceProvider.php
  src/DonationSummary/resources/js/summary.js
  src/DonationSummary/resources/views/summary.php
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: remove return from void statements
  src/Framework/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayRegisterAdapter.php
  src/Framework/PaymentGateways/PaymentGatewayRegister.php
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add SubscriptionData DTO for subscription module processing
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/Contracts/SubscriptionModuleInterface.php
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
  src/PaymentGateways/DataTransferObjects/FormData.php
  src/PaymentGateways/DataTransferObjects/SubscriptionData.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.16.1 release
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Remove trailing comma in function parameters.
  src/Views/Form/Templates/Sequoia/Actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add PhpStorm meta for Call function to resolve returned values
  .phpstorm.meta.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: _receipt.scss
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

refactor: add DonationReceipt class
  src/Views/Form/Templates/Classic/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update css
  src/Views/Form/Templates/Classic/resources/css/_header.scss
  src/Views/Form/Templates/Classic/resources/css/_variables.scss
  src/Views/Form/Templates/Classic/resources/css/form.scss
Due: stylelint --fix

refactor: update namespaces
  src/Views/Form/Templates/Classic/Classic.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add total amount line
  src/Views/Form/Templates/Classic/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update receipt styles
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
  src/Views/Form/Templates/Classic/resources/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

refactor: remove media queries
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

refactor: update styles
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

feature: add donor billing address
  src/Views/Form/Templates/Classic/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold create subscription before sending to gateway for subscription processing
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/Contracts/SubscriptionModuleInterface.php
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
  src/PaymentGateways/Actions/CreateSubscriptionAction.php
  src/Subscriptions/DataTransferObjects/SubscriptionArgs.php
  src/Subscriptions/Models/LegacySubscriber.php
  src/Subscriptions/Models/Subscriber.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: re-add classic template script + styles to build config
  webpack.mix.js
Due: eslint --fix

refactor: use h directly instead of as JSX pragma
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

fix: add missing space between currency symbol after
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

fix: set correct path for Font Awesome icons
  assets/src/css/icons/fa/_variables.scss
Due: stylelint --fix

chore: use subcommand not flag for mix watch
  package.json
Due: prettier --write

feature: enforce module implements interface
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add new multi-step settings to onboard defaults
  src/Onboarding/DefaultFormFactory.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add docblock
  src/Onboarding/DefaultFormFactory.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: load accounting package directly in scripts
  assets/src/js/admin/admin-scripts.js
  assets/src/js/admin/admin.js
  assets/src/js/frontend/give.js
  assets/src/js/plugins/give-api/api.js
Due: eslint --fix

chore: Capitalize edit donation link.
  src/DonationSummary/resources/views/summary.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Match font-size to help-text parent.
  src/DonationSummary/resources/css/summary.scss
Due: stylelint --fix

refactor: Match link color to primary color.
  src/DonationSummary/SummaryView.php
  src/DonationSummary/resources/css/summary.scss
  src/DonationSummary/resources/views/summary.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: Update setting description.
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add trailing colon to default value.
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

refator: Co-location summary settings with payment information.
  assets/src/js/admin/form-template/edit-form.js
  src/DonationSummary/SummaryView.php
  src/Onboarding/DefaultFormFactory.php
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
