Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

fix: add label to fields
  src/Form/LegacyConsumer/FieldView.php
  src/Form/LegacyConsumer/templates/file.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update changelog
  CHANGELOG.md
Due: none

fix: add label to custom fields
  src/Form/LegacyConsumer/templates/file.html.php
  src/Form/LegacyConsumer/templates/label-content.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add missing required and readonly tag
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove lavel from textarea, select and file field
  src/Form/LegacyConsumer/FieldView.php
  src/Form/LegacyConsumer/templates/file.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update CHANGELOG.md
  CHANGELOG.md
Due: none

refactor: add id attribute back to textarea, select and file field
  src/Form/LegacyConsumer/templates/file.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add help text support to radio button and label view
  src/Form/LegacyConsumer/templates/label-content.html.php
  src/Form/LegacyConsumer/templates/radio.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc:fix typo
  CHANGELOG.md
Due: none

fix: radio button inhert help txt from label content template
  src/Form/LegacyConsumer/templates/radio.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Correctly set custom donation level.
  assets/src/js/plugins/give-api/form.js
Due: eslint --fix

chore: Update changelog.
  CHANGELOG.md
Due: none

chore: Update docblock.
  assets/src/js/plugins/give-api/form.js
Due: eslint --fix

style: css and text updates
  assets/src/css/admin/stripe-admin.scss
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/Stripe/Admin/CustomizeAccountField.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix language in error message
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add Fields API visibility conditions (#5919)
  CHANGELOG.md
  src/Framework/FieldsAPI/Concerns/HasVisibilityConditions.php
  src/Framework/FieldsAPI/Conditions/BasicCondition.php
  src/Framework/FieldsAPI/Conditions/Condition.php
  src/Framework/FieldsAPI/Conditions/NestedCondition.php
  src/Framework/FieldsAPI/Element.php
  src/Framework/FieldsAPI/Field.php
  src/Framework/FieldsAPI/Group.php
  tests/unit/tests/Framework/FieldsAPI/Concerns/HasVisibilityConditionsTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.13.0 release
  CHANGELOG.md
  give.php
  includes/admin/settings/class-settings-gateways.php
  includes/deprecated/deprecated-functions.php
  readme.txt
  src/PaymentGateways/Exceptions/InvalidPropertyName.php
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/Stripe/Admin/CreditCardSettingField.php
  src/PaymentGateways/Stripe/Admin/CustomizeAccountField.php
  src/PaymentGateways/Stripe/Controllers/DisconnectStripeAccountController.php
  src/PaymentGateways/Stripe/Controllers/GetStripeAccountDetailsController.php
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
  src/PaymentGateways/Stripe/Controllers/SetDefaultStripeAccountController.php
  src/PaymentGateways/Stripe/DataTransferObjects/DisconnectStripeAccountDto.php
  src/PaymentGateways/Stripe/DataTransferObjects/GetStripeAccountDetailsDto.php
  src/PaymentGateways/Stripe/DataTransferObjects/NewStripeAccountOnBoardingDto.php
  src/PaymentGateways/Stripe/DataTransferObjects/SetDefaultStripeAccountDto.php
  src/PaymentGateways/Stripe/DonationFormSettingPage.php
  src/PaymentGateways/Stripe/Exceptions/DuplicateStripeAccountName.php
  src/PaymentGateways/Stripe/Exceptions/StripeAccountAlreadyConnected.php
  src/PaymentGateways/Stripe/Models/AccountDetail.php
  src/PaymentGateways/Stripe/Repositories/Settings.php
  src/PaymentGateways/resources/js/stripe-account-manager/customize-stripe-account-validation.js
  src/PaymentGateways/resources/js/stripe-account-manager/disconnect-stripe-account-action.js
  src/PaymentGateways/resources/js/stripe-account-manager/set-default-account-action.js
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

format: remove test code
  assets/src/js/plugins/give-api/form.js
Due: eslint --fix

refactor: set level amount when price id to custom
  assets/src/js/plugins/give-api/form.js
Due: eslint --fix

format: remove extrline
  assets/src/js/plugins/give-api/form.js
Due: eslint --fix

fix: set correct placeholder
  src/Form/LegacyConsumer/templates/base.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not allow to select placeholder
  src/Form/LegacyConsumer/templates/select.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not add prefix to field names
  src/Form/LegacyConsumer/templates/radio.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: define value attribute for seelct field
  src/Form/LegacyConsumer/templates/select.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: sanitize array value correctly
  src/Form/LegacyConsumer/Commands/SetupFieldPersistance.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update select name to array type if mutiple value acceptable
  src/Form/LegacyConsumer/templates/select.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update lodash as an external dependency.
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix

chore: prepare for 2.13.1 release
  CHANGELOG.md
  give.php
  readme.txt
  src/Framework/FieldsAPI/Concerns/HasVisibilityConditions.php
  src/Framework/FieldsAPI/Conditions/BasicCondition.php
  src/Framework/FieldsAPI/Conditions/Condition.php
  src/Framework/FieldsAPI/Conditions/NestedCondition.php
  src/Framework/FieldsAPI/Element.php
  src/Framework/FieldsAPI/Field.php
  src/Framework/FieldsAPI/Group.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: most input type contain same featurefor this reason adding Text class to take banifit of editor autocomplete
  src/Form/LegacyConsumer/templates/base.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: allow custom class name on root element in legacy consumer (#5917)
  CHANGELOG.md
  src/Form/LegacyConsumer/Commands/SetupNewTemplateHook.php
  src/Form/LegacyConsumer/FieldView.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update src/Form/LegacyConsumer/templates/base.html.php
  src/Form/LegacyConsumer/templates/base.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/select.html.php
Due: npm run lint:textdomain, npm run lint:php:fix
