Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

fix: add correct textdomain
  includes/admin/emails/class-email-setting-field.php
  includes/admin/settings/class-settings-license.php
  includes/admin/settings/class-settings-recurring.php
  includes/admin/tools/import/class-give-import-donations.php
  includes/admin/upgrades/views/plugins-update-section.php
  includes/admin/views/blank-slate.php
  includes/class-give-cli-commands.php
  includes/deprecated/deprecated-actions.php
  includes/deprecated/deprecated-filters.php
  includes/gateways/stripe/includes/deprecated/deprecated-filters.php
  includes/libraries/wp-background-process.php
  src/LegacySubscriptions/includes/give-subscription.php
  src/LegacySubscriptions/includes/give-subscriptions-api.php
  src/MigrationLog/Migrations/MigrateCompletedMigrations.php
  src/Views/Form/Templates/Classic/resources/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make string translatable
  templates/shortcode-donor-wall.php
  templates/shortcode-goal.php
  wp-textdomain.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: revert changes in wp-textdomain.js
  wp-textdomain.js
Due: eslint --fix

fix: fix: make string translatable
  blocks/donation-form-grid/data/options.js
  blocks/donor-wall/data/attributes.js
  blocks/donor-wall/data/options.js
Due: eslint --fix

fix: make donation note translatable
  src/PaymentGateways/Gateways/Stripe/Actions/CreateCheckoutSession.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove sort_buffer_size flags in github actions
  .github/config/mysql.cnf
  .github/workflows/wordpress.yml
Due: none

refactor: remove mysql.cnf actions config
  .github/config/mysql.cnf
Due: none

chore: prepare for 2.21.1 release
  give.php
  readme.txt
  src/Donors/Repositories/DonorRepository.php
  src/Framework/QueryBuilder/Concerns/MetaQuery.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add data field visibility to header background color (#6453)
  src/Views/Form/Templates/Classic/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

Use GiveWP brand colors for Form Grid defaults (#6464)
  includes/shortcodes.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add unreleased tag
  includes/shortcodes.php
Due: npm run lint:textdomain, npm run lint:php:fix

Updated currency symbol for LKR (#6096)
  includes/currencies-list.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore(deps): bump moment from 2.29.1 to 2.29.2 (#6352)
  package-lock.json
  package.json
Due: prettier --write

refactor: use official gren color (#6478)
  includes/admin/class-addon-activation-banner.php
  includes/admin/class-i18n-module.php
  includes/admin/reports/class-give-graph.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: Add new exporter for donors by donation date. (#6236)
  assets/src/css/admin/export.scss
  assets/src/js/admin/admin-export.js
  give.php
  includes/admin/tools/export/export-actions.php
  includes/admin/tools/views/html-admin-page-exports.php
  src/Exports/DonorsExport.php
  src/Exports/ServiceProvider.php
  src/Exports/resources/views/export-donors-table-row.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: allow- valid export dates
  includes/admin/tools/export/class-export-earnings.php
  src/Donations/Repositories/DonationRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set default end year correctely
  includes/admin/tools/export/class-export-earnings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set first donation year as beginning year in year dropdown
  includes/admin/tools/views/html-admin-page-exports.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comment about change
  includes/admin/tools/views/html-admin-page-exports.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: throw exception on invalid export date
  includes/admin/tools/export/class-export-earnings.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: access repository from alias
  includes/admin/tools/export/class-export-earnings.php
  includes/admin/tools/views/html-admin-page-exports.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove unused use
  includes/admin/tools/views/html-admin-page-exports.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use last donation date to compare max year
  includes/admin/tools/export/class-export-earnings.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Php errors from enabled comments inside the Donor Wall have been corrected (#6485)
  assets/src/css/frontend/_components.donor.scss
  includes/donors/class-give-donor-wall.php
  includes/gateways/manual.php
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Fix/ Donor wall now displays donation dates (#6468)
  assets/src/css/frontend/_components.donor.scss
  blocks/donor-wall/class-give-donor-wall.php
  blocks/donor-wall/data/attributes.js
  blocks/donor-wall/edit/inspector.js
  includes/admin/shortcodes/shortcode-give-donor-wall.php
  includes/donors/class-give-donor-wall.php
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: Localize the admin URL base (#6488)
  src/Donations/DonationsAdminPage.php
  src/Donations/resources/ListTable.tsx
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: reflect required field in donation form (#6486)
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

Fix: Goal shortcode, Form Grid and Legacy Form template goals are now displayed correctly (#6476)
  assets/src/css/frontend/form-grid.scss
  assets/src/css/frontend/progress-bar.scss
  templates/shortcode-form-grid.php
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Fix: Correct grammar in PayPal message (#6495)
  src/PaymentGateways/Gateways/PayPalStandard/Views/PayPalStandardBillingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

Enhancement: add new fields in the donor table (#6493)
  includes/admin/donors/class-donor-table.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add unreleased doc tag
  includes/admin/donors/class-donor-table.php
Due: npm run lint:textdomain, npm run lint:php:fix

Hotfix: sanitize url param (#6472)
  includes/admin/tools/export/export-actions.php
  includes/admin/tools/export/export-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use latest PayPal Standard logo (#6497)
  src/PaymentGateways/Gateways/PayPalStandard/resources/templates/paypal-standard-logo.svg
Due: none

Changed: Update toggle component and filter attribute (#6484)
  blocks/components/toggle/index.js
  blocks/donation-form-grid/class-give-donation-form-grid-block.php
  blocks/donation-form-grid/data/attributes.js
  blocks/donation-form-grid/edit/inspector.js
  blocks/donor-wall/class-give-donor-wall.php
  blocks/donor-wall/data/attributes.js
  blocks/donor-wall/data/options.js
  blocks/donor-wall/edit/inspector.js
  includes/donors/class-give-donor-wall.php
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: Replace contraction.
  src/PaymentGateways/Gateways/PayPalStandard/Views/PayPalStandardBillingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

Change: Remove free add-on modal and button (#6498)
  src/Promotions/FreeAddonModal/Controllers/CheckOfferStatus.php
  src/Promotions/FreeAddonModal/Controllers/CompleteRestApiEndpoint.php
  src/Promotions/FreeAddonModal/Controllers/DisplaySettingsButton.php
  src/Promotions/FreeAddonModal/Controllers/EnqueueModal.php
  src/Promotions/FreeAddonModal/Controllers/PreventFreshInstallPromotion.php
  src/Promotions/FreeAddonModal/resources/App.js
  src/Promotions/FreeAddonModal/resources/Modal.js
  src/Promotions/FreeAddonModal/resources/Modal.module.scss
  src/Promotions/ServiceProvider.php
  webpack.mix.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Fix/Donations made with zero "Number of Decimals" will now display on the Donor Wall (#6491)
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use model for handling dates
  includes/admin/tools/export/class-export-earnings.php
  includes/admin/tools/views/html-admin-page-exports.php
  src/Donations/Repositories/DonationRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add unreleased tags
  src/Donations/Repositories/DonationRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

Security: protect against invalid export dates (#6482)
  includes/admin/tools/export/class-export-earnings.php
  includes/admin/tools/views/html-admin-page-exports.php
  src/Donations/Repositories/DonationRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix
