Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

fix: centrally locate setRange and setDates actions
  assets/src/js/admin/reports/components/period-selector/index.js
  assets/src/js/admin/reports/store/actions.js
Due: eslint --fix

fix: centrally locate MiniPeriodSelector actions
  assets/src/js/admin/reports/components/mini-period-selector/index.js
Due: eslint --fix

fix: centrally locate NoDataFoundNotice actions
  assets/src/js/admin/reports/components/no-data-notice/index.js
  assets/src/js/admin/reports/store/actions.js
Due: eslint --fix

fix: remove NotFoundNotice component
  assets/src/js/admin/reports/components/not-found-notice/index.js
  assets/src/js/admin/reports/components/not-found-notice/style.scss
Due: eslint --fix

fix: centrally locate RESTChart actions
  assets/src/js/admin/reports/store/actions.js
Due: eslint --fix

fix: tighten up ternary check
  assets/src/js/admin/reports/components/grid/index.js
Due: eslint --fix

fix: avoid using abbreviation
  assets/src/js/admin/reports/components/rest-chart/index.js
  assets/src/js/admin/reports/widget/index.js
Due: eslint --fix

fix: enable caching on FormPerformance endpoint
  src/API/Endpoints/Reports/FormPerformance.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use closure inplace of compare_gateways method
  src/API/Endpoints/Reports/PaymentMethods.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use closure in place of compare_donors method
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use closer in place of compare_forms method
  src/API/Endpoints/Reports/FormPerformance.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: prevent PHP notice for unset array values
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: prevent PHP notice on setting unset array value
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: implement getWIndowData helper function
  assets/src/js/admin/reports/components/no-data-notice/index.js
  assets/src/js/admin/reports/components/tabs/index.js
  assets/src/js/admin/reports/store/reducer.js
  assets/src/js/admin/reports/utils/index.js
Due: eslint --fix

fix: use custom hook to handle calls to Reports API
  assets/src/js/admin/reports/components/rest-chart/index.js
  assets/src/js/admin/reports/utils/index.js
Due: eslint --fix

fix: implement useReportsAPI hook in RESTMiniChart
  assets/src/js/admin/reports/components/rest-mini-chart/index.js
Due: eslint --fix

fix: implement useReportsAPI hook in RESTTable component
  assets/src/js/admin/reports/components/rest-table/index.js
Due: eslint --fix

fix: implement useReportsAPI in RESTList component
  assets/src/js/admin/reports/components/rest-list/index.js
Due: eslint --fix

fix: correct issue with setting TopDonors initial values
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: correct issue with settting FormPerformance initial values
  src/API/Endpoints/Reports/FormPerformance.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: resolve issue with undefined $request variable
  src/Views/Admin/DashboardWidgets/Reports.php
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: subtly brighten dashboard widget bg
  assets/src/js/admin/reports/widget/style.scss
Due: none

fix: retitle "all time income" chart
  assets/src/js/admin/reports/widget/index.js
Due: eslint --fix

fix: prevent chart titles from wrapping
  assets/src/js/admin/reports/components/chart/style.scss
Due: none

fix: prevent horizontal scrollbars from appearing on lists
  assets/src/js/admin/reports/components/list/style.scss
Due: none

fix: when no data is found for period, only return 5 forms, for FormPerformance endpoint
  src/API/Endpoints/Reports/FormPerformance.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: ensure trend indicator arrow points correct direction
  assets/src/js/admin/reports/components/mini-chart/index.js
  assets/src/js/admin/reports/components/mini-chart/style.scss
Due: eslint --fix

fix: add placeholder elements to RESTLists
  assets/src/js/admin/reports/components/rest-list/index.js
  assets/src/js/admin/reports/components/rest-list/style.scss
Due: eslint --fix

fix: return gravatar url, instead of full img tag
  assets/src/js/admin/reports/components/donor-item/style.scss
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: scaffold 'per previous [period]' tooltip
  assets/src/js/admin/reports/components/card/style.scss
  assets/src/js/admin/reports/components/mini-chart/index.js
  assets/src/js/admin/reports/components/mini-chart/utils/index.js
  assets/src/js/admin/reports/components/tooltip/index.js
  assets/src/js/admin/reports/components/tooltip/style.scss
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: hide if year on x axis if first date in dataset matches current year
  assets/src/js/admin/reports/components/chart/utils/index.js
Due: eslint --fix

fix: rename 'visit dashboard' button to 'visit reports'
  src/Views/Admin/DashboardWidgets/Reports.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: correct tooltip font weight
  assets/src/js/admin/reports/components/tooltip/style.scss
Due: none

fix: conditionally render tooltip title
  assets/src/js/admin/reports/components/mini-chart/index.js
  assets/src/js/admin/reports/components/tooltip/index.js
Due: eslint --fix

fix: set indicator cursor to default
  assets/src/js/admin/reports/components/mini-chart/style.scss
Due: none

fix: use pointer cursor for legend items
  assets/src/js/admin/reports/components/legend/style.scss
Due: none

fix: use pointer cursor for period selector buttons
  assets/src/js/admin/reports/components/mini-period-selector/style.scss
  assets/src/js/admin/reports/components/period-selector/style.scss
Due: none

fix: remove overflow and border radius settings from widget style
  assets/src/js/admin/reports/widget/style.scss
Due: none

fix: improve tooltip position
  assets/src/js/admin/reports/components/mini-chart/index.js
  assets/src/js/admin/reports/components/tooltip/index.js
  assets/src/js/admin/reports/components/tooltip/style.scss
Due: eslint --fix

fix: setup minichart tooltip text on endpoints
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress
