Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: correct typo
  src/Views/Form/Templates/Sequoia/Actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold primary address persistance
  src/DonorProfiles/Profile.php
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: implement additional address storage persistance
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: serperate method concerns
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add documentation
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: handle donors without primary address setup
  src/DonorProfiles/Profile.php
  src/DonorProfiles/resources/js/app/components/donor-info/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/address-controls/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/style.scss
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: prepare for 2.9.5 release
  CHANGELOG.md
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

chore: remove anoymous from class and const
  src/Tracking/AdminActionHandler.php
  src/Tracking/AdminSettings.php
  src/Tracking/Helpers/Track.php
  src/Tracking/TrackRoutine.php
  src/Tracking/TrackingData/GivePluginSettingsData.php
  src/Tracking/TrackingServiceProvider.php
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: rename scss file
  assets/src/css/admin/give-admin-global.scss
  assets/src/css/admin/usage-tracking-opt-in-notice.scss
Due: stylelint --fix

chore: add comments
  assets/src/css/admin/usage-tracking-opt-in-notice.scss
Due: stylelint --fix

chore: remove anoymous from class and const
  src/Onboarding/Setup/templates/index.html.php
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: handle only timestamp
  src/Tracking/AdminActionHandler.php
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: give usage tracking notice priority on admin pages
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: rename class name
  assets/src/css/admin/usage-tracking-opt-in-notice.scss
Due: stylelint --fix

chore: open link in new tab
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add link title
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore:do not show notice on advanced setting page
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: make flat style to notice for give setting page
  assets/src/css/admin/usage-tracking-opt-in-notice.scss
Due: stylelint --fix

chore: rename option name
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add plugin version
  src/Tracking/TrackingData/GivePluginSettingsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: rename track id
  src/Tracking/Events/GivePluginSettingsTracking.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Adjust notice on Setup page.
  src/Onboarding/Setup/templates/index.html.php
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update Setup notice placement using an action.
  src/Onboarding/Setup/templates/index.html.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prevent sub link alighment issue on large screens
  assets/src/css/admin/usage-tracking-opt-in-notice.scss
Due: stylelint --fix

feature: implement avatar dropzone ui
  src/DonorProfiles/resources/js/app/components/avatar-control/index.js
  src/DonorProfiles/resources/js/app/components/avatar-control/style.scss
  src/DonorProfiles/resources/js/app/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
Due: eslint --fix, stylelint --fix

chore: update logic to return parent theme data
  src/Tracking/TrackingData/ThemeData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove duplicate code
  src/Tracking/TrackingData/ThemeData.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: persist donor avatar setting
  src/DonorProfiles/Profile.php
  src/DonorProfiles/resources/js/app/components/avatar-control/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: validate file type
  src/DonorProfiles/resources/js/app/components/avatar-control/index.js
Due: eslint --fix

fix: refactor avatar persistance logic
  src/DonorProfiles/Profile.php
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: prevent reuploading avatar
  src/DonorProfiles/resources/js/app/components/avatar-control/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
Due: eslint --fix

chore: add inline documentation
  src/DonorProfiles/resources/js/app/tabs/edit-profile/utils/index.js
Due: eslint --fix

feature: implement location endpoint
  src/DonorProfiles/App.php
  src/DonorProfiles/Helpers/FormatList.php
  src/DonorProfiles/Helpers/LocationList.php
  src/DonorProfiles/Profile.php
  src/DonorProfiles/Routes/LocationRoute.php
  src/DonorProfiles/ServiceProvider.php
  src/DonorProfiles/resources/js/app/store/actions.js
  src/DonorProfiles/resources/js/app/store/initialState.js
  src/DonorProfiles/resources/js/app/store/reducer.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/address-fields/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: add addon information
  src/Tracking/TrackClient.php
  src/Tracking/TrackingData/DonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update plugin information
  src/Tracking/TrackingData/PluginsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: query 2x gravatar image
  assets/src/js/frontend/give-donor-wall.js
Due: eslint --fix

chore: add avatar size shortcode attribute support to dnor wall block
  blocks/donor-wall/edit/inspector.js
Due: eslint --fix

fix: set default avatar size to donor gravatar
  blocks/donor-wall/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
