Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: cs exchange rate msg - hide empty
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

refactor: move offsite methods into trait and interface
  src/Framework/PaymentGateways/Contracts/OffsiteGatewayInterface.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/Framework/PaymentGateways/Traits/OffsiteGateway.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add additional query args to return url
  src/Framework/PaymentGateways/Actions/GenerateReturnUrlFromRedirectOffsite.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/Traits/OffsiteGateway.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use template_redirect and Hooks for routring
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/PaymentGateways/Actions/RegisterPaymentGatewayRoutes.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add getOfsitePaymentGateways helper and use in route
  src/Framework/PaymentGateways/PaymentGatewayRegister.php
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: args should be optional
  src/Framework/PaymentGateways/Actions/GenerateReturnUrlFromRedirectOffsite.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add paymentId to handle method
  src/Framework/PaymentGateways/Actions/GenerateReturnUrlFromRedirectOffsite.php
  src/Framework/PaymentGateways/Contracts/OffsiteGatewayInterface.php
  src/Framework/PaymentGateways/DataTransferObjects/GatewayOffsiteReturnData.php
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/Framework/PaymentGateways/Traits/OffsiteGateway.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: throw route exception if not valid
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: update test for getOffsitePaymentGateways()
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  tests/unit/tests/PaymentGateways/PaymentGatewaysRegisterTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update with Call invoke helper
  src/Framework/PaymentGateways/Actions/GenerateReturnUrlFromRedirectOffsite.php
  src/Framework/PaymentGateways/Contracts/OffsiteGatewayInterface.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/Traits/OffsiteGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: update mock ids
  tests/unit/tests/PaymentGateways/PaymentGatewaysRegisterTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change display type
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

fix: inherit border-radius in donation amount
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix

fix: only apply border-radius inheritance to symbol + input
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix

fix: remove other borders around currency switcher select
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

refactor: use (r)em
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

refactor: remove redundant box-sizing rule
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

fix: set switcher drop down icon correctly
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

refactor: remove redundant border
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

refactor: implicitly inherit font-size
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

format: sort rules
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

feature: re-setup levels when currency changes
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

fix: pass the correct decimalSeparator
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

fix: use precision from currency config
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

format: prettier
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

fix: use amount in button value for everything
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

refactor: remove accounting import
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

feature: support before/after for currency switcher dropdown
  src/Views/Form/Templates/Classic/Classic.php
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
  src/Views/Form/Templates/Classic/resources/js/form.js
  src/Views/Form/Templates/Classic/resources/js/not-jquery.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: funds css
  src/Views/Form/Templates/Classic/resources/css/_funds.scss
Due: stylelint --fix

feature: import select dropdown styles
  src/Views/Form/Templates/Classic/resources/css/form.scss
Due: stylelint --fix

feature: import funds styles
  src/Views/Form/Templates/Classic/resources/css/form.scss
Due: stylelint --fix

feature: text input styles
  src/Views/Form/Templates/Classic/resources/css/_text-input.scss
Due: stylelint --fix

feature: select dropdown css
  src/Views/Form/Templates/Classic/resources/css/_select-dropdown.scss
Due: stylelint --fix

feature: style checkboxes for fee recovery + recurring
  src/Views/Form/Templates/Classic/Classic.php
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: style recurring period dropdown
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix, stylelint --fix

feature: make it work for safari and firefox
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix, stylelint --fix

fix: use better padding that accounts for border
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix

wip: donation summary styles
  src/Views/Form/Templates/Classic/resources/css/_donation-summary.scss
Due: stylelint --fix

feature: add select down caret icon
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix

wip: select chevron
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
