Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

style: resolve style issues when using the set donation form type (with and without custom amounts enabled) and admin defined recurring donations
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/css/recurring.scss
Due: stylelint --fix

remove unused line
  src/Views/Form/Templates/Sequoia/assets/css/recurring.scss
Due: stylelint --fix

style: add styles for authorizenet echeck gateway and also cleanup styles with the use of mixins
  src/Views/Form/Templates/Sequoia/assets/css/authorizenet.scss
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/css/mixins.scss
Due: stylelint --fix

add change log item for authnet echeck update
  CHANGELOG.md
Due: none

style: remove gap between header and submenu nav for donor details screen
  assets/src/css/admin/_components.admin-header.scss
Due: stylelint --fix

refactor: remove redundant else block
  src/DonorDashboards/resources/js/app/components/subscription-manager/payment-method-control/stripe-control/stripe-card-control/index.js
Due: eslint --fix

doc: define function param type
  includes/class-give-donate-form.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Set flag if window has already loaded.
  assets/src/js/frontend/give.js
  assets/src/js/plugins/give-api/form.js
Due: eslint --fix

chore: Update changelog.
  CHANGELOG.md
Due: none

chore: Update comment.
  assets/src/js/plugins/give-api/form.js
Due: eslint --fix

fix: Restore custom amount on card errors.
  assets/src/js/plugins/give-api/form.js
  includes/forms/functions.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: add missing word
  src/Onboarding/DefaultFormFactory.php
  src/TestData/Repositories/DonationFormRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove husky and lint-staged
  .huskyrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

fix: remove undefined variable in legacy consumer textarea template (#5918)
  CHANGELOG.md
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove useless email assignment
  includes/payments/functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.12.3 release
  CHANGELOG.md
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update stable tag to 2.12.3
  readme.txt
Due: none

doc: add function param type
  includes/class-give-donate-form.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: do not show global default stripe account in form settings
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/resources/js/stripe-account-manager/disconnect-stripe-account-action.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

format: improve code formatting
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
  src/PaymentGateways/Stripe/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add helper function to add default stripe account to form
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update changelog
  CHANGELOG.md
Due: none

format: set intent to two space in changelog
  CHANGELOG.md
Due: none

fix: do not allow admin to save form without adding default account when customize setting enabled
  assets/src/js/admin/stripe-admin.js
  src/PaymentGateways/resources/js/stripe-account-manager/customize-stripe-account-validation.js
Due: eslint --fix

refactor: use repoistories to save data
  src/PaymentGateways/Stripe/Controllers/SetDefaultStripeAccountController.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: activate customize Stripe account setting for donation form when select default account
  src/PaymentGateways/Stripe/Controllers/SetDefaultStripeAccountController.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add action to specfic form
  src/PaymentGateways/resources/js/stripe-account-manager/customize-stripe-account-validation.js
Due: eslint --fix

feature: set donaiton form Stripe acocunt to customze when onboarding an accoutn from donation form edit screen
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move functions to setting repository
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
  src/PaymentGateways/Stripe/Controllers/SetDefaultStripeAccountController.php
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
  src/PaymentGateways/Stripe/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move hook to serviceprovider
  src/PaymentGateways/Stripe/DonationFormSettingPage.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove unused function
  src/PaymentGateways/Stripe/DonationFormSettingPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move code to src dir
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move custom exceptions to there related domain
  src/PaymentGateways/Exceptions/InvalidPropertyName.php
  src/PaymentGateways/Stripe/Exceptions/DuplicateStripeAccountName.php
  src/PaymentGateways/Stripe/Exceptions/StripeAccountAlreadyConnected.php
  src/PaymentGateways/Stripe/Models/AccountDetail.php
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
  src/PaymentGateways/Stripe/Repositories/Settings.php
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove id attribute and attach label implicitly
  src/Form/LegacyConsumer/templates/checkbox.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

refator: remove id attribute from textarea and select
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
