Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: export modal component
  src/Views/Components/index.js
Due: eslint --fix

fix: use new subscription schema
  src/DonorProfiles/resources/js/app/components/subscription-receipt/index.js
  src/DonorProfiles/resources/js/app/components/subscription-table/subscription-row/index.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/content.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/style.scss
Due: eslint --fix, stylelint --fix

feature: scaffold subscription manager
  package-lock.json
  package.json
  src/DonorProfiles/resources/js/app/components/subscription-manager/amount-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/authorize-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/paypal-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/stripe-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/stripe-inputs/style.scss
Due: prettier --write, eslint --fix, stylelint --fix

feature: handle payment method changes
  src/DonorProfiles/resources/js/app/components/subscription-manager/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/stripe-inputs/index.js
Due: eslint --fix

feature: handle amount change
  src/DonorProfiles/resources/js/app/components/subscription-manager/amount-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/index.js
  src/DonorProfiles/resources/js/app/components/subscription-receipt/index.js
  src/DonorProfiles/resources/js/app/components/subscription-table/subscription-row/index.js
Due: eslint --fix

refactor: rename payment method inputs as controls (more consistent naming)
  src/DonorProfiles/resources/js/app/components/subscription-manager/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-control/authorize-control/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-control/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-control/paypal-control/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-control/stripe-control/card-control/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-control/stripe-control/card-control/style.scss
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-control/stripe-control/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-control/style.scss
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/authorize-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/paypal-inputs/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-inputs/stripe-inputs/style.scss
Due: eslint --fix, stylelint --fix

chore: prepare for 2.9.7 release
  CHANGELOG.md
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

chore: correct test install path in release script
  .github/workflows/release.yml
Due: none

feature: flush logs route
  src/API/Endpoints/Logs/FlushLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update file structure
  src/Log/Admin/App/Logs/api.js
  src/Log/Admin/App/Logs/index.js
  src/Log/Admin/App/Logs/styles.module.scss
  src/Log/Admin/App/styles.module.scss
Due: eslint --fix, stylelint --fix

refactor: update notice component
  src/Views/Components/LoadingNotice/index.js
  src/Views/Components/Notice/index.js
  src/Views/Components/Notice/style.module.scss
  src/Views/Components/index.js
Due: eslint --fix, stylelint --fix

feature: close modal with esc key; add proptypes;
  src/Views/Components/Modal/index.js
Due: eslint --fix

feature: add modal styles for content and text align
  src/Views/Components/Modal/styles.module.scss
Due: stylelint --fix

feature: flush logs method
  src/Log/LogRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: register flush logs method
  src/ServiceProviders/RestAPI.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change component name
  src/Log/Admin/App/Logs/index.js
Due: eslint --fix

refactor: remove old settings data; output logs app container;
  includes/admin/tools/class-settings-logs.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update folder structure; add prevent default for all buttons;
  src/Log/Admin/Logs/api.js
  src/Log/Admin/Logs/index.js
  src/Log/Admin/Logs/styles.module.scss
  src/Log/Admin/index.js
Due: eslint --fix, stylelint --fix

refactor: update file path
  webpack.config.js
Due: eslint --fix

refactor: delete test class
  src/Log/Admin/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update namespace
  src/Log/Helpers/Assets.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add environment helper
  src/Log/Helpers/Environment.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: load assets only if current page is logs page
  src/Log/LogServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

feature: updatetelemetry api url
  src/Tracking/TrackClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: do not include server and website information in each request
  src/Tracking/TrackClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: make function pubclically accesible
  src/Tracking/TrackClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add event ids class
  src/Tracking/ValueObjects/EventId.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove extra line
  src/Tracking/ValueObjects/EventId.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: make api data temenetry serve compatible
  src/Tracking/TrackingData/ServerData.php
  src/Tracking/TrackingData/WebsiteData.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add logic to get access token from telemetry server
  src/Tracking/AdminActionHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add logic to get access token from telemetry server
  src/Tracking/TrackingData/ServerData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor:fix typo in hook name
  src/Onboarding/Setup/templates/index.html.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set timestamp to zero to optout from tracking
  src/Tracking/AdminActionHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent admin notice ui glitch
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: get access to when admin manually grant permission
  src/Tracking/AdminActionHandler.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: improve doc
  src/Tracking/AdminActionHandler.php
  src/Tracking/TrackClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use https url
  src/Tracking/TrackClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: log type
  src/Log/Log.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
