Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

fix: update function to add items after and before
  src/Receipt/DonationReceipt.php
  src/Receipt/Section.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove unnecessary function
  src/Helpers/ArrayDataSet.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update logic to add/update/edit object when perform array operation on object
  src/Receipt/DonationReceipt.php
  src/Receipt/Section.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code formatting and doc
  src/Form/Template.php
  src/Receipt/DonationReceipt.php
  src/Receipt/LineItem.php
  src/Receipt/Receipt.php
  src/Receipt/Section.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: hide state/county label
  src/Views/Form/Templates/Sequoia/assets/css/tributes.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: increase line-height for select inputs
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: increase padding beneath character limit
  src/Views/Form/Templates/Sequoia/assets/css/tributes.scss
Due: none

fix: make tribute headings inline
  src/Views/Form/Templates/Sequoia/assets/css/tributes.scss
Due: none

fix: use FormUtils facade
  includes/gateways/paypal-standard.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use FormUtils facade in manual gateway
  includes/gateways/manual.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add missing form id and fix typo
  includes/gateways/manual.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: Escape translation string
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove extra comma
  includes/misc-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: Revert package.json
  package-lock.json
  package.json
Due: prettier --write

fix: Un-revert package.json changes
  package.json
Due: prettier --write

fix: Oops copy-paste error
  includes/misc-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add change log for 2.6.3 and bump version
  give.php
  readme.txt
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: added interface to update donation receipt
  src/Receipt/DonationReceipt.php
  src/Receipt/Section.php
  src/Receipt/UpdateReceipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: typos in change log and added clarity for description
  readme.txt
Due: none

chore: add more clarity to 2.6.3 change log
  readme.txt
Due: none

fix: render pdf reeceipt link button
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add missing change log item
  readme.txt
Due: none

fix: support square fields
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

refactor: remove unnecessary tooltip that didn't even display
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: update @since and provide more clarity in inline docs
  assets/src/js/frontend/give-stripe-becs.js
Due: eslint --fix

refactor: correct @since tag and provide clarity to doc block
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve notification add/remove button placement
  src/Views/Form/Templates/Sequoia/assets/css/tributes.scss
Due: none

refactor: use correct date
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove unncessary hook and update @since
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: match spacing above/below read more link
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: remove extra padding below gift aid content
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: decrease modal padding
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: user form primary color in modal links
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: move common methods to Receipt abstract class
  src/Receipt/DonationReceipt.php
  src/Receipt/Receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: covert interface to abstract class
  src/Receipt/UpdateReceipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: print download receipt button only if link exist
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Revert "fix: print download receipt button only if link exist"
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Revert "fix: use filter_var"
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: sort by currency metakey
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use sorted currency to format totals
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/PaymentMethods.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress
