Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

chore: improve code formatting
  src/Framework/Migrations/Actions/ManuallyRunMigration.php
  src/Framework/Migrations/Controllers/ManualMigration.php
  src/Revenue/Migrations/CreateRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove translation function
  src/Framework/Migrations/Controllers/ManualMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: show migration notices
  src/Framework/Migrations/Controllers/ManualMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: set notice type to success
  src/Framework/Migrations/Controllers/ManualMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: do not show success notice when does not find upgrade
  src/Framework/Migrations/Controllers/ManualMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve tab registration order
  src/DonorProfiles/resources/js/app/components/rest-subscription-table/index.js
  src/DonorProfiles/resources/js/app/tabs/index.js
Due: eslint --fix

fix: reduce font load
  src/DonorProfiles/Model.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use ternary operator in place of switch statement
  src/DonorProfiles/resources/js/app/components/app/index.js
Due: eslint --fix

fix: do not use partial pixels
  src/DonorProfiles/resources/js/app/components/badge/style.scss
  src/DonorProfiles/resources/js/app/components/desktop-layout/style.scss
  src/DonorProfiles/resources/js/app/components/mobile-layout/style.scss
  src/DonorProfiles/resources/js/app/components/mobile-menu/style.scss
Due: stylelint --fix

feature: setup donations repository
  package-lock.json
  src/DonorProfiles/Model.php
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/Routes/DonationHistoryRoute.php
  src/DonorProfiles/resources/js/app/components/rest-donation-table/index.js
  src/DonorProfiles/resources/js/app/utils/index.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: pause update if databaseerror occurred
  src/Revenue/Migrations/AddPastDonationsToRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use function parameter to register update
  src/Revenue/Migrations/AddPastDonationsToRevenueTable.php
  src/Revenue/RevenueServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update error notice
  includes/admin/upgrades/views/upgrades.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/admin/upgrades/views/upgrades.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: implement getDonations functionality
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add setting field
  includes/admin/settings/class-settings-advanced.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add tracking service provider
  give.php
  src/Tracking/TracingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix typo
  give.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add admin setting
  includes/admin/settings/class-settings-advanced.php
  src/Tracking/AdminSettings.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add DB::delta helper for catching SQL errors during dbDelta calls
  src/Helpers/DB.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: catch if a manual migration fails
  src/Framework/Migrations/Actions/ManuallyRunMigration.php
  src/Framework/Migrations/Controllers/ManualMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: catch errors when creating revenue table
  src/Revenue/Migrations/CreateRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: validate tab during registration
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/Routes/DonationHistoryRoute.php
  src/DonorProfiles/resources/js/app/components/rest-donation-table/index.js
  src/DonorProfiles/resources/js/app/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: remove the query string after a migration
  assets/src/js/admin/admin-migrations.js
  assets/src/js/admin/admin.js
Due: eslint --fix

feature: improved DB facade to provide extensible error checking
  src/Framework/Database/DB.php
  src/Framework/Database/Exceptions/DatabaseQueryException.php
  src/Helpers/DB.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: remove foreign keys and delete revenue when donation deleted
  src/Revenue/Listeners/DeleteRevenueWhenDonationDeleted.php
  src/Revenue/Migrations/CreateRevenueTable.php
  src/Revenue/Repositories/Revenue.php
  src/Revenue/RevenueServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: implement dashboard content
  src/DonorProfiles/Routes/DonationHistoryRoute.php
  src/DonorProfiles/Routes/DonationsRoute.php
  src/DonorProfiles/ServiceProvider.php
  src/DonorProfiles/resources/js/app/components/dashboard-content/index.js
  src/DonorProfiles/resources/js/app/components/donation-receipt/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/donation-row/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/index.js
  src/DonorProfiles/resources/js/app/components/rest-donation-table/index.js
  src/DonorProfiles/resources/js/app/tabs/annual-receipts/content.js
  src/DonorProfiles/resources/js/app/tabs/dashboard/content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/dashboard-content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

chore: update readme
  readme.txt
Due: none

feature: implement donation history store
  src/DonorProfiles/resources/js/app/components/desktop-layout/style.scss
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/dashboard-content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/hooks/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/actions.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/initialState.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/reducer.js
Due: eslint --fix, stylelint --fix

feature: implement donaiton table pagination
  src/DonorProfiles/resources/js/app/components/donation-table/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/dashboard-content.js
Due: eslint --fix

fix: improve row alignment
  src/DonorProfiles/resources/js/app/components/desktop-layout/style.scss
Due: stylelint --fix

feature: dynamically populate dashboard stats
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/Routes/DonationsRoute.php
  src/DonorProfiles/resources/js/app/components/donation-table/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
  src/DonorProfiles/resources/js/app/tabs/dashboard/content.js
  src/DonorProfiles/resources/js/app/tabs/dashboard/stats/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/dashboard-content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/stats/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/stats/style.scss
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/actions.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/initialState.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/store/reducer.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: user current logged in donor id
  src/DonorProfiles/Routes/DonationsRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update changelog
  CHANGELOG.md
Due: none

fix: localize strings
  src/DonorProfiles/Model.php
  src/DonorProfiles/resources/js/app/components/donation-receipt/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/donation-row/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/dashboard-content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/stats/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: extract dashboard content reducer to object method
  src/DonorProfiles/resources/js/app/components/dashboard-content/index.js
Due: eslint --fix

fix: extract object entries to variable
  src/DonorProfiles/resources/js/app/components/donation-table/index.js
Due: eslint --fix

fix: extract start/end index ternaries to object methods
  src/DonorProfiles/resources/js/app/components/donation-table/index.js
Due: eslint --fix

fix: use esline disable next line
  src/DonorProfiles/resources/js/app/utils/index.js
Due: eslint --fix
