Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

fix: remove unwanted esc_html_e
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use form id to get activate form template
  src/Views/IframeView.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove chevron from multiselect input
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: improve radio and checkbox styles
  src/Views/Form/Templates/Sequoia/assets/css/ffm.scss
Due: none

feature: handle ffm input change
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

feature: use form primary color in ffm inputs
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: style upload button
  src/Views/Form/Templates/Sequoia/assets/css/ffm.scss
Due: none

fix: update catch section with better messages
  includes/gateways/stripe/includes/class-give-stripe-customer.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update gateway log message
  includes/gateways/stripe/includes/class-give-stripe-customer.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: set default value to empty array
  src/Receipt/DetailGroup.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: add additonal details group
  src/Receipt/AdditionalDetailsGroup/AdditionalDetailsGroup.php
  src/Receipt/Receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve console error on update payment method screen
  assets/src/js/frontend/give-stripe-becs.js
  assets/src/js/frontend/give-stripe-checkout.js
  assets/src/js/frontend/give-stripe-sepa.js
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

refactor: remove unnecessary condition
  src/Views/Form/Templates/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: everthing after payment methid will top willbe part of payment section
  src/Views/Form/Templates/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: scaffold settings toggle component
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/app/style.scss
  assets/src/js/admin/reports/components/period-selector/style.scss
  assets/src/js/admin/reports/components/settings-toggle/index.js
  assets/src/js/admin/reports/components/settings-toggle/style.scss
Due: eslint --fix

feature: add button component
  assets/src/js/admin/reports/components/button/index.js
  assets/src/js/admin/reports/components/button/style.scss
Due: eslint --fix

refactor: use button component in toggle
  assets/src/js/admin/reports/components/settings-toggle/index.js
  assets/src/js/admin/reports/components/settings-toggle/style.scss
Due: eslint --fix

fix: define pressed rule
  assets/src/js/admin/reports/components/button/style.scss
Due: none

feature: add select component
  assets/src/js/admin/reports/components/select/index.js
  assets/src/js/admin/reports/components/select/style.scss
Due: eslint --fix

feature: implement select component
  assets/src/js/admin/reports/components/settings-toggle/index.js
  assets/src/js/admin/reports/components/settings-toggle/style.scss
Due: eslint --fix

feature: add toggle component
  assets/src/js/admin/reports/components/toggle/index.js
  assets/src/js/admin/reports/components/toggle/style.scss
Due: eslint --fix

feature: implement toggle
  assets/src/js/admin/reports/components/settings-toggle/index.js
Due: eslint --fix

fix: prevent defaultValue error
  assets/src/js/admin/reports/components/select/index.js
Due: eslint --fix

feature: add action for settings panel toggle
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/components/settings-toggle/index.js
  assets/src/js/admin/reports/store/actions.js
  assets/src/js/admin/reports/store/reducer.js
Due: eslint --fix

feature: implement set currency action
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/components/settings-toggle/index.js
  assets/src/js/admin/reports/store/actions.js
  assets/src/js/admin/reports/store/reducer.js
Due: eslint --fix

feature: add toggle test mode action
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/components/settings-toggle/index.js
  assets/src/js/admin/reports/store/actions.js
  assets/src/js/admin/reports/store/reducer.js
Due: eslint --fix

feature: add currency and testmode to reports api hook
  assets/src/js/admin/reports/utils/index.js
Due: eslint --fix

feature: add currency list to frontend
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/components/settings-toggle/index.js
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

feature: setup rest args
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: implement test mode for reports api
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/PaymentMethods.php
  src/API/Endpoints/Reports/PaymentStatuses.php
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: query by currency
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

docs: fix typos in block directory readme
  blocks/README.md
Due: none

fix: add i18n support
  assets/src/js/admin/reports/components/settings-toggle/index.js
Due: eslint --fix

fix: resolve typo in block help
  blocks/components/help-link/index.js
Due: eslint --fix

fix: typo in block description
  blocks/components/edit-form/index.js
Due: eslint --fix

refactor: remove unnecessary print_r
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix:Remove extra tab
  phpcs.ruleset.xml
Due: none

fix: Remove PHP compat version checking for now
  phpcs.ruleset.xml
Due: none

fix: Update phpcs description
  phpcs.ruleset.xml
Due: none

fix: Update github issues link
  composer.json
Due: prettier --write
