Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

docs: add missing since tags
  src/Framework/Http/Response/Contracts/Arrayable.php
  src/Framework/Http/Response/Contracts/Jsonable.php
  src/Framework/Http/Response/Contracts/Renderable.php
  src/Framework/Http/Response/Contracts/ResponseFactoryInterface.php
  src/Framework/Http/Response/Exceptions/HttpResponseException.php
  src/Framework/Http/Response/Exceptions/Throwable.php
  src/Framework/Http/Response/Response.php
  src/Framework/Http/Response/ResponseFactory.php
  src/Framework/Http/Response/Traits/ResponseTrait.php
  src/Framework/Http/Response/Traits/Responseable.php
  src/Framework/Http/Response/Types/JsonResponse.php
  src/Framework/Http/Response/Types/RedirectResponse.php
  src/Framework/Http/Response/functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: throw an error if response is not correct
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.16.2 release
  give.php
  readme.txt
  src/Controller/Form.php
  src/Helpers/Form/Template.php
  src/Onboarding/DefaultFormFactory.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalOrder.php
  src/PaymentGateways/PayPalCommerce/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Install Yoast/PHPUnit-Polyfills
  composer.json
  composer.lock
Due: prettier --write

fix: check donation validation ajax request correctly
  includes/process-donation.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update function description
  includes/process-donation.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add redirectUrl prop to gatewayData DTO
  src/PaymentGateways/DataTransferObjects/GatewayPaymentData.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add response functions file to composer
  composer.json
  src/Framework/Http/Response/functions.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

refactor: rename variable
  includes/process-donation.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove unnecessary check form if
  includes/process-donation.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: responseable trait
  src/Framework/Http/Response/Traits/Responseable.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove extra space from changelog
  CHANGELOG.md
Due: none

format: remove extra \/
  CHANGELOG.md
Due: none

format: remove extra space
  CHANGELOG.md
Due: none

format: improve changelog formatting
  CHANGELOG.md
Due: none

feature: scaffold PaymentGatewayResponse flow
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayResponse.php
  src/Framework/PaymentGateways/Responses/OnSitePaymentGatewayJsonResponse.php
  src/Framework/PaymentGateways/Responses/OnSitePaymentGatewayRedirectResponse.php
  src/PaymentGateways/Gateways/TestGateway/TestGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update params
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove response as param and use inside complete
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayResponse.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayResponseInterface.php
  src/Framework/PaymentGateways/Responses/OnSitePaymentGatewayJsonResponse.php
  src/Framework/PaymentGateways/Responses/OnSitePaymentGatewayRedirectResponse.php
  src/PaymentGateways/Gateways/TestGateway/TestGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set correct path for icomoon fonts
  assets/src/css/frontend/fonts.scss
Due: stylelint --fix

feature: add PaymentGatewayResponse and enforce return types
  src/Framework/Http/Response/Traits/Responseable.php
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/Contracts/SubscriptionModuleInterface.php
  src/PaymentGateways/Gateways/TestGateway/TestGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add recurring donation upsell tab
  src/InPluginUpsells/AddonsAdminPage.php
  src/InPluginUpsells/RecurringDonationsTab.php
  src/InPluginUpsells/ServiceProvider.php
  src/InPluginUpsells/resources/js/addons-admin-page.js
  src/InPluginUpsells/resources/js/components/AdditionalAddonCard.js
  src/InPluginUpsells/resources/js/components/AdditionalAddonCard.module.css
  src/InPluginUpsells/resources/js/components/AdditionalAddons.js
  src/InPluginUpsells/resources/js/components/AdditionalAddons.module.css
  src/InPluginUpsells/resources/js/components/AddonsAdminPage.js
  src/InPluginUpsells/resources/js/components/AddonsAdminPage.module.css
  src/InPluginUpsells/resources/js/components/Button.js
  src/InPluginUpsells/resources/js/components/Button.module.css
  src/InPluginUpsells/resources/js/components/Card.js
  src/InPluginUpsells/resources/js/components/Card.module.css
  src/InPluginUpsells/resources/js/components/Hero.js
  src/InPluginUpsells/resources/js/components/Hero.module.css
  src/InPluginUpsells/resources/js/components/MustHaveAddonCard.js
  src/InPluginUpsells/resources/js/components/MustHaveAddonCard.module.css
  src/InPluginUpsells/resources/js/components/MustHaveAddons.js
  src/InPluginUpsells/resources/js/components/MustHaveAddons.module.css
  src/InPluginUpsells/resources/js/components/PricingPlanCard.js
  src/InPluginUpsells/resources/js/components/PricingPlanCard.module.css
  src/InPluginUpsells/resources/js/components/PricingPlans.js
  src/InPluginUpsells/resources/js/components/PricingPlans.module.css
  src/InPluginUpsells/resources/js/components/RecurringDonationsTab.js
  src/InPluginUpsells/resources/js/components/RecurringDonationsTab.module.css
  src/InPluginUpsells/resources/js/index.css
  src/InPluginUpsells/resources/js/index.js
  src/InPluginUpsells/resources/js/recurring-donations-settings-tab.js
  src/InPluginUpsells/resources/js/sale-banner.js
  webpack.mix.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: replace reponses with seperate commands and handlers
  src/Framework/Http/Response/Traits/Responseable.php
  src/Framework/PaymentGateways/CommandHandlers/PaymentCompleteHandler.php
  src/Framework/PaymentGateways/CommandHandlers/SubscriptionCompleteHandler.php
  src/Framework/PaymentGateways/Commands/GatewayCommand.php
  src/Framework/PaymentGateways/Commands/PaymentComplete.php
  src/Framework/PaymentGateways/Commands/SubscriptionComplete.php
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayResponse.php
  src/Framework/PaymentGateways/Contracts/SubscriptionModuleInterface.php
  src/Framework/PaymentGateways/Responses/OnSitePaymentGatewayJsonResponse.php
  src/Framework/PaymentGateways/Responses/OnSitePaymentGatewayRedirectResponse.php
  src/PaymentGateways/Gateways/TestGateway/TestGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: wrap create methods wtih exceptions
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/Exceptions/PaymentGatewayException.php
  src/PaymentGateways/Gateways/TestGateway/TestGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: recurring donations settings page
  includes/admin/admin-pages.php
  includes/admin/settings/class-settings-recurring.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move render logic into settings page class
  src/InPluginUpsells/RecurringDonationsTab.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update class name
  includes/admin/settings/class-settings-recurring.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: log exception message and return non-techincal message to client
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Log/PaymentGatewayLog.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: make PaymentGatewayException message required
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Exceptions/PaymentGatewayException.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Update mix watch syntax (#6099)
  package.json
Due: prettier --write

chore: Make strings translatable.
  src/DonationSummary/resources/views/summary.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: recurring donations upsell frontend
  assets/src/images/admin/recurring-upsell-graphic.png
  src/InPluginUpsells/RecurringDonationsTab.php
  src/InPluginUpsells/resources/js/components/AdditionalAddonCard.module.css
  src/InPluginUpsells/resources/js/components/Card.module.css
  src/InPluginUpsells/resources/js/components/MustHaveAddonCard.js
  src/InPluginUpsells/resources/js/components/MustHaveAddonCard.module.css
  src/InPluginUpsells/resources/js/components/PricingPlanCard.module.css
  src/InPluginUpsells/resources/js/components/RecurringDonationsTab.js
  src/InPluginUpsells/resources/js/components/RecurringDonationsTab.module.css
  src/InPluginUpsells/resources/js/components/RecurringDonationsTab.module.scss
  src/InPluginUpsells/resources/js/recurring-donations-settings-tab.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: Add back return statement lost in merge conflict.
  src/Helpers/Form/Template.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add compiled assets to new webpack config.
  package-lock.json
  src/DonationSummary/resources/js/summary.js
  webpack.mix.js
Due: prettier --write, eslint --fix

feature: check if Recurring is active
  src/InPluginUpsells/RecurringDonationsTab.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add function and class exists conditonal for subscription handler
  src/Framework/PaymentGateways/CommandHandlers/SubscriptionCompleteHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: load recurring settings conditionally
  includes/admin/admin-pages.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add conditional statement to log __callStatic
  src/Log/Log.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unused classes
  src/Framework/PaymentGateways/Contracts/PaymentGatewayResponse.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayResponseInterface.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update docblock
  src/Log/Log.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: update log test with WP_DEBUG_LOG
  tests/unit/tests/Framework/Exceptions/UncaughtExceptionLoggerTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
