Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

chore: add functions to form functions file
  includes/forms/functions.php
  includes/template-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add helper function to get embed success page url
  includes/forms/functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: conditional get success page url
  includes/gateways/paypal-standard.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

show receipt only on sucess page
  includes/forms/functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: redirect to receipt on basis of donation action
  includes/forms/route.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add helper fn to delete param from url
  assets/src/js/plugins/give-api/api.js
Due: eslint --fix

chore: remove giveDonationAction from current page url
  assets/src/js/frontend/give-embed-form.js
Due: eslint --fix

chore: return string instead of array
  includes/forms/functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add logic to handle failed donations
  includes/forms/functions.php
  includes/forms/route.php
  includes/gateways/paypal-standard.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: make stripe checkv2 compatible with embed form
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: show goal only if active
  templates/form-styles/elegent/sections/form-income-stats.php
  templates/form-styles/elegent/sections/progress-bar.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: show receipt only if belong to loaded form
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: auto scroll to acive donation form
  assets/src/js/frontend/give-embed-form.js
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: set auto scroll default value to one only if donation action exist
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: chnage hook priority to render notices at top
  templates/form-styles/elegent/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add helper fn to get embed form url
  includes/forms/functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: use helper fn
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: handle send back to checkout action for embed form
  includes/forms/route.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: use loading spinner as indicator in RESTCharts
  assets/src/js/admin/reports/components/chart/style.scss
  assets/src/js/admin/reports/components/rest-chart/index.js
Due: eslint --fix

feature: use loading spinner in RESTList
  assets/src/js/admin/reports/components/list/index.js
  assets/src/js/admin/reports/components/list/style.scss
  assets/src/js/admin/reports/components/rest-list/index.js
Due: eslint --fix

feature: use loading spinner in LoadingOverlay
  assets/src/js/admin/reports/components/loading-overlay/index.js
  assets/src/js/admin/reports/components/loading-overlay/style.scss
Due: eslint --fix

fix: move chart titles from cards to REST HOCs
  assets/src/js/admin/reports/app/pages/overview-page/index.js
Due: eslint --fix

feature: use cartesian time axes for line charts
  assets/src/js/admin/reports/components/chart/utils/index.js
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: resolve issue calculating legend percentages
  assets/src/js/admin/reports/components/legend/index.js
Due: eslint --fix

fix: resolve issues with trend indicator styles
  assets/src/js/admin/reports/components/mini-chart/index.js
  assets/src/js/admin/reports/components/mini-chart/style.scss
Due: eslint --fix

fix: improve not found overlay style
  assets/src/js/admin/reports/components/not-found-overlay/style.scss
Due: none

feature: add support for All Time period selection
  assets/src/js/admin/reports/components/period-selector/index.js
  assets/src/js/admin/reports/store/reducer.js
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

feature: add get_all_time_start method
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve AverageDonation trend calculation
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add specific total refunds and total income endpoints
  src/API/API.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resive cards when viewd on tablet
  assets/src/js/admin/reports/components/card/style.scss
  assets/src/js/admin/reports/components/grid/index.js
  assets/src/js/admin/reports/components/grid/style.scss
Due: eslint --fix

fix: limit datapoints retrieved for period
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add HTML tooltips
  assets/src/js/admin/reports/components/chart/style.scss
  assets/src/js/admin/reports/components/chart/utils/index.js
  assets/src/js/admin/reports/components/mini-chart/style.scss
  assets/src/js/admin/reports/components/mini-chart/utils/index.js
Due: eslint --fix

chore: add upsells notice on form metabox panel
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code formatting
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add styling for upsells notice
  assets/src/css/admin/give-admin.scss
  assets/src/css/admin/upsell-notice.scss
Due: none

fix: show update notice only if recurring addon is not installed
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unnecessary trinary condition
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: imprve notice css
  assets/src/css/admin/upsell-notice.scss
Due: none

chore: remove add-ons.php
  includes/admin/add-ons/add-ons.php
  includes/admin/class-give-admin.php
  tests/unit-tests/tests-give.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
