Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

refactor: replace word "Income" with "Revenue"
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  assets/src/js/admin/reports/utils/sample.js
  assets/src/js/admin/reports/widget/index.js
  includes/admin/forms/dashboard-columns.php
  includes/admin/reports/class-earnings-report.php
  includes/admin/reports/class-form-reports-table.php
  includes/admin/reports/graphing.php
  includes/admin/reports/reports.php
  includes/admin/shortcodes/shortcode-give-goal.php
  includes/admin/tools/data/class-give-tools-recount-form-stats.php
  includes/admin/tools/data/class-give-tools-recount-income.php
  includes/admin/tools/data/class-give-tools-reset-stats.php
  includes/admin/tools/export/class-export-earnings.php
  includes/admin/tools/export/pdf-reports.php
  includes/admin/tools/views/html-admin-page-data.php
  includes/admin/tools/views/html-admin-page-exports.php
  languages/give.pot
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/TotalIncome.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: prevent window closed javascript issue
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: prevent adding multiple duplicate recurring field tracker
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: prevent quick smart button render request
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: do not show any error if donor cancel donation
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

refactor: move createOrderHandler to PaymentMethod class
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/PaymentMethod.js
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: remove payment method separator if only smart buttons available
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
Due: eslint --fix

feature: scaffold multiformgoal block and progressbar block
  assets/src/css/frontend/give-frontend.scss
  blocks/load.js
  src/MultiFormGoals/MultiFormGoal/Block.php
  src/MultiFormGoals/MultiFormGoal/Model.php
  src/MultiFormGoals/MultiFormGoal/Shortcode.php
  src/MultiFormGoals/ProgressBar/Block.php
  src/MultiFormGoals/ProgressBar/Model.php
  src/MultiFormGoals/ServiceProvider.php
  src/MultiFormGoals/resources/css/common.scss
  src/MultiFormGoals/resources/css/editor.scss
  src/MultiFormGoals/resources/js/blocks/multi-form-goal/index.js
  src/MultiFormGoals/resources/js/blocks/progress-bar/data/attributes.js
  src/MultiFormGoals/resources/js/blocks/progress-bar/data/utils.js
  src/MultiFormGoals/resources/js/blocks/progress-bar/edit/index.js
  src/MultiFormGoals/resources/js/blocks/progress-bar/edit/inspector.js
  src/MultiFormGoals/resources/js/blocks/progress-bar/index.js
  src/MultiFormGoals/resources/js/data/attributes.js
  src/MultiFormGoals/resources/js/edit/index.js
  src/MultiFormGoals/resources/js/index.js
  src/MultiFormGoals/resources/views/multiformgoal.php
  src/MultiFormGoals/resources/views/multiformgoals.php
  src/MultiFormGoals/resources/views/progressbar.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: scaffold shortcode
  src/MultiFormGoals/MultiFormGoal/Shortcode.php
  src/MultiFormGoals/ProgressBar/Block.php
  src/MultiFormGoals/ProgressBar/Model.php
  src/MultiFormGoals/resources/js/blocks/progress-bar/data/attributes.js
  src/MultiFormGoals/resources/js/blocks/progress-bar/edit/inspector.js
  src/MultiFormGoals/resources/views/progressbar.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: improve shortcode rendering
  src/MultiFormGoals/MultiFormGoal/Model.php
  src/MultiFormGoals/MultiFormGoal/Shortcode.php
  src/MultiFormGoals/ProgressBar/Model.php
  src/MultiFormGoals/ServiceProvider.php
  src/MultiFormGoals/resources/css/common.scss
  src/MultiFormGoals/resources/views/multiformgoal.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: update comment
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: use correct variable name
  CHANGELOG.md
  blocks/load.js
  src/MultiFormGoals/MultiFormGoal/Model.php
  src/MultiFormGoals/MultiFormGoal/Shortcode.php
  src/MultiFormGoals/resources/js/components/color-control/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: Configure core/media-text to fill height by default.
  src/MultiFormGoals/resources/js/blocks/multi-form-goal/index.js
Due: eslint --fix

chore: Update changelog.
  CHANGELOG.md
Due: none

feature: incorporate serversiderenderx component
  src/MultiFormGoals/resources/js/blocks/progress-bar/edit/index.js
  src/MultiFormGoals/resources/js/components/server-side-render-x/index.js
Due: eslint --fix

fix: improve loading styles
  src/MultiFormGoals/resources/js/components/server-side-render-x/index.js
Due: eslint --fix

fix: hide loader on ssrx component
  src/MultiFormGoals/resources/js/components/server-side-render-x/index.js
Due: eslint --fix

fix: insert revenue using lower level hook to support recurring and manual donation
  src/Revenue/OnDonationHandler.php
  src/Revenue/RevenueServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

Multi-Form Goal block now supports "wide" alignment (#5315)
  CHANGELOG.md
  src/MultiFormGoals/resources/js/blocks/multi-form-goal/index.js
  src/MultiFormGoals/resources/views/multiformgoal.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: add note about fork of SSRX
  src/MultiFormGoals/resources/js/components/server-side-render-x/index.js
Due: eslint --fix

chore: remove unnecessary filter
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: create seperate function get revenue data
  src/Revenue/OnDonationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Remove 'metric' and 'deadline' settings.
  src/MultiFormGoals/MultiFormGoal/Model.php
  src/MultiFormGoals/MultiFormGoal/Shortcode.php
  src/MultiFormGoals/ProgressBar/Block.php
  src/MultiFormGoals/ProgressBar/Model.php
  src/MultiFormGoals/resources/js/blocks/progress-bar/data/attributes.js
  src/MultiFormGoals/resources/js/blocks/progress-bar/edit/inspector.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: Remove usage of removed method.
  src/MultiFormGoals/resources/views/progressbar.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: Multi-Form Goal block now supports the theme's color palette
  CHANGELOG.md
  src/MultiFormGoals/ProgressBar/Block.php
  src/MultiFormGoals/ServiceProvider.php
  src/MultiFormGoals/resources/js/blocks/progress-bar/data/attributes.js
  src/MultiFormGoals/resources/js/blocks/progress-bar/edit/inspector.js
  src/MultiFormGoals/resources/js/components/color-control/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: reintroduce spinner component
  src/MultiFormGoals/resources/js/components/server-side-render-x/index.js
Due: eslint --fix

chore: Enable spinner.
  src/MultiFormGoals/resources/js/blocks/progress-bar/edit/index.js
  src/MultiFormGoals/resources/js/components/server-side-render-x/index.js
Due: eslint --fix

chore: Update docblock notes of ServerSideRenderX fork.
  src/MultiFormGoals/resources/js/components/server-side-render-x/index.js
Due: eslint --fix

Multi Form Goal styles are now polished (#5320)
  CHANGELOG.md
  src/MultiFormGoals/resources/css/common.scss
  src/MultiFormGoals/resources/css/editor.scss
  src/MultiFormGoals/resources/views/multiformgoal.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: reintroduce enddate setting
  src/MultiFormGoals/MultiFormGoal/Shortcode.php
  src/MultiFormGoals/ProgressBar/Block.php
  src/MultiFormGoals/ProgressBar/Model.php
  src/MultiFormGoals/resources/js/blocks/progress-bar/data/attributes.js
  src/MultiFormGoals/resources/js/blocks/progress-bar/edit/inspector.js
  src/MultiFormGoals/resources/views/progressbar.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update goal amount setting label
  src/MultiFormGoals/resources/js/blocks/progress-bar/edit/inspector.js
Due: eslint --fix

feature: support default color palette for progress bar color
  src/MultiFormGoals/ProgressBar/Block.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update progress bar block
  src/MultiFormGoals/resources/js/blocks/progress-bar/index.js
Due: eslint --fix

hotfix: add image and enddate support for shortcode
  src/MultiFormGoals/MultiFormGoal/Model.php
  src/MultiFormGoals/MultiFormGoal/Shortcode.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: exit if not an new donation
  src/Revenue/OnDonationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename class
  src/Revenue/DonationHandler.php
  src/Revenue/RevenueServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

hotfix: improve shortcode text styling
  src/MultiFormGoals/resources/css/common.scss
Due: stylelint --fix

chore: update function access
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
