Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

Update plugin link for addons, submenu link.
  includes/admin/admin-pages.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: decode html entities in default state list
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

fix: decode fetched states list
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

Update plugin link for form, recurring promotion.
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update plugin link for banner, priority support.
  includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update plugin link for settings, stripe, credit card and checkout.
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update changelog.
  CHANGELOG.md
Due: none

Add function to denote non-required inputs as optional.
  src/Views/Form/Templates/Sequoia/Sequoia.php
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: disable setup screen for non-fresh installs
  includes/install.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: clarify contextual docs
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/index.js
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Fix broken merge.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update version to 2.8.0-alpha.2
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog to 2.8.0-alpha.2
  CHANGELOG.md
Due: none

chore: add custom event
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

chore: we do not need this filter because we are generate subscription with api
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add logic to handle smart button click externally
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: validated one time donation before processing
  src/PaymentGateways/PayPalCommerce/DonationProcessor.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: convert data to array
  src/PaymentGateways/PayPalCommerce/DonationProcessor.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update query selector of optional field label text.
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: set donation to failed if condition met
  includes/forms/functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Refactor country and state lists for normalized format.
  src/Onboarding/Routes/LocationRoute.php
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add uncommited class.
  src/Onboarding/Helpers/LocationList.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add a specific placeholder for the base_country select setting.
  includes/admin/settings/class-settings-general.php
Due: npm run lint:textdomain, npm run lint:php:fix

Reduce padding on Setup Page container.
  assets/src/css/admin/setup.scss
Due: stylelint --fix

Add Wizard button hover styles.
  assets/src/js/admin/onboarding-wizard/components/button/style.scss
Due: stylelint --fix

Update Wizard addon setup title/subtitle.
  assets/src/js/admin/onboarding-wizard/app/steps/addons/index.js
Due: eslint --fix

Remove Setup Page intro text.
  assets/src/css/admin/setup.scss
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Fix Setup Page PayPal description apostrophe.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove Stripe connect and configure from the Setup Page.
  assets/src/js/admin/admin-setup.js
  src/Onboarding/Routes/StripeWebhookRecievedRoute.php
  src/Onboarding/Setup/Handlers/StripeConnectHandler.php
  src/Onboarding/Setup/PageView.php
  src/Onboarding/Setup/templates/index.html.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: remove preg_match that stripped text tags from version number
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none
