Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

fix: remove unnecessary notice on adding manual stripe account
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: prevent default action of anchor tag
  assets/src/js/plugins/form-template/parent-page.js
Due: eslint --fix

refactor: add loader, button and iframe under same div
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve modal style
  assets/src/css/frontend/forms.scss
Due: none

fix: add data attribute to active donation form
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: open embed form if it is in modal
  assets/src/js/plugins/form-template/parent-page.js
Due: eslint --fix

fix: set close button font size to 1 em
  assets/src/css/frontend/forms.scss
Due: none

fix: move iframe content to left most to hide it
  assets/src/css/frontend/forms.scss
Due: none

fix: update tooltip text
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: add paypal copy
  includes/gateways/paypal-standard.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add test donation output
  includes/gateways/manual.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove unnecessary div block
  assets/src/css/frontend/forms.scss
  assets/src/js/plugins/form-template/parent-page.js
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: add padding and bg to fieldsets without fields
  includes/gateways/manual.php
  includes/gateways/offline-donations.php
  includes/gateways/paypal-standard.php
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve font styles
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

refactor: create separate file embed form wrapper
  assets/src/css/frontend/embed-form.scss
  assets/src/css/frontend/forms.scss
  assets/src/css/frontend/give-frontend.scss
Due: none

feat: make embed form modal compatible with form grid
  assets/src/css/frontend/embed-form.scss
  assets/src/js/plugins/form-template/parent-page.js
  includes/shortcodes.php
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: prevent conflict with wp admin bar
  assets/src/css/frontend/embed-form.scss
Due: none

fix: hide magnific pop till search complete for embed form button launcher
  assets/src/js/plugins/form-template/parent-page.js
Due: eslint --fix

fix: imporve modal close button styling
  assets/src/css/frontend/embed-form.scss
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix grammer mistake
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix typo video -> view
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix typo is -> id
  src/Helpers/Session/Donation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove unnecessary return
  src/Helpers/Session/DonationConfirmation/Frontend.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update comment to describe return result
  src/Helpers/Session/DonationConfirmation/Frontend.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove sequoaia recurring compatibility notice
  assets/src/js/admin/admin.js
  assets/src/js/admin/form-template/Sequoia/edit-form.js
  includes/class-give-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: close modal when press esc key
  assets/src/js/plugins/form-template/parent-page.js
Due: eslint --fix

fix: dont show banner if any one stripe account is connected
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve backward compatibility
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: do not diable donation form button when get invalidate on ajax
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: already validating donaiton amount on step 2
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: do not handle legacy form template receipt
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: temporary disable new receipt view for old receipts
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve backward compatibility issue with incorrect parameters
  includes/gateways/stripe/includes/admin/admin-helpers.php
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve stripe is connected fn
  includes/gateways/stripe/includes/admin/admin-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: delete old way to store stripe account data
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: move bk compatibility code to auto upgrade routine
  includes/admin/upgrades/upgrade-functions.php
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve update account issue via ajax
  assets/src/js/admin/stripe-admin.js
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: dont delete legacy keys
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: adjust margins for introduction advance button
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none
