Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: hide disconnect setting
  src/PaymentGateways/PayPalCheckout/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add initial code for onboarding
  assets/src/js/admin/admin-settings.js
  src/PaymentGateways/PayPalCheckout/AdminSettingFields.php
  src/PaymentGateways/PayPalCheckout/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCheckout/PayPalCheckout.php
  src/PaymentGateways/PayPalCheckout/ScriptLoader.php
  src/PaymentGateways/PayPalStandard/PayPalStandard.php
  src/PaymentGateways/PaymentGateway.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: fix typoe in url
  src/PaymentGateways/PayPalCheckout/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: make url dynamic
  src/PaymentGateways/PayPalCheckout/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

add link to the email tags doc
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

Open link in new tab
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

update link to shortlink
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove .github directory (#4914)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

refactor: change PayPal Checkout to PayPal Donations
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add webhook route and controller
  give.php
  src/Controller/PayPalWebhooks.php
  src/Route/PayPalWebhooks.php
  src/Route/Route.php
  src/ServiceProviders/Routes.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: mostly finish the webhook controller and listener routing
  src/Controller/PayPalWebhooks.php
  src/PaymentGateways/PayPalCommerce/Webhooks/Listeners/CheckoutOrderApproved.php
  src/PaymentGateways/PayPalCommerce/Webhooks/Listeners/EventListener.php
Due: npm run lint:textdomain, npm run lint:php:fix

Scaffold setup page.
  assets/src/css/admin/setup.scss
  src/Views/Admin.php
  src/Views/Admin/Pages/Setup.php
  src/Views/Admin/Pages/templates/setup-step-template.php
  src/Views/Admin/Pages/templates/setup-template.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: scaffold onboarding wizard page class
  src/Views/Admin/Pages/OnboardingWizard.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold onboarding wizard page template
  src/Views/Admin/Pages/templates/onboarding-wizard-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: enable onboarding wizard
  src/Views/Admin.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: redirect new installs to onboarding wizard
  includes/admin/class-give-welcome.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold wizard react app
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/style.scss
  assets/src/js/admin/onboarding-wizard/index.js
  webpack.config.js
Due: eslint --fix, stylelint --fix

feature: enqueue wizard scripts/styles
  src/Views/Admin/Pages/OnboardingWizard.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve template to load all necessary actions
  src/Views/Admin/Pages/templates/onboarding-wizard-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add skip button
  assets/src/js/admin/onboarding-wizard/app/index.js
  src/Views/Admin/Pages/OnboardingWizard.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: improve styles
  assets/src/js/admin/onboarding-wizard/app/style.scss
Due: stylelint --fix

fix: improve setting description
  includes/admin/settings/class-settings-advanced.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve documentation
  includes/install.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add inline documentation
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/index.js
  src/Views/Admin/Pages/OnboardingWizard.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: add since tags
  src/Views/Admin/Pages/OnboardingWizard.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  readme.txt
Due: none

Revert "chore: update changelog"
  readme.txt
Due: none

Configure Setup page.
  give.php
  includes/admin/settings/class-settings-advanced.php
  includes/install.php
  src/Views/Admin.php
  src/Views/Admin/Pages/Setup.php
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add missing Onboarding class.
  src/Onboarding/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add doc blocks for Onboarding/Setup classes and methods.
  src/Onboarding/Onboarding.php
  src/Views/Admin/Pages/Setup.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update changelog for the new Setup page.
  readme.txt
Due: none

Fix copyright year in setup scss header.
  assets/src/css/admin/setup.scss
Due: stylelint --fix

fix: resolve contentinfo accessibility flagged due to footer.
  assets/src/css/admin/setup.scss
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: Map setting default value to match options.
  includes/admin/settings/class-settings-advanced.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Update docblock to fix copy/paste.
  src/Onboarding/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use GIVE_VERSION for script version
  src/Views/Admin/Pages/OnboardingWizard.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not pass version for google web front style
  src/Views/Admin/Pages/OnboardingWizard.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: localize strings
  assets/src/js/admin/onboarding-wizard/app/index.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
