Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

fix: perist border when input is selected
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

feature: add fee recovery styles
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: improve styles to support multiline labels
  src/Views/Form/Templates/Sequoia/assets/css/recurring.scss
Due: none

fix: persist border on input selection
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

feature: use form primary color in input
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove extra definition
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update code to streamline using the helper fn for condition load of payment fields
  includes/gateways/stripe/includes/actions.php
  includes/gateways/stripe/includes/give-stripe-helpers.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-sepa.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update docs
  src/Receipt/Detail.php
  src/Receipt/DetailGroup.php
  src/Receipt/DonationDetailsGroup/Details/Amount.php
  src/Receipt/DonationDetailsGroup/Details/PaymentGateway.php
  src/Receipt/DonationDetailsGroup/Details/Status.php
  src/Receipt/DonationDetailsGroup/Details/TotalAmount.php
  src/Receipt/DonationDetailsGroup/DonationDetailsGroup.php
  src/Receipt/DonorDetailsGroup/Details/BillingAddress.php
  src/Receipt/DonorDetailsGroup/Details/Email.php
  src/Receipt/DonorDetailsGroup/Details/Name.php
  src/Receipt/DonorDetailsGroup/DonorDetailsGroup.php
  src/Receipt/Receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: rename function
  src/Receipt/Receipt.php
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: rename param name for readability
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: use array_search instead of array_flip
  src/Receipt/Receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: rename function
  src/Receipt/DetailGroup.php
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update doc
  src/Receipt/DetailGroup.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: make array of object protected
  src/Receipt/DetailGroup.php
  src/Receipt/Receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update logic to get detail item object
  src/Receipt/DetailGroup.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unnecessary 'use'
  src/Receipt/Receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update comment and formatting of code
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update requested changes
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: split addon dynamic css into separate variable
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: prevent toggle when select element is clicked
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

chore: add space ahead of important tag
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: escape strings
  src/Receipt/DonationDetailsGroup/Details/Amount.php
  src/Receipt/DonationDetailsGroup/Details/PaymentGateway.php
  src/Receipt/DonationDetailsGroup/Details/Status.php
  src/Receipt/DonationDetailsGroup/Details/TotalAmount.php
  src/Receipt/DonorDetailsGroup/Details/BillingAddress.php
  src/Receipt/DonorDetailsGroup/Details/Email.php
  src/Receipt/DonorDetailsGroup/Details/Name.php
  src/Receipt/DonorDetailsGroup/DonorDetailsGroup.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
  src/Views/Form/Templates/Sequoia/views/receipt.php
  src/Views/Form/Templates/Sequoia/views/social-sharing.php
  src/Views/Form/defaultFormReceiptTemplate.php
  src/Views/IframeView.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix typo
  src/Receipt/Detail.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove extra line
  src/Receipt/Detail.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add space before important tag
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: separate addon dynamic styles
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove bottom margin, to vertically center content
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
Due: none

fix: correct width and right-hand padding
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
Due: none

fix: style forced opt-in message
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
Due: none

fix: ensure that fee recovery input appears last in section
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: decrease top margin for fee recovery input
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
Due: none

fix: decrease top margin for recurring input
  src/Views/Form/Templates/Sequoia/assets/css/recurring.scss
Due: none

fix: style fee breakdown
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: remove escape characters
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove usused code
  src/Donation/Donation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove unnecessary absint
  src/Helpers/Form/Template/Utils/Frontend.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: only toggle active class on checkbox change
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: add helper fn to retrieve stripe account details of a connected user
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve the logic behind storing stripe account details for stripe connect users
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress
