Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

Fix: handle the Stripe webhook correctly (#6385)
  includes/gateways/stripe/includes/class-give-stripe-webhooks.php
  src/Donations/Repositories/DonationRepository.php
  src/Donations/ValueObjects/DonationStatus.php
  src/PaymentGateways/Gateways/Stripe/Traits/CanSetupStripeApp.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Contracts/EventListener.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/ChargeRefunded.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/CheckoutSessionCompleted.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/PaymentIntentPaymentFailed.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/PaymentIntentSucceeded.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/StripeEventListener.php
  src/Subscriptions/Repositories/SubscriptionRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not need to set note
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/CheckoutSessionCompleted.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: add legacy subscription data to initial donation meta (#6435)
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
Due: npm run lint:textdomain, npm run lint:php:fix

Refactor: remove GatewayPaymentData class reference from code (#6432)
  src/Framework/PaymentGateways/Log/PaymentGatewayLog.php
  src/PaymentGateways/Gateways/Stripe/Actions/CreateCheckoutSession.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  tests/unit/tests/PaymentGateways/PaymentGatewaysRegisterTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: verify stripe event
  includes/gateways/stripe/includes/class-give-stripe-webhooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: remove unnecessary tags
  src/PaymentGateways/Gateways/Stripe/Actions/GetOrCreateStripeCustomer.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix/Changed: Bring back filter support for income goal stats (#6418)
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update since tag with @unreleased
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix

New: allow add-on to use 'Requires GiveWP' to define dependency (#6428)
  includes/class-give-readme-parser.php
  tests/unit/legacy/test-addon-readme-parser.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add back legacy stripe files
  includes/gateways/stripe/class-give-stripe.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, npm run lint:php:fix

Revert "chore: add back legacy stripe files"
  includes/gateways/stripe/class-give-stripe.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: catch all exceptions when process one time or recurring donation (#6442)
  src/Framework/PaymentGateways/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

New: Brand new Donor Wall design (#6420)
  assets/src/css/frontend/_components.donor.scss
  assets/src/js/frontend/give-donor-wall.js
  blocks/components/column-selector/index.js
  blocks/components/column-selector/style.scss
  blocks/components/toggle/index.js
  blocks/components/toggle/style.scss
  blocks/donation-form-grid/data/options.js
  blocks/donation-form-grid/edit/inspector.js
  blocks/donor-wall/class-give-donor-wall.php
  blocks/donor-wall/data/attributes.js
  blocks/donor-wall/data/options.js
  blocks/donor-wall/edit/inspector.js
  blocks/donor-wall/edit/style.scss
  blocks/donor-wall/index.js
  blocks/load.php
  includes/donors/class-give-donor-wall.php
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Fix: validate donor before login to donor dashboard (#6441)
  src/DonorDashboards/Helpers.php
  src/DonorDashboards/Routes/Captcha/ProtectedRoute.php
  src/DonorDashboards/Routes/LogoutRoute.php
  src/DonorDashboards/Routes/VerifyEmailRoute.php
  src/DonorDashboards/Tabs/Contracts/Route.php
  src/DonorDashboards/resources/js/app/components/auth-modal/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Hot Fix: Add additional escaping when adding query args (#6438)
  includes/admin/donors/donor-actions.php
  includes/admin/emails/filters.php
  includes/admin/give-metabox-functions.php
  includes/admin/import-functions.php
  includes/admin/payments/class-payments-table.php
  includes/admin/payments/view-payment-details.php
  includes/admin/reports/class-gateways-reports-table.php
  includes/admin/reports/graphing.php
  includes/admin/tools/export/export-functions.php
  includes/ajax-functions.php
  includes/deprecated/deprecated-functions.php
  includes/emails/template.php
  includes/forms/functions.php
  includes/gateways/paypal/paypal-standard.php
  includes/gateways/stripe/includes/give-stripe-helpers.php
  includes/misc-functions.php
  includes/shortcodes.php
  src/Donations/DonationsAdminPage.php
  src/DonorDashboards/App.php
  src/Donors/DonorsAdminPage.php
  src/Framework/PaymentGateways/Actions/GenerateGatewayRouteUrl.php
  src/Helpers/Form/Utils.php
  src/Helpers/Utils.php
  src/LegacySubscriptions/includes/give-subscription.php
  src/PaymentGateways/Gateways/PayPalStandard/PayPalStandard.php
  src/PaymentGateways/Gateways/Stripe/Helpers/CheckoutHelper.php
  src/PaymentGateways/Gateways/Stripe/Traits/CheckoutRedirect.php
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/Route/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

Hot Fix: Restore ability to change subscriptions via legacy subscription shortcode (#6439)
  includes/gateways/stripe/class-give-stripe.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.20.2 release
  give.php
  includes/deprecated/deprecated-functions.php
  readme.txt
  src/DonorDashboards/Helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: allow offsite redirect for recurring donations (#6446)
  src/Framework/PaymentGateways/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Tool tabs display correctly (#6430)
  assets/src/css/admin/settings.scss
  src/Views/Components/ListTable/ListTablePage.module.scss
Due: stylelint --fix

fix: use on_session enum for onetime stripe payment
  src/PaymentGateways/Gateways/Stripe/BECSGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Remove Donor Wall REST API endpoint (#6451)
  includes/api/class-give-api-v2.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: Check visibility before validating required. (#6268)
  src/Form/LegacyConsumer/Actions/DetermineVisibilityForRequest.php
  src/Form/LegacyConsumer/Commands/SetupFieldValidation.php
  tests/unit/tests/Form/LegacyConsumer/Actions/DetermineVisibilityForRequestTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: do not include .map files in builds
  .distignore
Due: none

feature: update default context for loggable exception (#6454)
  src/Framework/Exceptions/Traits/Loggable.php
  tests/unit/tests/Framework/Exceptions/Traits/LoggableTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

Changed: Form Grid block styles (#6397)
  assets/src/css/frontend/_card.scss
  assets/src/css/frontend/_components.donor.scss
  assets/src/css/frontend/form-grid.scss
  assets/src/css/frontend/progress-bar.scss
  blocks/donation-form-grid/class-give-donation-form-grid-block.php
  blocks/donation-form-grid/data/attributes.js
  blocks/donation-form-grid/data/options.js
  blocks/donation-form-grid/edit/inspector.js
  blocks/donation-form-grid/edit/style.scss
  blocks/donor-wall/data/attributes.js
  blocks/donor-wall/edit/inspector.js
  includes/shortcodes.php
  src/Views/Admin/Form/FormGrid-Settings.php
  templates/shortcode-form-grid.php
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: remove hardcoded test and manual gateway labels (#6456)
  includes/gateways/functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Apply more escaping to prevent XSS vulnerabilities (#6447)
  includes/admin/admin-actions.php
  includes/admin/class-api-keys-table.php
  includes/admin/donors/donor-actions.php
  includes/admin/donors/donors.php
  includes/admin/emails/abstract-email-notification.php
  includes/admin/emails/class-donation-receipt-email.php
  includes/admin/emails/class-donor-register-email.php
  includes/admin/emails/class-email-notifications.php
  includes/admin/emails/class-new-donor-register-email.php
  includes/admin/forms/class-metabox-form-data.php
  includes/admin/reports/graphing.php
  includes/admin/tools/import/class-give-import-core-settings.php
  includes/admin/tools/import/class-give-import-donations.php
  includes/admin/tools/views/html-admin-page-exports.php
  includes/admin/tools/views/html-admin-page-imports.php
  includes/admin/upgrades/views/upgrades.php
  includes/ajax-functions.php
  includes/api/class-give-api.php
  includes/emails/template.php
  includes/forms/template.php
  includes/gateways/actions.php
  includes/gateways/stripe/includes/class-give-stripe-gateway.php
  includes/login-register.php
  src/Controller/Form.php
  src/Donations/DonationsAdminPage.php
  src/Helpers/Utils.php
  src/LegacySubscriptions/includes/give-subscription.php
  src/Onboarding/Setup/templates/index.html.php
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
  src/Tracking/AdminActionHandler.php
  src/Tracking/UsageTrackingOnBoarding.php
  src/Views/IframeView.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: replace redundent meta keys with dynamic method, update DTO to get keys as constant, and improve conditional for payment types (#6460)
  src/Donations/Controllers/DonationsRequestController.php
  src/Donations/DataTransferObjects/DonationResponseData.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: LoggedIn donor can perform authorized actions in donor dashboard (#6450)
  src/DonorDashboards/resources/js/app/components/subscription-cancel-modal/utils/index.js
  src/DonorDashboards/resources/js/app/components/subscription-manager/index.js
  src/DonorDashboards/resources/js/app/components/subscription-manager/utils/index.js
Due: eslint --fix

Fix: disable server side custom file name in export feature (#6458)
  includes/admin/tools/export/class-batch-export.php
  includes/admin/tools/export/export-actions.php
  includes/admin/tools/export/export-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: new payment gateway api subscription module updates (#6437)
  give.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/Contracts/Subscription/SubscriptionAmountEditable.php
  src/Framework/PaymentGateways/Contracts/Subscription/SubscriptionDashboardLinkable.php
  src/Framework/PaymentGateways/Contracts/Subscription/SubscriptionPaymentMethodEditable.php
  src/Framework/PaymentGateways/Contracts/Subscription/SubscriptionTransactionsSynchronizable.php
  src/Framework/PaymentGateways/Contracts/SubscriptionModuleInterface.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/PaymentGatewayRegister.php
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/Framework/PaymentGateways/SubscriptionModule.php
  src/Helpers/Call.php
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/PaymentGateways/Gateways/PayPalStandard/PayPalStandard.php
  src/PaymentGateways/Gateways/Stripe/BECSGateway.php
  src/PaymentGateways/Gateways/Stripe/CheckoutGateway.php
  src/PaymentGateways/Gateways/Stripe/CreditCardGateway.php
  src/PaymentGateways/Gateways/Stripe/SEPAGateway.php
  src/PaymentGateways/Gateways/Stripe/Traits/CanSetupStripeApp.php
  src/PaymentGateways/Gateways/Stripe/ValueObjects/PaymentMethod.php
  src/PaymentGateways/Gateways/TestGateway/TestGateway.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/Subscriptions/Repositories/SubscriptionRepository.php
  src/Subscriptions/ValueObjects/SubscriptionStatus.php
  tests/unit/tests/Framework/PaymentGateways/Traits/HasRouteMethodTest.php
  tests/unit/tests/PaymentGateways/Gateways/Stripe/CreditCardGatewayTest.php
  tests/unit/tests/PaymentGateways/PaymentGatewaysRegisterTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: prevent stalled migration issue (#6463)
  includes/admin/upgrades/upgrade-functions.php
  src/Log/LogServiceProvider.php
  src/Log/Migrations/CompleteRemovedLegacyLogMigration.php
  src/Log/Migrations/MigrateExistingLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: class form summary heading now gets displayed (#6459)
  src/Views/Form/Templates/Classic/resources/css/_donation-summary.scss
Due: stylelint --fix

doc: add correct since doc tag value
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

refactor: consolidate meta query into single loop, simplify conditionals, and remove unreachable
  src/Framework/QueryBuilder/Concerns/MetaQuery.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update since tags and comments
  src/Framework/QueryBuilder/Concerns/MetaQuery.php
  tests/unit/tests/Framework/QueryBuilder/AttachMetaTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update docblocks
  src/Framework/QueryBuilder/Concerns/MetaQuery.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: optimize getByEmail query as well
  src/Donors/Repositories/DonorRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix
