Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Add storybook:build command.
  package.json
Due: prettier --write

Remove excess character.
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
Due: eslint --fix

Add block link support.
  src/Views/Admin/Pages/Setup.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add review badge variation.
  assets/src/css/admin/setup.scss
  src/Views/Admin/Pages/templates/setup-page/index.html.php
  src/Views/Admin/Pages/templates/setup-page/row-item.html
  src/Views/Admin/Pages/templates/setup-page/stories/components.stories.js
  src/Views/Admin/Pages/templates/setup-page/stories/examples.stories.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: Move google fonts import to enqueued style.
  src/Views/Admin/Pages/Setup.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Replace plain text chevron with font-awesome icon.
  assets/src/css/admin/setup.scss
  src/Views/Admin/Pages/templates/setup-page/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Fix merge conflict in readme.txt.
  readme.txt
Due: none

Refactor onboarding wizard and setup page to use a Service Provider.
  give.php
  includes/admin/settings/class-settings-advanced.php
  src/Onboarding/Onboarding.php
  src/Onboarding/Setup/Page.php
  src/Onboarding/Setup/PageDismissible.php
  src/Onboarding/Setup/PageStatus.php
  src/Onboarding/Setup/templates/dismiss.html
  src/Onboarding/Setup/templates/footer.html
  src/Onboarding/Setup/templates/index.html.php
  src/Onboarding/Setup/templates/row-item.html
  src/Onboarding/Setup/templates/section.html
  src/Onboarding/Setup/templates/stories/badges.stories.js
  src/Onboarding/Setup/templates/stories/components.stories.js
  src/Onboarding/Setup/templates/stories/examples.stories.js
  src/Onboarding/Setup/templates/stories/icons.stories.js
  src/Onboarding/Setup/templates/stories/items.stories.js
  src/Onboarding/Setup/templates/stories/src/addons.js
  src/Onboarding/Setup/templates/stories/src/configuration.js
  src/Onboarding/Setup/templates/stories/src/givewp101.js
  src/Onboarding/Setup/templates/stories/src/paypal.js
  src/Onboarding/Setup/templates/stories/src/stripe.js
  src/Onboarding/Setup/templates/stories/src/styles.js
  src/Onboarding/Wizard/Page.php
  src/Onboarding/Wizard/templates/index.php
  src/ServiceProviders/Onboarding.php
  src/Views/Admin.php
  src/Views/Admin/Pages/templates/setup-template.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: add BN code
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: simplify camelCaseKeys helper function
  src/Helpers/ArrayDataSet.php
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: improve inline doc for camelCaseKeys
  src/Helpers/ArrayDataSet.php
Due: npm run lint:textdomain, npm run lint:php:fix

Implement Stripe Connect button on Setup Page.
  assets/src/css/admin/setup.scss
  assets/src/images/setup-page/stripe-connect@2x.min.png
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Add Stripe Connect Handler for Setup Page.
  composer.json
  composer.lock
  src/Onboarding/Setup/StripeConnectHandler.php
  src/ServiceProviders/Onboarding.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

Remove incorrect class from add-on section of Setup Page.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add class to get partner related details
  src/PaymentGateways/PayPalCommerce/PartnerDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use partner class to get attribution id
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: setup ajax endpoint to process payment
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Refactor Stripe Connect Handler.
  src/Onboarding/Setup/StripeConnectHandler.php
  src/Onboarding/Setup/templates/index.html.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold onboarding wizard app
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/style.scss
Due: eslint --fix, stylelint --fix

feature: scaffold store logic
  assets/src/js/admin/onboarding-wizard/app/store/actions.js
  assets/src/js/admin/onboarding-wizard/app/store/index.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
Due: eslint --fix

feature: scaffold utilities
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

feature: scaffold wizard component
  assets/src/js/admin/onboarding-wizard/components/wizard/index.js
  assets/src/js/admin/onboarding-wizard/components/wizard/style.scss
Due: eslint --fix, stylelint --fix

feature: scaffold step components
  assets/src/js/admin/onboarding-wizard/components/step-link/index.js
  assets/src/js/admin/onboarding-wizard/components/step-link/style.scss
  assets/src/js/admin/onboarding-wizard/components/step-navigation/index.js
  assets/src/js/admin/onboarding-wizard/components/step-navigation/style.scss
  assets/src/js/admin/onboarding-wizard/components/step/index.js
  assets/src/js/admin/onboarding-wizard/components/step/style.scss
Due: eslint --fix, stylelint --fix

feature: scaffold button components
  assets/src/js/admin/onboarding-wizard/components/button/index.js
  assets/src/js/admin/onboarding-wizard/components/button/style.scss
  assets/src/js/admin/onboarding-wizard/components/continue-button/index.js
  assets/src/js/admin/onboarding-wizard/components/continue-button/style.scss
Due: eslint --fix, stylelint --fix

feature: scaffold logo component
  assets/src/js/admin/onboarding-wizard/components/give-logo/index.js
Due: eslint --fix

feature: scaffold card component
  assets/src/js/admin/onboarding-wizard/components/card/index.js
  assets/src/js/admin/onboarding-wizard/components/card/style.scss
Due: eslint --fix, stylelint --fix

feature: scaffold input components
  assets/src/js/admin/onboarding-wizard/components/card-input/index.js
  assets/src/js/admin/onboarding-wizard/components/card-input/style.scss
  assets/src/js/admin/onboarding-wizard/components/select-input/index.js
  assets/src/js/admin/onboarding-wizard/components/select-input/style.scss
Due: eslint --fix, stylelint --fix

feature: scaffold steps
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/style.scss
  assets/src/js/admin/onboarding-wizard/app/steps/fundraising-needs/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/fundraising-needs/style.scss
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/style.scss
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/location/style.scss
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/style.scss
Due: eslint --fix, stylelint --fix

fix: define showInNavigation prop
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/components/step/index.js
Due: eslint --fix

fix: hide step navigation for introduction
  assets/src/js/admin/onboarding-wizard/components/wizard/index.js
Due: eslint --fix

feature: setup tabindex for focusable elements when step changes
  assets/src/js/admin/onboarding-wizard/components/wizard/index.js
Due: eslint --fix

fix: do not run query selector all on node list
  assets/src/js/admin/onboarding-wizard/components/wizard/index.js
Due: eslint --fix

fix: define prop types and default props
  assets/src/js/admin/onboarding-wizard/components/card-input/index.js
  assets/src/js/admin/onboarding-wizard/components/select-input/index.js
  assets/src/js/admin/onboarding-wizard/components/step/index.js
Due: eslint --fix

chore: format imports and add inline docs
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/fundraising-needs/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/app/store/index.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/components/button/index.js
  assets/src/js/admin/onboarding-wizard/components/card-input/index.js
  assets/src/js/admin/onboarding-wizard/components/card/index.js
  assets/src/js/admin/onboarding-wizard/components/continue-button/index.js
  assets/src/js/admin/onboarding-wizard/components/select-input/index.js
  assets/src/js/admin/onboarding-wizard/components/step-link/index.js
  assets/src/js/admin/onboarding-wizard/components/step-navigation/index.js
  assets/src/js/admin/onboarding-wizard/components/step/index.js
  assets/src/js/admin/onboarding-wizard/components/wizard/index.js
Due: eslint --fix

chore: add note explaining state managment
  assets/src/js/admin/onboarding-wizard/app/store/index.js
Due: eslint --fix

chore: add class to access partner details
  src/PaymentGateways/PayPalCommerce/PartnerDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

Tweak Stripe Connection handler.
  src/Onboarding/Setup/StripeConnectHandler.php
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unusecessary file
  src/PaymentGateways/PayPalCommerce/PartnerDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add ConnectClient class
  src/ConnectClient/ConnectClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: temp
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
