Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

Fix: Sanitize the donor wall limits (#6679)
  includes/donors/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Prevent fatal error for null price option in the Forms Table (#6675)
  src/DonationForms/DataTransferObjects/DonationFormQueryData.php
  src/DonationForms/ListTable/Columns/LevelsColumn.php
  src/Framework/ListTable/ListTable.php
  tests/Unit/DonationForms/DataTransferObjects/DonationFormQueryDataTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.24.1 release
  give.php
  includes/donors/class-give-donor-wall.php
  readme.txt
  src/Framework/ListTable/ListTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove string type as cells may return any type
  src/Framework/ListTable/ListTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add setting for automatic formatting
  includes/admin/settings/class-settings-general.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add migration to set initial formatting value based on intl presence
  src/Donations/Migrations/SetAutomaticFormattingOption.php
  src/Donations/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: fallback to give formating if intl is not available
  src/Framework/Support/Facades/CurrencyFacade.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add unreleased tags
  includes/admin/settings/class-settings-general.php
  src/Donations/Migrations/SetAutomaticFormattingOption.php
  src/Framework/Support/Facades/CurrencyFacade.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: do not use formatting if the user opts out
  src/Framework/Support/Facades/CurrencyFacade.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: Add is_visible param to legacy gateways list (#6671)
  src/Framework/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayRegisterAdapter.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update setting messaging
  includes/admin/settings/class-settings-general.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update messaging
  src/Framework/Support/Facades/CurrencyFacade.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: update gateway api registration order (#6684)
  src/Framework/PaymentGateways/PaymentGatewayRegister.php
  src/Framework/PaymentGateways/Traits/ResponseHelpers.php
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove phpstan and phpstorm files from build
  .distignore
Due: none

chore: remove really old changelog file
  changelog.txt
Due: none

Chore: Update story link in readme
  readme.txt
Due: none

feature: correct doc url
  includes/admin/settings/class-settings-general.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.24.2 release
  give.php
  includes/admin/settings/class-settings-general.php
  readme.txt
  src/Donations/Migrations/SetAutomaticFormattingOption.php
  src/Framework/Support/Facades/CurrencyFacade.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: improve admin menu ordering
  includes/admin/admin-pages.php
  includes/admin/upgrades/class-give-updates.php
  readme.txt
  src/DonationForms/ServiceProvider.php
  src/Donations/DonationsAdminPage.php
  src/Donations/ServiceProvider.php
  src/Donors/DonorsAdminPage.php
  src/Donors/ServiceProvider.php
  src/Onboarding/Setup/Page.php
  src/Promotions/ServiceProvider.php
  src/ServiceProviders/Onboarding.php
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix Modal is not open after an error (#6677)
  includes/forms/template.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Switch the check for strauss.phar for better compatibility (#6688)
  composer.json
Due: prettier --write

Fix: clear donation's outdated post cache and make the PDF recipes addon send the download link to email correctly (#6655)
  src/Donations/LegacyListeners/ClearDonationPostCache.php
  src/Donations/ServiceProvider.php
  tests/Unit/Donations/Repositories/TestDonationRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add local check for gateway dashboard subscription url (#6699)
  src/Framework/PaymentGateways/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: adds request methods to the ConnectClient class and a way to debug a local connect server (#6681)
  give.php
  src/ConnectClient/ConnectClient.php
  src/Framework/Http/ConnectServer/Client/ConnectClient.php
  src/Framework/Http/ConnectServer/Client/Exceptions/RequestException.php
  src/Framework/Http/ServiceProvider.php
  src/Onboarding/Setup/PageView.php
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalAuth.php
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  tests/Unit/Onboarding/Setup/PageViewTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Prevent donation summary with donor from filtering twice (#6696)
  src/Framework/PaymentGateways/DonationSummary.php
  tests/Unit/Framework/PaymentGateways/DonationSummaryTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: Allow donor dashboard section to safely display html value (#6665)
  src/DonorDashboards/Repositories/Donations.php
  src/DonorDashboards/resources/js/app/components/donation-receipt/index.js
  src/DonorDashboards/resources/js/app/components/donation-receipt/style.scss
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Feature: Add conditional to company name field (#6683)
  assets/src/css/frontend/_mixins.scss
  assets/src/css/frontend/forms.scss
  assets/src/js/frontend/give-donations.js
  includes/forms/template.php
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/css/tributes.scss
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Fix: Style modals on classic template #6701
  src/Views/Form/Templates/Classic/resources/css/_modal.scss
  src/Views/Form/Templates/Classic/resources/css/_payment-details.scss
  src/Views/Form/Templates/Classic/resources/css/form.scss
Due: stylelint --fix

chore: bump ubuntu version as 18.04 is ending soon
  .github/workflows/release.yml
  .github/workflows/wordpress.yml
Due: none

Feature: add donation note type to donation note model (#6660)
  src/Donations/LegacyListeners/DispatchDonationNoteEmailNotification.php
  src/Donations/Models/DonationNote.php
  src/Donations/Repositories/DonationNotesRepository.php
  src/Donations/ServiceProvider.php
  src/Donations/ValueObjects/DonationNoteMetaKeys.php
  src/Donations/ValueObjects/DonationNoteType.php
  tests/Unit/Donations/Models/TestDonationNote.php
  tests/Unit/Donations/Repositories/TestDonationNoteRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update since tags and readme for 2.25.0
  assets/src/js/frontend/give-ajax.js
  blocks/donation-form-grid/class-give-donation-form-grid-block.php
  blocks/donor-wall/class-give-donor-wall.php
  give.php
  includes/forms/template.php
  readme.txt
  src/Donations/LegacyListeners/ClearDonationPostCache.php
  src/Donations/LegacyListeners/DispatchDonationNoteEmailNotification.php
  src/Donations/Repositories/DonationNotesRepository.php
  src/Donations/ServiceProvider.php
  src/Donations/ValueObjects/DonationNoteMetaKeys.php
  src/Donations/ValueObjects/DonationNoteType.php
  src/DonorDashboards/Repositories/Donations.php
  src/Framework/Http/ConnectServer/Client/ConnectClient.php
  src/Framework/Http/ConnectServer/Client/Exceptions/RequestException.php
  src/Framework/Http/ServiceProvider.php
  src/Framework/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayRegisterAdapter.php
  src/Framework/PaymentGateways/DonationSummary.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Onboarding/Setup/PageView.php
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  tests/TestCase.php
  tests/TestTraits/AssertIsType.php
  tests/Unit/DonationForms/DataTransferObjects/DonationFormQueryDataTest.php
  tests/Unit/DonationForms/Endpoints/TestListDonationForms.php
  tests/Unit/DonationForms/Models/DonationFormTest.php
  tests/Unit/DonationForms/TestTraits/LegacyDonationFormAdapter.php
  tests/Unit/Donations/Endpoints/TestListDonations.php
  tests/Unit/Donations/Models/TestDonationNote.php
  tests/Unit/Donations/Repositories/TestDonationRepository.php
  tests/Unit/Donors/Endpoints/TestListDonors.php
  tests/Unit/Framework/FieldsAPI/Actions/CreateValidatorFromFormTest.php
  tests/Unit/Framework/FieldsAPI/GroupTest.php
  tests/Unit/Subscriptions/Endpoints/TestListSubscriptions.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: update paypal support number
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: clone all nodes instead of clone just fieldset nodes
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

Fix: improve PayPal Donation token handling and refreshing (#6676)
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/Models/MerchantDetail.php
  src/PaymentGateways/PayPalCommerce/PayPalCheckoutSdk/AccessToken.php
  src/PaymentGateways/PayPalCommerce/PayPalCheckoutSdk/AuthorizationInjector.php
  src/PaymentGateways/PayPalCommerce/PayPalCheckoutSdk/PayPalHttpClient.php
  src/PaymentGateways/PayPalCommerce/PayPalClient.php
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalAuth.php
  src/PaymentGateways/PayPalCommerce/Repositories/Settings.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
  tests/Unit/PaymentGateways/PayPalCommerce/PayPalCheckoutSdk/AuthorizationInjectorTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use vanilla js
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

refactor: improve readability
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

Fix: Style additional information section on multi-form receipt page #6693
  src/Views/Form/Templates/Sequoia/assets/css/receipt.scss
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: add more change notes
  readme.txt
Due: none

Fix: Square credit card fields render in Safari (#6645)
  assets/src/js/frontend/give-donations.js
Due: eslint --fix
