Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: correct usages of DB::prepare
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve descriptor
  src/DonorDashboards/resources/js/app/components/annual-receipt-table/index.js
Due: eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

refactor: clean up logic
  src/PaymentGateways/Stripe/ApplicationFee.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: improve inline documentation
  src/PaymentGateways/Stripe/ApplicationFee.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.10.0 RC 1 releease
  CHANGELOG.md
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add stripe account detail repository and model
  src/PaymentGateways/Stripe/ApplicationFee.php
  src/PaymentGateways/Stripe/Repository/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add logic to calculate fee on basis of country
  src/PaymentGateways/Stripe/Models/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove extra code
  src/PaymentGateways/Stripe/ApplicationFee.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update changelog.md
  CHANGELOG.md
Due: none

test: check for supported stripe country for application fee
  tests/unit/tests/PaymentGateways/Stripe/ApplicationFeeTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: pass acount id to canAddFee function
  src/PaymentGateways/Stripe/ApplicationFee.php
  src/PaymentGateways/Stripe/Models/AccountDetail.php
  src/PaymentGateways/Stripe/Repository/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: validate AccountDetail model format
  src/PaymentGateways/Stripe/Models/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add @unlreleased tag
  src/PaymentGateways/Stripe/Models/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: pass stripe account id to canAddFee function
  includes/gateways/stripe/includes/class-give-stripe-checkout-session.php
  includes/gateways/stripe/includes/class-give-stripe-gateway.php
  includes/gateways/stripe/includes/class-give-stripe-payment-intent.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change condition order
  src/PaymentGateways/Stripe/ApplicationFee.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: select account detail from array
  src/PaymentGateways/Stripe/Repository/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename domain name
  src/PaymentGateways/Stripe/ApplicationFee.php
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: test AccountDetail repository
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename class
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: add test for getDonationFormStripeAccountId function
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: add account in database
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: fix broken test
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: fix issue with AccountDetailTest tests
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: match with accountId property
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: set db value correctely for test
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent regex error
  src/DonorDashboards/resources/js/app/components/currency-control/index.js
Due: eslint --fix

fix: prevent NaN display error
  src/DonorDashboards/resources/js/app/components/currency-control/index.js
Due: eslint --fix

fix: improve card control margins
  src/DonorDashboards/resources/js/app/components/subscription-manager/payment-method-control/card-control/style.scss
  src/DonorDashboards/resources/js/app/components/subscription-manager/payment-method-control/stripe-control/stripe-card-control/style.scss
Due: stylelint --fix

fix: use consistent updating language
  src/DonorDashboards/resources/js/app/components/subscription-manager/index.js
  src/DonorDashboards/resources/js/app/components/subscription-manager/utils/index.js
Due: eslint --fix

fix: visually confirm subscription update
  src/DonorDashboards/resources/js/app/components/subscription-manager/index.js
Due: eslint --fix

fix: add spinner styles
  src/DonorDashboards/resources/js/app/components/subscription-manager/index.js
  src/DonorDashboards/resources/js/app/components/subscription-manager/style.scss
Due: eslint --fix, stylelint --fix

fix: correct pipeline namespace
  src/DonorDashboards/Pipeline/DonorProfilePipeline.php
  src/DonorDashboards/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: set the key length to 180
  src/MigrationLog/Migrations/CreateMigrationsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: wrap migration log save method in try catch block and log the errors
  src/MigrationLog/MigrationLogModel.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
