Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

feature: use store value for your cause step inputs
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
Due: eslint --fix

fix: use store values for locaiton step inputs
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
Due: eslint --fix

feature: implement use store values for fundraising needs step
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/fundraising-needs/index.js
  assets/src/js/admin/onboarding-wizard/app/store/actions.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
Due: eslint --fix

fix: prevent undefined object error
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/fundraising-needs/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
Due: eslint --fix

fix: submit donation form after successful donation
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
Due: eslint --fix

fix: submit donation form after successful donation
  src/PaymentGateways/PayPalCommerce/DonationProcessor.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improe ajax event handling class
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent undefined value error
  assets/src/js/admin/onboarding-wizard/components/select-input/index.js
Due: eslint --fix

feature: scaffold API utilities
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/components/card-input/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

fix: clear up async errors
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

fix: minor improvements to stabilize the close icon of modal popup
  assets/src/css/frontend/give-stripe.scss
Due: stylelint --fix

fix: ensure that stripe and stripe checkout elements processes properly
  assets/src/js/frontend/give-stripe-checkout.js
  assets/src/js/frontend/give-stripe-elements.js
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: remove unnecessary js fns
  assets/src/js/frontend/give-stripe-checkout.js
Due: eslint --fix

fix: get rid of stripe modal js as it is no longer required
  assets/src/js/frontend/give-stripe-modal.js
Due: eslint --fix

fix: simplify code to have payment method created dynamically
  assets/src/js/frontend/give-stripe-checkout.js
  assets/src/js/frontend/give-stripe-elements.js
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

refactor: remove duplicate function calls
  includes/process-donation.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/process-donation.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use dynamic payment gateway id to build cc field hook name
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use function to get form data
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
Due: eslint --fix

chore: add class for PayPal Order and Payment
  src/PaymentGateways/PayPalCommerce/PayPalOrder.php
  src/PaymentGateways/PayPalCommerce/PayPalPayment.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: merge stripe checkout js into stripe for better stability
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: donate button on modal was not clicked on changing gateway
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: remove console log on creating payment method
  assets/src/js/frontend/give-stripe-elements.js
Due: eslint --fix

fix: add logic to store PayPal payment as donation
  src/PaymentGateways/PayPalCommerce/DonationProcessor.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: simplify code for stripe elements
  assets/src/js/frontend/give-stripe-elements.js
Due: eslint --fix

fix: make donate button of modal clickable and more modular
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: run script only if donation form exist on page
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
Due: eslint --fix

chore: add doc blocks
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

chore: add since tags
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

feature: make paypal event handlers extendable
  src/Controller/PayPalWebhooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use query vars in webhook route to avoid permalink issues
  src/Route/PayPalWebhooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: make webhook events registerable
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: delete the webhook from PayPal when disconnecting account
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: create PayPal webhook when an account is connected
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove inline padding from Card component implementations.
  assets/src/js/admin/onboarding-wizard/app/steps/fundraising-needs/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/fundraising-needs/style.scss
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/location/style.scss
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/style.scss
  assets/src/js/admin/onboarding-wizard/components/card/index.js
  assets/src/js/admin/onboarding-wizard/components/card/style.scss
Due: eslint --fix, stylelint --fix

fix: show cc fields placeholder based on default give cc fields
  assets/src/js/frontend/give-stripe-elements.js
Due: eslint --fix

fix: make few items dynamic for modal popup
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use index.js as main file to build paypal commerce script
  webpack.config.js
Due: eslint --fix

refaxtor: use class to setup smart and advanced card fields
  src/PaymentGateways/PayPalCommerce/assets/js/DonationForm.js
  src/PaymentGateways/PayPalCommerce/assets/js/index.js
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-smart-buttons.js
Due: eslint --fix

fix: add event handler to enable and disable smart buttons
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-smart-buttons.js
Due: eslint --fix
