Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

chore: update text
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: varify paypal ipn conditionally
  includes/gateways/paypal/paypal-standard.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: remove comment
  includes/gateways/paypal/paypal-standard.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update changelog
  CHANGELOG.md
Due: none

fix: make input text 35% darker
  src/DonorDashboards/resources/js/app/components/subscription-manager/amount-control/style.scss
Due: stylelint --fix

fix: add missing variable
  includes/gateways/paypal/paypal-standard.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add change event to multi checkbox options
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

refactor: store watched field condition with its name
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

refactor: use watched field name from state
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

doc: add comment
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

doc: add tag
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

fix: add missing function param
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

doc: use @unrelease tag
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

Donor dashboard response messages are now updated (#6003)
  CHANGELOG.md
  src/DonorDashboards/Routes/VerifyEmailRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: abstract retrieving parameter class name
  src/Container/Container.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not edit label in Give_Cache_Setting class
  includes/class-give-cache-setting.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comment
  includes/class-give-cache-setting.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/Views/Form/Templates/Sequoia/Actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add custom gateway label
  includes/gateways/functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add gateway which is registered
  includes/gateways/functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolve style issue with field api field and multi step form template
  src/Views/Form/Templates/Sequoia/assets/css/legacy-consumer.scss
Due: stylelint --fix

refactor: remove `inProgress` flag and `touchend` event
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

fix: pass correct selector to setup checkbox event
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: update class name
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix, stylelint --fix

fix: show correct state of chckno and radio in donation form with multi step form template
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

refactore: recover function old state
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: do not stop label default behaviour
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

co: update changelog
  CHANGELOG.md
Due: none

chore(deps): bump composer/composer from 2.1.8 to 2.1.9
  composer.lock
Due: none

feature: only display login when forms allow login
  src/DonorDashboards/App.php
  src/DonorDashboards/resources/js/app/components/auth-modal/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update changelog for #6015
  CHANGELOG.md
Due: none

refactor: restore old code
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

doc: add comment
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: hide radio and checkbox in multi step form
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: give-hidden class display property must be important
  assets/src/css/frontend/forms.scss
Due: stylelint --fix

chore: pin Node at 12 and npm at 7 for Volta
  package-lock.json
  package.json
Due: prettier --write
