Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

refactor: add sparator as utility
  assets/src/css/frontend/give-frontend.scss
  assets/src/css/frontend/paypal-commerce/advanced-card-fields.scss
  assets/src/css/plugins/utils.scss
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
  src/Views/Utils/separator-with-center-text.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: add style for paypal commerce payment gateway
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/css/paypal-commerce.scss
Due: stylelint --fix

chore: add comment
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

chore: style for placeholder
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: resolve infinite loop on clicking donate button of modal
  assets/src/js/frontend/give-stripe-elements.js
Due: eslint --fix

fix: save input field border when focus on field
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

chore: remove test code
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: remove float lable related css
  assets/src/css/frontend/paypal-commerce/advanced-card-fields.scss
Due: stylelint --fix

fix: check for undefined html
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

Fix/countries without postcodes 5006 (#5009)
  assets/src/js/frontend/give-donations.js
  includes/ajax-functions.php
  includes/country-functions.php
  includes/forms/template.php
  includes/process-donation.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: update @since to 2.8.0
  assets/src/js/frontend/give-stripe-elements.js
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
  src/Helpers/Gateways/Stripe.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: add translation methods for text
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: optimize code to initialize style for hosted card field in it's container
  assets/src/css/frontend/paypal-commerce/advanced-card-fields.scss
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix, stylelint --fix

chore: rename function
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

chore:a dd @since tag and fix typo
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

chore: use existing style object to set initial style for container
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/plugins/give-api/util.js
Due: eslint --fix

fix: add filter to overwrite hosted field style
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: add hosted card field container style early
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

feature: start adding refunding functionality
  src/PaymentGateways/PayPalCommerce/RefundPaymentHandler.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalOrder.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unused param
  src/PaymentGateways/PayPalCommerce/Models/PayPalOrder.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add order id to donation note and save it as donationmeta
  src/PaymentGateways/PayPalCommerce/DonationProcessor.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: load assets only if admin connected to PayPal
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add 'selected' sub-component for card-input.
  assets/src/js/admin/onboarding-wizard/components/card-input/index.js
  assets/src/js/admin/onboarding-wizard/components/card-input/selected.js
  assets/src/js/admin/onboarding-wizard/components/card-input/style.scss
  assets/src/js/admin/onboarding-wizard/components/checkmark/index.js
Due: eslint --fix, stylelint --fix

Update card input active/focus state.
  assets/src/js/admin/onboarding-wizard/components/card-input/index.js
  assets/src/js/admin/onboarding-wizard/components/card-input/style.scss
Due: eslint --fix, stylelint --fix

chore: filter paypal sdk js query parameters
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unnecessary self
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: load hosted card field container style early
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: apply translation functions
  src/PaymentGateways/PayPalCommerce/AccountAdminNotices.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add another translation function
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update logic to handle host card field container height
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

refactor: get separator from function
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
  src/Views/Utils/separator-with-center-text.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: disable card and credit smart button
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

chore: add comment
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

wip: Generate default form for Onboarding.
  assets/src/js/admin/onboarding-wizard/components/donation-form/index.js
  src/Onboarding/DefaultFormFactory.php
  src/Onboarding/Routes/CurrencyRoute.php
  src/Onboarding/Routes/SettingsRoute.php
  src/Onboarding/Routes/StripeWebhookRecievedRoute.php
  src/Onboarding/SettingsRepositoryFactory.php
  src/Onboarding/Wizard/FormPreview.php
  src/Onboarding/Wizard/Page.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: Extract FormRepository.
  src/Onboarding/DefaultFormFactory.php
  src/Onboarding/FormRepository.php
  src/Onboarding/Wizard/FormPreview.php
  src/Onboarding/Wizard/Page.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Restore code commented out for debugging.
  assets/src/js/admin/onboarding-wizard/components/donation-form/index.js
Due: eslint --fix

chore: Add missing docblocks.
  src/Onboarding/DefaultFormFactory.php
  src/Onboarding/FormRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: split merchant details into discreet live and sandbox storage
  src/Controller/PayPalWebhooks.php
  src/PaymentGateways/PayPalCommerce/AccountAdminNotices.php
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/Models/MerchantDetail.php
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
  src/PaymentGateways/PayPalCommerce/Utils.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: convert property to const
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/OptionId.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

Use give_ function to read form metadata
  includes/forms/template.php
Due: npm run lint:textdomain, npm run lint:php:fix
