Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: do not load onboarding wizard in 4.9
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: hide setup page control in 4.9
  includes/admin/settings/class-settings-advanced.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: bump required WP version
  readme.txt
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: prepare for 2.9.1 release
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

Adding contributors to the readme
  readme.txt
Due: none

chore: correct release zip file name
  .github/workflows/release.yml
Due: none

chore: update changelog for 2.9.1
  CHANGELOG.md
Due: none

fix: prevent label error on fresh install
  src/PaymentGateways/PayPalStandard/Migrations/SetPayPalStandardGatewayId.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: hidden field on donation form to know stripe checkout type
  src/PaymentGateways/Stripe/DonationFormElements.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: setup stripe element for stripe checkout payment method only if checkout type set to modal
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: display error to donor and revert donate now button state
  assets/src/js/frontend/give-stripe-elements.js
Due: eslint --fix

chore: assign fix width to stripe modal
  assets/src/css/frontend/give-stripe.scss
Due: stylelint --fix

chore: use flex to display stripe modal in center
  assets/src/css/frontend/give-stripe.scss
Due: stylelint --fix

fix: store and remove payment confirmation data only if payment-confirmation exist in query param
  src/Controller/Form.php
  src/Helpers/Frontend/ConfirmDonation.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unnecessary condition
  src/Helpers/Frontend/ConfirmDonation.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add comment to guide developer to access payment confirmation session data
  src/Controller/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add data attribute to form tag instead of hidden input field
  assets/src/js/frontend/give-stripe.js
  src/PaymentGateways/Stripe/DonationFormElements.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update logic to filter premium addons
  includes/admin/misc-functions.php
  includes/misc-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add PremiumAddonsListManager class
  src/License/PremiumAddonsListManager.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use PremiumAddonsListManager class to find premium addon
  includes/misc-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unused function
  includes/admin/misc-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: deprecate unused function
  includes/admin/misc-functions.php
  includes/deprecated/deprecated-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

refator: store option name in variable
  src/License/PremiumAddonsListManager.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add missing payment information update support
  assets/src/js/frontend/give-stripe-elements.js
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

feature: scaffold DonorProfiles domain
  give.php
  src/DonorProfiles/Block.php
  src/DonorProfiles/Model.php
  src/DonorProfiles/ServiceProvider.php
  src/DonorProfiles/Shortcode.php
  src/DonorProfiles/resources/views/donorprofile.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold donor profile block
  src/DonorProfiles/resources/js/block/data/attributes.js
  src/DonorProfiles/resources/js/block/edit/index.js
  src/DonorProfiles/resources/js/block/edit/inspector.js
  src/DonorProfiles/resources/js/block/index.js
  src/DonorProfiles/resources/js/block/logo/index.js
  webpack.config.js
Due: eslint --fix

feature: scaffold app
  src/DonorProfiles/resources/js/app/index.js
  src/DonorProfiles/resources/js/components/app/index.js
Due: eslint --fix

chore: clarify registration order
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: setup Stripe only if publishable key exists
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

refactor: pass $formId through view for loader (thanks Jason!)
  src/Views/Form/Templates/Sequoia/views/loading.php
  src/Views/IframeView.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update change log
  CHANGELOG.md
Due: none

style: prevent iOS from messing with our submit buttons
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

chore: add change log item
  CHANGELOG.md
Due: none

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
