Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

Currency Switcher options are visible in the dropdown on a windows machine (#5453)
  CHANGELOG.md
  src/Views/Form/Templates/Sequoia/assets/css/currencyswitcher.scss
Due: stylelint --fix

feature: scaffold profile route
  src/DonorProfiles/Routes/ProfileRoute.php
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: include profile data on load
  src/DonorProfiles/Model.php
  src/DonorProfiles/resources/js/app/components/donor-info/index.js
  src/DonorProfiles/resources/js/app/index.js
  src/DonorProfiles/resources/js/app/store/initialState.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: implement profile model
  src/DonorProfiles/App.php
  src/DonorProfiles/Model.php
  src/DonorProfiles/Profile.php
  src/DonorProfiles/Routes/ProfileRoute.php
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: do not use WPError::has_errors function
  src/Framework/Database/DB.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add Jamaican locale
  src/Onboarding/LocaleCollection.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update CHANGELOG.md
  CHANGELOG.md
Due: none

refactor: move Collection and Collector class to Tracking domain
  src/Tracking/Collector.php
  src/Tracking/Contracts/Collection.php
  src/Tracking/HandleUsageTrackingRoutine.php
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormData.php
  src/Tracking/TrackingData/DonorData.php
  src/Tracking/TrackingData/GivePluginData.php
  src/Tracking/TrackingData/PluginsData.php
  src/Tracking/TrackingData/ServerData.php
  src/Tracking/TrackingData/ThemeData.php
  src/Tracking/TrackingData/WebsiteData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: implements JsonSerializable class
  src/Tracking/Collector.php
  src/Tracking/HandleUsageTrackingRoutine.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolve php notices
  src/DonorProfiles/App.php
  src/DonorProfiles/Block.php
  src/DonorProfiles/Routes/ProfileRoute.php
  src/DonorProfiles/Shortcode.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: use stored data for initial state
  src/DonorProfiles/App.php
  src/DonorProfiles/Profile.php
  src/DonorProfiles/resources/js/app/components/avatar-control/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update code to handle track routines and events
  src/Tracking/Collector.php
  src/Tracking/Contracts/TrackData.php
  src/Tracking/Contracts/TrackEvent.php
  src/Tracking/Events/GivePluginSettingsTracking.php
  src/Tracking/Events/PluginsTracking.php
  src/Tracking/Events/ThemeTracking.php
  src/Tracking/Track.php
  src/Tracking/TrackClient.php
  src/Tracking/TrackRoutine.php
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormData.php
  src/Tracking/TrackingData/DonorData.php
  src/Tracking/TrackingData/GivePluginSettingsData.php
  src/Tracking/TrackingData/PluginsData.php
  src/Tracking/TrackingData/ServerData.php
  src/Tracking/TrackingData/ThemeData.php
  src/Tracking/TrackingData/WebsiteData.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add helper function
  src/Helpers/ArrayDataSet.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: continue
  src/Tracking/TrackRoutine.php
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: persist name, email and prefix fields
  src/DonorProfiles/App.php
  src/DonorProfiles/Profile.php
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/Routes/ProfileRoute.php
  src/DonorProfiles/resources/js/app/components/donor-info/index.js
  src/DonorProfiles/resources/js/app/components/donor-info/style.scss
  src/DonorProfiles/resources/js/app/components/select-control/index.js
  src/DonorProfiles/resources/js/app/store/actions.js
  src/DonorProfiles/resources/js/app/store/initialState.js
  src/DonorProfiles/resources/js/app/store/reducer.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: set forms data in track
  src/Tracking/TrackClient.php
  src/Tracking/TrackRoutine.php
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove addon related track information
  src/Tracking/TrackClient.php
  src/Tracking/TrackingData/DonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove error_log
  src/Tracking/TrackClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code doc
  src/Tracking/Contracts/TrackData.php
  src/Tracking/Contracts/TrackEvent.php
  src/Tracking/Events/GivePluginSettingsTracking.php
  src/Tracking/Events/PluginsTracking.php
  src/Tracking/Events/ThemeTracking.php
  src/Tracking/Track.php
  src/Tracking/TrackClient.php
  src/Tracking/TrackRoutine.php
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormData.php
  src/Tracking/TrackingData/DonationFormsData.php
  src/Tracking/TrackingData/DonorData.php
  src/Tracking/TrackingData/GivePluginSettingsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: send revenue amount in minor amount of currency
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormsData.php
  src/Tracking/TrackingData/DonorData.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix typo
  src/ValueObjects/Money.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: import class with constructor
  src/Tracking/Track.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix typo
  src/Tracking/AnonymousUsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore:move filter hook to TrackClient
  src/Tracking/TrackClient.php
  src/Tracking/TrackRoutine.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix minor typo in changelog
  CHANGELOG.md
Due: none

feature: implement multiple email controsl
  includes/class-give-donor.php
  src/DonorProfiles/Profile.php
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/email-controls/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: separate hooks from classes
  includes/misc-functions.php
  src/Tracking/AdminActionHandler.php
  src/Tracking/AdminSettings.php
  src/Tracking/AnonymousUsageTrackingOnBoarding.php
  src/Tracking/Contracts/TrackEvent.php
  src/Tracking/Events/GivePluginSettingsTracking.php
  src/Tracking/Events/PluginsTracking.php
  src/Tracking/Events/ThemeTracking.php
  src/Tracking/Helpers/Track.php
  src/Tracking/Track.php
  src/Tracking/TrackClient.php
  src/Tracking/TrackRoutine.php
  src/Tracking/TrackingData/DonorData.php
  src/Tracking/TrackingData/GivePluginSettingsData.php
  src/Tracking/TrackingData/PluginsData.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add hadns-in.svg
  assets/src/images/setup-page/hands-in.svg
Due: none

chore: update function doc block
  src/Onboarding/Setup/PageView.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add usage tracking notice to setup page
  assets/src/css/admin/setup.scss
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: update tracking notice nag
  assets/src/css/admin/give-admin.scss
  assets/src/css/admin/notices.scss
  src/Tracking/AnonymousUsageTrackingOnBoarding.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: cleaup duplicate scss
  assets/src/css/admin/notices.scss
  assets/src/css/admin/setup.scss
Due: stylelint --fix

fix: resolve issues storing additional emails
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: cleanup duplicate code
  src/Onboarding/Setup/templates/index.html.php
  src/Tracking/AnonymousUsageTrackingOnBoarding.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use existing function toa dd notice
  src/Tracking/AnonymousUsageTrackingOnBoarding.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: style notice style to all wordpress pages
  assets/src/css/admin/give-admin-global.scss
  assets/src/css/admin/give-admin.scss
  assets/src/css/admin/notices.scss
  src/Onboarding/Setup/templates/index.html.php
  src/Tracking/AnonymousUsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: disbale notice shortly and permanentely
  src/Tracking/AdminActionHandler.php
  src/Tracking/AnonymousUsageTrackingOnBoarding.php
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: implement multiple address ui
  src/DonorProfiles/resources/js/app/tabs/edit-profile/address-controls/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/address-fields/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/email-controls/index.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/style.scss
Due: eslint --fix, stylelint --fix
