Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

refactor: optimize query
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused code
  src/Tracking/TrackingData/ActiveDonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: get value fro correct column
  src/Tracking/TrackingData/DonationData.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: return correct first and last donatin date
  src/Tracking/TrackingData/DonationData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refacor: use revenue table to get form ids
  src/Tracking/TrackingData/ActiveDonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: resolve npm version conflicts
  package-lock.json
  package.json
Due: prettier --write

refactor: rename function
  src/Tracking/TrackingData/ActiveDonationFormsData.php
  src/Tracking/TrackingData/DonationFormsData.php
  src/Tracking/TrackingData/EditedDonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update function description
  src/Tracking/TrackingData/ActiveDonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

Donor Profile Verify Email now supports reCAPTCHA (#5661)
  CHANGELOG.md
  package-lock.json
  package.json
  src/DonorProfiles/App.php
  src/DonorProfiles/Routes/Captcha/ProtectedRoute.php
  src/DonorProfiles/Routes/VerifyEmailRoute.php
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
  src/DonorProfiles/resources/js/app/components/auth-modal/utils/index.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: use DonationReceipt class to match receipt contents
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/resources/js/app/components/donation-receipt/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: add doc block
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

fix: remove extra space
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
Due: eslint --fix

fix: Update custom field alignment in Sequoia.
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

chore: Remove payment_mode_select template hook.
  src/Form/LegacyConsumer/TemplateHooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update changelog.
  CHANGELOG.md
Due: none

Revert "chore: Update changelog."
  CHANGELOG.md
Due: none

feature: add `give test-logs` cli command
  src/TestData/Commands/LogsSeedCommand.php
  src/TestData/Factories/LogFactory.php
  src/TestData/Framework/Provider/RandomLogCategory.php
  src/TestData/Framework/Provider/RandomLogType.php
  src/TestData/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: logs e2e test
  tests/e2e/integration/logs/logs_page_spec.js
Due: eslint --fix

feature: add support for `data-givewp-test` attribute
  src/Views/Components/Button/index.js
  src/Views/Components/Modal/index.js
  src/Views/Components/Select/index.js
  src/Views/Components/Table/index.js
Due: eslint --fix

feature: add `data-givewp-test` attribute
  src/Log/Admin/Logs/index.js
Due: eslint --fix

feature: add table helper
  src/Log/Helpers/LegacyLogsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: check if legacy table exist before registering migrations
  src/Log/LogServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

Revert "refactor: check if legacy table exist before registering migrations"
  src/Log/LogServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: check if legacy table exist before registering migrations
  src/Log/Migrations/MigrateExistingLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add `IF EXISTS` to avoid errors
  src/Log/Migrations/DeleteOldLogTables.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: correct PayPal Donations typo
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: contextual docs changes
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Form Consumer now limits hooks and instantiated classes (#5670)
  CHANGELOG.md
  src/Form/LegacyConsumer/Commands/CommandFactory.php
  src/Form/LegacyConsumer/Commands/DeprecateOldTemplateHook.php
  src/Form/LegacyConsumer/Commands/HookCommandInterface.php
  src/Form/LegacyConsumer/Commands/SetupFieldConfirmation.php
  src/Form/LegacyConsumer/Commands/SetupFieldEmailTag.php
  src/Form/LegacyConsumer/Commands/SetupFieldPersistance.php
  src/Form/LegacyConsumer/Commands/SetupFieldReceipt.php
  src/Form/LegacyConsumer/Commands/SetupFieldReciept.php
  src/Form/LegacyConsumer/Commands/SetupFieldValidation.php
  src/Form/LegacyConsumer/Commands/SetupNewTemplateHook.php
  src/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplay.php
  src/Form/LegacyConsumer/ServiceProvider.php
  src/Form/LegacyConsumer/TemplateHooks.php
  src/Framework/FieldsAPI/FormField/FieldStoreAsMeta.php
  tests/unit/tests/Form/LegacyConsumer/Commands/DeprecateOldTemplateHookTest.php
  tests/unit/tests/Form/LegacyConsumer/Commands/SetupFieldConfirmationTest.php
  tests/unit/tests/Form/LegacyConsumer/Commands/SetupFieldPersistanceTest.php
  tests/unit/tests/Form/LegacyConsumer/Commands/SetupFieldReceiptTest.php
  tests/unit/tests/Form/LegacyConsumer/Commands/SetupFieldValidationTest.php
  tests/unit/tests/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplayTest.php
  tests/unit/tests/Framework/FieldsAPI/FormField/FieldStoreAsMetaTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: do not use prepare function
  src/Tracking/TrackingData/DonationData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add function to check enviroment for tracking
  src/Tracking/Helpers/Track.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: check tracking environment before addin tracking setting and onboarding logic
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: use only @unreleased tag
  src/Log/Helpers/LegacyLogsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: add newline
  src/Log/Migrations/MigrateExistingLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/Log/Migrations/MigrateExistingLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use DB instead of
  src/Tracking/TrackingData/ActiveDonationFormsData.php
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormsData.php
  src/Tracking/TrackingData/DonationMetricsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused use
  src/Tracking/TrackingData/ActiveDonationFormsData.php
  src/Tracking/TrackingData/DonationData.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve sql query formatting
  src/Tracking/TrackingData/DonationData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use DB class for db queries
  src/Log/Helpers/LegacyLogsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix
