Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

refactor: create helper function for reuse another place
  assets/src/js/admin/admin-scripts.js
  assets/src/js/admin/utils/setupChosen.js
Due: eslint --fix

chore: compile admin-widgets.js
  webpack.config.js
Due: eslint --fix

chore: update widget js path
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use chosen js form select form field
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: make select field chosen type after widget save
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: get form template on ajax request
  assets/src/js/admin/admin-widgets.js
  includes/ajax-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: set default value for continue button title
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add logic to show hide form settings
  assets/src/js/admin/admin-widgets.js
  includes/ajax-functions.php
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add logic to show & hide new form template setting
  assets/src/js/admin/admin-widgets.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add new form template setting fields
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add logic to show & hide fields
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: add alias for setting to prevent conflict
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: setup chosen field in widget
  assets/src/css/admin/payment-history.scss
  assets/src/js/admin/admin-widgets.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: decode url dematch or find query param
  assets/src/js/plugins/give-api/api.js
Due: eslint --fix

chore: add color setting field
  assets/src/js/admin/admin-widgets.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: close div correctely
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: trigger select field event only if donation form selected
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: add line break beform field description
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add field desciptions
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: show loader till chosen filed initiate
  assets/src/js/admin/admin-widgets.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: remove unnecessary height between donation form and display style
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: prevent unnecessary event trigger
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: prevent unnecessary change trigger
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: use continue button title to set button title when form is in embed mode
  includes/forms/widget.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: set default color to button color
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: show settings after donation form setting field setup
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: fire change event on colorpicker after timeout to prevent conflict
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: use widget-updated hook to initiate chosen setting field
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: add support for button color in donation form shortcode
  includes/forms/functions.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: show introduction text
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Revert "chore: use widget-updated hook to initiate chosen setting field"
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

fix: can not use widget-updated hook bc it will fire only when widget save
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: improve spacing between setting and action links
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: update button background default color
  includes/forms/functions.php
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use custom nonce
  assets/src/js/admin/admin-widgets.js
  includes/ajax-functions.php
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: wp loader to loading text
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: allow to load give scripts on custimze.php
  includes/admin/admin-pages.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add customizer page compatibility to donation form widget
  assets/src/js/admin/admin-widgets.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: use to limit widget acript loading
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: prevent loader coflict with WordPress
  assets/src/css/admin/util.scss
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress
