Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

chore: update namespace
  src/Log/Log.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: check log type
  src/Log/LogModel.php
Due: npm run lint:textdomain, npm run lint:php:fix

Using the CLI commands is not producing errors anymore (#5559)
  .github/workflows/prerelease.yml
  CHANGELOG.md
  composer.json
  composer.lock
Due: prettier --write

refactor: remove migrations from the log system as migration will be a separate thing now
  src/Log/Log.php
  src/Log/LogFactory.php
  src/Log/LogModel.php
  src/Log/LogRepository.php
  src/Log/Migrations/CreateNewLogTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove check method
  src/Log/Migrations/CreateNewLogTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

Initial
  src/MigrationLog/MigrationLogFactory.php
  src/MigrationLog/MigrationLogModel.php
  src/MigrationLog/MigrationLogRepository.php
  src/MigrationLog/MigrationLogServiceProvider.php
  src/MigrationLog/MigrationLogStatus.php
  src/MigrationLog/Migrations/CreateMigrationsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: register migration log service provider
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: save succeeded migrations into the new migration table
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

chore: update dockblock
  src/MigrationLog/MigrationLogFactory.php
  src/MigrationLog/MigrationLogModel.php
  src/MigrationLog/MigrationLogRepository.php
  src/MigrationLog/MigrationLogServiceProvider.php
  src/MigrationLog/MigrationLogStatus.php
  src/MigrationLog/Migrations/CreateMigrationsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: get subscriptions from addon endpoint
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/hooks/index.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/index.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/store/actions.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/store/index.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/store/initialState.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/store/reducer.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/utils/index.js
Due: eslint --fix

feature: scaffold subscription table
  src/DonorProfiles/resources/js/app/components/subscription-receipt/index.js
  src/DonorProfiles/resources/js/app/components/subscription-receipt/style.scss
  src/DonorProfiles/resources/js/app/components/subscription-table/index.js
  src/DonorProfiles/resources/js/app/components/subscription-table/style.scss
  src/DonorProfiles/resources/js/app/components/subscription-table/subscription-row/index.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/content.js
Due: eslint --fix, stylelint --fix

feature: install missing libraries axios and prop-types; install swr and classnames
  package.json
Due: prettier --write

chore: update pacakage-lock
  package-lock.json
Due: prettier --write

feature: register log ui app scripts; enable css modules; add GiveComponents alias;
  webpack.config.js
Due: eslint --fix

feature: register routes
  src/API/Endpoints/Logs/Endpoint.php
  src/API/Endpoints/Logs/GetLogs.php
  src/ServiceProviders/RestAPI.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add components
  src/Views/Components/Card/index.js
  src/Views/Components/Card/style.module.scss
  src/Views/Components/LoadingOverlay/index.js
  src/Views/Components/LoadingOverlay/style.module.scss
  src/Views/Components/Spinner/index.js
  src/Views/Components/Spinner/style.module.scss
  src/Views/Components/Table/index.js
  src/Views/Components/Table/style.module.scss
  src/Views/Components/index.js
Due: eslint --fix, stylelint --fix

feature: hook up
  src/Log/LogServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: logs ui react app
  src/Log/Admin/App/LogListTable/index.js
  src/Log/Admin/App/api/index.js
  src/Log/Admin/App/index.js
Due: eslint --fix

feature: add page and assets helpers classes
  src/Log/Admin/Assets.php
  src/Log/Admin/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: label component
  src/Views/Components/Label/index.js
  src/Views/Components/Label/styles.module.scss
Due: eslint --fix, stylelint --fix

fix: use esc_html
  src/DonorProfiles/Routes/VerifyEmailRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: pagination component
  src/Views/Components/Pagination/index.js
Due: eslint --fix

feature: color palette
  src/Views/Components/colors.scss
Due: stylelint --fix

refactor: change structure and component names
  src/Log/Admin/App/LogListTable/index.js
  src/Log/Admin/App/Logs.js
  src/Log/Admin/App/api.js
  src/Log/Admin/App/index.js
Due: eslint --fix

refactor: update table component
  src/Views/Components/Table/index.js
  src/Views/Components/Table/style.module.scss
Due: eslint --fix, stylelint --fix

feature: add spinner sizes
  src/Views/Components/Spinner/index.js
  src/Views/Components/Spinner/style.module.scss
Due: eslint --fix, stylelint --fix

refactor: set spinner size
  src/Views/Components/LoadingOverlay/index.js
Due: eslint --fix

feature: export label and pagination component
  src/Views/Components/index.js
Due: eslint --fix

refactor: add route parameters
  src/API/Endpoints/Logs/GetLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add helper methods to get log count; prepare getLogs method to be used in pagination;
  src/Log/LogRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

wip: Spike form consumer for fields API.
  give.php
  src/Framework/FieldsAPI/Consumer/AbstractConsumer.php
  src/Framework/FieldsAPI/Consumer/HTML/Consumer.php
  src/Framework/FieldsAPI/FieldCollection.php
  src/Framework/FieldsAPI/FieldCollection/Contract/GroupNode.php
  src/Framework/FieldsAPI/FieldCollection/InsertNode.php
  src/Framework/FieldsAPI/FormConsumer/FieldView.php
  src/Framework/FieldsAPI/FormConsumer/README.md
  src/Framework/FieldsAPI/FormConsumer/ServiceProvider.php
  src/Framework/FieldsAPI/FormConsumer/functions.php
  src/Framework/FieldsAPI/FormConsumer/sandbox.php
  src/Framework/FieldsAPI/FormConsumer/templates/checkbox.html.php
  src/Framework/FieldsAPI/FormConsumer/templates/label.html.php
  src/Framework/FieldsAPI/FormConsumer/templates/select.html.php
  src/Framework/FieldsAPI/FormConsumer/templates/text.html.php
  src/Framework/FieldsAPI/FormConsumer/templates/textarea.html.php
  src/Framework/FieldsAPI/FormField/FieldOptions.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: define recurring donaiton ui routes
  src/DonorProfiles/resources/js/app/components/subscription-table/subscription-row/index.js
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/content.js
Due: eslint --fix

fix: use esc_html for label
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make donor address rendering conditional
  src/DonorProfiles/resources/js/app/components/donation-receipt/index.js
Due: eslint --fix

fix: resolve text domain typo
  src/DonorProfiles/resources/js/app/components/donation-table/donation-row/index.js
Due: eslint --fix

fix: use give option to format date
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: fetch single meta entry for anonymous donor status
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add key for donation rows
  src/DonorProfiles/resources/js/app/components/donation-table/index.js
Due: eslint --fix
