Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

refactor: store constant in container and use it instead of class
  src/PaymentGateways/PayPalCommerce/PartnerDetails.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalOrder.php
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use arrow function
  assets/src/js/milestones/admin/block/index.js
Due: eslint --fix

refactor: move milestone block from assets to blocks directory
  assets/src/css/frontend/give-frontend.scss
  assets/src/js/milestones/admin/block/components/logo/index.js
  assets/src/js/milestones/admin/block/index.js
  assets/src/js/milestones/admin/index.js
  assets/src/js/milestones/frontend/index.js
  blocks/load.js
  blocks/milestone/common.scss
  blocks/milestone/data/attributes.js
  blocks/milestone/edit/index.js
  blocks/milestone/editor.scss
  blocks/milestone/index.js
  src/Milestones/Block/Block.php
  src/Milestones/templates/milestone-block.php
  src/ServiceProviders/Milestones.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: add since tags
  src/Milestones/Block/Block.php
  src/ServiceProviders/Milestones.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

chore: add PR number to changelog
  CHANGELOG.md
Due: none

fix: prevent error when process subscription with smart buttons
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

chore: fix changelog order
  CHANGELOG.md
Due: none

fix: remove parent of card fields
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: pass currency with amount when sanitize
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalOrder.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use camelCase in src
  src/Milestones/Block/Block.php
  src/ServiceProviders/Milestones.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: define text domain
  blocks/milestone/index.js
Due: eslint --fix

feature: add title and description attributes to block
  src/Milestones/Block/Block.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: display title/description in block template
  src/Milestones/templates/milestone-block.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add title/description fields to block inspector
  blocks/milestone/data/attributes.js
  blocks/milestone/edit/index.js
  blocks/milestone/edit/inspector.js
Due: eslint --fix

feature: scaffold inspector support
  blocks/milestone/edit/index.js
  blocks/milestone/edit/inspector.js
Due: eslint --fix

fix: improve panel title
  blocks/milestone/edit/inspector.js
Due: eslint --fix

fix: correct typo in default description
  blocks/milestone/data/attributes.js
Due: eslint --fix

fix: use observer to check if recurring hidden input value changed or not
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
  assets/src/js/frontend/paypal-commerce/DonationForm.js
Due: eslint --fix

fix: listen specific for hidden field value
  assets/src/js/frontend/paypal-commerce/DonationForm.js
Due: eslint --fix

chore: rename propety name
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
Due: eslint --fix

fix: do not show custom card field if PayPal account is Express_Checkout type
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

chore: update function doc
  assets/src/js/frontend/paypal-commerce/DonationForm.js
Due: eslint --fix

chore: call handle only if value chnage and paypal-commerce gateway selected
  assets/src/js/frontend/paypal-commerce/DonationForm.js
Due: eslint --fix

Milestone block is now scaffolded (#5224)
  CHANGELOG.md
  assets/src/css/frontend/give-frontend.scss
  blocks/load.js
  give.php
  src/Milestones/Block.php
  src/Milestones/Model.php
  src/Milestones/resources/css/common.scss
  src/Milestones/resources/css/editor.scss
  src/Milestones/resources/js/data/attributes.js
  src/Milestones/resources/js/edit/index.js
  src/Milestones/resources/js/edit/inspector.js
  src/Milestones/resources/js/index.js
  src/Milestones/resources/views/milestone.php
  src/ServiceProviders/Milestones.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Milestone now supports a featured image (#5234)
  CHANGELOG.md
  src/Milestones/Block.php
  src/Milestones/Model.php
  src/Milestones/resources/js/components/image-control/index.js
  src/Milestones/resources/js/components/logo/index.js
  src/Milestones/resources/js/data/attributes.js
  src/Milestones/resources/js/edit/inspector.js
  src/Milestones/resources/js/index.js
  src/Milestones/resources/views/milestone.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: include logo component in resources
  src/Milestones/resources/js/components/logo/index.js
  src/Milestones/resources/js/index.js
Due: eslint --fix

refactor: consolidate into domain directory
  src/Milestones/Block.php
  src/Milestones/Model.php
  src/Milestones/resources/js/data/attributes.js
  src/Milestones/resources/js/edit/inspector.js
  src/Milestones/resources/views/milestone.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: remove milestone block directory
  blocks/milestone/common.scss
  blocks/milestone/data/attributes.js
  blocks/milestone/edit/index.js
  blocks/milestone/edit/inspector.js
  blocks/milestone/editor.scss
  blocks/milestone/index.js
Due: eslint --fix, stylelint --fix

refactor: remove extra Block directory
  src/Milestones/Block/Block.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove templates directory
  src/Milestones/templates/milestone-block.php
Due: npm run lint:textdomain, npm run lint:php:fix

Milestone can now be associated with one or many forms (#5230)
  CHANGELOG.md
  src/Milestones/Block.php
  src/Milestones/resources/js/components/multi-select-control/index.js
  src/Milestones/resources/js/data/attributes.js
  src/Milestones/resources/js/edit/index.js
  src/Milestones/resources/js/edit/inspector.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Milestone now displays aggregate revenue (based on selected forms) (#5236)
  CHANGELOG.md
  src/Milestones/Block.php
  src/Milestones/Model.php
  src/Milestones/resources/views/milestone.php
Due: npm run lint:textdomain, npm run lint:php:fix

Milestone now supports a custom goal (#5237)
  CHANGELOG.md
  src/Milestones/Block.php
  src/Milestones/Model.php
  src/Milestones/resources/js/data/attributes.js
  src/Milestones/resources/js/edit/inspector.js
  src/Milestones/resources/views/milestone.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Milestone now supports a deadline (#5239)
  CHANGELOG.md
  src/Milestones/Block.php
  src/Milestones/Model.php
  src/Milestones/resources/js/data/attributes.js
  src/Milestones/resources/js/edit/inspector.js
  src/Milestones/resources/views/milestone.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: reposition deadline control
  src/Milestones/resources/js/edit/inspector.js
Due: eslint --fix

fix: conditionally show goal amount
  src/Milestones/resources/views/milestone.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove extra semicolon
  src/Milestones/resources/js/edit/index.js
Due: eslint --fix

chore: calculate card field style and apply height only if field present in form
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix
