Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Update changelong.
  CHANGELOG.md
Due: none

fix: improve focus states
  src/Views/Form/Templates/Sequoia/assets/css/currencyswitcher.scss
Due: stylelint --fix

fix: make currency input keyboard accessible
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

FFM Inputs now works in Multi-Step forms with a one gateway (#5216)
  CHANGELOG.md
  src/Views/Form/Templates/Sequoia/assets/css/ffm.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix, stylelint --fix

chore: add custom card field handler class
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

fix: handle parent show/hide logic in advanced custom field
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
Due: eslint --fix

fix: boot custom card fields only if advanced card fields available for location
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

fix: show advanceed card field s onyl if condition met
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

fix: show custom card field only if custom payment available
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
Due: eslint --fix

fix: compute field style when create card field constructor
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: create CustomCardField object only if custom payment supported
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

fix: remove card fields if custom paymnet is not supported
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

fix: pass missing argument
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

chore: update PaymentMethod class
  assets/src/js/frontend/paypal-commerce/PaymentMethod.js
Due: eslint --fix

fix: update CustomCardFields properties when re render field on gateway load
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
Due: eslint --fix

chore: add comment
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

refactor: remove unnecessary function
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: use card name field to field style
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: reset height of hosted field container when focu on input field
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: style field once when setup hossted card fields
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

chore: add separator between smart buttons and card fields
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
Due: eslint --fix

fix: show/hide separator dynamically
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
Due: eslint --fix

fix: setup field height when wondow load
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: use correct class name
  assets/src/css/frontend/paypal-commerce/advanced-card-fields.scss
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix, stylelint --fix

chore: add label separator
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add line
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: remove unnecessaru div from smart button container
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: remove negative margin
  assets/src/css/frontend/paypal-commerce/advanced-card-fields.scss
Due: stylelint --fix

chore: update function access to public
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
Due: eslint --fix

feature: scaffold Milestone backend logic
  give.php
  src/Milestones/Block/Block.php
  src/Milestones/templates/milestone-block.php
  src/ServiceProviders/Milestones.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold milestone block assets
  assets/src/js/milestones/admin/block/components/logo/index.js
  assets/src/js/milestones/admin/block/index.js
  assets/src/js/milestones/admin/index.js
  assets/src/js/milestones/frontend/index.js
  webpack.config.js
Due: eslint --fix

chore: prepare 2.8.0-rc.1 release
  CHANGELOG.md
  give.php
  languages/give.pot
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare 2.8.0 production release
  CHANGELOG.md
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

add ante to contributors and link pull requests in change log
  readme.txt
Due: none

fix: padd form id attr to event arguments
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

fix: prevent event fire twice
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
  assets/src/js/frontend/paypal-commerce/PaymentMethod.js
Due: eslint --fix

fix: access form id attribute correctely
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
Due: eslint --fix

fix: register event only if paypal-commerce gateway selected
  assets/src/js/frontend/paypal-commerce/PaymentMethod.js
Due: eslint --fix

fix: detect donation type right way when Recurring Donations set to Admin Defined
  assets/src/js/frontend/paypal-commerce/DonationForm.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
