Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: remove redundant query logic
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: view test data by default if site is in test mode
  assets/src/js/admin/reports/app/index.js
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: use correct currency in income endpoint tooltips
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: lint endpoints
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/PaymentMethods.php
  src/API/Endpoints/Reports/PaymentStatuses.php
  src/API/Endpoints/Reports/RecentDonations.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: enable tab navigation with step tracker buttons
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/css/recurring.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
  src/Views/Form/Templates/Sequoia/sections/footer.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: improve focus on go to step
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: improve gateway focus state
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update class-give-email-tags.php
  includes/emails/class-give-email-tags.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update @since tag value to 2.7.0
  includes/emails/class-give-email-tags.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update function description
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove protocol from url before comparision
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: allow to reset stripe account keys
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: do not render message in strong tag
  includes/admin/class-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/admin/class-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: show error notice if actount detail is not in correct format
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolve array formatting errors
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add seperator to total input
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix, stylelint --fix

fix: provide testMode and currency to dashboard widget app
  assets/src/js/admin/reports/widget.js
  src/Views/Admin/DashboardWidgets/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: apply event only on payment node input fields
  assets/src/js/frontend/give-donations.js
Due: eslint --fix

fix: move all errors on page load
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: improve error notice styling
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: include all non-manual gateways when not in test mode
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/PaymentStatuses.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: sort by payment mode key
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/PaymentStatuses.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent flashing on load
  assets/src/js/admin/reports/app/style.scss
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: update avg donation to sort by currency and test mode
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent trim error
  assets/src/js/frontend/give-donations.js
Due: eslint --fix

fix: prevent adding multiple icons to same input
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

style: adjust heading margin
  assets/src/css/admin/forms.scss
Due: stylelint --fix

refactor: update forn template select notice to go to documentation rather than a survey. we will update the shortling before launch
  src/Views/Admin/Form/Metabox-Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update text for form template
  src/Views/Form/Templates/Legacy/Legacy.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: provide more clarity to option descriptions
  includes/class-give-scripts.php
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

style: adjust favicon size and pos
  assets/src/css/admin/forms.scss
Due: stylelint --fix

docs: improve text for 2.7.0 description
  includes/class-give-scripts.php
  src/Views/Form/Templates/Sequoia/Actions.php
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: wip for stripe elements checkout modal
  assets/src/css/frontend/give-frontend.scss
  assets/src/js/frontend/give-stripe-checkout.js
  src/Helpers/Gateways/Stripe.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: remove invalid conditional check and keep account id check only as it is enough
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

style: improve spacing around "Default Account" label for Stripe Connect
  assets/src/css/admin/stripe-admin.scss
Due: stylelint --fix

fix: add heading to modal alert
  assets/src/js/admin/form-template/edit-form.js
  includes/class-give-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: improve code fomatting
  includes/class-give-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
