Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

fix: use esc_html__
  includes/class-give-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add card field placeholders
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add Features step before form preview.
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/features/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/features/style.scss
  assets/src/js/admin/onboarding-wizard/app/store/actions.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/components/icons/anonymous-donations/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/company-donations/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/donation-comments/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/donation-goal/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/terms-conditions/index.js
Due: eslint --fix, stylelint --fix

Rename Fundraising Needs step as Addons.
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/addons/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/addons/style.scss
  assets/src/js/admin/onboarding-wizard/app/store/actions.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/components/icons/pdf-receipts/index.js
Due: eslint --fix, stylelint --fix

chore: rename file to SmartButtons
  src/PaymentGateways/PayPalCommerce/assets/js/SmartButtons.js
  src/PaymentGateways/PayPalCommerce/assets/js/index.js
Due: eslint --fix

chore: add PaymenMethod class
  src/PaymentGateways/PayPalCommerce/assets/js/PaymentMethod.js
Due: eslint --fix

fix: render card field id correctely
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add logic to render card fields
  src/PaymentGateways/PayPalCommerce/assets/js/AdvancedCardFields.js
  src/PaymentGateways/PayPalCommerce/assets/js/index.js
Due: eslint --fix

chore: add MerchantDetails repository class
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use MerchantDetails respository to get MerchantDetails object
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make fromArray function static
  src/PaymentGateways/PayPalCommerce/MerchantDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused boot function
  src/PaymentGateways/PayPalCommerce/MerchantDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use static fromArray function of MerchantDetails model to get object
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove repository related code from PayPalOrder model
  src/PaymentGateways/PayPalCommerce/PayPalOrder.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add PayPalOrder repository
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalOrder.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use PayPalOrder repository in ajax handlers
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add helper function to MerchantDetaisl repository
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use MerchantDetails repository function
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/MerchantDetail.php
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: return blank MerchantDetails object if admin is not connect to PayPal
  src/PaymentGateways/PayPalCommerce/MerchantDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove prefix slash from api url
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unnecessary function
  src/PaymentGateways/PayPalCommerce/PayPalOrder.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move MerchantDetails, PayPalOrder and PayPalPayment to Models directory
  src/Controller/PayPalWebhooks.php
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/DonationProcessor.php
  src/PaymentGateways/PayPalCommerce/Models/MerchantDetail.php
  src/PaymentGateways/PayPalCommerce/Models/PayPalOrder.php
  src/PaymentGateways/PayPalCommerce/Models/PayPalPayment.php
  src/PaymentGateways/PayPalCommerce/PayPalClient.php
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalOrder.php
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add styling for advanced card fields
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
  src/PaymentGateways/PayPalCommerce/assets/css/advanced-card-fields.scss
  src/PaymentGateways/PayPalCommerce/assets/css/index.scss
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: return cached value instead of empty string
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add style to input field
  src/PaymentGateways/PayPalCommerce/assets/js/AdvancedCardFields.js
Due: eslint --fix

chore: improve code formatting
  src/PaymentGateways/PayPalCommerce/assets/js/SmartButtons.js
Due: eslint --fix

Scaffold Onboarding Settings API endpoint.
  assets/src/js/admin/onboarding-wizard/utils/index.js
  src/Onboarding/Routes/SettingsRoute.php
  src/Onboarding/Wizard/Page.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: die request if it is not coming from valid source
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/assets/js/AdvancedCardFields.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: remove extra slash from api url
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update code to process payment on frontend
  src/PaymentGateways/PayPalCommerce/assets/js/AdvancedCardFields.js
Due: eslint --fix

fix: update logic to validate card payment order correctely
  src/PaymentGateways/PayPalCommerce/Models/PayPalOrder.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add todo
  src/PaymentGateways/PayPalCommerce/assets/js/AdvancedCardFields.js
Due: eslint --fix

Fetch state list when country is changed.
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/app/store/actions.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
  src/Onboarding/Routes/LocationRoute.php
  src/Onboarding/Wizard/Page.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: use MerchantDetails repository function to store merchant details
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: store only client token if exist in data
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: log error with console.log
  src/PaymentGateways/PayPalCommerce/assets/js/AdvancedCardFields.js
Due: eslint --fix

fix: resolve donation processing issue with other payment gateways
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: resolve minor redirection issue on stripe checkout due to previous commit
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

chore: add helper function to builder error Element and reset donate button after adding errors
  assets/src/js/plugins/give-api/form.js
Due: eslint --fix

fix: ass error string as HTML
  assets/src/js/plugins/give-api/form.js
Due: eslint --fix
