Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

refactor: put legacy provider back in normal flow
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unnecessary form changes
  includes/admin/settings/class-settings-advanced.php
  includes/install.php
  src/Route/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

Onboarding Wizard auto-updates the currency based on selected country.
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
  src/Onboarding/LocaleCollection.php
  src/Onboarding/Wizard/Page.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Add install redirect to Onboarding Wizard.
  src/Onboarding/Wizard/Page.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve step vertical responsive styles
  assets/src/js/admin/onboarding-wizard/components/step-navigation/style.scss
  assets/src/js/admin/onboarding-wizard/components/step/style.scss
  assets/src/js/admin/onboarding-wizard/components/wizard/style.scss
Due: stylelint --fix

fix: improve donation preview scrolling
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/style.scss
  assets/src/js/admin/onboarding-wizard/components/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/components/donation-form/style.scss
  src/Onboarding/Wizard/templates/form-preview.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: center steps not shown in navigation
  assets/src/js/admin/onboarding-wizard/components/step-navigation/style.scss
  assets/src/js/admin/onboarding-wizard/components/step/index.js
Due: eslint --fix, stylelint --fix

refactor: remove redundant styles
  assets/src/js/admin/onboarding-wizard/components/step/style.scss
Due: stylelint --fix

fix: make form preview step content fixed
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/style.scss
  assets/src/js/admin/onboarding-wizard/components/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/components/step/style.scss
Due: eslint --fix, stylelint --fix

fix: make height changes transition smoothly
  assets/src/js/admin/onboarding-wizard/components/donation-form/style.scss
Due: stylelint --fix

fix: prevent line after last step
  assets/src/js/admin/onboarding-wizard/components/step-link/style.scss
Due: stylelint --fix

fix: resolve z-index issue with continue button
  assets/src/js/admin/onboarding-wizard/components/button/style.scss
Due: stylelint --fix

Fix setup_page_enabled default value.
  includes/install.php
Due: npm run lint:textdomain, npm run lint:php:fix

update change log and version
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

add changelog item for https://github.com/impress-org/givewp/issues/4994
  readme.txt
Due: none

added change log issue for #5006
  readme.txt
Due: none

Hide admin notices on the Setup Page.
  src/Onboarding/Setup/Handlers/AdminNoticeHandler.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

add change log for https://github.com/impress-org/givewp/issues/5004
  readme.txt
Due: none

Match Stripe button to logo without gradient.
  assets/src/css/admin/setup.scss
Due: stylelint --fix

fix: match setup page designs pixel for pixel
  assets/src/css/admin/setup.scss
  src/Onboarding/Setup/templates/index.html.php
  src/Onboarding/Setup/templates/row-item.html
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Add UTM tracking link for default Add-ons link.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add check when getting a setting that isn't set.
  src/Onboarding/SettingsRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add default args for addons in give_onboarding settings.
  src/Onboarding/Setup/PageView.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add UTM tracked documentation placeholder link for Getting Started Guide.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Suppress the deprecated notice thrown by the Stripe SDK.
  src/Onboarding/Setup/Handlers/StripeConnectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add inline comment explaining use of Error Control Operator.
  src/Onboarding/Setup/Handlers/StripeConnectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: pass country_code to connect server
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove client token and refresh token cron job on account deregistration
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add helper function to detele cron job
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add helper function to delete client token
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update Getting Started link.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: remove the paypal credit button
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove welcome page gifs.
  assets/src/images/admin/getting-started-step-1.gif
  assets/src/images/admin/getting-started-step-2.gif
  assets/src/images/admin/getting-started-step-3.gif
Due: none

chore: add initial code to complete pending donation via webhook
  src/Controller/PayPalWebhooks.php
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
  src/PaymentGateways/PayPalCommerce/Webhooks/Listeners/PaymentCaptureCompleted.php
  src/PaymentGateways/PayPalCommerce/Webhooks/Listeners/PaymentCaptureDenied.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add bottom padding to steps
  assets/src/js/admin/onboarding-wizard/components/step/style.scss
Due: stylelint --fix

fix: make focus states consistent
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/style.scss
  assets/src/js/admin/onboarding-wizard/components/button/style.scss
  assets/src/js/admin/onboarding-wizard/components/card-input/style.scss
  assets/src/js/admin/onboarding-wizard/components/select-input/index.js
  assets/src/js/admin/onboarding-wizard/components/step-link/style.scss
Due: eslint --fix, stylelint --fix

Unset default causeType value.
  assets/src/js/admin/onboarding-wizard/app/index.js
Due: eslint --fix

Remove default selected state.
  assets/src/js/admin/onboarding-wizard/components/wizard/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

feature: add dismiss link to each step
  assets/src/js/admin/onboarding-wizard/app/steps/addons/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/style.scss
  assets/src/js/admin/onboarding-wizard/app/steps/features/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/style.scss
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/components/dismiss-link/index.js
  assets/src/js/admin/onboarding-wizard/components/dismiss-link/style.scss
Due: eslint --fix, stylelint --fix

fix: make link inline block on form preview step
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/style.scss
Due: stylelint --fix
