Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

Refactor: remove cardInfo from PaymentGatewayLog (#6312)
  src/Framework/PaymentGateways/Log/PaymentGatewayLog.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add isFoo methods to Enum with tests
  src/Framework/Support/ValueObjects/Enum.php
  src/Framework/Support/ValueObjects/EnumInteractsWithQueryBuilder.php
  tests/unit/tests/Framework/Support/ValueObjects/EnumTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: handle uppercaes lettering when camel-casing
  src/Framework/Support/Facades/Str.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add a listener to close modal by clicking on the background (#6317)
  assets/src/js/plugins/form-template/parent-page.js
Due: eslint --fix

Changed: Form Grid now display excerpts for multi-step forms (#6320)
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: add excerpt length option for form grid block
  blocks/donation-form-grid/class-give-donation-form-grid-block.php
  blocks/donation-form-grid/data/attributes.js
  blocks/donation-form-grid/edit/inspector.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Swap some mojis and improve readme text so that h4s are h3s 🕺
  readme.txt
Due: none

chore: add github workflow for generating a zip
  .github/workflows/generate-zip.yml
Due: none

chore: remove ref input as it is apparently redundant
  .github/workflows/generate-zip.yml
Due: none

chore: nope, ok, the ref was useful
  .github/workflows/generate-zip.yml
Due: none

chore: correct input path
  .github/workflows/generate-zip.yml
Due: none

chore: provide plugin slug for generating zip files
  .github/workflows/generate-zip.yml
Due: none

update stripe meta data counts
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove files from being included in build
  .distignore
Due: none

Hotfix: sync donation status with stripe payment (#6330)
  src/PaymentGateways/Gateways/Stripe/CreditCardGateway.php
  src/PaymentGateways/Gateways/Stripe/Migrations/AddMissingTransactionIdForUncompletedDonations.php
  src/PaymentGateways/Gateways/Stripe/Traits/HandlePaymentIntentStatus.php
  src/PaymentGateways/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add transaction methods to the DB class
  src/Framework/Database/DB.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add generics to model factories and make methods
  src/Donations/Models/Donation.php
  src/Donors/Models/Donor.php
  src/Framework/Models/Factories/ModelFactory.php
  src/Subscriptions/Models/Subscription.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make sure all donation model queries are limited to the give_payment post type
  src/Donations/Repositories/DonationRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: form gird order by rand option
  blocks/donation-form-grid/data/options.js
  includes/admin/shortcodes/shortcode-give-donation-grid.php
  includes/shortcodes.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add option to show hide pagination
  blocks/donation-form-grid/class-give-donation-form-grid-block.php
  blocks/donation-form-grid/data/attributes.js
  blocks/donation-form-grid/edit/inspector.js
  includes/shortcodes.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add `image_height` and `image_size` options
  blocks/donation-form-grid/class-give-donation-form-grid-block.php
  blocks/donation-form-grid/data/attributes.js
  blocks/donation-form-grid/edit/inspector.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add support to include multiple forms for donor wall display
  blocks/donor-wall/class-give-donor-wall.php
  blocks/donor-wall/edit/inspector.js
  includes/donors/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Fix: Paypal Standard donations are set to complete (#6325)
  includes/gateways/paypal/paypal-standard.php
  src/PaymentGateways/Gateways/PayPalStandard/PayPalStandard.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: remove logs with sensitive information (#6326)
  src/PaymentGateways/PayPalCommerce/Migrations/RemoveLogWithCardInfo.php
  src/PaymentGateways/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add support for custom redirect when using donation form grid
  assets/src/css/admin/forms.scss
  includes/admin/admin-actions.php
  includes/admin/forms/class-metabox-form-data.php
  src/Views/Admin/Form/FormGrid-Settings.php
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: add support to filter donors by form categories and tags donor wall display
  blocks/donor-wall/class-give-donor-wall.php
  blocks/donor-wall/data/attributes.js
  blocks/donor-wall/edit/inspector.js
  includes/donors/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add show donation form option to donor wall
  blocks/donor-wall/class-give-donor-wall.php
  blocks/donor-wall/data/attributes.js
  blocks/donor-wall/edit/inspector.js
  includes/donors/class-give-donor-wall.php
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add show donation button option with color picker
  blocks/donation-form-grid/class-give-donation-form-grid-block.php
  blocks/donation-form-grid/data/attributes.js
  blocks/donation-form-grid/edit/inspector.js
  includes/admin/forms/class-metabox-form-data.php
  includes/shortcodes.php
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: remove href
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: change composer install CI action
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/wordpress.yml
Due: none

Change: Add subscription table migrations to core (#6341)
  src/DonationForms/Endpoints/FormActions.php
  src/Subscriptions/Migrations/CreateSubscriptionTables.php
  src/Subscriptions/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: resolve function call ambiguity somtimes breaking test
  src/Framework/EnqueueScript.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: only test back to WP 5.0, and up to PHP 7.4
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

chore: add readme line for translations
  readme.txt
Due: none
