Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

hotfix: resolve issue with retrieving total income for period
  src/API/Endpoints/Reports/TotalIncome.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: improve day range seleciton
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/store/reducer.js
Due: eslint --fix

hotfix: improve default loading notice
  assets/src/js/admin/reports/components/loading-notice/index.js
  assets/src/js/admin/reports/components/loading-notice/style.scss
  assets/src/js/admin/reports/components/rest-chart/index.js
  assets/src/js/admin/reports/components/rest-list/index.js
  assets/src/js/admin/reports/components/rest-table/index.js
  assets/src/js/admin/reports/components/rest-table/utils/index.js
  assets/src/js/admin/reports/utils/index.js
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/PaymentMethods.php
  src/API/Endpoints/Reports/PaymentStatuses.php
  src/API/Endpoints/Reports/RecentDonations.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
  src/Views/Admin/DashboardWidgets/templates/reports-template.php
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

hotfix: scaffold reports getSampleData function
  assets/src/js/admin/reports/utils/sample.js
Due: eslint --fix

hotfix: position give-settings-page relative
  assets/src/js/admin/reports/app/index.js
Due: eslint --fix

hotifx: round corners of loading overlay
  assets/src/js/admin/reports/components/loading-overlay/style.scss
Due: none

hotfix: scaffold additional sample data
  assets/src/js/admin/reports/utils/sample.js
Due: eslint --fix

fix: add margin bottom to loading notice
  assets/src/js/admin/reports/components/loading-notice/style.scss
Due: none

feature: add sample data for reports
  assets/src/js/admin/reports/utils/sample.js
Due: eslint --fix

hotfix: only check php version 5.6 and greater
  .travis.yml
Due: none

hotfix: check for reports-widget container before attempting render
  assets/src/js/admin/reports/widget.js
Due: eslint --fix

chore: remove testing code
  give.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add basic code to handle theme registration
  src/Form/Helpers.php
  src/Form/Theme.php
  src/Form/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove duplicate setting appear after pr merged
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: bump version to 2.6.0 in development branch and add placeholder changelog
  give.php
  languages/give.pot
  readme.txt
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: ensure DonationItem id is either number or string
  assets/src/js/admin/reports/components/donation-item/index.js
Due: eslint --fix

chore: add dummy theme setting
  src/Form/config/themes/Legacy.php
  src/Form/config/themes/Sequola.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add theme options
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: load theme related files
  give.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add failed and canelled payments to payment statuses chart
  src/API/Endpoints/Reports/PaymentStatuses.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add custom form them setting view
  includes/admin/admin-actions.php
  includes/admin/forms/class-metabox-form-data.php
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: register core form themes
  give.php
  src/Form/Config/Themes/Legacy.php
  src/Form/Config/Themes/Load.php
  src/Form/Config/Themes/Sequola.php
  src/Form/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: display start date for intervals of one day
  src/API/Endpoints/Reports/IncomeBreakdown.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: get full day of donations for enddate (matching other endpoints)
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add basic theme list template
  src/Form/Theme.php
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove unnecessary $this statements as not required for helper fns
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add helper fn to detect update payment method screen
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: show stripe js on update payment method screen as well
  includes/gateways/stripe/includes/give-stripe-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update function name
  src/Form/Helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: display and load update payment method cc fields properly
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

chore: add themes list initial style
  assets/src/css/admin/forms.scss
  src/Form/Theme.php
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: rename title to name
  src/Form/Config/Themes/Legacy.php
  src/Form/Config/Themes/Sequola.php
  src/Form/Theme.php
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix type in theme name
  src/Form/Config/Themes/Sequola.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: handle form theme activation
  assets/src/css/admin/forms.scss
  assets/src/js/admin/admin-forms.js
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add translation
  includes/class-give-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: handle form theme deactivation action
  assets/src/js/admin/admin-forms.js
Due: eslint --fix

refactor: move notice to theme introduction tab
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve form theme activation and deactivation logic
  assets/src/css/admin/forms.scss
  assets/src/js/admin/admin-forms.js
  src/Views/Admin/Form-Theme/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: check for startDate and endDate before dispatch
  assets/src/js/admin/reports/components/period-selector/index.js
Due: eslint --fix

fix: ensure that only DateTime objects are passed to date_diff
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
