Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: Italicize donation summary heading.
  src/DonationSummary/resources/css/summary.scss
Due: stylelint --fix

docs: update since tags
  src/Framework/PaymentGateways/Contracts/SubscriptionModuleInterface.php
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
  src/PaymentGateways/Actions/CreateSubscriptionAction.php
  src/Subscriptions/DataTransferObjects/SubscriptionArgs.php
  src/Subscriptions/Models/LegacySubscriber.php
  src/Subscriptions/Models/Subscriber.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Add responsive table styles.
  src/DonationSummary/resources/css/summary.scss
  src/DonationSummary/resources/views/summary.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: add must have addons page
  assets/src/images/addon-gallery-decor.png
  package-lock.json
  package.json
  src/InPluginUpsells/resources/js/AdditionalAddons.js
  src/InPluginUpsells/resources/js/AddonCard.js
  src/InPluginUpsells/resources/js/AddonCard.module.css
  src/InPluginUpsells/resources/js/AddonGallery.js
  src/InPluginUpsells/resources/js/AddonGallery.module.css
  src/InPluginUpsells/resources/js/MustHaveAddons.js
  src/InPluginUpsells/resources/js/MustHaveAddons.module.css
  src/InPluginUpsells/resources/js/PricingPlans.js
  src/InPluginUpsells/resources/js/givewp-logo.svg
  src/InPluginUpsells/resources/js/index.css
  src/InPluginUpsells/resources/js/index.js
  src/InPluginUpsells/resources/js/mock-addons.json
  src/Views/Admin.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: remove temporary code
  src/Views/Admin.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: Add support for different recurring configurations.
  src/DonationSummary/Assets.php
  src/DonationSummary/resources/js/summary.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: use actual endpoint
  src/InPluginUpsells/AddonsRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: use ID from admin page
  src/InPluginUpsells/AdminPage.php
  src/InPluginUpsells/resources/js/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add js deps and Open Sans font
  src/InPluginUpsells/AdminPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use subcommand not flag for mix watch
  package.json
Due: prettier --write

feature: Add pencil icon to edit donation link.
  src/DonationSummary/resources/css/summary.scss
  src/DonationSummary/resources/images/pencil.svg
  src/DonationSummary/resources/views/summary.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

refactor: instantiate the subscription module when mounted
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename main component
  src/InPluginUpsells/resources/js/InPluginUpsells.js
  src/InPluginUpsells/resources/js/index.js
Due: eslint --fix

feature: add checkmark svg path
  src/InPluginUpsells/AdminPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: use real data
  src/InPluginUpsells/resources/js/AddonCard.js
  src/InPluginUpsells/resources/js/AddonCard.module.css
  src/InPluginUpsells/resources/js/MustHaveAddons.js
  src/InPluginUpsells/resources/js/MustHaveAddons.module.css
  src/InPluginUpsells/resources/js/givewp-logo.svg
  src/InPluginUpsells/resources/js/mock-addons.json
Due: prettier --write, eslint --fix

feature: add Button component
  src/InPluginUpsells/resources/js/Button.js
  src/InPluginUpsells/resources/js/Button.module.css
Due: eslint --fix

feature: add Card component
  src/InPluginUpsells/resources/js/Card.js
  src/InPluginUpsells/resources/js/Card.module.css
Due: eslint --fix

feature: add Hero component
  src/InPluginUpsells/resources/js/Hero.js
  src/InPluginUpsells/resources/js/Hero.module.css
Due: eslint --fix

refactor: match module name
  src/InPluginUpsells/resources/js/InPluginUpsells.js
  src/InPluginUpsells/resources/js/InPluginUpsells.module.css
Due: eslint --fix

refactor: use components in AddonCard
  src/InPluginUpsells/resources/js/AddonCard.js
  src/InPluginUpsells/resources/js/AddonCard.module.css
Due: eslint --fix

feature: use Hero component in must have addons page
  src/InPluginUpsells/resources/js/MustHaveAddons.js
  src/InPluginUpsells/resources/js/MustHaveAddons.module.css
Due: eslint --fix

feature: add util for transforming text with bold
  src/InPluginUpsells/resources/js/utils.js
Due: eslint --fix

feature: add pricing plans progress
  src/InPluginUpsells/resources/js/AdditionalAddons.js
  src/InPluginUpsells/resources/js/MustHaveAddons.module.css
  src/InPluginUpsells/resources/js/PricingPlanCard.js
  src/InPluginUpsells/resources/js/PricingPlanCard.module.css
  src/InPluginUpsells/resources/js/PricingPlans.js
  src/InPluginUpsells/resources/js/PricingPlans.module.css
Due: eslint --fix

doc: document how the transformStrong function works
  src/InPluginUpsells/resources/js/utils.js
Due: eslint --fix

feature: add donor dashboard link
  src/Views/Form/Templates/Classic/resources/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: reorganize items position
  src/Views/Form/Templates/Classic/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: dashboard link styles
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

refactor: button padding
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

refactor: add SubscriptionModule to constrcutor and apply filters in singleton callback
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/PaymentGatewayRegister.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: pass array by value
  src/Helpers/Form/Template.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: isset accepts multiple arguments
  src/Helpers/Form/Template.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comment to function
  src/Helpers/Form/Template.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: organize phpdocs tags correctly
  src/Helpers/Form/Template.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/Helpers/Form/Template.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: optimize if condition
  src/Helpers/Form/Template.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove old code
  src/Form/LegacyConsumer/templates/checkbox.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unnecessary class
  src/Views/Form/Templates/Classic/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update DonationReceipt class
  src/Receipt/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update receipt template
  src/Views/Form/Templates/Classic/resources/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add getReceiptDetails method
  src/Views/Form/Templates/Classic/Classic.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
