Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

refactor: move receipt styles to separate file
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/css/receipt.scss
Due: none

fix: show social instruction
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add social sharing instructions option
  src/Views/Form/Templates/Sequoia/optionConfig.php
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add gateway icon styles
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

feature: add setup gateway icon fn
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

refactor: convert properties into function
  src/Form/Template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: update legacy setting compatibility handler logic
  src/Form/Template/LegacyFormSettingCompatibility.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve gateway label styles
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

feature: prepend gateway labels with donate with
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

chore: update functino doc block
  src/Form/Template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: override browser radio input style
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

chore: update functino doc block
  src/Form/Template/LegacyFormSettingCompatibility.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: use primary color for input
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add microinteraction to radio select
  src/Views/Form/Templates/Sequoia/Sequoia.php
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove unnessary functions
  src/Form/Template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: append donate with string on backend
  src/Views/Form/Templates/Sequoia/Actions.php
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

refactor: convert functions into properties
  src/Form/Template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update legacy compatibility handler logic
  src/Form/Template/LegacyFormSettingCompatibility.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: reuse core code to render form template receipt
  assets/src/js/frontend/give-ajax.js
  src/Form/LoadTemplate.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: return null for non value
  src/Form/Template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add social button hover effects
  src/Views/Form/Templates/Sequoia/assets/css/receipt.scss
Due: none

chore: rmeove commented code
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

refactor: use sprintf
  src/Views/Form/Templates/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove gateway icon classes
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: waiting for 5 seconds for payment gateway webhook
  src/Views/Form/defaultFormDonationProcessing.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: use sprintf
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add support for default gateways
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

feat: add donation status column to receipt
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add legacy parameter to redirect
  includes/admin/reports/graphing.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve fatal error related when only core active
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add helper fn to check stripe premium is active or not
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add helper fn to get all stripe accounts which are added
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add helper fn to send user back to stripe settings page
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update fn stripe disconnect url
  includes/gateways/stripe/includes/admin/admin-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve html markup for multiple stripe accounts management
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: save data proper when stripe account is connected
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: pass iframe to onInit
  assets/src/js/plugins/form-template/utils.js
Due: eslint --fix

fix: replace echo with printf
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update legacy setting compability issue
  src/Form/Template.php
  src/Form/Template/LegacyFormSettingCompatibility.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
