Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

fix: match notice styles to Figma
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

chore: fix donation form redirection logi
  src/Controller/Form.php
  src/Helpers/Form/Utils.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: load theme before routes
  give.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: do not slide first screen displayed
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

chore: renanme meta key
  blocks/donation-form/class-give-donation-form-block.php
  includes/admin/forms/class-metabox-form-data.php
  src/Helpers/Form/Theme/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: validate correct key when saving form settings
  assets/src/js/admin/admin-forms.js
Due: eslint --fix

chore: do not use global object to get form info
  src/Views/Form/Themes/Sequoia/optionConfig.php
  src/Views/Form/Themes/Sequoia/sections/introduction.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: start on second screen if introduction is disabled
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

chore: temporary disable hook
  src/Views/Form/Themes/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: listen for failed payments
  includes/forms/functions.php
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve default gateway check to ensure no fatal error
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: implement the changes for sepa which was done for cc
  assets/src/js/frontend/give-stripe-sepa.js
Due: eslint --fix

chore: add helper fn
  src/Controller/Form.php
  src/Helpers/Form/Utils.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add helper fn
  src/Helpers/Form/Utils.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: detech iframe query param to check whether or not we are processing donation form
  src/Helpers/Form/Utils.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add template for donation processing
  src/Form/Theme.php
  src/Views/Form/defaultFormDonationProcessing.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: detect and show donatio processing template
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: use helper fn to get iframe parent url
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: hide notices only on donation form
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

chore: add logic to habld epayment confirmation
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve issue related to success page redirect this issue happened due to missing the use of status parameter of payment intent
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: refactore code to show donation form and receipt view
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: do not add unnecessary styles
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

fix: setup steps in navigator init
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

chore: do not dequeue babel-polyfill
  src/Form/LoadTheme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add meta infor in header
  src/Form/LoadTheme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: scaffold new receipt page design
  src/Views/Form/Themes/Sequoia/Sequoia.php
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/formReceiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: rename wrapper to avoid js conflicts
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/formReceiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve download button styles
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/formReceiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve social sharing btn styles
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/formReceiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: set checkmark color to form primary color
  src/Views/Form/Themes/Sequoia/Sequoia.php
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: bump version and add change log for release
  give.php
  readme.txt
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: scaffold dynamic receipt info helper fn
  src/Helpers/Form/Theme/Utils/Frontend.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: rename receipt tempalte file
  src/Views/Form/Themes/Sequoia/Sequoia.php
  src/Views/Form/Themes/Sequoia/formReceiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: start populating receipt template with dynamic content
  src/Views/Form/Themes/Sequoia/receiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: adjust wrapper width
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: improve margins for headline
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: match introduction pacing pixel for pixel
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: match Figam design pixel for pixel
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
