Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Revenue amount is now updated when the Donation is edited (#6549)
  src/Revenue/Listeners/UpdateRevenueWhenDonationAmountUpdated.php
  src/Revenue/Repositories/Revenue.php
  src/Revenue/RevenueServiceProvider.php
  tests/Unit/Revenue/Listeners/UpdateRevenueWhenDonationAmountUpdatedTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update lock file to v2
  package-lock.json
Due: prettier --write

Fix: shortcode `give_form_grid` now only uses `show_goal` to display progress bar (#6539)
  assets/src/css/frontend/form-grid.scss
  blocks/donation-form-grid/class-give-donation-form-grid-block.php
  blocks/donation-form-grid/data/attributes.js
  blocks/donation-form-grid/edit/inspector.js
  includes/shortcodes.php
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: fix the sort order to get the expected result
  src/Donations/Repositories/DonationRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.22.1 release
  give.php
  readme.txt
  src/DonorDashboards/Block.php
  src/Revenue/Listeners/UpdateRevenueWhenDonationAmountUpdated.php
  src/Revenue/Repositories/Revenue.php
  src/Views/IframeContentView.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove get_id
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: clean up code spacing
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add comment and log
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add error message
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update error log
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update file choice
  templates/shortcode-goal.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: switch disconnect to semantic button
  assets/src/css/admin/paypal-commerce.scss
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: check if event target is child of selector
  assets/src/js/plugins/dynamicListener.js
Due: eslint --fix

chore: prepare for 2.22.2 release
  assets/src/js/plugins/dynamicListener.js
  give.php
  includes/shortcodes.php
  readme.txt
  src/PaymentGateways/Gateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURL.php
  src/PaymentGateways/Gateways/PayPalStandard/Views/PayPalStandardBillingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: set correct user id
  src/Donations/LegacyListeners/DispatchGiveInsertPayment.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add unreleased tag
  src/Donations/LegacyListeners/DispatchGiveInsertPayment.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: makes email sections on the settings page and also the recipient email field extensible/filterable (#6561)
  assets/src/css/admin/settings.scss
  includes/admin/emails/class-email-notification-table.php
  includes/admin/emails/class-email-setting-field.php
  includes/admin/give-metabox-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: prepare for 2.22.3 release
  give.php
  readme.txt
  src/Donations/LegacyListeners/DispatchGiveInsertPayment.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add workflow dispatch to action
  .github/workflows/close-stale-issues.yml
Due: none

fix: remove touchend event listeners
  assets/src/js/frontend/give-donations.js
Due: eslint --fix

Fix: Percentage wildcards are now passed via a substitution argument containing the complete LIKE string (#6574)
  includes/admin/upgrades/upgrade-functions.php
  includes/class-give-cache.php
  includes/class-give-cli-commands.php
  includes/class-give-donor.php
  includes/filters.php
  src/Framework/QueryBuilder/Concerns/WhereClause.php
  src/LegacySubscriptions/includes/give-subscriptions-db.php
  tests/includes/legacy/tests-cache.php
  uninstall.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add alternative selector to print response data
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

fix: add margin between notices/errors
  src/Views/Form/Templates/Classic/resources/css/_errors-notices.scss
Due: stylelint --fix

fix: apply margin to all notices/errors
  src/Views/Form/Templates/Classic/resources/css/_errors-notices.scss
Due: stylelint --fix

fix: change selector moving errors to top
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

fix: remove display grid
  src/Views/Form/Templates/Classic/resources/css/_errors-notices.scss
Due: stylelint --fix

feature: add instruction to scroll top when having errors
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

fix: change scroll target to form parent element
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

chore: add Glauber and Paulo as contributors
  readme.txt
Due: none

chore: prepare for 2.23.0 release
  give.php
  includes/admin/emails/class-email-notification-table.php
  includes/admin/emails/class-email-setting-field.php
  readme.txt
  src/Donations/DataTransferObjects/DonationQueryData.php
  src/Donations/Factories/DonationNoteFactory.php
  src/Donations/LegacyListeners/DispatchGiveRecurringAddSubscriptionPaymentAndRecordPayment.php
  src/Donations/Models/Donation.php
  src/Donations/Repositories/DonationRepository.php
  src/Donations/ValueObjects/DonationType.php
  src/Framework/Models/Factories/ModelFactory.php
  src/Framework/Models/Model.php
  src/PaymentGateways/Gateways/TestGateway/TestGateway.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
  src/Subscriptions/Actions/GenerateNextRenewalForSubscription.php
  src/Subscriptions/Factories/SubscriptionFactory.php
  src/Subscriptions/Models/Subscription.php
  src/Subscriptions/Repositories/SubscriptionRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: fee recovery in the “donation summary” with wrong value (#6537)
  src/DonationSummary/resources/js/summary.js
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

Form Grid donate button defaults are now updated (#6591)
  includes/shortcodes.php
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Form Grid strings are translatable and account for singular or plural usages (#6589)
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add test for first, latest donation query
  tests/Unit/Donations/Repositories/TestDonationRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add unreleased tags
  src/Donations/Repositories/DonationRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: donor/donation models now update missing meta (#6593)
  src/Donations/Repositories/DonationRepository.php
  src/Donors/Repositories/DonorRepository.php
  tests/Unit/Donations/LegacyListeners/DispatchGivePreInsertPaymentTest.php
  tests/Unit/Donations/Models/TestDonation.php
  tests/Unit/Donations/Models/TestDonationNote.php
  tests/Unit/Donations/Repositories/TestDonationNoteRepository.php
  tests/Unit/Donations/Repositories/TestDonationRepository.php
  tests/Unit/Donors/Models/TestDonor.php
  tests/Unit/Donors/Repositories/TestDonorRepository.php
  tests/Unit/Subscriptions/Actions/TestGenerateNextRenewalForSubscription.php
  tests/Unit/Subscriptions/Models/TestSubscription.php
  tests/Unit/Subscriptions/Repositories/TestSubscriptionRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove Form::make to prevent breaking Text-to-Give RegistrationForm class
  src/Framework/FieldsAPI/Form.php
  tests/Unit/Framework/FieldsAPI/Concerns/MoveNodeTest.php
  tests/Unit/Framework/FieldsAPI/Concerns/NameCollisionTest.php
  tests/Unit/Framework/FieldsAPI/Concerns/RemoveNodeTest.php
  tests/Unit/Framework/FieldsAPI/Concerns/WalkNodesTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: improve migration title
  src/Log/Migrations/CompleteRemovedLegacyLogMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
