Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

chore: add documentaiton
  assets/src/js/plugins/give-api/share.js
Due: eslint --fix

fix: move error notices to top of payment section
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: hide loader if validation failed
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

feat: go to relevant step when error is clicked
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: move test notice to payment screen
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: update legacy setting even if template setting does not change
  src/Helpers/Form/Template/Template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: set cursor to pointer for interactive notices
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: prevent submit if errors are present
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: no need to sanitize id in class
  src/Donation/Donation.php
  src/Helpers/Session/Donation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: check for valid amount
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

refactor: make subscription receipt items reusable
  src/Addon/Recurring.php
  src/Addon/Recurring/Receipt.php
  src/Views/Form/Templates/Sequoia/views/subscription-details.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve disabled button styles
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: only disable if invalid
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: disable if invalid error exists
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

chore: add comments for the direct DOM manipulations
  assets/src/js/admin/stripe-admin.js
Due: eslint --fix

fix: add proper comment for bailout of form element
  assets/src/js/frontend/give-stripe-becs.js
  assets/src/js/frontend/give-stripe-checkout.js
  assets/src/js/frontend/give-stripe-sepa.js
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: revert the unnecessary change happened within other commit
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve comments for account manager field
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: show js on update payment method when required
  includes/gateways/stripe/includes/give-stripe-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add filter as it is essential to extend
  includes/gateways/stripe/includes/give-stripe-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: set form_template_options as default template
  assets/src/js/admin/admin-scripts.js
  assets/src/js/admin/form-template/edit-form.js
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: do not cache donation form pages
  includes/class-give-cache.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: pass form id to getFormStartingHeight
  includes/shortcodes.php
  src/Form/Template.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: match loader width to form width
  src/Views/Form/Templates/Sequoia/views/loading.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update defaults to mobile first
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: tighten up choose amount styles
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: ensure that grid columns are same width
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: tighten margin on mobile
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: account for goals in starting height
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: reduce grayscale amount
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: match font styles between errors
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: ensure that give notices are full width
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: remove unnecessary checkvalidation
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: add filter for stripe metadata
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve notices when no stripe account connected
  includes/gateways/stripe/includes/admin/admin-filters.php
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: pass donation data to prepare metadata fn
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-sepa.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add donation data as argument for prepare metadata fn
  includes/gateways/stripe/includes/class-give-stripe-gateway.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve prepare metadata helper fn
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: avoid overlap of the stripe accounts action
  assets/src/css/admin/stripe-admin.scss
Due: none

fix: update js to support update payment method
  assets/src/js/frontend/give-donations.js
  assets/src/js/frontend/give-stripe-becs.js
Due: eslint --fix
