Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

fix: rename "fundraising overview" to "overview"
  assets/src/js/admin/reports/widget/index.js
Due: eslint --fix

fix: remove height style from MiniPeriodSelector
  assets/src/js/admin/reports/components/mini-period-selector/style.scss
Due: none

fix: remove white bar that appears above dashboard widget content
  assets/src/js/admin/reports/widget/style.scss
Due: none

fix: prevent horizontal scrollbar on Table compoent
  assets/src/js/admin/reports/components/table/style.scss
Due: none

fix: set overflow-y to auto on List component
  assets/src/js/admin/reports/components/list/style.scss
Due: none

fix: prevent trace shadow from bleeding over edge of graph
  assets/src/js/admin/reports/components/chart/utils/crosshair.js
Due: eslint --fix

fix: hide Chart tooltip if traceline is not being rendered
  assets/src/js/admin/reports/components/chart/utils/crosshair.js
Due: eslint --fix

fix: prevent horizontal scrolling bug on resize
  assets/src/js/admin/reports/app/style.scss
  assets/src/js/admin/reports/components/chart/utils/index.js
Due: eslint --fix

fix: capitalize VS in 'vs previous [period]'
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: adjust width of trace shadow as it approaches Chart edge
  assets/src/js/admin/reports/components/chart/utils/crosshair.js
Due: eslint --fix

Revert "fix: prevent horizontal scrolling bug on resize"
  assets/src/js/admin/reports/app/style.scss
  assets/src/js/admin/reports/components/chart/utils/index.js
Due: eslint --fix

fix: set tooltip display to none when hidden
  assets/src/js/admin/reports/components/chart/utils/crosshair.js
  assets/src/js/admin/reports/components/chart/utils/index.js
  assets/src/js/admin/reports/components/mini-chart/utils/index.js
Due: eslint --fix

fix: prevent horizontal scrolling on #reports-app
  assets/src/js/admin/reports/app/style.scss
Due: none

fix: correct form income addition error
  src/API/Endpoints/Reports/FormPerformance.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: prevent caching for period less than a week
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve labels and include end date for income chart
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: remove overflow hidden on #reports-app
  assets/src/js/admin/reports/app/style.scss
Due: none

hotfix: resolve bug with returning income data for week
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: handle give_recurring payment status
  assets/src/js/admin/reports/components/donation-item/utils/index.js
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

hotfix: get leftEnd and rightEnd values from chartjs instance
  assets/src/js/admin/reports/components/chart/utils/crosshair.js
Due: eslint --fix

hotifx: use donor['donations'] to determine countLabel
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve MiniChart tooltip position issue
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

hotfix: improve loading styles for RESTMiniChart
  assets/src/js/admin/reports/components/rest-mini-chart/index.js
Due: eslint --fix

hotfix: stacked MiniChart if highlightValue is longer than 7 characters
  assets/src/js/admin/reports/components/mini-chart/index.js
  assets/src/js/admin/reports/components/mini-chart/style.scss
Due: eslint --fix

hotfix: adjust selected day border to give green
  assets/src/js/admin/reports/components/period-selector/style.scss
Due: none

hotfix: only stack minichart if amount is greater than half the card width
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

hotfix: use overflow hidden to round card corners
  assets/src/js/admin/reports/components/card/style.scss
Due: none

hotfix: handle give_subscription payment status
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/PaymentStatuses.php
  src/API/Endpoints/Reports/RecentDonations.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: query payments for date, rather than localtime by the hour
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: change subscription display status to "Renewal"
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: check for 'renewal' payment status
  assets/src/js/admin/reports/components/donation-item/utils/index.js
Due: eslint --fix

hotfix: check for first time renewal status
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: add getLabel helper to handle donation status labels
  assets/src/js/admin/reports/components/donation-item/index.js
  assets/src/js/admin/reports/components/donation-item/utils/index.js
Due: eslint --fix

hotfix: add icon for renewals
  assets/src/js/admin/reports/components/donation-item/utils/index.js
Due: eslint --fix

hotfix: resolve issue with minichart tooltips being hidden
  assets/src/js/admin/reports/components/card/style.scss
  assets/src/js/admin/reports/components/chart/style.scss
Due: none

hotfix: improve donation activity labels
  assets/src/js/admin/reports/components/donation-item/utils/index.js
Due: eslint --fix

hotfix: set status to 'first_renewal' if payment has status of publish and is a recurring donation
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

hotfix: label renewals as 'Renewal Donation'
  assets/src/js/admin/reports/components/donation-item/utils/index.js
Due: eslint --fix

hotfix: for 'day' range set end date hour to end of day
  assets/src/js/admin/reports/store/reducer.js
Due: eslint --fix

hotfix: hide 'no data found' notice while querying
  assets/src/js/admin/reports/components/rest-list/index.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
