Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix-copy
  readme.txt
Due: none

chore: prepare for 2.25.3 release
  give.php
  includes/admin/admin-actions.php
  includes/admin/payments/actions.php
  includes/admin/tools/import/class-give-import-donations.php
  includes/class-give-scripts.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add processing actions to stripe webhook listeners (#6749)
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/ChargeRefunded.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/CheckoutSessionCompleted.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/PaymentIntentPaymentFailed.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/PaymentIntentSucceeded.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Allow for text mime type in import files (#6596)
  includes/admin/tools/import/class-give-import-core-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: only remove recently added user roles after tests are completed
  tests/RestApiTestCase.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: replace deprecated get page by title function (#6754)
  includes/admin/import-functions.php
  includes/misc-functions.php
  src/LegacySubscriptions/includes/give-subscriptions-db.php
  tests/includes/legacy/importer/tests-donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add support for PayPal Order ID via gateway data (#6723)
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/PaymentGateways/PayPalCommerce/Actions/GetPayPalOrderFromRequest.php
  src/PaymentGateways/PayPalCommerce/Exceptions/PayPalOrderException.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: add error handling for canceling a subscription in donor dashboard (#6756)
  src/DonorDashboards/Tabs/Contracts/Route.php
  src/DonorDashboards/resources/js/app/components/subscription-cancel-modal/index.js
  src/DonorDashboards/resources/js/app/components/subscription-cancel-modal/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: Update main key unserialization (#6755)
  includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.26.0 release
  give.php
  includes/admin/admin-actions.php
  includes/admin/import-functions.php
  includes/misc-functions.php
  readme.txt
  src/DonorDashboards/Tabs/Contracts/Route.php
  src/Framework/DesignSystem/Actions/RegisterDesignSystemStyles.php
  src/Framework/DesignSystem/DesignSystemServiceProvider.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/LegacySubscriptions/includes/give-subscriptions-db.php
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/ChargeRefunded.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/CheckoutSessionCompleted.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/PaymentIntentPaymentFailed.php
  src/PaymentGateways/Gateways/Stripe/Webhooks/Listeners/PaymentIntentSucceeded.php
  src/PaymentGateways/PayPalCommerce/Exceptions/PayPalOrderException.php
  tests/RestApiTestCase.php
  tests/TestTraits/HasDefaultGiveWPUsers.php
  tests/TestTraits/HasDefaultWordPressUsers.php
  tests/includes/legacy/importer/tests-donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: delete vendor packages in strauss for cleaner results
  composer.json
Due: prettier --write

chore: bump strauss version to 0.14.0
  composer.json
Due: prettier --write

fix: dispatch subscription creation action hook (#6747)
  src/Subscriptions/LegacyListeners/DispatchGiveSubscriptionPostCreate.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: add filter for `give_stripe_supported_payment_methods` (#6768)
  includes/gateways/stripe/includes/admin/admin-helpers.php
  tests/Unit/PaymentGateways/Stripe/Filters/LegacyStripeFiltersTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Add polyfill for the Mbstring extension (#6774)
  composer.json
  composer.lock
Due: prettier --write

Feature: Add PHP Compatibility workflow. (#6781)
  .github/workflows/php-compatibility.yml
  src/Framework/Support/Facades/Str.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: add gateway payment and subscription controllers (#6779)
  src/Framework/PaymentGateways/Actions/HandleGatewayPaymentCommand.php
  src/Framework/PaymentGateways/Actions/HandleGatewaySubscriptionCommand.php
  src/Framework/PaymentGateways/Controllers/GatewayPaymentController.php
  src/Framework/PaymentGateways/Controllers/GatewaySubscriptionController.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/Traits/HandleHttpResponses.php
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  tests/Unit/PaymentGateways/Actions/HandleGatewayPaymentCommandTest.php
  tests/Unit/PaymentGateways/Actions/HandleGatewaySubscriptionCommandTest.php
  tests/Unit/PaymentGateways/CommandHandlers/PaymentCompleteHandlerTest.php
  tests/Unit/PaymentGateways/CommandHandlers/PaymentProcessingHandlerTest.php
  tests/Unit/PaymentGateways/CommandHandlers/RedirectOffsiteHandlerTest.php
  tests/Unit/PaymentGateways/CommandHandlers/RespondToBrowserTest.php
  tests/Unit/PaymentGateways/CommandHandlers/SubscriptionCompleteHandlerTest.php
  tests/Unit/PaymentGateways/CommandHandlers/SubscriptionProcessingHandlerTest.php
  tests/Unit/PaymentGateways/Controllers/GatewayPaymentControllerTest.php
  tests/Unit/PaymentGateways/Controllers/GatewaySubscriptionControllerTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

Refactor: update gateway api `$gatewayData` param (#6695)
  src/Framework/PaymentGateways/PaymentGateway.php
  src/PaymentGateways/Gateways/TestGateway/TestGateway.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: show description on donation form for page and excerpt in form grid (#6748)
  src/Views/Form/Templates/Classic/Classic.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: New Donation, Donor and Subscription table empty state designs (#6710)
  assets/src/images/list-table/blank-slate-donation-forms-icon.svg
  assets/src/images/list-table/blank-slate-donations-icon.svg
  assets/src/images/list-table/blank-slate-donor-icon.svg
  assets/src/images/list-table/blank-slate-recurring-icon.svg
  src/DonationForms/DonationFormsAdminPage.php
  src/DonationForms/resources/components/DonationFormsListTable.tsx
  src/Donations/DonationsAdminPage.php
  src/Donations/resources/components/DonationsListTable.tsx
  src/Donors/DonorsAdminPage.php
  src/Donors/resources/components/DonorsListTable.tsx
  src/Subscriptions/SubscriptionsAdminPage.php
  src/Subscriptions/resources/components/SubscriptionsListTable.tsx
  src/Views/Components/ListTable/BlankSlate/BlankSlate.module.scss
  src/Views/Components/ListTable/BlankSlate/index.tsx
  src/Views/Components/ListTable/ListTable/ListTable.module.scss
  src/Views/Components/ListTable/ListTable/index.tsx
  src/Views/Components/ListTable/ListTablePage/index.tsx
  src/Views/Components/ListTable/ListTableRows/ListTableRows.module.scss
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Feature: makes bulk actions from donation list table extensible (#6773)
  src/Donations/DonationsAdminPage.php
  src/Donations/resources/components/DonationsListTable.tsx
  src/Views/Components/ListTable/BulkActions/BulkActionSelect.tsx
  src/Views/Components/ListTable/ListTablePage/index.tsx
Due: npm run lint:textdomain, npm run lint:php:fix

add: render paypal connect button for live and sandbox account
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/PayPalConnection.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

tweak: make paypal connect button html template dynamic
  src/PaymentGateways/PayPalCommerce/PayPalConnection.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: paypal connect button rendering issue
  src/PaymentGateways/PayPalCommerce/PayPalConnection.php
Due: npm run lint:textdomain, npm run lint:php:fix

tweak: make rest api url dynamic for iframe
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

tweak: add script to paypal connect page
  src/PaymentGateways/PayPalCommerce/PayPalConnection.php
Due: npm run lint:textdomain, npm run lint:php:fix

add: cursor style to button
  src/PaymentGateways/PayPalCommerce/PayPalConnection.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: hard country code in js to process paypal connnect from iframe
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/PayPalConnection.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalAuth.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: function return type should match nesting function return type (#6740)
  src/Subscriptions/Repositories/SubscriptionRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: change how update_plugins transient is invalidated (#6776)
  includes/misc-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: migrate donation comment (#6765)
  includes/admin/payments/actions.php
  includes/admin/payments/view-payment-details.php
  includes/donors/actions.php
  includes/donors/class-give-donor-wall.php
  includes/donors/frontend-donor-functions.php
  includes/misc-functions.php
  src/Donations/DataTransferObjects/DonationQueryData.php
  src/Donations/Factories/DonationFactory.php
  src/Donations/Migrations/MoveDonationCommentToDonationMetaTable.php
  src/Donations/Models/Donation.php
  src/Donations/Repositories/DonationRepository.php
  src/Donations/ServiceProvider.php
  src/Donations/ValueObjects/DonationMetaKeys.php
Due: npm run lint:textdomain, npm run lint:php:fix

Refactor: move nonce validation to Ajax request controller (#6783)
  includes/donors/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.27.0 release
  .phpstan/Log/Methods/MagicCallStaticMethodReflection.php
  .phpstan/Log/Parameters/ContextParameterReflection.php
  .phpstan/Log/Parameters/MessageParameterReflection.php
  .phpstan/Log/StaticFacadeMethodsReflectionExtension.php
  give.php
  includes/admin/payments/actions.php
  includes/admin/payments/view-payment-details.php
  includes/donors/class-give-donor-wall.php
  includes/donors/frontend-donor-functions.php
  includes/gateways/stripe/includes/admin/admin-helpers.php
  includes/misc-functions.php
  readme.txt
  src/DonationForms/resources/components/DonationFormsListTable.tsx
  src/Donations/DonationsAdminPage.php
  src/Donations/Migrations/MoveDonationCommentToDonationMetaTable.php
  src/Donations/resources/components/DonationsListTable.tsx
  src/Donors/resources/components/DonorsListTable.tsx
  src/Framework/PaymentGateways/Actions/HandleGatewayPaymentCommand.php
  src/Framework/PaymentGateways/Actions/HandleGatewaySubscriptionCommand.php
  src/Framework/PaymentGateways/Controllers/GatewayPaymentController.php
  src/Framework/PaymentGateways/Controllers/GatewaySubscriptionController.php
  src/Framework/PaymentGateways/Traits/HandleHttpResponses.php
  src/Subscriptions/LegacyListeners/DispatchGiveSubscriptionPostCreate.php
  src/Subscriptions/Repositories/SubscriptionRepository.php
  src/Subscriptions/resources/components/SubscriptionsListTable.tsx
  src/Views/Components/ListTable/ListTable/index.tsx
  src/Views/Form/Templates/Classic/Classic.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
  tests/Unit/PaymentGateways/Actions/HandleGatewayPaymentCommandTest.php
  tests/Unit/PaymentGateways/Actions/HandleGatewaySubscriptionCommandTest.php
  tests/Unit/PaymentGateways/CommandHandlers/PaymentCompleteHandlerTest.php
  tests/Unit/PaymentGateways/CommandHandlers/PaymentProcessingHandlerTest.php
  tests/Unit/PaymentGateways/CommandHandlers/RedirectOffsiteHandlerTest.php
  tests/Unit/PaymentGateways/CommandHandlers/RespondToBrowserTest.php
  tests/Unit/PaymentGateways/CommandHandlers/SubscriptionCompleteHandlerTest.php
  tests/Unit/PaymentGateways/CommandHandlers/SubscriptionProcessingHandlerTest.php
  tests/Unit/PaymentGateways/Controllers/GatewayPaymentControllerTest.php
  tests/Unit/PaymentGateways/Controllers/GatewaySubscriptionControllerTest.php
  tests/Unit/PaymentGateways/Stripe/Filters/LegacyStripeFiltersTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Fix broken reference to tribute last name (#6721)
  templates/shortcode-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

record: commit
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: prevent js error on subscription cancellation from donor dashboard (#6792)
  src/DonorDashboards/resources/js/app/components/subscription-cancel-modal/index.js
Due: eslint --fix

refactor: remove unused class
  src/PaymentGateways/PayPalCommerce/PayPalConnection.php
Due: npm run lint:textdomain, npm run lint:php:fix

refator: remove PayPalConnection class use
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

feat: load partner js from paypal live
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: record changes
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalAuth.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
