Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

feature: format personal info section legend
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
Due: stylelint --fix

feature: use template options for personal info legend text content
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

feature: style donation button currency symbol
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
  src/Views/Form/Templates/Classic/resources/css/_payment-details.scss
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix, stylelint --fix

feature: style payment details header + add content
  src/Views/Form/Templates/Classic/resources/css/_payment-details.scss
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix, stylelint --fix

feature: add LegacyPaymentGatewayInterace for legcy form field markup method
  src/Framework/PaymentGateways/Contracts/LegacyPaymentGatewayInterface.php
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use existing value objects
  src/PaymentGateways/Actions/CreatePaymentAction.php
  src/PaymentGateways/DataTransferObjects/FormData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: make address not required for cardInfo value object
  src/PaymentGateways/DataTransferObjects/FormData.php
  src/ValueObjects/CardInfo.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: access address from user_info
  src/PaymentGateways/DataTransferObjects/FormData.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add Response facade and implement into as gateway handle return type
  src/Framework/Http/Response.php
  src/Framework/Http/ResponseFacade.php
  src/Framework/PaymentGateways/Contracts/Legacy/LegacyPaymentGatewayInterface.php
  src/Framework/PaymentGateways/Contracts/PaymentGateway.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/PaymentGateways/TestGateway/Actions/PublishPaymentAndSendToSuccessPage.php
  src/PaymentGateways/TestGateway/TestGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: revert Response type
  src/Framework/Http/Response.php
  src/Framework/Http/ResponseFacade.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/PaymentGateways/TestGateway/Actions/PublishPaymentAndSendToSuccessPage.php
  src/PaymentGateways/TestGateway/TestGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add visually-hidden mixin
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
  src/Views/Form/Templates/Classic/resources/css/form.scss
Due: stylelint --fix

feature: Add Donation Summary to form.
  give.php
  src/DonationSummary/Assets.php
  src/DonationSummary/ServiceProvider.php
  src/DonationSummary/SummaryView.php
  src/DonationSummary/resources/css/summary.scss
  src/DonationSummary/resources/images/info.svg
  src/DonationSummary/resources/js/summary.js
  src/DonationSummary/resources/views/summary.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: many responsive styles
  src/Views/Form/Templates/Classic/Classic.php
  src/Views/Form/Templates/Classic/resources/css/_button.scss
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
  src/Views/Form/Templates/Classic/resources/css/_header.scss
  src/Views/Form/Templates/Classic/resources/css/_payment-details.scss
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
  src/Views/Form/Templates/Classic/resources/css/_reset.scss
  src/Views/Form/Templates/Classic/resources/css/_section.scss
  src/Views/Form/Templates/Classic/resources/css/form.scss
  src/Views/Form/Templates/Classic/resources/views/header.php
  src/Views/Form/Templates/Classic/resources/views/icon-defs.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

refactor: Add support for Currency Switcher.
  src/DonationSummary/Assets.php
  src/DonationSummary/resources/js/summary.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: Initialize the total amount.
  src/DonationSummary/resources/js/summary.js
Due: eslint --fix

feature: Add form template settings.
  assets/src/js/admin/form-template/edit-form.js
  src/DonationSummary/README.md
  src/Onboarding/DefaultFormFactory.php
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: Add defualt for donation summary heading.
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: Restrict donation summary to Sequoia template.
  src/DonationSummary/SummaryView.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Defer donation summary hook.
  src/DonationSummary/ServiceProvider.php
  src/DonationSummary/SummaryView.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add spacing between summary and payment fields.
  src/DonationSummary/resources/css/summary.scss
Due: stylelint --fix

chore: Reduce spacing between summary and submit.
  src/DonationSummary/resources/css/summary.scss
Due: stylelint --fix

chore: Refactor frequency observer.
  src/DonationSummary/resources/js/summary.js
Due: eslint --fix

chore: Add unit tests for donation summary view class.
  src/DonationSummary/SummaryView.php
  tests/unit/tests/DonationSummary/SummaryViewTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add docblocks.
  src/DonationSummary/Assets.php
  src/DonationSummary/ServiceProvider.php
  src/DonationSummary/SummaryView.php
  src/DonationSummary/resources/js/summary.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: Add docblock.
  assets/src/js/admin/form-template/edit-form.js
Due: eslint --fix

chore: Re-sort import/aliases.
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update setting descriptions.
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update setting default in factory.
  src/Onboarding/DefaultFormFactory.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: finish parity and remove unnecessary pieces
  assets/src/css/admin/settings.scss
  assets/src/tcpdf-fonts/CODE2000.TTF
  assets/src/tcpdf-fonts/code2000.ctg.z
  assets/src/tcpdf-fonts/code2000.php
  assets/src/tcpdf-fonts/code2000.z
  assets/src/tcpdf-fonts/code2000.z.cpgz
  assets/src/tcpdf-fonts/dejavusans.ctg.z
  assets/src/tcpdf-fonts/dejavusans.php
  assets/src/tcpdf-fonts/dejavusans.z
  assets/src/tcpdf-fonts/helvetica.php
  assets/src/tcpdf-fonts/helveticab.php
  assets/src/tcpdf-fonts/helveticabi.php
  assets/src/tcpdf-fonts/helveticai.php
  package-lock.json
  package.json
  webpack.config.js
  webpack.mix.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: Implement donation summary heading.
  src/DonationSummary/SummaryView.php
  src/DonationSummary/resources/css/summary.scss
  src/DonationSummary/resources/views/summary.php
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: Add test for summary heading getter.
  src/DonationSummary/SummaryView.php
  tests/unit/tests/DonationSummary/SummaryViewTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: Enable donation summary be default, except for existing forms.
  src/Helpers/Form/Template.php
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add tcpdf font moving back in
  assets/src/tcpdf-fonts/CODE2000.TTF
  assets/src/tcpdf-fonts/code2000.ctg.z
  assets/src/tcpdf-fonts/code2000.php
  assets/src/tcpdf-fonts/code2000.z
  assets/src/tcpdf-fonts/code2000.z.cpgz
  assets/src/tcpdf-fonts/dejavusans.ctg.z
  assets/src/tcpdf-fonts/dejavusans.php
  assets/src/tcpdf-fonts/dejavusans.z
  assets/src/tcpdf-fonts/helvetica.php
  assets/src/tcpdf-fonts/helveticab.php
  assets/src/tcpdf-fonts/helveticabi.php
  assets/src/tcpdf-fonts/helveticai.php
  package-lock.json
  package.json
  webpack.mix.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: Account for decimal separator in total field.
  src/DonationSummary/resources/js/summary.js
Due: eslint --fix

feature: Account for currency position.
  src/DonationSummary/resources/js/summary.js
Due: eslint --fix

refactor: Remove zero currency hack.
  src/DonationSummary/resources/js/summary.js
Due: eslint --fix

fix: Account for fees when using Currency Switcher.
  src/DonationSummary/resources/js/summary.js
Due: eslint --fix

chore: use const for consistency
  webpack.mix.js
Due: eslint --fix

refactor: move into labelled functions
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

refactor: use css variable instead of a rule
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix
