Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: add tests for comparison/orderBy arguments
  tests/unit/tests/Framework/QueryBuilder/HavingTest.php
  tests/unit/tests/Framework/QueryBuilder/OrderByTest.php
  tests/unit/tests/Framework/QueryBuilder/WhereTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: doc links
  src/Framework/QueryBuilder/README.md
Due: none

feature: add `union` docs
  src/Framework/QueryBuilder/README.md
Due: none

chore: add title
  src/Framework/QueryBuilder/README.md
Due: none

chore: remove orWhere
  src/Framework/QueryBuilder/README.md
Due: none

feature: add class PayPalCommerceGateway
  src/PaymentGateways/PayPalCommerce/PayPalCommerceGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: register PayPalCommerce gateway to new gateway api
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Coalesce operator is not compatible with PHP 5.6
  src/Views/Form/Templates/Classic/Classic.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comment
  src/Views/Form/Templates/Classic/Classic.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: add general error state
  src/DonationForms/resources/admin-donation-forms.module.scss
  src/DonationForms/resources/admin-donation-forms.tsx
Due: stylelint --fix

refactor: rename constant names to be compatible with PHP 5.6
  src/Framework/QueryBuilder/Types/Operator.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename class method names to be compatible with PHP 5.6
  src/Framework/QueryBuilder/JoinQueryBuilder.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use new method and constant names
  src/Framework/QueryBuilder/Clauses/Having.php
  src/Framework/QueryBuilder/Clauses/JoinCondition.php
  src/Framework/QueryBuilder/Clauses/Where.php
  src/Framework/QueryBuilder/Concerns/HavingClause.php
  src/Framework/QueryBuilder/Concerns/MetaQuery.php
  src/Framework/QueryBuilder/Concerns/WhereClause.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update docs
  src/Framework/QueryBuilder/README.md
Due: none

refactor: update join test
  tests/unit/tests/Framework/QueryBuilder/JoinTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: removr offsite gateway interface
  src/Framework/PaymentGateways/Contracts/OffsiteGatewayInterface.php
  src/Framework/PaymentGateways/PaymentGatewayRegister.php
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/Framework/PaymentGateways/Traits/OffsiteGateway.php
  src/Framework/PaymentGateways/Types/OffSitePaymentGateway.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
  tests/unit/tests/PaymentGateways/PaymentGatewaysRegisterTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: replace donationId with all queryParams
  src/Framework/PaymentGateways/Actions/GenerateGatewayRouteUrl.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/DataTransferObjects/GatewayRouteData.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: break state apart
  src/DonationForms/resources/admin-donation-forms.tsx
Due: none

feauture: add secureRouteMethods to payment gateway, with validation in gateway route
  src/Framework/PaymentGateways/DataTransferObjects/GatewayRouteData.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/Framework/PaymentGateways/Routes/RouteSignature.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update since tags and descriptions
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/Framework/PaymentGateways/Routes/RouteSignature.php
  src/PaymentGateways/Gateways/TestGateway/TestGatewayOffsite.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: comment out gateway
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move handle methods out of gateway calss
  src/Framework/PaymentGateways/Contracts/PaymentGatewayInterface.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/PaymentGatewayProcessor.php
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/Framework/PaymentGateways/Traits/ResponseHelpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update docblocks
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/PaymentGatewayProcessor.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use wp_die to throw 403
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: log invalid signature
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: cleanup unused
  src/Framework/PaymentGateways/DataTransferObjects/GatewayRouteData.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove unused use
  src/Framework/PaymentGateways/Actions/GenerateGatewayRouteUrl.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add missing code in GenerateGatewayRouteUrl
  src/Framework/PaymentGateways/Actions/GenerateGatewayRouteUrl.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rewrite offsite redirect return logic
  src/Framework/PaymentGateways/CommandHandlers/ReturnOffsitePaymentReturnHandler.php
  src/Framework/PaymentGateways/Commands/RedirectOffsitePaymentFailedReturn.php
  src/Framework/PaymentGateways/Commands/RedirectOffsitePaymentReturnCommand.php
  src/Framework/PaymentGateways/Commands/RedirectOffsitePaymentSuccessReturn.php
  src/Framework/PaymentGateways/Helpers/Gateway.php
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
  src/PaymentGateways/DataTransferObjects/FormData.php
  src/PaymentGateways/DataTransferObjects/OffsiteGatewayPaymentData.php
  src/PaymentGateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURL.php
  src/PaymentGateways/PayPalStandard/Actions/RedirectOffsitePayment.php
  src/PaymentGateways/PayPalStandard/PayPalStandardGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused code
  src/Framework/PaymentGateways/Actions/ProcessOffsitePaymentRedirectOnGatewayRoute.php
  src/Framework/PaymentGateways/CommandHandlers/PaymentCancelledHandler.php
  src/Framework/PaymentGateways/CommandHandlers/PaymentFailedHandler.php
  src/Framework/PaymentGateways/Commands/PaymentCancelled.php
  src/Framework/PaymentGateways/Commands/PaymentFailed.php
  src/Framework/PaymentGateways/Contracts/OffsiteGatewayInterface.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: rmeove unused use
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove unnecessary comment
  src/PaymentGateways/PayPalStandard/Actions/RedirectOffsitePayment.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use PayPalStandard class as new payment gateway class
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/PaymentGateways/PayPalStandard/PayPalStandard.php
  src/PaymentGateways/PayPalStandard/PayPalStandardGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add function description
  src/PaymentGateways/PayPalStandard/PayPalStandard.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not need to pass gateway id to function
  src/PaymentGateways/PayPalStandard/PayPalStandard.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use implode for args instead of json_encode
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
  src/Framework/PaymentGateways/Routes/RouteSignature.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: add filtering by status to Forms endpoints
  src/DonationForms/Endpoints/DuplicateForms.php
  src/DonationForms/Endpoints/ListForms.php
  src/DonationForms/Endpoints/MutateForms.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add dropdown to filter Forms by post status
  src/DonationForms/resources/admin-donation-forms.module.scss
  src/DonationForms/resources/admin-donation-forms.tsx
  src/DonationForms/resources/api.ts
Due: stylelint --fix

enhancement: add row actions for trashed forms
  src/DonationForms/resources/admin-donation-forms.module.scss
  src/DonationForms/resources/admin-donation-forms.tsx
Due: stylelint --fix

enhancement: add restore forms endpoint
  src/DonationForms/Endpoints/RestoreForms.php
  src/ServiceProviders/RestAPI.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
