Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

fix: remove DonationsVsIncome endpoint
  src/API/API.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: typo in upsell notice style: tweak styles to better match concept
  assets/src/css/admin/upsells.scss
  includes/admin/admin-actions.php
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: added shortlinks with UTM params for GA
  includes/admin/admin-actions.php
  includes/admin/admin-pages.php
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add crosshairs to line charts
  assets/src/js/admin/reports/components/chart/index.js
  assets/src/js/admin/reports/components/chart/style.scss
  assets/src/js/admin/reports/components/chart/utils/index.js
  assets/src/js/admin/reports/components/mini-chart/style.scss
  assets/src/js/admin/reports/components/mini-chart/utils/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: add donation URL to DonationItems
  assets/src/js/admin/reports/components/donation-item/index.js
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

feature: add donation link styles
  assets/src/js/admin/reports/components/donation-item/style.scss
Due: none

feature: add GiveWP loading spinner
  assets/src/js/admin/reports/components/loading-notice/index.js
  assets/src/js/admin/reports/components/loading-notice/style.scss
  assets/src/js/admin/reports/components/loading-overlay/index.js
  assets/src/js/admin/reports/components/rest-chart/index.js
  assets/src/js/admin/reports/components/spinner/index.js
  assets/src/js/admin/reports/components/spinner/style.scss
Due: eslint --fix

fix: improve trend indicator logic
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

fix: increase dashboard widget chart aspect ratio
  assets/src/js/admin/reports/widget/index.js
Due: eslint --fix

fix: improve title of dashboard widget
  src/Views/Admin/DashboardWidgets/Reports.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add loading Spinner to dashboard widget
  src/Views/Admin/DashboardWidgets/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add loading spinner to admin page
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add "See All Time" button to not found notice
  assets/src/js/admin/reports/components/not-found-notice/index.js
  assets/src/js/admin/reports/components/not-found-notice/style.scss
Due: eslint --fix

fix: improvve not found notice styles
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  assets/src/js/admin/reports/components/loading-overlay/style.scss
  assets/src/js/admin/reports/components/not-found-notice/index.js
  assets/src/js/admin/reports/components/not-found-notice/style.scss
  assets/src/js/admin/reports/components/not-found-overlay/style.scss
Due: eslint --fix

fix: add snapping to Chart vertical crosshair
  assets/src/js/admin/reports/components/chart/utils/index.js
Due: eslint --fix

fix: improve income endpoint performance
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve TotalIncome endpoint performance
  src/API/Endpoints/Reports/TotalIncome.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove income over time chart endpoint
  src/API/Endpoints/Reports/IncomeOverTime.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve average donation endpoint performance
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve average calculation logic
  assets/src/js/admin/reports/components/mini-chart/utils/index.js
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: add currency to total income highlight
  src/API/Endpoints/Reports/TotalIncome.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve inline period selector styles to avoid notice conflicts
  assets/src/js/admin/reports/app/index.js
  assets/src/js/admin/reports/app/style.scss
  src/Views/Admin/Pages/templates/reports-template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

feature: scaffold table component
  assets/src/js/admin/reports/components/table/index.js
Due: eslint --fix

feature: add RESTTable component
  assets/src/js/admin/reports/components/rest-table/index.js
  assets/src/js/admin/reports/components/rest-table/utils/index.js
  assets/src/js/admin/reports/components/table/style.scss
Due: eslint --fix

fix: improve crosshair plugin
  assets/src/js/admin/reports/components/chart/utils/crosshair.js
  assets/src/js/admin/reports/components/chart/utils/index.js
Due: eslint --fix

fix: show skeleton charts under not found notice
  assets/src/js/admin/reports/components/rest-chart/index.js
  assets/src/js/admin/reports/components/rest-list/index.js
  assets/src/js/admin/reports/components/skeleton-chart/index.js
  assets/src/js/admin/reports/components/skeleton-chart/style.scss
  assets/src/js/admin/reports/components/skeleton-chart/utils/index.js
Due: eslint --fix

feature: add Income Breakdown table to overview page
  assets/src/js/admin/reports/app/pages/overview-page/index.js
Due: eslint --fix

fix: improve spinner style
  assets/src/js/admin/reports/components/spinner/style.scss
Due: none

fix: use average slope to calculate avg donation trend
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use avg slope to calculate total income trend
  src/API/Endpoints/Reports/TotalIncome.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: pass currency to give_maybe_sanitize_amount fn
  includes/forms/functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve ofrmatting
  includes/forms/functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add currency to give_maybe_sanitize_amount
  includes/forms/template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code formatting
  includes/forms/template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add new action hook for system info and auto format code
  includes/admin/tools/views/html-admin-page-system-info.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add income breakdown endpoint
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  src/API/API.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: remove crosshair plugin dependency
  assets/src/js/admin/reports/components/chart/index.js
Due: eslint --fix

fix: improve chart title styles
  assets/src/js/admin/reports/components/chart/style.scss
Due: none

feature: calculate y axis maximum based on dataset
  assets/src/js/admin/reports/components/chart/utils/index.js
Due: eslint --fix

fix: improve donation item style for wider card
  assets/src/js/admin/reports/components/donation-item/index.js
  assets/src/js/admin/reports/components/donation-item/style.scss
Due: eslint --fix
