Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: add migration routes
  src/API/Endpoints/Migrations/Endpoint.php
  src/API/Endpoints/Migrations/GetMigrations.php
  src/API/Endpoints/Migrations/RunMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: migration react app
  src/MigrationLog/Admin/Migrations/api.js
  src/MigrationLog/Admin/Migrations/index.js
  src/MigrationLog/Admin/Migrations/styles.module.scss
Due: eslint --fix, stylelint --fix

feature: migration react app entry point
  src/MigrationLog/Admin/index.js
Due: eslint --fix

feature: add migration log helper classes
  src/MigrationLog/Helpers/Assets.php
  src/MigrationLog/Helpers/Environment.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add migration repository methods getMigrationsForRequest, getMigrationsCountForRequest, getSortableColumns and getMigrationsPerPageLimit
  src/MigrationLog/MigrationLogRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: enqueue assets
  src/MigrationLog/MigrationLogServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add isValid method
  src/MigrationLog/MigrationLogStatus.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add migrations endpoints
  src/ServiceProviders/RestAPI.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add failed type support
  src/Views/Components/Label/index.js
  src/Views/Components/Modal/index.js
Due: eslint --fix

refactor: translate string
  src/Views/Components/Table/index.js
Due: eslint --fix

feature: add migrations app script
  webpack.config.js
Due: eslint --fix

feature: calcyulate data only for live donations
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormsData.php
  src/Tracking/Traits/HasDonations.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: honor max and min values for form
  src/DonorProfiles/resources/js/app/components/currency-control/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/amount-control/index.js
Due: eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

refactor: Cleanup imparitive implementation. (#5588)
  give.php
  src/Form/LegacyConsumer/Commands/DeprecateOldTemplateHook.php
  src/Form/LegacyConsumer/Commands/HookCommandInterface.php
  src/Form/LegacyConsumer/Commands/SetupNewTemplateHook.php
  src/Form/LegacyConsumer/FieldView.php
  src/Form/LegacyConsumer/FilterCallbackCollection.php
  src/Form/LegacyConsumer/README.md
  src/Form/LegacyConsumer/ServiceProvider.php
  src/Form/LegacyConsumer/TemplateHooks.php
  src/Form/LegacyConsumer/functions.php
  src/Form/LegacyConsumer/templates/checkbox.html.php
  src/Form/LegacyConsumer/templates/label.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/text.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
  src/Framework/FieldsAPI/FormConsumer/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add migration run order column
  src/API/Endpoints/Migrations/GetMigrations.php
  src/Framework/Migrations/MigrationsRunner.php
  src/MigrationLog/MigrationLogFactory.php
  src/MigrationLog/MigrationLogModel.php
  src/MigrationLog/MigrationLogRepository.php
  src/MigrationLog/Migrations/CreateMigrationsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add migration run order column
  src/API/Endpoints/Migrations/RunMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: export swr mutate
  src/MigrationLog/Admin/Migrations/api.js
Due: eslint --fix

feature: add run order column; update modal
  src/MigrationLog/Admin/Migrations/index.js
Due: eslint --fix

refactor: remove unused migration status
  src/MigrationLog/MigrationLogStatus.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update modal close icon
  src/Views/Components/Modal/index.js
  src/Views/Components/Modal/styles.module.scss
Due: eslint --fix, stylelint --fix

refactor: extend notice width
  src/Views/Components/Notice/style.module.scss
Due: stylelint --fix

fix: pagination offset
  src/Log/LogRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: column name
  src/MigrationLog/Admin/Migrations/index.js
Due: eslint --fix

fix: use donation_id column from meta table for inner join
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormsData.php
  src/Tracking/Traits/HasDonations.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: set '@return' to array
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: address php 5.6 incompatibility
  src/DonorProfiles/Factories/DonorFactory.php
  src/DonorProfiles/Pipeline/DonorProfilePipeline.php
  src/DonorProfiles/Routes/DonationsRoute.php
  src/DonorProfiles/Routes/LocationRoute.php
  src/DonorProfiles/Routes/ProfileRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent key related error notice
  src/DonorProfiles/resources/js/app/components/dashboard-content/index.js
Due: eslint --fix

fix: prevent undefined index notice
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make tab icons fixed width
  src/DonorProfiles/resources/js/app/components/tab-link/index.js
Due: eslint --fix

feature: add run order warning
  src/MigrationLog/Admin/Migrations/index.js
Due: eslint --fix

refactor: pull out migration from repository instead of creating the new one
  src/API/Endpoints/Migrations/RunMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: fix and update counter method
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: calculate data for request only when post data
  src/Tracking/Contracts/TrackEvent.php
  src/Tracking/Track.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: check if value exist in array
  src/Tracking/TrackingData/GivePluginSettingsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: place ON immidiately after INNER JOIN
  src/Tracking/TrackingData/DonationData.php
  src/Tracking/TrackingData/DonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: init email_access controller before using
  src/DonorProfiles/Routes/VerifyEmailRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: conditionally show email verification fields
  src/DonorProfiles/App.php
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: conditionally load verify email route
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: conditionally register verify email route with hook
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
