Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Pre-load selected addons.
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: show paypal payment refund failure notice on redirect
  src/PaymentGateways/PayPalCommerce/RefundPaymentHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: run paypal redund only if payment gateway is paypal donations
  src/PaymentGateways/PayPalCommerce/RefundPaymentHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: extract give_receipt shortcode from post content
  src/Helpers/Frontend/Shortcode.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not hide paypal 3ds validation popup in multi step form template
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

chore: prveent javascript issue
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
Due: eslint --fix

fix: remove unnecessary spaces in selector
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

Update resources section title.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add onboarding settings defualt state.
  src/Onboarding/Setup/PageView.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove extra space from link
  src/PaymentGateways/PayPalCommerce/RefundPaymentHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add PaymentCaptureRefunded webhook event handling
  src/Controller/PayPalWebhooks.php
  src/PaymentGateways/PayPalCommerce/Models/PayPalOrder.php
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
  src/PaymentGateways/PayPalCommerce/Webhooks/Listeners/CheckoutOrderApproved.php
  src/PaymentGateways/PayPalCommerce/Webhooks/Listeners/EventListener.php
  src/PaymentGateways/PayPalCommerce/Webhooks/Listeners/PaymentCaptureRefunded.php
  src/Repositories/PaymentsRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: refund payment on paypal only if admin optin
  assets/src/js/admin/admin.js
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/PaymentGateways/PayPalCommerce/RefundPaymentHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Update Wizard step titles for brevity.
  assets/src/js/admin/onboarding-wizard/app/index.js
Due: eslint --fix

Move GiveWP 101 to its own section.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update Setup Page resource links to open in a new tab.
  src/Onboarding/Setup/templates/action-link.html
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add step number to Setup Page sections.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update GiveWP 101 section to be a callout instead of a step.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Normalize icon sizes on the Setup Page.
  assets/src/css/admin/setup.scss
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: get value from global param
  src/PaymentGateways/PayPalCommerce/RefundPaymentHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

Rename GiveWP 101 to GiveWP Getting Started Guide.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix typo in Default Form Stripe setting.
  src/Onboarding/DefaultFormFactory.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove the Getting Started and What's New dashboards.
  assets/src/css/admin/give-admin.scss
  assets/src/css/admin/welcome.scss
  includes/admin/class-give-admin.php
  includes/admin/class-give-welcome.php
  includes/admin/settings/class-settings-advanced.php
  includes/admin/upgrades/upgrade-functions.php
  includes/install.php
  tests/unit-tests/tests-give.php
  tests/unit-tests/tests-install.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Remove references to give-getting-started and give-changelog.
  includes/admin/admin-footer.php
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove more welcome screen references.
  includes/admin/admin-footer.php
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: correct the PayPal header keys (their docs were wrong)
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: retrieve payment from PayPal to finish refund
  src/PaymentGateways/PayPalCommerce/Webhooks/Listeners/PaymentCaptureRefunded.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove hardcoded webhook link
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add minor fix to paypal payment method seperator
  assets/src/css/plugins/utils.scss
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
  src/Views/Form/Templates/Sequoia/assets/css/paypal-commerce.scss
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: add minor fix to paypal payment method seperator
  assets/src/css/frontend/paypal-commerce/advanced-card-fields.scss
  src/Views/Form/Templates/Sequoia/assets/css/paypal-commerce.scss
Due: stylelint --fix

Remove reference to the welcome screen.
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: use loading states while fetching
  assets/src/js/admin/onboarding-wizard/components/select-input/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

fix: use fetchingStatesList in store to handle loading states
  assets/src/js/admin/onboarding-wizard/app/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/app/store/actions.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/components/select-input/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

Update PayPal placeholder with link to settings page.
  assets/src/css/admin/setup.scss
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Conditionally show gateway setup.
  src/Onboarding/Setup/PageView.php
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix typo in PayPal card in the Setup Page.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add a default value for localized addons if not initialized.
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix the other typo in the PayPal card.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix typo in third step of wizard subtitle.
  assets/src/js/admin/onboarding-wizard/app/steps/features/index.js
Due: eslint --fix

fix: make sure the hash function is available
  includes/class-give-session.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: immediately bootstrap the legacy provider and add missing instance binding
  give.php
  includes/admin/settings/class-settings-advanced.php
  includes/install.php
  src/Route/Form.php
  src/ServiceProviders/LegacyServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
