Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

fix: remove required class for the title field
  includes/forms/template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove Give Form block controls
  blocks/donation-form/edit/block.js
  blocks/donation-form/edit/block.scss
  blocks/donation-form/edit/controls.js
  blocks/donation-form/edit/scss/controls.scss
Due: eslint --fix

chore: remove unused code
  blocks/components/blank-slate/index.js
  blocks/components/select-form/index.js
Due: eslint --fix

chore: set background
  assets/src/css/admin/blank-slate.scss
Due: none

chore: improve formatting
  assets/src/css/admin/blank-slate.scss
Due: none

chore: update h2 to h3
  assets/src/css/admin/blank-slate.scss
  blocks/components/blank-slate/index.js
Due: eslint --fix

chore: add style for form select component
  blocks/components/select-form/index.scss
Due: none

chore: remove button
  blocks/components/select-form/index.js
Due: eslint --fix

fix: setup rule on int hook to prevent overwrite
  includes/admin/upgrades/upgrade-functions.php
  includes/install.php
  src/Route/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Revert "fix: setup rule on int hook to prevent overwrite"
  includes/admin/upgrades/upgrade-functions.php
  includes/install.php
  src/Route/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add route in init hook
  src/Route/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve console error when sepa iban element doesnt exist
  assets/src/js/frontend/give-stripe-sepa.js
Due: eslint --fix

fix: resolve switching gateway issue when default is not sepa
  assets/src/js/frontend/give-stripe-sepa.js
Due: eslint --fix

fix: update settings name from hide icon to display icon
  assets/src/js/admin/stripe-admin.js
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add support for custom value in ChosenSelect
  blocks/components/chosen-select/index.js
Due: eslint --fix

fix: update description for mandata acceptance field
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add defaults for introduction section
  src/Views/Form/Themes/Sequoia/optionConfig.php
  src/Views/Form/Themes/Sequoia/sections/introduction.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add defaults labels to buttons
  src/Views/Form/Themes/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: set defailt id to zero
  blocks/donation-form/data/attributes.js
Due: eslint --fix

fix: value is required param
  blocks/components/chosen-select/index.js
Due: eslint --fix

chore: remove unused code
  blocks/components/select-form/index.js
Due: eslint --fix

chore: add getFormOptions helper fn
  blocks/utils/index.js
Due: eslint --fix

refactor: use getFormOptions helper fn
  blocks/components/select-form/index.js
Due: eslint --fix

chore: render Inspector component after getting for list
  blocks/donation-form/edit/inspector.js
Due: eslint --fix

chore: remove unnecessary isUndefined check
  blocks/utils/index.js
Due: eslint --fix

fix: set starting button label to donate label value
  src/Views/Form/Themes/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: source correct property for label
  src/Views/Form/Themes/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: move price option fields to legacy template
  includes/admin/forms/class-metabox-form-data.php
  src/Views/Form/Themes/Legacy/optionConfig.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: move display style option to legacy form template
  includes/admin/forms/class-metabox-form-data.php
  src/Views/Form/Themes/Legacy/optionConfig.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: return form template in rest response
  blocks/donation-form/class-give-donation-form-block.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add helper fn to check if show old settings or not
  blocks/utils/index.js
Due: eslint --fix

chore: show setting if form tempate is legacy
  blocks/donation-form/edit/inspector.js
Due: eslint --fix

fix: do not attempt to load template options on receipt page
  src/Views/Form/Themes/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: maintian theme image aspect ratio on resize
  assets/src/css/admin/forms.scss
  src/Views/Admin/Form/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: prevent admin intration with form
  blocks/donation-form/edit/block.scss
Due: none

chore: add link for to change form
  blocks/donation-form/edit/inspector.js
Due: eslint --fix

chore: cleanup code
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: decrease height between logo and heading
  assets/src/css/admin/blank-slate.scss
Due: none

chore: add button to change donation form
  blocks/donation-form/edit/block.scss
  blocks/donation-form/edit/inspector.js
Due: eslint --fix

fix: return autoscroll attribute to shortcode
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress
