Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: update chosen multi select admin setting filed to accept key value pair
  includes/admin/class-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add missing choices only if field data type set to multiselect
  includes/admin/class-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add necessary helper fns to collect and show billing address
  src/Helpers/Gateways/Stripe.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update admin and form chosen setting field to affect key value pair
  includes/admin/class-admin-settings.php
  includes/admin/give-metabox-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve render redirection fn to properly display billing address when enabled
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add array param to allow custom values in chosen field conditionally
  assets/src/js/admin/admin-scripts.js
Due: eslint --fix

fix: update admin setting field render logic to accept allow-custom-values
  includes/admin/class-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update form metabox setting field render logic to accept allow-custom-values
  includes/admin/give-metabox-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: allow to add custom value for Title Prefix setting
  includes/admin/forms/class-metabox-form-data.php
  includes/admin/settings/class-settings-display.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: insert custom values to field option if custom values enabled
  includes/admin/class-admin-settings.php
  includes/admin/give-metabox-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: move Checkmark svg to separate component
  assets/src/js/admin/onboarding-wizard/components/checkmark/index.js
Due: eslint --fix

refactor: move Chevron svg to separate component
  assets/src/js/admin/onboarding-wizard/components/chevron/index.js
Due: eslint --fix

fix: use Chevron component in Continue Button
  assets/src/js/admin/onboarding-wizard/components/continue-button/index.js
Due: eslint --fix

chore: clear up commented out styles
  assets/src/js/admin/onboarding-wizard/components/select-input/style.scss
Due: stylelint --fix

fix: clarifying prop names and use Checkmark component
  assets/src/js/admin/onboarding-wizard/components/step-link/index.js
  assets/src/js/admin/onboarding-wizard/components/step-navigation/index.js
Due: eslint --fix

fix: use cached selector
  assets/src/js/admin/admin-scripts.js
Due: eslint --fix

chore: improve code formatting
  includes/admin/give-metabox-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: decouple setup page redirect logic from go to step action
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/components/continue-button/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

fix: prevent php notice if style param is missing in field array
  includes/admin/class-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do post query to connect server
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

style to ensure button size is correct
  assets/src/css/admin/setting-license.scss
Due: stylelint --fix

don't pass $meta_value twice and pass $meta_type rather for use
  includes/misc-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: validate client onboarding status for seller
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: convert result to array
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: validate admin onboarding status
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not make property publically accesible
  src/ConnectClient/ConnectClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unnecessary use
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: functino will return array
  src/Helpers/ArrayDataSet.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use rename function
  src/PaymentGateways/PayPalCommerce/MerchantDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: point connect server url to live site
  src/ConnectClient/ConnectClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add informative paypal onboarding process errors
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update function description
  src/ConnectClient/ConnectClient.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix typo
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: initiate basic paypal smart buttons
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: validate array before creating object
  src/PaymentGateways/PayPalCommerce/MerchantDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: validate on baording status after saving merchant details
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update logic to show on boading erro message
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: allow only line break tag in error notice
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add Hooks helper for creating auto-instantiated hooks (#4939)
  src/Helpers/Hooks.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
