Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

feature: add avatar route to support uploads outside of WP uploads route
  src/DonorDashboards/Tabs/EditProfileTab/AvatarRoute.php
  src/DonorDashboards/Tabs/EditProfileTab/Tab.php
  src/DonorDashboards/resources/js/app/tabs/edit-profile/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

format: improve code formatting
  src/DonorDashboards/Tabs/EditProfileTab/AvatarRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use new function because function signature will not match
  src/DonorDashboards/Tabs/EditProfileTab/AvatarRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use correct param
  src/DonorDashboards/Tabs/EditProfileTab/AvatarRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not need to upload multiple file
  src/DonorDashboards/Tabs/EditProfileTab/AvatarRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: define missing abstract function
  src/DonorDashboards/Tabs/EditProfileTab/AvatarRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: make route implementation consistent
  src/DonorDashboards/Tabs/Contracts/Route.php
  src/DonorDashboards/Tabs/EditProfileTab/AvatarRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: omit .gitattributes file from releases
  .distignore
Due: none

fix: only set updated true when avatar file is not null
  src/DonorDashboards/resources/js/app/tabs/edit-profile/content.js
Due: eslint --fix

doc: define return type
  src/DonorDashboards/Tabs/EditProfileTab/AvatarRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add missing double tag
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update changelog
  CHANGELOG.md
Due: none

refactor: access db functions with DB
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: log error on exception
  src/Revenue/Migrations/AddPastDonationsToRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Add isset check for search parameter.
  includes/admin/donors/class-donor-table.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update changelog.
  CHANGELOG.md
Due: none

chore: Update public fields api README with examples. (#5751)
  src/Form/LegacyConsumer/README.md
Due: none

chore: update minimum requirements
  readme.txt
Due: none

fix: only retrieve migrations when needed
  src/MigrationLog/Helpers/MigrationHelper.php
Due: npm run lint:textdomain, npm run lint:php:fix

Adding a fix for the PHP notice on system info page
  includes/admin/tools/views/html-admin-page-system-info.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: minor formatting change to earlier commit
  includes/admin/tools/views/html-admin-page-system-info.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: moving location of changelog entry ideally to correct location
  CHANGELOG.md
Due: none

chore: adjust indentation
  CHANGELOG.md
Due: none

Update includes/admin/tools/views/html-admin-page-system-info.php
  includes/admin/tools/views/html-admin-page-system-info.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change the column type to add support for mysql versions <= 5.6
  src/MigrationLog/Migrations/CreateMigrationsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: error logging
  src/Revenue/Migrations/AddPastDonationsToRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add billing field setting
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

Adding null value assignments and null assignment checks for
  includes/admin/tools/views/html-admin-page-system-info.php
Due: npm run lint:textdomain, npm run lint:php:fix

Correctly applying suggested change
  includes/admin/tools/views/html-admin-page-system-info.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove default value for the last_run column; change column type to DATETIME
  src/MigrationLog/Migrations/CreateMigrationsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: set `last_run` column value on insert
  src/MigrationLog/MigrationLogRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix
