Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

chore: add double quote around word
  includes/class-give-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: share with iframe parent url
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: print sharing instruction option
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add twitter_message option
  src/Views/Form/Templates/Sequoia/optionConfig.php
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: make sharing instruction a text input
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: open windows in center of screen
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: prevent sharing receipt url
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add inline documentation
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add support for secret and publishable key tests
  tests/unit-tests/stripe/tests-give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove stripe is connected test as fn will be removed soon
  tests/unit-tests/stripe/tests-give-stripe-admin-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve test for secret and publishable key
  tests/unit-tests/stripe/tests-give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add fn to add publishable key and account id to form tag
  includes/gateways/stripe/includes/filters.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add filter calls for core stripe payment methods
  includes/gateways/stripe/includes/filters.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: load frontend filters.php
  includes/gateways/stripe/class-give-stripe.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use publishable key and account id from give form tag
  assets/src/js/frontend/give-stripe-becs.js
  assets/src/js/frontend/give-stripe-checkout.js
  assets/src/js/frontend/give-stripe-sepa.js
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: remove usage of publishable key and account id from cc field
  includes/gateways/stripe/includes/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve css for stripe accounts actions section
  assets/src/css/admin/stripe-admin.scss
Due: none

fix: don't show disconnect btn for default stripe account
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove legacy stripe connection button
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: properly update default account on changing account name
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: show default account disconnect link if one account connected
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve stripe webhooks to handle multiple accounts
  includes/gateways/stripe/includes/class-give-stripe-webhooks.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add helper fn to get single ip address
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use stripe ip address helper fn
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update donation status to processing for becs
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add missing address line2
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: show linked transaction id in admin
  includes/gateways/stripe/includes/admin/admin-filters.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove unnecessary change due to misunderstanding
  includes/gateways/stripe/includes/filters.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve console error on update payment method
  assets/src/js/frontend/give-stripe-checkout.js
Due: eslint --fix

fix: use getParameterByName fn
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use removeURLParameter fn
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: setup twitter share fn
  assets/src/js/frontend/give.js
  assets/src/js/plugins/give-api/api.js
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: format code
  assets/src/js/plugins/give-api/api.js
Due: eslint --fix

feat: implement facebook share fn
  assets/src/js/plugins/give-api/api.js
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

refactor: create share.js
  assets/src/js/plugins/give-api/api.js
  assets/src/js/plugins/give-api/share.js
Due: eslint --fix

fix: add missing closing tag
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve error styles
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: improve choose amount error style
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none
