Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

doc: update change log
  CHANGELOG.md
Due: none

format: improve comment formatting
  includes/currency-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: temporarily omit mysql 8.0 from test matrix
  .github/workflows/wordpress.yml
Due: none

chore: use a strong mysql 8 password to avoid weak root password issues
  .github/workflows/wordpress.yml
Due: none

chore: take out bash-conflicting characters from password
  .github/workflows/wordpress.yml
Due: none

chore: use old password authentication for mysql 8
  .github/workflows/wordpress.yml
Due: none

chore: add option to set mysql 8 default authentication plugin for WP compatibility
  .github/workflows/wordpress.yml
Due: none

chore: try running command as entrypoint option
  .github/workflows/wordpress.yml
Due: none

chore: correct image name
  .github/workflows/wordpress.yml
Due: none

chore: move entry point option to the end
  .github/workflows/wordpress.yml
Due: none

chore: move env variable to options
  .github/workflows/wordpress.yml
Due: none

chore: warn future self with documentation
  .github/workflows/wordpress.yml
Due: none

chore: add link to helpful github issue
  .github/workflows/wordpress.yml
Due: none

fix: check if donor dashboard page is already published before generating a new one
  src/DonorDashboards/Admin/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not check if page is published
  src/DonorDashboards/Admin/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

fix: if donor id is invalid, return null
  src/DonorDashboards/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: prevent legacy logging from throwing unhandled exceptions
  includes/class-give-logging.php
  src/Log/Log.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename function
  src/PaymentGateways/Stripe/ApplicationFee.php
  tests/unit/tests/PaymentGateways/Stripe/ApplicationFeeTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove ProcessingDonation class
  includes/gateways/stripe/includes/class-give-stripe-checkout-session.php
  includes/gateways/stripe/includes/class-give-stripe-gateway.php
  includes/gateways/stripe/includes/class-give-stripe-payment-intent.php
  src/PaymentGateways/Stripe/ProcessingDonation.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  includes/gateways/stripe/includes/class-give-stripe-payment-intent.php
  src/PaymentGateways/Stripe/ApplicationFee.php
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

rafctor: set function access to static
  src/PaymentGateways/Stripe/ApplicationFee.php
Due: npm run lint:textdomain, npm run lint:php:fix

regactor: improve test code formatting
  tests/unit/tests/PaymentGateways/Stripe/ApplicationFeeTest.php
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: no need to test static function
  tests/unit/tests/PaymentGateways/Stripe/ApplicationFeeTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

test: add test for canAddFee method
  tests/unit/tests/PaymentGateways/Stripe/ApplicationFeeTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: access static function
  tests/unit/tests/PaymentGateways/Stripe/ApplicationFeeTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: wrap LogFactory inside try...catch block
  includes/class-give-logging.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: perform id validity check in donations route
  src/DonorDashboards/Repositories/Donations.php
  src/DonorDashboards/Tabs/DonationHistoryTab/DonationsRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update `Log::class` docblock
  src/Log/Log.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add actionable item to message
  src/DonorDashboards/Tabs/DonationHistoryTab/DonationsRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: validate current donor id for requests
  src/DonorDashboards/Tabs/Contracts/Route.php
  src/DonorDashboards/Tabs/DonationHistoryTab/DonationsRoute.php
  src/DonorDashboards/resources/js/app/store/actions.js
  src/DonorDashboards/resources/js/app/tabs/donation-history/content.js
  src/DonorDashboards/resources/js/app/tabs/donation-history/dashboard-content.js
  src/DonorDashboards/resources/js/app/tabs/recurring-donations/content.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

doc: add property doc to class
  src/Session/SessionDonation/DonationAccessor.php
Due: npm run lint:textdomain, npm run lint:php:fix

Revert "doc: add property doc to class"
  src/Session/SessionDonation/DonationAccessor.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve log message
  src/DonorDashboards/Tabs/Contracts/Route.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add front-end error handling for annual receipts
  src/DonorDashboards/resources/js/app/tabs/annual-receipts/content.js
  src/DonorDashboards/resources/js/app/tabs/annual-receipts/store/actions.js
  src/DonorDashboards/resources/js/app/tabs/annual-receipts/store/initialState.js
  src/DonorDashboards/resources/js/app/tabs/annual-receipts/store/reducer.js
  src/DonorDashboards/resources/js/app/tabs/annual-receipts/utils/index.js
Due: eslint --fix

fix: add front-end error handling for recurring donations
  src/DonorDashboards/Tabs/Contracts/Route.php
  src/DonorDashboards/resources/js/app/tabs/recurring-donations/content.js
  src/DonorDashboards/resources/js/app/tabs/recurring-donations/store/actions.js
  src/DonorDashboards/resources/js/app/tabs/recurring-donations/store/initialState.js
  src/DonorDashboards/resources/js/app/tabs/recurring-donations/store/reducer.js
  src/DonorDashboards/resources/js/app/tabs/recurring-donations/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: uncomment conditional
  src/DonorDashboards/Tabs/Contracts/Route.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set priority for asset loading action
  src/DonorDashboards/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix
