Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

fix: include thousands seperators in giving stats
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set dashboard tab active on load
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: active tab links have white background
  src/DonorProfiles/resources/js/app/components/desktop-layout/style.scss
  src/DonorProfiles/resources/js/app/components/mobile-layout/style.scss
Due: stylelint --fix

refactor: Use a CommandFactory to maintain context in nested callbacks.
  src/Form/LegacyConsumer/Commands/CommandFactory.php
  src/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplay.php
  src/Form/LegacyConsumer/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolve pagination issues
  src/DonorProfiles/resources/js/app/components/annual-receipt-table/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/index.js
  src/DonorProfiles/resources/js/app/components/subscription-table/index.js
Due: eslint --fix

chore: Add docblocks.
  src/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplay.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update changelog.
  CHANGELOG.md
Due: none

fix: improve iframe loading states
  src/DonorProfiles/App.php
  src/DonorProfiles/resources/views/donorprofileloader.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: close modal by clicking on the modal overlay
  src/Views/Components/Modal/index.js
Due: eslint --fix

fix: improve margins
  src/DonorProfiles/resources/js/app/components/donor-info/index.js
  src/DonorProfiles/resources/js/app/components/donor-info/style.scss
  src/DonorProfiles/resources/js/app/components/tab-link/style.scss
Due: eslint --fix, stylelint --fix

chore: update changelog
  CHANGELOG.md
Due: none

enhancement: Add email tags for custom fields.
  src/Form/LegacyConsumer/Commands/SetupFieldEmailTag.php
  src/Form/LegacyConsumer/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add translated statuses
  src/API/Endpoints/Logs/GetLogs.php
  src/Log/Admin/Logs/index.js
  src/Log/Assets.php
  src/Log/ValueObjects/LogType.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add column sorting indicator
  src/Log/Admin/Logs/index.js
  src/MigrationLog/Admin/Migrations/index.js
  src/Views/Components/Spinner/index.js
  src/Views/Components/Spinner/style.module.scss
  src/Views/Components/Table/index.js
Due: eslint --fix, stylelint --fix

fix: css styles
  src/Views/Components/Modal/index.js
  src/Views/Components/Modal/styles.module.scss
  src/Views/Components/PeriodSelector/style.module.scss
Due: eslint --fix, stylelint --fix

enhancement: Add FieldStoreAsMeta API trait.
  src/Framework/FieldsAPI/FormField.php
  src/Framework/FieldsAPI/FormField/FieldStoreAsMeta.php
  tests/unit/tests/Framework/FieldsAPI/FormField/FieldStoreAsMetaTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: Update Form Consumer to persist donor and/or donation meta.
  src/Form/LegacyConsumer/Commands/SetupFieldPersistance.php
Due: npm run lint:textdomain, npm run lint:php:fix

Custom field values now display in payment details. (#5647)
  CHANGELOG.md
  src/Form/LegacyConsumer/Commands/CommandFactory.php
  src/Form/LegacyConsumer/Commands/SetupFieldPersistance.php
  src/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplay.php
  src/Form/LegacyConsumer/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

Failing Migration test is now removed (#5653)
  CHANGELOG.md
  tests/unit/tests/Framework/Migrations/MigrationsRunnerTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add axios and prop-types to package
  package.json
Due: prettier --write

chore: Commit merge conflict resolution.
  src/Form/LegacyConsumer/Commands/SetupFieldPersistance.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: Add custom field values to Donation Receipt.
  src/Form/LegacyConsumer/Commands/SetupFieldReciept.php
  src/Form/LegacyConsumer/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

Form Templates now support custom checkbox fields (#5643)
  CHANGELOG.md
  assets/src/css/frontend/forms.scss
  src/Form/LegacyConsumer/FieldView.php
  src/Form/LegacyConsumer/templates/checkbox.html.php
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: Update form ID reference.
  src/Form/LegacyConsumer/Commands/SetupFieldReciept.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: Add custom field values to Donation Confirmation.
  src/Form/LegacyConsumer/Commands/SetupFieldConfirmation.php
  src/Form/LegacyConsumer/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: contain iframe and loader in relative positioned div
  src/DonorProfiles/App.php
  src/DonorProfiles/resources/views/donorprofileloader.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: correct typo
  src/DonorProfiles/resources/js/app/components/avatar-control/index.js
Due: eslint --fix

fix: apply max-width to div to avoid scrunching
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.10.0-alpha.2 release
  CHANGELOG.md
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: Add support for custom email tags.
  src/Form/LegacyConsumer/Commands/SetupFieldEmailTag.php
  src/Framework/FieldsAPI/FormField.php
  src/Framework/FieldsAPI/FormField/FieldEmailTag.php
  tests/unit/tests/Framework/FieldsAPI/FormField/FieldEmailTagTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Remove unecessary tests.
  tests/unit/tests/Onboarding/Helpers/FormatListTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Remove rigid test for callback method name.
  tests/unit/legacy/tests-api.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: upgrade process
  src/Log/Migrations/MigrateExistingLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: polish contextual docs
  includes/admin/settings/class-settings-advanced.php
  src/DonorProfiles/resources/js/app/tabs/edit-profile/address-controls/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: remove redundancy
  includes/admin/settings/class-settings-advanced.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix typo on donor profile output
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
Due: eslint --fix
