Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: add give revenue table to wpdb
  src/Revenue/RevenueServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: access table name from wpdb
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add revenue insert function
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add logic to insert revenue for new donation
  src/Revenue/OnDonationHandler.php
  src/Revenue/RevenueServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix function name
  src/Revenue/OnDonationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unnsecessay filter
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: do not store wpdb in class property
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add cascade delete rule for revenue table
  src/Revenue/Migrations/CreateRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: generate prepare query placeholder correctely
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unused construtor
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename function
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update comment
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: handle migration failures
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: validate revenue data after applying filter
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: rename class
  src/Revenue/Migrations/AddPastDonationsToRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update past donations revenue migration
  src/Revenue/Migrations/AddPastDonationsToRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add function check if donation exist in revenue table or not
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: register database update
  src/Revenue/RevenueServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: complete revenue update on install
  includes/install.php
  src/Revenue/Migrations/AddPastDonationsToRevenueTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: throw error when pass empty value for required columns
  src/Revenue/Migrations/AddPastDonationsToRevenueTable.php
  src/Revenue/Repositories/Revenue.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add paypal-js package
  package-lock.json
  package.json
Due: prettier --write

feature: switch migration transactions to per migration basis
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold multi-form goals directory
  blocks/load.js
  give.php
  src/MultiFormGoals/Block.php
  src/MultiFormGoals/Model.php
  src/MultiFormGoals/ServiceProvider.php
  src/MultiFormGoals/resources/css/common.scss
  src/MultiFormGoals/resources/css/editor.scss
  src/MultiFormGoals/resources/js/components/color-control/index.js
  src/MultiFormGoals/resources/js/components/image-control/index.js
  src/MultiFormGoals/resources/js/components/logo/index.js
  src/MultiFormGoals/resources/js/components/multi-select-control/index.js
  src/MultiFormGoals/resources/js/components/multi-select-control/style.scss
  src/MultiFormGoals/resources/js/data/attributes.js
  src/MultiFormGoals/resources/js/data/utils.js
  src/MultiFormGoals/resources/js/edit/index.js
  src/MultiFormGoals/resources/js/edit/inspector.js
  src/MultiFormGoals/resources/js/index.js
  src/MultiFormGoals/resources/views/multiformgoals.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: load paypal sdk from client side
  assets/src/js/frontend/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: add initial setup to process subscription from smart buttons
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

feature: add progress bar block
  blocks/load.js
  src/MultiFormGoals/resources/css/common.scss
  src/MultiFormGoals/resources/js/blocks/progress-bar/index.js
  src/MultiFormGoals/resources/js/components/footer/index.js
  src/MultiFormGoals/resources/js/components/progress-bar/index.js
  src/MultiFormGoals/resources/js/edit/index.js
  src/MultiFormGoals/resources/js/index.js
Due: eslint --fix, stylelint --fix

format: improve code formatting
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

chore: load script with vault set to true
  assets/src/js/frontend/paypal-commerce/index.js
Due: eslint --fix

refactor: add showError function
  assets/src/js/frontend/paypal-commerce/PaymentMethod.js
Due: eslint --fix

feature: integrate native subscription funtionality with smart buttons
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

formrt: improve code formatting
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

refactor: rename function
  assets/src/js/frontend/paypal-commerce/AdvancedCardFields.js
  assets/src/js/frontend/paypal-commerce/DonationForm.js
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: add subscription id to form before submitting it
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: show general error message when donor cancel payment in between
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: remove error before creting plan id
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: use close function to destroy button
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

chore: fix typo
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

fix: use filter to access correct donation amount
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: refactor code to fix javascript notices
  assets/src/js/frontend/paypal-commerce/CustomCardFields.js
  assets/src/js/frontend/paypal-commerce/PaymentMethod.js
  assets/src/js/frontend/paypal-commerce/SmartButtons.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
