Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

New: add new gateway api commands and handlers (#6139)
  src/Framework/PaymentGateways/CommandHandlers/PaymentProcessingHandler.php
  src/Framework/PaymentGateways/CommandHandlers/RespondToBrowserHandler.php
  src/Framework/PaymentGateways/Commands/PaymentProcessing.php
  src/Framework/PaymentGateways/Commands/RespondToBrowser.php
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/Traits/OffsiteGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: log failed license api request information (#6108)
  includes/admin/add-ons/actions.php
  includes/class-give-license-handler.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: prettier
  assets/src/css/admin/forms.scss
Due: stylelint --fix

feature: use new template learn cta design
  assets/src/css/admin/forms.scss
  assets/src/images/admin/cap-books.svg
  src/Views/Admin/Form/Metabox-Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: set up wrapping column template for template list
  assets/src/css/admin/forms.scss
Due: stylelint --fix

feature: update design for template selector
  assets/src/css/admin/forms.scss
  assets/src/images/admin/template-preview-classic.png
  assets/src/images/admin/template-preview-legacy.png
  assets/src/images/admin/template-preview-multi-step.png
  src/Form/Templates.php
  src/Views/Admin/Form/Metabox-Settings.php
  src/Views/Form/Templates/Classic/Classic.php
  src/Views/Form/Templates/Legacy/Legacy.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

doc: update comment
  src/PaymentGateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURL.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove developer.givewp.com from our github and update compatibile WP version
  README.md
  readme.txt
Due: none

fix: Only filter value as unique array if set.
  src/Email/GlobalSettingValidator.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add test.
  tests/unit/tests/Email/GlobalSettingValidatorTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.17.2 release
  give.php
  readme.txt
  src/Email/GlobalSettingValidator.php
Due: npm run lint:textdomain, npm run lint:php:fix

Payment Commands now extend base class for shared functionality (#6156)
  src/Framework/PaymentGateways/CommandHandlers/PaymentAbandonedHandler.php
  src/Framework/PaymentGateways/CommandHandlers/PaymentCompleteHandler.php
  src/Framework/PaymentGateways/CommandHandlers/PaymentHandler.php
  src/Framework/PaymentGateways/CommandHandlers/PaymentProcessingHandler.php
  src/Framework/PaymentGateways/CommandHandlers/PaymentRefundedHandler.php
  src/Framework/PaymentGateways/Commands/PaymentAbandoned.php
  src/Framework/PaymentGateways/Commands/PaymentCommand.php
  src/Framework/PaymentGateways/Commands/PaymentProcessing.php
  src/Framework/PaymentGateways/Commands/PaymentRefunded.php
  src/Framework/PaymentGateways/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: only set decimals_enabled if it is already set
  src/Helpers/Form/Template.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Remove moot pluhin uninstall in test bootstrapping.
  tests/unit/bootstrap.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use correct ffm form row class names
  src/Views/Form/Templates/Classic/resources/css/_grid.scss
  src/Views/Form/Templates/Classic/resources/css/_payment-details.scss
  src/Views/Form/Templates/Classic/resources/css/_section.scss
Due: stylelint --fix

fix: user function argument to access array key data
  src/PaymentGateways/DataTransferObjects/GatewayPaymentData.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add legacyDoantionData property to dto
  src/PaymentGateways/DataTransferObjects/FormData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename function argument
  src/Framework/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayRegisterAdapter.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove unused use
  src/PaymentGateways/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: correctly validate donation type
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update function description
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: keep tribute fields from jumbling when placed above/below payment info
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
Due: stylelint --fix

refactor: check if template options are set
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

fix: feature check for Stripe before using it
  src/Views/Form/Templates/Classic/resources/js/form.js
  src/Views/Form/Templates/Classic/resources/js/is-feature-active.js
Due: eslint --fix

fix: style terms correctly
  src/Views/Form/Templates/Classic/resources/css/_terms.scss
  src/Views/Form/Templates/Classic/resources/css/form.scss
Due: stylelint --fix

fix: resolve merge conflict
  src/Framework/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayRegisterAdapter.php
Due: npm run lint:textdomain, npm run lint:php:fix

Revert "fix: remove filter from the_content"
  src/Controller/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: pass legacy donation data to deprecated filter
  src/PaymentGateways/GatewayPaymentRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: fix typo in function description
  src/PaymentGateways/GatewayPaymentRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move GatewayPaymentRepository to Repositories directory
  src/PaymentGateways/DataTransferObjects/GatewayPaymentData.php
  src/PaymentGateways/Repositories/GatewayPaymentRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update property description
  src/PaymentGateways/DataTransferObjects/GatewayPaymentData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: set success redirect url to donation form
  src/PaymentGateways/PayPalStandard/PayPalStandardGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove unused use
  src/PaymentGateways/PayPalStandard/PayPalStandardGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename variable to legacy as well
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
Due: npm run lint:textdomain, npm run lint:php:fix

Chore: WordPress unit test bootstrapping is now updated (#6135)
  .github/workflows/wordpress.yml
  composer.json
  composer.lock
  includes/class-give-translation.php
  includes/payments/class-payment-stats.php
  tests/unit/.gitignore
  tests/unit/README.md
  tests/unit/bin/install.sh
  tests/unit/bootstrap.php
  tests/unit/framework/class-give-unit-test-case.php
  tests/unit/legacy/tests-email-tags.php
  tests/unit/uploads/.gitkeep
  tests/unit/wp-tests-config.dist.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

feature: scaffold addition of legacy subscription files
  give.php
  src/DonationSummary/SummaryView.php
  src/LegacyPaymentGateways/Adapters/LegacyPaymentGatewayAdapter.php
  src/LegacySubscriptions/ServiceProvider.php
  src/LegacySubscriptions/includes/give-recurring-ajax.php
  src/LegacySubscriptions/includes/give-recurring-cache.php
  src/LegacySubscriptions/includes/give-recurring-cron.php
  src/LegacySubscriptions/includes/give-recurring-db-subscription-meta.php
  src/LegacySubscriptions/includes/give-recurring-emails.php
  src/LegacySubscriptions/includes/give-recurring-expirations.php
  src/LegacySubscriptions/includes/give-recurring-functions.php
  src/LegacySubscriptions/includes/give-recurring-gateway-factory.php
  src/LegacySubscriptions/includes/give-recurring-helpers.php
  src/LegacySubscriptions/includes/give-recurring-renewals.php
  src/LegacySubscriptions/includes/give-recurring-shortcodes.php
  src/LegacySubscriptions/includes/give-recurring-subscriber.php
  src/LegacySubscriptions/includes/give-recurring-template.php
  src/LegacySubscriptions/includes/give-subscription.php
  src/LegacySubscriptions/includes/give-subscriptions-api.php
  src/LegacySubscriptions/includes/give-subscriptions-db.php
  src/Subscriptions/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move checkout action back into recurring
  src/LegacySubscriptions/includes/give-recurring-helpers.php
  src/LegacySubscriptions/includes/give-recurring-template.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move filter/action specific functions back into recurring
  src/LegacySubscriptions/ServiceProvider.php
  src/LegacySubscriptions/includes/give-recurring-functions.php
  src/LegacySubscriptions/includes/give-recurring-helpers.php
  src/LegacySubscriptions/includes/give-recurring-shortcodes.php
  src/LegacySubscriptions/includes/give-recurring-template.php
  src/Subscriptions/Models/LegacySubscriber.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold new admin donations list
  give.php
  includes/admin/admin-pages.php
  src/Donations/DonationsAdminPage.php
  src/Donations/ServiceProvider.php
  src/Donations/resources/admin-donations.js
  webpack.mix.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: implement basis of new donations list
  src/Donations/resources/admin-donations.js
  src/Donations/resources/admin-donations.module.scss
  src/Donations/resources/components/Button.jsx
  src/Donations/resources/components/Button.module.scss
  src/Donations/resources/components/Checkbox.jsx
  src/Donations/resources/components/Checkbox.module.scss
  src/Donations/resources/components/index.js
  src/Donations/resources/hooks/index.js
  src/Donations/resources/hooks/useSelectAll.js
  src/Donations/resources/mock-donations.json
Due: prettier --write, eslint --fix, stylelint --fix
