Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

chore: Reduce test matrix.
  .github/workflows/wordpress.yml
Due: none

chore: split current and legacy tests into separate test suites
  phpunit.xml
Due: none

Lift memory limit when running unit tests.
  .github/workflows/wordpress.yml
Due: none

chore: allow for spaces within host and socket paths
  tests/unit/bin/install.sh
Due: none

chore: add note in readme on sockets
  tests/unit/README.md
Due: none

chore: tenative fix for port and tcp in install file
  tests/unit/bin/install.sh
Due: none

chore: possibly actually understand bash and fix install script
  tests/unit/bin/install.sh
Due: none

fix: remove error log
  includes/class-give-donor.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: extract FormatList helper to FormatObjectList package
  composer.json
  composer.lock
  src/DonorProfiles/Helpers/FormatList.php
  src/DonorProfiles/Helpers/LocationList.php
  src/Onboarding/Helpers/FormatList.php
  src/Onboarding/Helpers/LocationList.php
  src/Onboarding/Routes/LocationRoute.php
  src/Onboarding/Wizard/FormPreview.php
  src/Onboarding/Wizard/Page.php
  tests/src/Onboarding/Helpers/FormatListTest.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

fix: map additional addresses, rather than loop
  src/DonorProfiles/Helpers/SanitizeProfileData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move donor model creation to factory
  src/DonorProfiles/Factories/DonorFactory.php
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: extract update process to pipeline pattern
  src/DonorProfiles/Pipeline/DonorProfilePipeline.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorAddresses.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorAvatar.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorEmails.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorName.php
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: proceduraly sanitize profile data
  src/DonorProfiles/Helpers/SanitizeProfileData.php
  src/DonorProfiles/Routes/ProfileRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: introduce toUniqueId utility
  src/DonorProfiles/resources/js/app/components/select-control/index.js
  src/DonorProfiles/resources/js/app/components/text-control/index.js
  src/DonorProfiles/resources/js/app/utils/index.js
Due: eslint --fix

fix: use correct syntax for object formatter package
  src/DonorProfiles/Helpers/LocationList.php
  src/Onboarding/Helpers/LocationList.php
  src/Onboarding/Wizard/Page.php
  tests/src/Onboarding/Helpers/FormatListTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolve capitizalization issue
  src/DonorProfiles/Profile.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: revert onboarding domain and tests to use FormatList helper
  src/Onboarding/Helpers/FormatList.php
  src/Onboarding/Helpers/LocationList.php
  src/Onboarding/Wizard/Page.php
  tests/src/Onboarding/Helpers/FormatListTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: increase "Tested up to" to WP 5.6
  readme.txt
Due: none

feature: display human readable amount and date
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: style date and time
  src/DonorProfiles/resources/js/app/components/donation-table/donation-row/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
Due: eslint --fix, stylelint --fix

fix: improve donation status styles
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/resources/js/app/components/donation-table/donation-row/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: improve receipt link styles
  src/DonorProfiles/resources/js/app/components/donation-table/donation-row/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
Due: eslint --fix, stylelint --fix

fix: improve id styles
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
Due: stylelint --fix

fix: resolve donation receipt view date issue
  src/DonorProfiles/resources/js/app/components/donation-receipt/index.js
Due: eslint --fix

fix: improve payment method label
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve back to donation history link styles
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/resources/js/app/components/donation-table/donation-row/index.js
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/style.scss
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: replace reference to "campaign" with "form"
  src/DonorProfiles/resources/js/app/components/donation-table/index.js
Due: eslint --fix

fix: make receipt links consistent
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
Due: stylelint --fix

fix: resolve donation history address display error
  src/DonorProfiles/resources/js/app/components/donation-receipt/index.js
Due: eslint --fix

chore: add doc blocks
  src/DonorProfiles/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

feature: scaffold login route
  src/DonorProfiles/Routes/LogInRoute.php
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold logout route
  src/DonorProfiles/Routes/LogoutRoute.php
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Migrate Fields API progress into core.
  composer.json
  src/Framework/FieldsAPI/Consumer/AbstractConsumer.php
  src/Framework/FieldsAPI/Consumer/HTML/Consumer.php
  src/Framework/FieldsAPI/Consumer/HTML/templates/label.html.php
  src/Framework/FieldsAPI/Consumer/HTML/templates/text.html.php
  src/Framework/FieldsAPI/Consumer/HTML/templates/textarea.html.php
  src/Framework/FieldsAPI/Factory/Field.php
  src/Framework/FieldsAPI/Factory/README.md
  src/Framework/FieldsAPI/FieldCollection.php
  src/Framework/FieldsAPI/FieldCollection/Contract/FieldNode.php
  src/Framework/FieldsAPI/FieldCollection/Contract/GroupNode.php
  src/Framework/FieldsAPI/FieldCollection/NodeWalker.php
  src/Framework/FieldsAPI/FormField.php
  src/Framework/FieldsAPI/FormField/FieldLabel.php
  src/Framework/FieldsAPI/FormField/FieldReadOnly.php
  src/Framework/FieldsAPI/FormField/FieldRequired.php
  src/Framework/FieldsAPI/FormField/README.md
  src/Framework/FieldsAPI/FormFieldMediator/Contract.php
  src/Framework/FieldsAPI/FormFieldMediator/README.md
  src/Framework/FieldsAPI/FormFieldMediator/RequiredField.php
  src/Framework/FieldsAPI/README.md
  tests/unit/tests/Framework/FieldsAPI/FormFieldTest.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

fix: Update composer test command to match pipeline.
  composer.json
Due: prettier --write

chore: Add unit tests for Fields API.
  tests/unit/tests/Framework/FieldsAPI/Factory/FieldTest.php
  tests/unit/tests/Framework/FieldsAPI/FieldCollection/NodeWalkerTest.php
  tests/unit/tests/Framework/FieldsAPI/FieldCollectionTest.php
  tests/unit/tests/Framework/FieldsAPI/FormField/FieldLabelTest.php
  tests/unit/tests/Framework/FieldsAPI/FormField/FieldReadOnlyTest.php
  tests/unit/tests/Framework/FieldsAPI/FormField/FieldRequiredTest.php
  tests/unit/tests/Framework/FieldsAPI/FormFieldTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: implement auth modal ui
  src/DonorProfiles/resources/js/app/components/app/index.js
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
  src/DonorProfiles/resources/js/app/components/auth-modal/style.scss
  src/DonorProfiles/resources/js/app/components/auth/index.js
  src/DonorProfiles/resources/js/app/components/auth/style.scss
  src/DonorProfiles/resources/js/app/components/desktop-layout/style.scss
  src/DonorProfiles/resources/js/app/components/mobile-layout/style.scss
  src/DonorProfiles/resources/js/app/utils/index.js
Due: eslint --fix, stylelint --fix

fix: prevent donations query when not logged in
  src/DonorProfiles/resources/js/app/tabs/donation-history/utils/index.js
Due: eslint --fix

refactor: extract loggedIn utility
  src/DonorProfiles/resources/js/app/components/auth/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/utils/index.js
  src/DonorProfiles/resources/js/app/utils/index.js
Due: eslint --fix

fix: prevent zero donations error on donation history tab
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
Due: eslint --fix
