Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: support multi-selects in legacy consumer
  src/Form/LegacyConsumer/templates/select.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog for #5905
  CHANGELOG.md
Due: none

feature: add logic to disconnect stripe account
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/Stripe/Controllers/DisconnectStripeAccountController.php
  src/PaymentGateways/Stripe/DataTransferObjects/DisconnectStripeAccountDto.php
  src/PaymentGateways/resources/js/stripe-account-manager/disconnect-stripe-account-action.js
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: add account slud to acitno link
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename function
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set default stripe account correctly
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: make new stripe account on boarding dynamic
  includes/gateways/stripe/includes/admin/admin-actions.php
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
  src/PaymentGateways/Stripe/DataTransferObjects/NewStripeAccountOnBoardingDto.php
  src/PaymentGateways/Stripe/Repositories/Settings.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: redirect to dynamic url on stripe account onboarding
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
  src/PaymentGateways/Stripe/DataTransferObjects/NewStripeAccountOnBoardingDto.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use wp_redirect
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move manage account setting main tab
  assets/src/css/admin/stripe-admin.scss
  src/PaymentGateways/Stripe/DonationFormSettingPage.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: update per form manage account tab link
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: donors without donations see only their lack of donations
  src/DonorDashboards/Repositories/Donations.php
  src/DonorDashboards/resources/js/app/tabs/donation-history/content.js
  src/DonorDashboards/resources/js/app/tabs/donation-history/dashboard-content.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

doc: update changelog and since tags
  CHANGELOG.md
  src/DonorDashboards/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare for 2.12.2 release
  CHANGELOG.md
  give.php
  readme.txt
  src/DonorDashboards/Repositories/Donations.php
  src/Framework/FieldsAPI/Group.php
  src/Framework/FieldsAPI/Html.php
  src/Framework/FieldsAPI/Types.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: rmeove unnecessary text domain
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: rename manage account sper form setting container class
  assets/src/css/admin/stripe-admin.scss
  assets/src/js/admin/stripe-admin.js
  src/PaymentGateways/Stripe/DonationFormSettingPage.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

refactor: remove unnecessary function name
  assets/src/js/plugins/give-api/api.js
Due: eslint --fix

feature: add filter to add stripe account actions
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update stule for stripe account actions
  assets/src/css/admin/stripe-admin.scss
Due: stylelint --fix

refactor: remove edit stripe account js
  assets/src/js/admin/stripe-admin.js
Due: eslint --fix

feature: print stipe accountslug on frontend
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add controller to get stripe account details
  src/PaymentGateways/Stripe/Controllers/GetStripeAccountDetailsController.php
  src/PaymentGateways/Stripe/DataTransferObjects/GetStripeAccountDetailsDto.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add function to get stripe account detail by slug
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/PaymentGateways/Stripe/Controllers/GetStripeAccountDetailsController.php
  src/PaymentGateways/Stripe/Repositories/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add function to update stripe account details
  src/PaymentGateways/Stripe/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add stripe acocunt slug in class name
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove per account update logic
  assets/src/js/admin/stripe-admin.js
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: remove per account cancel logic
  assets/src/js/admin/stripe-admin.js
Due: eslint --fix

format: improve code formatting
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not allow to delete global default account from per form settings
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/resources/js/stripe-account-manager/disconnect-stripe-account-action.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: disable button only if not set as global default
  src/PaymentGateways/resources/js/stripe-account-manager/disconnect-stripe-account-action.js
Due: eslint --fix

fix: compare with stripe account slug
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not allow to rename stripe account id and slug
  src/PaymentGateways/Stripe/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: show border on modal conditionally
  src/PaymentGateways/resources/js/stripe-account-manager/disconnect-stripe-account-action.js
Due: eslint --fix

doc: add comment
  assets/src/js/admin/stripe-admin.js
Due: eslint --fix

fix: extend custom exception class
  src/Framework/Exceptions/Primitives/InvalidPropertyName.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove newline
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: sue esc_html_e
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: make strings translatable
  src/PaymentGateways/Stripe/Admin/CreditCardSettingField.php
Due: npm run lint:textdomain, npm run lint:php:fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
