Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

Extract PageView class.
  src/Onboarding/Setup/Page.php
  src/Onboarding/Setup/PageView.php
Due: npm run lint:textdomain, npm run lint:php:fix

Refactor Onboarding to use new Hooks helper.
  src/Onboarding/Setup/Page.php
  src/Onboarding/Setup/PageDismissible.php
  src/Onboarding/Setup/StripeConnectHandler.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

Refactor action links shared template.
  assets/src/js/admin/admin-setup.js
  src/Onboarding/Setup/templates/action-link.html
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Add eslint-disable-line for auto-generated, but unused parameter.
  assets/src/js/admin/admin-setup.js
Due: eslint --fix

Disable Stripe action if configured.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: resolved issues with fonts not loading on switching gateways
  assets/src/js/frontend/give-stripe-elements.js
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

fix: added dispatch event in js for gateway loaded event :tada:
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

fix: minor change in css for modal donate button
  assets/src/css/frontend/give-stripe.scss
Due: stylelint --fix

fix: simplified checkout process with stripe elements
  assets/src/js/frontend/give-stripe-checkout.js
Due: eslint --fix

fix: improve introduction page design implementation
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/style.scss
  assets/src/js/admin/onboarding-wizard/components/button/style.scss
  assets/src/js/admin/onboarding-wizard/components/continue-button/index.js
  assets/src/js/admin/onboarding-wizard/components/continue-button/style.scss
  assets/src/js/admin/onboarding-wizard/components/give-logo/index.js
Due: eslint --fix, stylelint --fix

feature: enqueue open sans font for onboarding wizard
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

Cleanup internal class references after refactoring.
  src/Onboarding/Setup/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

Use GIVE_VERSION for asset scripts and styles.
  src/Onboarding/Setup/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

Simplify Setup Page complexity.
  includes/admin/settings/class-settings-advanced.php
  src/Onboarding/Setup/Page.php
  src/Onboarding/Setup/PageDismissible.php
  src/Onboarding/Setup/PageStatus.php
Due: npm run lint:textdomain, npm run lint:php:fix

Re-enable admin notices on the Setup Page. Need to discuss how to handle these.
  src/Onboarding/Setup/Page.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve your case design implementation
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/style.scss
  assets/src/js/admin/onboarding-wizard/components/icons/individual/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/organization/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/other/index.js
  assets/src/js/admin/onboarding-wizard/components/select-input/style.scss
Due: eslint --fix, stylelint --fix

fix: improve design implementation for location step
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/location/style.scss
  assets/src/js/admin/onboarding-wizard/components/card-input/style.scss
  assets/src/js/admin/onboarding-wizard/components/select-input/index.js
  assets/src/js/admin/onboarding-wizard/components/select-input/style.scss
Due: eslint --fix, stylelint --fix

Extract top level menu redirect to a request handler.
  src/Onboarding/Setup/Handlers/RequestHandler.php
  src/Onboarding/Setup/Handlers/TopLevelMenuRedirect.php
  src/Onboarding/Setup/Page.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

Refactor Stripe Connect handler.
  includes/gateways/stripe/includes/admin/admin-actions.php
  src/Onboarding/Setup/Handlers/StripeConnectHandler.php
  src/ServiceProviders/Onboarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unused use
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve design implementation of feature needs step
  assets/src/js/admin/onboarding-wizard/app/steps/fundraising-needs/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/fundraising-needs/style.scss
  assets/src/js/admin/onboarding-wizard/components/badge/index.js
  assets/src/js/admin/onboarding-wizard/components/badge/style.scss
  assets/src/js/admin/onboarding-wizard/components/card/style.scss
  assets/src/js/admin/onboarding-wizard/components/continue-button/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/chevron/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/custom-form-fields/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/dedicate-donations/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/donors-cover-fees/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/multiple-currencies/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/one-time-donation/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/recurring-donations/index.js
Due: eslint --fix, stylelint --fix

Revert Stripe SDK update.
  composer.json
  composer.lock
Due: prettier --write

chore: add missing setting code for PayPalCommerce
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve design implementation of donation form step
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/style.scss
  assets/src/js/admin/onboarding-wizard/components/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/components/icons/gradient-chevron/index.js
Due: eslint --fix, stylelint --fix

fix: set progress bar width based on step completion
  assets/src/js/admin/onboarding-wizard/components/step-link/index.js
  assets/src/js/admin/onboarding-wizard/components/step-link/style.scss
Due: eslint --fix, stylelint --fix

fix: fix typos in copy
  assets/src/js/admin/onboarding-wizard/app/steps/donation-form/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
Due: eslint --fix

Add a placeholder 'connected' state for Stripe setup.
  src/Onboarding/Setup/templates/index.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use seller details in payer and donor details in payer
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: update code to capture smart button payment
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: add additional detail to order
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

Resolve errors after feature merge.
  src/Onboarding/Setup/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: pass live for form data to request
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
Due: eslint --fix

fix: start session before creating order
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  src/PaymentGateways/PayPalCommerce/assets/js/paypal-advanced-card-fields.js
Due: eslint --fix

feature: add dynamic state variables to the store
  assets/src/js/admin/onboarding-wizard/app/index.js
Due: eslint --fix

feature: add actions for handling dynamic state
  assets/src/js/admin/onboarding-wizard/app/store/actions.js
Due: eslint --fix

feature: add reducer cases for handling wizard inputs
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
Due: eslint --fix

feature: add axios mock adapter package
  package.json
Due: prettier --write

fix: use correct property name
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
Due: eslint --fix

fix: define card padding constant (instead of loose strings)
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
