Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

fix: convert fetcher args to JSON string instead of CSV
  src/DonationForms/resources/api.ts
Due: none

enhancement: search while typing instead of when form submitted
  src/DonationForms/resources/components/AdminDonationFormsPage.tsx
Due: none

fix: adapt frontend to new FormActions endpoint
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

enhancement: add error/success count to FormActions endpoint
  src/DonationForms/Endpoints/FormActions.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: don't serialize swr key now that version is bumped
  src/DonationForms/resources/api.ts
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

refactor: move InPluginUpsells domain to Promotions
  give.php
  src/InPluginUpsells/ServiceProvider.php
  src/Promotions/InPluginUpsells/AddonsAdminPage.php
  src/Promotions/InPluginUpsells/AddonsRepository.php
  src/Promotions/InPluginUpsells/HideSaleBannerRoute.php
  src/Promotions/InPluginUpsells/RecurringDonationsTab.php
  src/Promotions/InPluginUpsells/SaleBanners.php
  src/Promotions/InPluginUpsells/resources/js/addons-admin-page.js
  src/Promotions/InPluginUpsells/resources/js/components/AdditionalAddonCard.js
  src/Promotions/InPluginUpsells/resources/js/components/AdditionalAddonCard.module.css
  src/Promotions/InPluginUpsells/resources/js/components/AdditionalAddons.js
  src/Promotions/InPluginUpsells/resources/js/components/AdditionalAddons.module.css
  src/Promotions/InPluginUpsells/resources/js/components/AddonsAdminPage.js
  src/Promotions/InPluginUpsells/resources/js/components/AddonsAdminPage.module.css
  src/Promotions/InPluginUpsells/resources/js/components/Button.js
  src/Promotions/InPluginUpsells/resources/js/components/Button.module.css
  src/Promotions/InPluginUpsells/resources/js/components/Card.js
  src/Promotions/InPluginUpsells/resources/js/components/Card.module.css
  src/Promotions/InPluginUpsells/resources/js/components/FreeAddOnTab.js
  src/Promotions/InPluginUpsells/resources/js/components/FreeAddOnTab.module.css
  src/Promotions/InPluginUpsells/resources/js/components/Hero.js
  src/Promotions/InPluginUpsells/resources/js/components/Hero.module.css
  src/Promotions/InPluginUpsells/resources/js/components/MustHaveAddonCard.js
  src/Promotions/InPluginUpsells/resources/js/components/MustHaveAddonCard.module.css
  src/Promotions/InPluginUpsells/resources/js/components/MustHaveAddons.js
  src/Promotions/InPluginUpsells/resources/js/components/MustHaveAddons.module.css
  src/Promotions/InPluginUpsells/resources/js/components/PricingPlanCard.js
  src/Promotions/InPluginUpsells/resources/js/components/PricingPlanCard.module.css
  src/Promotions/InPluginUpsells/resources/js/components/PricingPlans.js
  src/Promotions/InPluginUpsells/resources/js/components/PricingPlans.module.css
  src/Promotions/InPluginUpsells/resources/js/components/RecurringDonationsTab.js
  src/Promotions/InPluginUpsells/resources/js/components/RecurringDonationsTab.module.scss
  src/Promotions/InPluginUpsells/resources/js/recurring-donations-settings-tab.js
  src/Promotions/InPluginUpsells/resources/js/sale-banner.js
  src/Promotions/InPluginUpsells/resources/js/utils.js
  src/Promotions/InPluginUpsells/resources/views/sale-banners.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: add shared promotion components
  jsconfig.json
  src/Promotions/sharedResources/components/GreenButton.js
  src/Promotions/sharedResources/components/GreenButton.module.css
  webpack.mix.js
Due: prettier --write, eslint --fix

feature: add free addon modal
  assets/src/images/email-reports-icon.png
  src/Promotions/FreeAddonModal/Controller.php
  src/Promotions/FreeAddonModal/resources/App.js
  src/Promotions/FreeAddonModal/resources/Modal.js
  src/Promotions/FreeAddonModal/resources/Modal.module.scss
  src/Promotions/FreeAddonModal/resources/styles.module.css
  src/Promotions/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: do not move payment gateway into gateway list if it is the only one
  src/Views/Form/Templates/Classic/resources/css/_payment-details.scss
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix, stylelint --fix

chore: prepare for 2.18.1 release
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: cancel in-flight swr requests when a new one is sent
  src/DonationForms/resources/api.ts
Due: none

fix: debounce search while typing to prevent excess API calls
  src/DonationForms/resources/components/AdminDonationFormsPage.tsx
  src/DonationForms/resources/components/useDebounce.ts
Due: none

refactor: use mc_gross instead payment_gross
  src/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefund.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: fix typo
  src/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefund.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: keep decimal value when convert to positive number
  src/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefund.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: pass necessary value to function
  src/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefund.php
Due: npm run lint:textdomain, npm run lint:php:fix

tests: test ProcessIpnDonationRefund action
  tests/unit/tests/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefundTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update method signature
  src/Framework/Database/DB.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: CRUD trait
  src/Framework/QueryBuilder/Concerns/CRUD.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move get methods to CRUD trait
  src/Framework/QueryBuilder/QueryBuilder.php
Due: npm run lint:textdomain, npm run lint:php:fix

tests: add test for CreatePayPalStandardPaymentURLTest action
  tests/unit/tests/PaymentGateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURLTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

tests: add test for PayPalStandardWebhook controller
  tests/unit/tests/PaymentGateways/PayPalStandard/PayPalStandardWebhookTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update docs
  src/Framework/QueryBuilder/README.md
Due: none

tests: refunded amount comes as negative value
  tests/unit/tests/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefundTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use existing paypal commerce class to register with new gateway api
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerceGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use getLegacyFormFieldMarkup function to render cc fields
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: separate out AdminDonationFormsPage styles
  src/DonationForms/resources/admin-donation-forms.module.scss
  src/DonationForms/resources/components/AdminDonationFormsPage.module.scss
  src/DonationForms/resources/components/AdminDonationFormsPage.tsx
Due: stylelint --fix

refactor: remove shortcode copy button
  src/DonationForms/resources/components/DonationFormsTable.tsx
  src/DonationForms/resources/components/Shortcode.tsx
  src/DonationForms/resources/hooks/useCopyText.ts
Due: none

feature: make copy shortcode stings translateable
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

refactor: separate out DonationFormsTable styles
  src/DonationForms/resources/admin-donation-forms.module.scss
  src/DonationForms/resources/admin-donation-forms.tsx
  src/DonationForms/resources/components/DonationFormsTable.module.scss
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: stylelint --fix

refactor: move useDebounce to hooks dir
  src/DonationForms/resources/components/AdminDonationFormsPage.tsx
  src/DonationForms/resources/hooks/useDebounce.ts
Due: none

feature: add function to get paypal commerce order details
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalOrder.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: update createPayment function for paypal commerce
  src/PaymentGateways/PayPalCommerce/DonationProcessor.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove unsed use
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: style links in table cells
  src/DonationForms/resources/components/DonationFormsTable.module.scss
Due: stylelint --fix

feature: set table cell text styles
  src/DonationForms/resources/components/DonationFormsTable.module.scss
Due: stylelint --fix

refactor: put link on goal instead of progress
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

refactor: put goal format inside of the link
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

enhancement: add total # of forms to ListForms response
  src/DonationForms/Endpoints/ListForms.php
  src/DonationForms/Repositories/DonationFormsRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: return to first page of results when changing search/filters
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none
