Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: go back a page after removing the last form on the current page
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

chore: remove DonationForm type
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

feature: finish modal and submission
  jsconfig.json
  src/Promotions/FreeAddonModal/CheckModalState.php
  src/Promotions/FreeAddonModal/Controller.php
  src/Promotions/FreeAddonModal/Controllers/CompleteRestApiEndpoint.php
  src/Promotions/FreeAddonModal/Controllers/EnqueueModal.php
  src/Promotions/FreeAddonModal/resources/Modal.js
  src/Promotions/InPluginUpsells/resources/js/components/FreeAddOnTab.js
  src/Promotions/ServiceProvider.php
  src/Promotions/sharedResources/hooks/useFreeAddonSubscription.js
  webpack.mix.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add ability to specify initial tab on add-on page
  src/Promotions/InPluginUpsells/resources/js/addons-admin-page.js
  src/Promotions/InPluginUpsells/resources/js/components/AddonsAdminPage.js
Due: eslint --fix

fix: properly handle swr retries
  src/DonationForms/resources/api.ts
Due: none

feature: add add-on button to settings
  assets/src/css/admin/buttons.scss
  assets/src/css/admin/settings.scss
  assets/src/images/crown.svg
  includes/admin/views/html-admin-settings.php
  src/Promotions/FreeAddonModal/Controllers/CheckOfferStatus.php
  src/Promotions/FreeAddonModal/Controllers/CompleteRestApiEndpoint.php
  src/Promotions/FreeAddonModal/Controllers/DisplaySettingsButton.php
  src/Promotions/FreeAddonModal/Controllers/EnqueueModal.php
  src/Promotions/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

refactor: early return from function
  src/PaymentGateways/PayPalStandard/Webhooks/WebhookValidator.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: create actions to getredirect url for offsite redirect
  src/PaymentGateways/PayPalStandard/Actions/GenerateDonationFailedPageUrl.php
  src/PaymentGateways/PayPalStandard/Actions/GenerateDonationReceiptPageUrl.php
  src/PaymentGateways/PayPalStandard/Actions/RedirectOffsitePayment.php
  src/PaymentGateways/PayPalStandard/PayPalStandard.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: access billing address from billingAress property
  src/PaymentGateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURL.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: return markup from getLegacyFormFieldMarkup
  src/PaymentGateways/PayPalStandard/PayPalStandard.php
  src/PaymentGateways/PayPalStandard/Views/PayPalStandardBillingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: make svg file for paypal logo and include in template
  src/PaymentGateways/PayPalStandard/Views/PayPalStandardBillingFields.php
  src/PaymentGateways/PayPalStandard/resources/templates/paypal-standard-logo.svg
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use webhook register instead of action hook
  src/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefund.php
  src/PaymentGateways/PayPalStandard/Controllers/PayPalStandardWebhook.php
  src/PaymentGateways/PayPalStandard/Webhooks/Listeners/EventListener.php
  src/PaymentGateways/PayPalStandard/Webhooks/Listeners/PaymentUpdated.php
  src/PaymentGateways/PayPalStandard/Webhooks/WebhookRegister.php
  src/PaymentGateways/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use hasEventRegistered function
  src/PaymentGateways/PayPalStandard/Controllers/PayPalStandardWebhook.php
  src/PaymentGateways/PayPalStandard/Webhooks/WebhookRegister.php
Due: npm run lint:textdomain, npm run lint:php:fix

tests: fix broken test
  tests/unit/tests/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefundTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update comment
  src/PaymentGateways/PayPalStandard/Webhooks/WebhookRegister.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: log additional infomation about exception
  src/Framework/PaymentGateways/PaymentGateway.php
  src/Framework/PaymentGateways/Routes/GatewayRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unsued property
  src/PaymentGateways/DataTransferObjects/FormData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: return html mark for legacy form fields
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: throw exception on empty paypal order id
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Extract Gateway Donation Summary to framework.
  src/Framework/PaymentGateways/DonationSummary.php
  tests/unit/tests/Framework/PaymentGateways/DonationSummaryTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: fix disappearing pagination component
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

fix: don't change form data until new data is available
  src/DonationForms/resources/api.ts
  src/DonationForms/resources/components/DonationFormsTable.tsx
  src/DonationForms/resources/hooks/lagData.ts
Due: none

fix: only show error state if swr is done retrying request
  src/DonationForms/resources/api.ts
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

fix: set error state when updating form fails
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

refactor: create action to get paypal order from request
  src/PaymentGateways/PayPalCommerce/Actions/GetPayPalOrderFromRequest.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

formaT: remove unused use
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: move lagData hook into api.ts
  src/DonationForms/resources/api.ts
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

refactor: move paypal commerce hooks to service provider
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add tests for `insert`, `update`, `delete`
  tests/unit/tests/Framework/QueryBuilder/CRUD_Test.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move paypal standard to gateways directory
  includes/gateways/paypal/paypal-standard.php
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/PaymentGateways/Gateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURL.php
  src/PaymentGateways/Gateways/PayPalStandard/Actions/GenerateDonationFailedPageUrl.php
  src/PaymentGateways/Gateways/PayPalStandard/Actions/GenerateDonationReceiptPageUrl.php
  src/PaymentGateways/Gateways/PayPalStandard/Actions/ProcessIpnDonationRefund.php
  src/PaymentGateways/Gateways/PayPalStandard/Controllers/PayPalStandardWebhook.php
  src/PaymentGateways/Gateways/PayPalStandard/Migrations/RemovePayPalIPNVerificationSetting.php
  src/PaymentGateways/Gateways/PayPalStandard/Migrations/SetPayPalStandardGatewayId.php
  src/PaymentGateways/Gateways/PayPalStandard/PayPalStandard.php
  src/PaymentGateways/Gateways/PayPalStandard/Views/PayPalStandardBillingFields.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/Listeners/EventListener.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/Listeners/PaymentUpdated.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/WebhookRegister.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/WebhookValidator.php
  src/PaymentGateways/Gateways/PayPalStandard/resources/templates/paypal-standard-logo.svg
  src/PaymentGateways/PaypalSettingPage.php
  src/PaymentGateways/ServiceProvider.php
  src/ServiceProviders/PaymentGateways.php
  tests/unit/tests/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefundTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove GatewayPaymentRepository
  src/PaymentGateways/DataTransferObjects/GatewayPaymentData.php
  src/PaymentGateways/Gateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURL.php
  src/PaymentGateways/Repositories/GatewayPaymentRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: fix borken namespace for paypal standard
  includes/gateways/paypal/paypal-standard.php
  src/PaymentGateways/Actions/RegisterPaymentGateways.php
  src/PaymentGateways/Gateways/PayPalStandard/Actions/CreatePayPalStandardPaymentURL.php
  src/PaymentGateways/Gateways/PayPalStandard/Actions/GenerateDonationFailedPageUrl.php
  src/PaymentGateways/Gateways/PayPalStandard/Actions/GenerateDonationReceiptPageUrl.php
  src/PaymentGateways/Gateways/PayPalStandard/Actions/ProcessIpnDonationRefund.php
  src/PaymentGateways/Gateways/PayPalStandard/Controllers/PayPalStandardWebhook.php
  src/PaymentGateways/Gateways/PayPalStandard/Migrations/RemovePayPalIPNVerificationSetting.php
  src/PaymentGateways/Gateways/PayPalStandard/Migrations/SetPayPalStandardGatewayId.php
  src/PaymentGateways/Gateways/PayPalStandard/PayPalStandard.php
  src/PaymentGateways/Gateways/PayPalStandard/Views/PayPalStandardBillingFields.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/Listeners/EventListener.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/Listeners/PaymentUpdated.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/WebhookRegister.php
  src/PaymentGateways/Gateways/PayPalStandard/Webhooks/WebhookValidator.php
  src/PaymentGateways/PaypalSettingPage.php
  src/PaymentGateways/ServiceProvider.php
  src/ServiceProviders/PaymentGateways.php
  tests/unit/tests/PaymentGateways/PayPalStandard/Actions/ProcessIpnDonationRefundTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update CRUD test docblocks
  tests/unit/tests/Framework/QueryBuilder/CRUDTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update since tags
  src/Framework/QueryBuilder/Concerns/CRUD.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add gateway payment data to log
  src/Framework/PaymentGateways/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: combine exception catch function for single log logic
  src/Framework/PaymentGateways/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: cleaning up mutateforms
  src/DonationForms/resources/components/DonationFormsTable.tsx
Due: none

chore: move TableRows into its own component
  src/DonationForms/resources/components/DonationFormsTable.module.scss
  src/DonationForms/resources/components/DonationFormsTable.tsx
  src/DonationForms/resources/components/DonationFormsTableRows.module.scss
  src/DonationForms/resources/components/DonationFormsTableRows.tsx
Due: stylelint --fix

enhancement: display animation while deleting/trashing/restoring forms
  src/DonationForms/resources/components/DonationFormsTableRows.module.scss
  src/DonationForms/resources/components/DonationFormsTableRows.tsx
Due: stylelint --fix

fix: restore status message css
  src/DonationForms/resources/components/DonationFormsTable.module.scss
Due: stylelint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
