Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

feature: use Group instead of Form for legacy
  src/Form/LegacyConsumer/Commands/SetupFieldConfirmation.php
  src/Form/LegacyConsumer/Commands/SetupFieldEmailTag.php
  src/Form/LegacyConsumer/Commands/SetupFieldPersistance.php
  src/Form/LegacyConsumer/Commands/SetupFieldReceipt.php
  src/Form/LegacyConsumer/Commands/SetupFieldValidation.php
  src/Form/LegacyConsumer/Commands/SetupNewTemplateHook.php
  src/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplay.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use correct interface
  src/Framework/FieldsAPI/Concerns/RemoveNode.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add append to InsertNode trait
  src/Framework/FieldsAPI/Concerns/AppendNodes.php
  src/Framework/FieldsAPI/Concerns/InsertNode.php
  src/Framework/FieldsAPI/Group.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused hidden feature
  src/Framework/FieldsAPI/Concerns/SerializeAsJson.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: make list spacing consistent
  CHANGELOG.md
Due: none

chore: update changelog for #5843
  CHANGELOG.md
Due: none

chore: move #5843's changes to correct heading
  CHANGELOG.md
Due: none

feature: use hook name as group name
  src/Form/LegacyConsumer/Commands/SetupFieldConfirmation.php
  src/Form/LegacyConsumer/Commands/SetupFieldEmailTag.php
  src/Form/LegacyConsumer/Commands/SetupFieldPersistance.php
  src/Form/LegacyConsumer/Commands/SetupFieldReceipt.php
  src/Form/LegacyConsumer/Commands/SetupFieldValidation.php
  src/Form/LegacyConsumer/Commands/SetupNewTemplateHook.php
  src/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplay.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused AppendNodes trait
  src/Framework/FieldsAPI/Concerns/AppendNodes.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add checkbox helper methods and make unique template
  src/Form/LegacyConsumer/FieldView.php
  src/Form/LegacyConsumer/templates/checkbox.html.php
  src/Framework/FieldsAPI/Checkbox.php
  tests/unit/tests/Framework/FieldsAPI/CheckboxTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add default value to select and radio template
  src/Form/LegacyConsumer/templates/select.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add required and placeholder to label template
  src/Form/LegacyConsumer/templates/base.html.php
  src/Form/LegacyConsumer/templates/label-content.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: correct field paths
  src/Form/LegacyConsumer/templates/file.html.php
  src/Form/LegacyConsumer/templates/hidden.html.php
  src/Form/LegacyConsumer/templates/label.html.php
  src/Form/LegacyConsumer/templates/radio.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: use variadic parameter for options
  src/Framework/FieldsAPI/Concerns/HasOptions.php
  tests/unit/tests/Framework/FieldsAPI/Concerns/HasOptionsTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: all nodes to be constructed with constructor
  src/Framework/FieldsAPI/Element.php
  src/Framework/FieldsAPI/Field.php
  src/Framework/FieldsAPI/Group.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: cleanup code and begin opt-in process using connect
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

add new skiplink component for bypassing the opt-in
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/style.scss
  assets/src/js/admin/onboarding-wizard/components/continue-button/style.scss
  assets/src/js/admin/onboarding-wizard/components/skip-optin-link/index.js
  assets/src/js/admin/onboarding-wizard/components/skip-optin-link/style.scss
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix, stylelint --fix

fix: Add additional prefix check.
  src/Form/LegacyConsumer/Commands/DeprecateOldTemplateHook.php
  src/Form/LegacyConsumer/FilterCallbackCollection.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: only walk fields for field related commands
  src/Form/LegacyConsumer/Commands/SetupFieldConfirmation.php
  src/Form/LegacyConsumer/Commands/SetupFieldReceipt.php
  src/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplay.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog for #5885
  CHANGELOG.md
Due: none

refactor: switch to double-instance method for static analysis
  src/Framework/Support/Facades/Facade.php
  tests/unit/tests/Framework/Support/Facades/FacadeTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: tweak naming and add comments
  CHANGELOG.md
  src/Framework/Support/Facades/Facade.php
  tests/unit/tests/Framework/Support/Facades/FacadeTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: compare minor values
  src/DonorDashboards/resources/js/app/components/currency-control/index.js
Due: eslint --fix

fix: set full card expiry year
  src/DonorDashboards/resources/js/app/components/subscription-manager/payment-method-control/card-control/index.js
Due: eslint --fix

LegacyFormConsumer no longer adds custom field values to payment details automatically (#5886)
  CHANGELOG.md
  src/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplay.php
  src/Form/LegacyConsumer/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Remove orphaned test.
  tests/unit/tests/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplayTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fields API factory now reflects individual type classes (#5887)
  CHANGELOG.md
  src/Form/LegacyConsumer/functions.php
  src/Framework/FieldsAPI/Exceptions/TypeNotSupported.php
  src/Framework/FieldsAPI/Facades/Factory.php
  src/Framework/FieldsAPI/Factory.php
  src/Framework/FieldsAPI/Factory/Field.php
  src/Framework/FieldsAPI/Factory/README.md
  src/Framework/FieldsAPI/Hidden.php
  tests/unit/tests/Framework/FieldsAPI/FactoryTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: load stripe with subscription's stripe account
  src/DonorDashboards/resources/js/app/components/subscription-manager/index.js
  src/DonorDashboards/resources/js/app/components/subscription-manager/payment-method-control/index.js
  src/DonorDashboards/resources/js/app/components/subscription-manager/payment-method-control/stripe-control/index.js
Due: eslint --fix

chore: do not use full path for zip target
  .github/workflows/prerelease.yml
Due: none

refactor: remove non-standard tooltip attribute
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

doc: add `@unreleased` tags for new Fields API
  src/Framework/FieldsAPI/Checkbox.php
  src/Framework/FieldsAPI/Concerns/ValidationRules.php
  src/Framework/FieldsAPI/Date.php
  src/Framework/FieldsAPI/Element.php
  src/Framework/FieldsAPI/Email.php
  src/Framework/FieldsAPI/Factory.php
  src/Framework/FieldsAPI/Field.php
  src/Framework/FieldsAPI/Form.php
  src/Framework/FieldsAPI/Hidden.php
  src/Framework/FieldsAPI/Option.php
  src/Framework/FieldsAPI/Phone.php
  src/Framework/FieldsAPI/Radio.php
  src/Framework/FieldsAPI/Select.php
  src/Framework/FieldsAPI/Text.php
  src/Framework/FieldsAPI/Textarea.php
  src/Framework/FieldsAPI/Types.php
  src/Framework/FieldsAPI/Url.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog for #5890
  CHANGELOG.md
Due: none

chore: prepare for 2.12.0 release
  CHANGELOG.md
  give.php
  includes/admin/payments/payments-history.php
  includes/forms/functions.php
  includes/payments/functions.php
  readme.txt
  src/Form/LegacyConsumer/FieldView.php
  src/Framework/Exceptions/UncaughtExceptionLogger.php
  src/Framework/FieldsAPI/Checkbox.php
  src/Framework/FieldsAPI/Concerns/HasOptions.php
  src/Framework/FieldsAPI/Concerns/ValidationRules.php
  src/Framework/FieldsAPI/Date.php
  src/Framework/FieldsAPI/Element.php
  src/Framework/FieldsAPI/Email.php
  src/Framework/FieldsAPI/Factory.php
  src/Framework/FieldsAPI/Field.php
  src/Framework/FieldsAPI/File.php
  src/Framework/FieldsAPI/Form.php
  src/Framework/FieldsAPI/Hidden.php
  src/Framework/FieldsAPI/Option.php
  src/Framework/FieldsAPI/Phone.php
  src/Framework/FieldsAPI/Radio.php
  src/Framework/FieldsAPI/Select.php
  src/Framework/FieldsAPI/Text.php
  src/Framework/FieldsAPI/Textarea.php
  src/Framework/FieldsAPI/Types.php
  src/Framework/FieldsAPI/Url.php
  src/Framework/Support/Facades/Facade.php
  src/Helpers/Html.php
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

text updates and added param to function for causeType
  assets/src/js/admin/onboarding-wizard/app/steps/location/index.js
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix typo in object name
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

place register_meta here because it works and I don't know where it should go
  src/Onboarding/Wizard/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

wp user meta updating properly
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

feat: opt-in to usage tracking when accepting terms
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
  assets/src/js/admin/onboarding-wizard/app/store/actions.js
  assets/src/js/admin/onboarding-wizard/app/store/reducer.js
  assets/src/js/admin/onboarding-wizard/utils/index.js
  src/Onboarding/Routes/SettingsRoute.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

remove unused code
  assets/src/js/admin/onboarding-wizard/utils/index.js
Due: eslint --fix

add to changelog
  CHANGELOG.md
Due: none
