Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

refactor: enable social sharing by default
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: only show loader when beforeunload event originates inside iframe
  assets/src/js/plugins/form-template/iframe-content.js
  assets/src/js/plugins/form-template/parent-page.js
  assets/src/js/plugins/form-template/utils.js
Due: eslint --fix

style: ensure tab dropdowns appear over other sub-elements - Fixes #4819
  assets/src/css/admin/forms.scss
Due: stylelint --fix

docs: update default placeholder and display of "Choose Amount" step subtext
  src/Views/Form/Templates/Sequoia/Actions.php
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add conditonal check before output refactor: rename function to something that's more clear
  includes/gateways/stripe/includes/filters.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent PHP notice and only return if set
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: properly i18n text - resolves #4677
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-sepa.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not translate dynamic string
  src/Views/Form/Templates/Sequoia/sections/introduction.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not compare heading with defaulu form title
  src/Views/Form/Templates/Sequoia/sections/introduction.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set default form heading only if creating new form or form title is empty
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: get stripe payment method list outside of loop
  includes/gateways/stripe/includes/admin/admin-helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: setup embed form route on plugin activate or fresh install
  includes/install.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: return empty string if does not have any default account
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: correct variable reference
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use consistent variable naming
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/TopDonors.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: remove redundant code
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not use square bracket in wp editor id
  includes/admin/give-metabox-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: allow plupload-handlers script to prevent error
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

Revert "fix: allow plupload-handlers script to prevent error"
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: allow 'plupload-handlers' script
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add comment to explain why we decide to remove sqaure brackets from id
  includes/admin/give-metabox-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: prevent php notice on fresh install
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: check for table property instead of fresh install
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix typo
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: various inline doc fixes
  includes/admin/forms/class-metabox-form-data.php
  includes/gateways/stripe/includes/admin/admin-filters.php
  src/Views/Admin/Form/Metabox-Settings.php
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

missing comma?
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: revert change because it is not right way to resolve issue
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: setup terms agreement checkbox
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: style terms agreement checkbox
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

feature: use form colors in agreement checkbox
  src/Views/Form/Templates/Sequoia/Sequoia.php
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: improve position of checkbox (for validation notices)
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: use scroll to limit term and conditions height
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: match margin above and below checkbox
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

docs: fix typos in excerpt / intro default description
  includes/forms/widget.php
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: wip for stripe checkout with magnific modal issue
  assets/src/css/frontend/give-frontend.scss
  assets/src/css/frontend/give-stripe.scss
  assets/src/css/frontend/modal.scss
  assets/src/js/frontend/give-stripe-checkout.js
  assets/src/js/frontend/give-stripe-modal.js
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: show donation form excerpt only for non legacy forms
  includes/forms/widget.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/forms/widget.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not need append .min in file name
  includes/forms/widget.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve styles for safari
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: use pointer cursor for terms and agreements checkbox
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix
