Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: add further release notes
  readme.txt
Due: none

chore: update unreleased tags
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/Models/MerchantDetail.php
  src/PaymentGateways/PayPalCommerce/PayPalCheckoutSdk/AccessToken.php
  src/PaymentGateways/PayPalCommerce/PayPalCheckoutSdk/AuthorizationInjector.php
  src/PaymentGateways/PayPalCommerce/PayPalCheckoutSdk/PayPalHttpClient.php
  src/PaymentGateways/PayPalCommerce/PayPalClient.php
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalAuth.php
  src/PaymentGateways/PayPalCommerce/Repositories/Settings.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
  tests/Unit/PaymentGateways/PayPalCommerce/PayPalCheckoutSdk/AuthorizationInjectorTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: udpate stable tag to 2.25.0
  readme.txt
Due: none

chore: revert stable tag change
  readme.txt
Due: none

chore: add release-assets workflow
  .github/workflows/release-assets.yml
Due: none

chore: update stable tag to 2.25.0
  readme.txt
Due: none

chore: revert stable tag
  readme.txt
Due: none

chore: update release assets workflow
  .github/workflows/release-assets.yml
Due: none

chore: add .wordpress-org folder to trigger readme update
  .wordpress-org/givewp-logo.png
Due: none

chore: add back wp assets
  .wordpress-org/banner-1544x500.jpg
  .wordpress-org/banner-772x250.jpg
  .wordpress-org/icon-128x128.jpg
  .wordpress-org/icon-256x256.jpg
  .wordpress-org/screenshot-1.gif
  .wordpress-org/screenshot-2.gif
  .wordpress-org/screenshot-3.png
  .wordpress-org/screenshot-4.png
  .wordpress-org/screenshot-5.png
  .wordpress-org/screenshot-6.png
  .wordpress-org/screenshot-7.png
  .wordpress-org/screenshot-8.png
Due: none

chore: add environment live to release-assets workflow
  .github/workflows/release-assets.yml
Due: none

Export donations in ID order (#6604)
  includes/admin/tools/export/give-export-donations-exporter.php
Due: npm run lint:textdomain, npm run lint:php:fix

Suppress php81 deprecation notices (#6706)
  src/Container/Container.php
  src/Framework/FieldsAPI/Contracts/Node.php
  src/Framework/PaymentGateways/Contracts/PaymentGatewaysIterator.php
Due: npm run lint:textdomain, npm run lint:php:fix

Include polyfill functions for missing ctype extension (#6703)
  composer.json
  composer.lock
Due: prettier --write

Feature: allows update Square subscriptions payment method through the donor dashboard (#6694)
  package-lock.json
  package.json
  src/DonorDashboards/resources/js/app/components/subscription-manager/payment-method-control/index.js
  src/DonorDashboards/resources/js/app/components/subscription-manager/payment-method-control/square-control/index.js
  src/DonorDashboards/resources/js/app/components/subscription-manager/payment-method-control/square-control/style.scss
Due: prettier --write, eslint --fix, stylelint --fix

Fix: Unsupported operand types in PHP v8+ for receipt template
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: omit .wordpress-org directory from releases
  .distignore
Due: none

chore: prepare for 2.25.1
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

chore: bump stable version
  readme.txt
Due: none

chore: only push assets to wp.org manually
  .github/workflows/release-assets.yml
Due: none

Fix: add nonce to give clear cache setting (#6715)
  assets/src/js/admin/admin-settings.js
  includes/admin/admin-actions.php
  includes/admin/settings/class-settings-advanced.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Fix: add nonce check and fix permissions for bulk actions (#6716)
  .github/workflows/release-assets.yml
  includes/admin/admin-actions.php
  includes/admin/payments/class-payments-table.php
  src/DonationForms/Endpoints/FormActions.php
  src/Donations/Endpoints/DonationActions.php
  src/Donors/Endpoints/DeleteDonor.php
  src/Subscriptions/Endpoints/SubscriptionActions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: Patch CSV injection in donation export (#6718)
  includes/admin/tools/export/give-export-donations-exporter.php
Due: npm run lint:textdomain, npm run lint:php:fix

security: Patch potential SSRF vulnerability (#6719)
  includes/ajax-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: add extra escaping to form grid shortcode attributes (#6724)
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: add escaping and nonce check to donation import settings (#6725)
  includes/admin/tools/import/class-give-import-donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: prepare release 2.25.2
  assets/src/js/admin/admin-settings.js
  give.php
  includes/admin/admin-actions.php
  includes/admin/payments/class-payments-table.php
  includes/admin/settings/class-settings-advanced.php
  includes/admin/tools/export/give-export-donations-exporter.php
  includes/admin/tools/import/class-give-import-donations.php
  includes/ajax-functions.php
  readme.txt
  src/DonationForms/Endpoints/FormActions.php
  src/Donations/Endpoints/DonationActions.php
  src/Donors/Endpoints/DeleteDonor.php
  src/Subscriptions/Endpoints/SubscriptionActions.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: Add nonce
  assets/src/js/admin/admin-importer.js
  includes/admin/admin-actions.php
  includes/class-give-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: add workflow trigger for epic branches
  .github/workflows/wordpress.yml
Due: none

Feature: handle `RespondToBrowser` command for subscriptions (#6735)
  src/Framework/PaymentGateways/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: implement nonce check to donation notes
  assets/src/js/admin/admin-scripts.js
  includes/admin/payments/actions.php
  includes/class-give-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: implement nonce check to donations importer
  includes/admin/admin-actions.php
  includes/admin/tools/import/class-give-import-donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add unreleased tags
  includes/admin/admin-actions.php
  includes/admin/payments/actions.php
  includes/admin/tools/import/class-give-import-donations.php
  includes/class-give-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Update check to use check_ajax_referer
  includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: replace nonce check function
  includes/admin/tools/import/class-give-import-donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: add design system style registration (#6742)
  give.php
  package-lock.json
  package.json
  src/Framework/DesignSystem/Actions/RegisterDesignSystemStyles.php
  src/Framework/DesignSystem/DesignSystemServiceProvider.php
  webpack.mix.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix

Feature: REST API Test Case (#6736)
  tests/RestApiTestCase.php
  tests/TestTraits/HasDefaultGiveWPUsers.php
  tests/TestTraits/HasDefaultWordPressUsers.php
Due: npm run lint:textdomain, npm run lint:php:fix

Chore: Update readme for Next Gen discovery (#6745)
  readme.txt
Due: none

fix: trigger change event on hidden amount field (#6730)
  assets/src/js/frontend/give-donations.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
