Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

feature: enable caching
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add inline documentation
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: loop through FQCN array to initialize endpoints
  src/API/API.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: add 'use \Give_Cache' to avoid using root namespace indicator
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use give_donation_form to remove default hooks
  templates/form-styles/elegent/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unnecessary hooks
  templates/form-styles/elegent/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: use db_query logic to handle query
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: modify gateway to verticle list
  templates/form-styles/elegent/assets/css/form.scss
  templates/form-styles/elegent/assets/css/mixins.scss
Due: none

fix: internationalize income label
  src/API/Endpoints/Reports/Income.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add AverageDonation class to FQCN array
  src/API/API.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: do not require children for List component
  assets/src/js/admin/reports/components/list/index.js
Due: eslint --fix

hotfix: connect charts to new endpoints
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  assets/src/js/admin/reports/widget/index.js
Due: eslint --fix

hotfix: return cached report if get_cached_report is not null
  src/API/Endpoints/Reports/AverageDonation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: scaffold donors endpoint
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  src/API/API.php
  src/API/Endpoints/Reports/Donors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add inline documentation
  src/API/Endpoints/Reports/Donors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: hide trend indicator if trend is NaN
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

feature: scaffold Refunds report endpoint
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  src/API/API.php
  src/API/Endpoints/Reports/Refunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: find sum of $refunds array, not $income array
  src/API/Endpoints/Reports/Refunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: inline documentation
  src/API/Endpoints/Reports/Refunds.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: load gateways when donation form is loaded via ajax
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

chore: update dates in sample data so it's 2019 and 2020
  sample-data/sample-data.csv
  sample-data/sample-data.numbers
Due: none

chore: move form fields under payment gateway
  assets/src/js/frontend/give-ajax.js
  templates/form-styles/elegent/assets/css/form.scss
  templates/form-styles/elegent/assets/css/mixins.scss
Due: eslint --fix

refactor: unblock form field after process complete
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

refactor: mount credit card field after fields inserted to dom
  assets/src/js/frontend/give-stripe.js
Due: eslint --fix

chore: load strip scripts when form loads in embed mode
  includes/class-give-scripts.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: improve donation button style
  templates/form-styles/elegent/assets/css/form.scss
Due: none

chore: remove empty dynamic form field container for now
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

chore: add heloper fn to check if viewing receipt for embed form or not
  includes/template-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add receipt template
  includes/forms/view/receipt.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: load embed receipt
  includes/forms/route.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add basic integration forform iframe resizer
  assets/src/js/frontend/give-ajax.js
  assets/src/js/plugins/give-api/util.js
  includes/class-give-scripts.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: use count param when calculate donor count
  includes/admin/donors/class-donor-table.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code fomatting
  includes/admin/donors/class-donor-table.php
  includes/donors/class-give-donors-query.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unnecessary code
  includes/payments/class-payment-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code fomatting
  includes/payments/class-payment-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: change income chart title
  assets/src/js/admin/reports/app/pages/overview-page/index.js
Due: eslint --fix

fix: pass currency to sanitize amount
  includes/admin/tools/data/class-give-tools-recount-form-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code formatting
  includes/admin/tools/data/class-give-tools-recount-form-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: pass currency to sanitize amount pass 2
  includes/admin/tools/data/class-give-tools-recount-all-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code formatting
  includes/admin/tools/data/class-give-tools-recount-all-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
