Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

doc: update change log
  CHANGELOG.md
Due: none

doc: add commen
  includes/gateways/offline-donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update changelog
  CHANGELOG.md
Due: none

refactor: remove line breaks
  src/Receipt/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove line breaks
  CHANGELOG.md
Due: none

refactor: revert changes and add space
  src/Receipt/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: replace `<br>` tags with spaces
  src/DonorDashboards/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: import classes
  src/DonorDashboards/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove `urlencode`
  src/Views/Form/Templates/Sequoia/views/social-sharing.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: encode parameters url and text with `encodeURIComponent`
  assets/src/js/plugins/give-api/share.js
Due: eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

fix: add line break in html for each newline
  src/DonorDashboards/Repositories/Donations.php
  src/DonorDashboards/resources/js/app/components/donation-receipt/style.scss
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: implement conditional visibilty in legacy consumer
  assets/src/js/frontend/give.js
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
  src/Form/LegacyConsumer/templates/base.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

format: remove extra line
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

refactor: remove extra variable
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

doc: add todo
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

feature: add conditional visibility field setting as data attribute
  src/Form/LegacyConsumer/templates/base.html.php
  src/Form/LegacyConsumer/templates/checkbox.html.php
  src/Form/LegacyConsumer/templates/conditional-visibility-attribute.html.php
  src/Form/LegacyConsumer/templates/file.html.php
  src/Form/LegacyConsumer/templates/radio.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: include class correctely
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
  src/Form/LegacyConsumer/templates/base.html.php
  src/Form/LegacyConsumer/templates/checkbox.html.php
  src/Form/LegacyConsumer/templates/file.html.php
  src/Form/LegacyConsumer/templates/radio.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: apply conditional visbility logic when atleast one field controller exist
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

fix: correct wording typo
  assets/src/js/admin/onboarding-wizard/app/steps/your-cause/index.js
Due: eslint --fix

fix: add visibility conditions correctly
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
  src/Form/LegacyConsumer/templates/base.html.php
  src/Form/LegacyConsumer/templates/checkbox.html.php
  src/Form/LegacyConsumer/templates/conditional-visibility-attribute.html.php
  src/Form/LegacyConsumer/templates/file.html.php
  src/Form/LegacyConsumer/templates/radio.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: display sequential number as payment_id in email preview
  includes/admin/emails/abstract-email-notification.php
  includes/emails/template.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: replace br tag with \r\n
  src/DonorDashboards/Repositories/Donations.php
  src/Receipt/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: remove extra newline
  src/Form/LegacyConsumer/templates/radio.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: collect list of watched element names
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

feature: store condtional field with wacthed fields in state
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

fix: listened change event only for watched field
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

refactor: use unique index for donation form
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

fix: use visibility condtion operator for comparision
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

fix: remove radio and checkbox from label top
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: exit early if state if empty
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

fix: set checkbox value if defined
  src/Form/LegacyConsumer/templates/checkbox.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add options support to checkbox
  src/Framework/FieldsAPI/Checkbox.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: check checkbox by default
  src/Form/LegacyConsumer/templates/checkbox.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add support for array type name selectors
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

fix: re apply visibility conditions when donor switch gateway
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

refactor: rename fields
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

format: remove unnecessary code
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
