Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

fix: include couple of becs helper fns
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add class file for becs direct debit gateway
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add becs direct debit js file
  assets/src/js/frontend/give-stripe-becs.js
Due: eslint --fix

chore: decode url dematch or find query param
  assets/src/js/plugins/give-api/api.js
Due: eslint --fix

fix: replace iban info with bank account info for becs
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add color setting field
  assets/src/js/admin/admin-widgets.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

fix: update default acceptance text helper fn to support becs
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add admin settings for becs direct debit
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: load becs mandate acceptance text
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update helper fn for get mandate acceptance text
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: close div correctely
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: trigger select field event only if donation form selected
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: add field desciptions
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add line break beform field description
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: show becs icon based on the settings in admin
  assets/src/js/frontend/give-stripe-becs.js
Due: eslint --fix

fix: show loader till chosen filed initiate
  assets/src/js/admin/admin-widgets.js
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: remove unnecessary height between donation form and display style
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update wrapper class name for becs mandate field
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: make toggle work for becs
  assets/src/js/admin/stripe-admin.js
Due: eslint --fix

chore: prevent unnecessary event trigger
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: prevent unnecessary change trigger
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: set default color to button color
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use continue button title to set button title when form is in embed mode
  includes/forms/widget.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: show settings after donation form setting field setup
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

fix: match Receipt page styles to Figma
  src/Views/Form/Themes/Sequoia/Sequoia.php
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/receiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add note about markup
  src/Views/Form/Themes/Sequoia/receiptTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fire change event on colorpicker after timeout to prevent conflict
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: use widget-updated hook to initiate chosen setting field
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

chore: add support for button color in donation form shortcode
  includes/forms/functions.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: show introduction text
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Revert "chore: use widget-updated hook to initiate chosen setting field"
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

fix: can not use widget-updated hook bc it will fire only when widget save
  assets/src/js/admin/admin-widgets.js
Due: eslint --fix

feature: create sequoia loader class
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

feature: override default loader with Sequoia loader
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

feat: update button background default color
  includes/forms/functions.php
  includes/forms/widget.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add useCustomLoader property
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: expose useCustomLoader property
  src/Views/Form/Themes/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: make iframe visible if using custom loader
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feat: do not include loader class if using custom loader
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: expose useCustomLoader property
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
