Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

refactor: use specific selector to show close icon
  assets/src/css/admin/chosen.scss
Due: stylelint --fix

Contextual docs and error messages updated (#6240)
  src/Framework/PaymentGateways/PaymentGateway.php
  src/PaymentGateways/Gateways/PayPalStandard/PayPalStandard.php
  src/PaymentGateways/Gateways/Stripe/Actions/CreatePaymentIntent.php
  src/PaymentGateways/Gateways/Stripe/Traits/CheckoutInstructions.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unnecessary `wp_enqueue_style` function call for `admin-reports.css` as these styles are already included into the `admin.css` file
  src/Views/Admin/Pages/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove `wp_enqueue_style` function call for `admin-reports-widget.css`
  src/Views/Admin/DashboardWidgets/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: refactor DonationFormsTest to properly clean up/tear down created forms
  tests/unit/tests/DonationForms/Repositories/DonationFormsTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename DonationFormsTest to DonationFormsRepositoryTest
  tests/unit/tests/DonationForms/Repositories/DonationFormsRepositoryTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use correct textdomain for translation strings
  src/DonationSummary/resources/views/summary.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove `wp_enqueue_style` function call for nonexistent file `donor-dashboards-app.css`
  src/DonorDashboards/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: per stripe account statement descriptor (#6226)
  assets/src/css/admin/stripe-admin.scss
  assets/src/js/admin/stripe-admin.js
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
  includes/gateways/stripe/includes/give-stripe-helpers.php
  src/PaymentGateways/Gateways/Stripe/Actions/UpdateStripeAccountStatementDescriptor.php
  src/PaymentGateways/Gateways/Stripe/Controllers/UpdateStatementDescriptorAjaxRequestController.php
  src/PaymentGateways/Gateways/Stripe/Migrations/AddStatementDescriptorToStripeAccounts.php
  src/PaymentGateways/ServiceProvider.php
  src/PaymentGateways/Stripe/Admin/AccountManagerSettingField.php
  src/PaymentGateways/Stripe/Controllers/NewStripeAccountOnBoardingController.php
  src/PaymentGateways/Stripe/Models/AccountDetail.php
  src/PaymentGateways/Stripe/Repositories/Settings.php
  src/PaymentGateways/Stripe/Traits/HasStripeStatementDescriptorText.php
  tests/unit/bootstrap.php
  tests/unit/tests/PaymentGateways/Gateways/Stripe/CreditCardGatewayTest.php
  tests/unit/tests/PaymentGateways/Stripe/Actions/UpdateStripeAccountStatementDescriptorTest.php
  tests/unit/tests/PaymentGateways/Stripe/ApplicationFeeTest.php
  tests/unit/tests/PaymentGateways/Stripe/Repositories/AccountDetailTest.php
  tests/unit/tests/PaymentGateways/Stripe/Traits/HasStripeStatementDescriptorTextTest.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

refactor: Use dynamic CSS for primary color.
  src/Views/Form/Templates/Sequoia/Sequoia.php
  src/Views/Form/Templates/Sequoia/assets/css/tributes.scss
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: bump version to 2.19.0-alpha.2
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove redundant webpack entry
  webpack.mix.js
Due: eslint --fix

fix: prevent 500 error on Forms page when 'timezone_string' option is not recognized
  src/DonationForms/Endpoints/ListForms.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: adjust Forms admin page column widths
  src/DonationForms/resources/components/DonationFormsTable.module.scss
Due: stylelint --fix

format: refactor conditional logic
  includes/admin/tools/views/html-admin-page-system-info.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: simplify human readble date logic to prevent php wanrings
  src/DonationForms/Endpoints/ListForms.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comment to function
  src/DonationForms/Endpoints/ListForms.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: use sprintf
  src/DonationForms/Endpoints/ListForms.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: show error message if donation failed
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add error_icon styles
  src/Views/Form/Templates/Sequoia/assets/css/receipt.scss
Due: stylelint --fix

Fix: Dismiss Free Addon modal on plain permalinks (#6260)
  src/Promotions/FreeAddonModal/Controllers/EnqueueModal.php
  src/Promotions/sharedResources/hooks/useFreeAddonSubscription.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: classic template - add listener to update payment amount on manual donation amount change
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

refactor: update payment amount only if donation summary is enabled
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

chore: ignore everything in laguages directory except readme file
  .gitignore
  includes/class-give-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not load undefined gutenberg.css
  includes/class-give-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add unreleased tag
  includes/class-give-scripts.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update readme.txt
  readme.txt
Due: none

hotfix: handle uncaught exception and strip special characters from statement descriptor
  src/PaymentGateways/Gateways/Stripe/Migrations/AddStatementDescriptorToStripeAccounts.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: wrap statement description validation in try catch block,normalize statement descriptor on error
  src/PaymentGateways/Stripe/Models/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use old logic to filter statment descriptor
  src/PaymentGateways/Gateways/Stripe/Migrations/AddStatementDescriptorToStripeAccounts.php
  src/PaymentGateways/Stripe/Models/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add unrelease tag
  src/PaymentGateways/Gateways/Stripe/Migrations/AddStatementDescriptorToStripeAccounts.php
  src/PaymentGateways/Stripe/Models/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/PaymentGateways/Stripe/Models/AccountDetail.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fix: resolve stalled statement descriptor migration (#6271)
  src/PaymentGateways/Gateways/Stripe/Migrations/AddStatementDescriptorToStripeAccounts.php
  src/PaymentGateways/Stripe/Models/AccountDetail.php
  src/PaymentGateways/Stripe/Traits/HasStripeStatementDescriptorText.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Prepare for 2.19.1 release
  give.php
  includes/class-give-scripts.php
  readme.txt
  src/PaymentGateways/Gateways/Stripe/Migrations/AddStatementDescriptorToStripeAccounts.php
  src/PaymentGateways/Stripe/Models/AccountDetail.php
  src/PaymentGateways/Stripe/Traits/HasStripeStatementDescriptorText.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: break migration runner loop after migration status has been stored
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix
