Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

fix: update iban hide icon helper fn
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: localize hide icon and icon style settings
  includes/gateways/stripe/includes/give-stripe-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve helper fns for icon style and hide icon of sepa
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: added data attributes for icon style and hide icon parameters
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-sepa.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: removed hide icon and icon style parameter from localized variables
  includes/gateways/stripe/includes/give-stripe-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: fetched hide icon and icon style values from data attribues
  assets/src/js/frontend/give-stripe-sepa.js
Due: eslint --fix

chore: get field argument in array data type to use existing metabox api to render field
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add getTemplate fn to load theme template
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add help fn to get theme object
  src/Form/LoadTheme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: return theme object from fn
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use getTemplate fn to get form theme template on basis of view
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add example code
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use array to map view and get template
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: create separate fn to render metabox settings
  src/Form/Theme.php
  src/Helpers/Form/Theme.php
  src/Views/Admin/Form/Metabox-Settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: use array mapping logic to get field class
  src/FormAPI/Field.php
  src/FormAPI/config/field-type-class-mapping.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: create property to store field vs classname mapping instead of separate file
  src/FormAPI/Field.php
  src/FormAPI/config/field-type-class-mapping.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: rename Field to Fields
  includes/admin/forms/class-metabox-form-data.php
  src/FormAPI/Fields.php
  src/FormAPI/Group.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update fn doc block
  src/FormAPI/Fields.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update class doc block
  src/Form/LoadTheme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: rename RegisterThemes to Themes
  give.php
  src/Form/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unsed code
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unnecessary check
  src/Form/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: load themes only if required
  src/Form/Themes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: move bootstrap related code into init fn
  give.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve path name issue in webpack config
  webpack.config.js
Due: eslint --fix

chore: rename property for consistency
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update payment intent create fn return values
  includes/gateways/stripe/includes/class-give-stripe-payment-intent.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: ensure that no confirmation redirection is done with intent error
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: avoid processing donation if payment method id doesn't exists via Stripe JS
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-card.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update text to iban info from credit card info
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-sepa.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: pass correct view
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix tempate path
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add style to iframe popup
  assets/src/css/frontend/forms.scss
  assets/src/js/frontend/form-theme/parent-page.js
Due: eslint --fix

chore: remove mpf-hide to prevent conflict with iframeResizer
  assets/src/js/frontend/form-theme/parent-page.js
Due: eslint --fix

chore: do not close modal when click on overlay
  assets/src/js/frontend/form-theme/parent-page.js
Due: eslint --fix

chore: use buttin instead of anchor tag
  assets/src/js/frontend/form-theme/parent-page.js
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

feature: match Figma styles
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

feature: use custom goal color for gradient
  src/Views/Form/Themes/Sequoia/sections/progress-bar.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: match default colors in form.css
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

feature: change goal values/labels based on format
  src/Views/Form/Themes/Sequoia/sections/form-income-stats.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
