Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: redirect annual receipt link in parent window
  src/DonorProfiles/resources/js/app/components/annual-receipt-table/annual-receipt-row/index.js
Due: eslint --fix

fix: run migration button
  src/API/Endpoints/Migrations/Endpoint.php
  src/API/Endpoints/Migrations/RunMigration.php
  src/MigrationLog/Admin/Migrations/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add methods title and source
  src/Framework/Migrations/Contracts/Migration.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: correctly persist anonymous giving setting
  src/DonorProfiles/Pipeline/Stages/UpdateDonorAnonymousGiving.php
  src/DonorProfiles/Profile.php
  src/DonorProfiles/Tabs/EditProfileTab/ProfileRoute.php
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add controls for updating donor company
  src/DonorProfiles/Pipeline/Stages/UpdateDonorCompany.php
  src/DonorProfiles/Profile.php
  src/DonorProfiles/Tabs/EditProfileTab/ProfileRoute.php
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/utils/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: improve radio control styles
  src/DonorProfiles/resources/js/app/components/radio-control/style.scss
Due: stylelint --fix

chore: update changelog
  CHANGELOG.md
Due: none

fix: getEndpoint function
  src/Log/Admin/Logs/api.js
  src/MigrationLog/Admin/Migrations/api.js
Due: eslint --fix

feature: add page parameter
  src/API/Endpoints/Logs/GetLogs.php
  src/API/Endpoints/Migrations/GetMigrations.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add migration title and source
  src/API/Endpoints/Migrations/GetMigrations.php
  src/Framework/Migrations/Contracts/Migration.php
  src/Log/Migrations/CreateNewLogTable.php
  src/Log/Migrations/DeleteOldLogTables.php
  src/Log/Migrations/MigrateExistingLogs.php
  src/MigrationLog/Admin/Migrations/index.js
  src/MigrationLog/Migrations/CreateMigrationsTable.php
  src/MigrationLog/Migrations/MigrateCompletedMigrations.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: migration run order
  src/MigrationLog/Helpers/MigrationHelper.php
Due: npm run lint:textdomain, npm run lint:php:fix

Field API enforces unique names (#5601)
  src/Framework/FieldsAPI/FieldCollection.php
  src/Framework/FieldsAPI/FieldCollection/Exception/NameCollisionException.php
  src/Framework/FieldsAPI/FieldCollection/InsertNode.php
  src/Framework/FieldsAPI/FieldCollection/NameCollision.php
  tests/unit/tests/Framework/FieldsAPI/FieldCollection/NameCollisionTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: Add ReferenceNodeNotFoundException.
  src/Framework/FieldsAPI/FieldCollection/Exception/ReferenceNodeNotFoundException.php
  src/Framework/FieldsAPI/FieldCollection/InsertNode.php
  tests/unit/tests/Framework/FieldsAPI/FieldCollection/InsertNodeTest.php
  tests/unit/tests/Framework/FieldsAPI/FieldCollectionTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update changelog.
  CHANGELOG.md
Due: none

chore: Add unreleased docblocks.
  src/Framework/FieldsAPI/FieldCollection/InsertNode.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Update recursive function naming.
  src/Framework/FieldsAPI/FieldCollection/InsertNode.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: Add support for arbritrary attributes.
  src/Framework/FieldsAPI/FormField.php
  src/Framework/FieldsAPI/FormField/FieldAttributes.php
  tests/unit/tests/Framework/FieldsAPI/FormField/FieldAttributesTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use accent color in cancel modal header
  src/DonorProfiles/resources/js/app/components/subscription-cancel-modal/style.scss
Due: stylelint --fix

fix: use accent color for links
  src/DonorProfiles/resources/js/app/components/desktop-layout/style.scss
  src/DonorProfiles/resources/js/app/components/tab-link/style.scss
  src/DonorProfiles/resources/js/app/style.scss
Due: stylelint --fix

fix: improve currency control styles
  src/DonorProfiles/resources/js/app/components/currency-control/style.scss
Due: stylelint --fix

fix: use accent color in payment method control
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-control/card-control/index.js
  src/DonorProfiles/resources/js/app/components/subscription-manager/payment-method-control/stripe-control/stripe-card-control/style.scss
Due: eslint --fix, stylelint --fix

enhancement: Add attribute support to legacy form consumer.
  src/Form/LegacyConsumer/FieldView.php
  src/Form/LegacyConsumer/templates/checkbox.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/text.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
  tests/unit/tests/Form/LegacyConsumer/FieldViewTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add docblocks.
  src/Form/LegacyConsumer/FieldView.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Add default return value for attributes.
  src/Framework/FieldsAPI/FormField/FieldAttributes.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Update attributes() method to match public api convention.
  src/Framework/FieldsAPI/FormField/FieldAttributes.php
  tests/unit/tests/Form/LegacyConsumer/FieldViewTest.php
  tests/unit/tests/Framework/FieldsAPI/FormField/FieldAttributesTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use sequential ordering when enabled
  includes/admin/payments/class-payments-table.php
  src/DonorProfiles/Repositories/Donations.php
  src/DonorProfiles/resources/js/app/components/donation-row/index.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/content.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: use sequential ordering in subscription headers
  src/DonorProfiles/resources/js/app/tabs/recurring-donations/content.js
Due: eslint --fix

fix: ensure that button text is white
  src/DonorProfiles/resources/js/app/components/button/style.scss
Due: stylelint --fix

fix: show spinner when updating profile
  src/DonorProfiles/resources/js/app/tabs/edit-profile/content.js
  src/DonorProfiles/resources/js/app/tabs/edit-profile/style.scss
  src/DonorProfiles/resources/js/app/tabs/edit-profile/utils/index.js
Due: eslint --fix, stylelint --fix

Add $schema property in Endpoint.php
  src/API/Endpoints/Reports/Endpoint.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: stages must implement stage interface
  src/DonorProfiles/Pipeline/Stages/Stage.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorAddresses.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorAnonymousGiving.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorAvatar.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorCompany.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorEmails.php
  src/DonorProfiles/Pipeline/Stages/UpdateDonorName.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Escape custom field attributes.
  src/Form/LegacyConsumer/FieldView.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: Display cuustom field values in payment details.
  src/Form/LegacyConsumer/Commands/SetupFieldPersistance.php
  src/Form/LegacyConsumer/Commands/SetupPaymentDetailsDisplay.php
  src/Form/LegacyConsumer/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: set correct version in the `@since` tag
  src/API/Endpoints/Logs/Endpoint.php
  src/API/Endpoints/Logs/GetLogs.php
  src/Framework/Database/DB.php
  src/Log/Assets.php
  src/Log/Log.php
  src/Log/LogFactory.php
  src/Log/LogModel.php
  src/Log/LogRepository.php
  src/Log/LogServiceProvider.php
  src/Log/Migrations/CreateNewLogTable.php
  src/Log/Migrations/MigrateExistingLogs.php
  src/Log/ValueObjects/Enum.php
  src/Log/ValueObjects/LogCategory.php
  src/Log/ValueObjects/LogType.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add zapier support
  src/Log/Helpers/LogTypeHelper.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: display notice when logged in without associated donor
  src/DonorProfiles/App.php
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
  src/DonorProfiles/resources/js/app/components/auth-modal/style.scss
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: use enter to submit login and verify email forms
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
  src/DonorProfiles/resources/js/app/components/auth-modal/style.scss
  src/DonorProfiles/resources/js/app/components/button/index.js
Due: eslint --fix, stylelint --fix

fix: position logout button at bottom of menu
  src/DonorProfiles/resources/js/app/components/tab-menu/index.js
  src/DonorProfiles/resources/js/app/components/tab-menu/style.scss
Due: eslint --fix, stylelint --fix

fix: require use confirmation to logout
  src/DonorProfiles/resources/js/app/components/logout-modal/index.js
  src/DonorProfiles/resources/js/app/components/logout-modal/style.scss
  src/DonorProfiles/resources/js/app/components/logout-modal/utils/index.js
  src/DonorProfiles/resources/js/app/components/tab-menu/index.js
Due: eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
