Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

chore: Add baseline test for minor amounts.
  tests/unit/tests/ValueObjects/MoneyTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Round minor amount to account for floating point precision.
  src/ValueObjects/Money.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add explanatory docblock.
  src/ValueObjects/Money.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update changelog.
  CHANGELOG.md
Due: none

chore: Add additional test parameter.
  tests/unit/tests/ValueObjects/MoneyTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: scroll only if content exits
  assets/src/js/admin/admin-settings.js
Due: eslint --fix

fix: do nor show pointer on loack icon
  assets/src/css/admin/settings.scss
Due: stylelint --fix

doc: update changelog
  CHANGELOG.md
Due: none

Renamed Indian state to Odisha
  includes/country-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update since docblock and CHANGELOG.
  CHANGELOG.md
  includes/country-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: show email notificaiton notice when admin click on status icon
  assets/src/css/admin/settings.scss
  assets/src/js/admin/admin-settings.js
Due: eslint --fix, stylelint --fix

refactor: rename variable
  assets/src/js/admin/admin-settings.js
Due: eslint --fix

refactor: rename function
  assets/src/js/admin/admin-settings.js
Due: eslint --fix

chore: Add additional unit test.
  tests/unit/tests/ValueObjects/MoneyTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: reword error message to avoid usage of "nonce" at it is UK slang
  src/DonorDashboards/resources/js/app/tabs/donation-history/utils/index.js
Due: eslint --fix

refactor: Update Money class to use minor amount as base.
  src/ValueObjects/Money.php
  tests/unit/tests/ValueObjects/MoneyTest.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: Add bundle command.
  .gitignore
  composer.json
Due: prettier --write

feature: improve Stripe account card styles
  assets/src/css/admin/stripe-admin.scss
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

fix: decode url before parsing and satnitizing url values
  includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comment
  includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: function returns void
  includes/admin/admin-actions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Support for the decimal amounts is now implemented (#5827)
  CHANGELOG.md
  assets/src/js/plugins/give-api/api.js
  src/Views/Form/Templates/Sequoia/Actions.php
  src/Views/Form/Templates/Sequoia/assets/js/form.js
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add modal support for admin UI
  assets/src/css/admin/stripe-admin.scss
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Onboarding LocaleCollection has parity with WooCommerce (#5831)
  CHANGELOG.md
  src/Onboarding/LocaleCollection.php
Due: npm run lint:textdomain, npm run lint:php:fix

Replace `main` elements with `div` elements in GiveWP Setup Guide (#5835)
  CHANGELOG.md
  src/Onboarding/Setup/templates/section.html
Due: none

feature: add Exception framework
  src/Framework/Exceptions/Contracts/LoggableException.php
  src/Framework/Exceptions/LogUncaughtGiveExceptions.php
  src/Framework/Exceptions/Primitives/Exception.php
  src/Framework/Exceptions/Primitives/HttpHeaderException.php
  src/Framework/Exceptions/Primitives/InvalidArgumentException.php
  src/Framework/Exceptions/Primitives/LogicException.php
  src/Framework/Exceptions/Primitives/RuntimeException.php
  src/Framework/Exceptions/Traits/Loggable.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: update existing exceptions to use new Exception classes and traits
  src/Container/Container.php
  src/Container/Exceptions/BindingResolutionException.php
  src/Controller/PayPalWebhooks.php
  src/DonorDashboards/Exceptions/DuplicateTabException.php
  src/DonorDashboards/Exceptions/MissingTabException.php
  src/DonorDashboards/Tabs/Contracts/Tab.php
  src/DonorDashboards/Tabs/TabsRegister.php
  src/FormAPI/Fields.php
  src/FormAPI/Form/Field.php
  src/FormAPI/Form/Group.php
  src/FormAPI/Section.php
  src/Framework/FieldsAPI/Factory/Exception/TypeNotSupported.php
  src/Framework/FieldsAPI/FieldCollection/Exception/ReferenceNodeNotFoundException.php
  src/Framework/Migrations/Actions/ClearCompletedUpgrade.php
  src/Framework/Migrations/Contracts/Migration.php
  src/Framework/Migrations/Exceptions/DatabaseMigrationException.php
  src/Framework/Migrations/MigrationsRegister.php
  src/Helpers/Hooks.php
  src/Log/LogRepository.php
  src/Log/ValueObjects/Enum.php
  src/PaymentGateways/PayPalCommerce/DataTransferObjects/PayPalWebhookHeaders.php
  src/PaymentGateways/PayPalCommerce/Models/MerchantDetail.php
  src/PaymentGateways/PayPalCommerce/Models/PayPalOrder.php
  src/PaymentGateways/PayPalCommerce/Models/PayPalPayment.php
  src/PaymentGateways/PayPalCommerce/Repositories/PayPalOrder.php
  src/PaymentGateways/PayPalCommerce/Repositories/Traits/HasMode.php
  src/PaymentGateways/PayPalCommerce/Repositories/Webhooks.php
  src/PaymentGateways/PayPalCommerce/Webhooks/WebhookRegister.php
  src/PaymentGateways/Stripe/Models/AccountDetail.php
  src/Receipt/DonationReceipt.php
  src/Receipt/Section.php
  src/Revenue/Repositories/Revenue.php
  src/Session/Accessor.php
  src/Session/SessionDonation/SessionObjects/Donation.php
  src/Session/SessionDonation/SessionObjects/FormEntry.php
  src/TestData/Factories/DonationFactory.php
  src/TestData/ServiceProvider.php
  src/ValueObjects/Address.php
  src/ValueObjects/CardInfo.php
  src/ValueObjects/DonorInfo.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: set up exception handler during bootstrapping
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: handle Logglable trait
  src/Framework/Exceptions/LogUncaughtGiveExceptions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update the `give()` function to be lowercase.
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: catch exceptions prior to loading service providers
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add custom billing section title
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add billing section title style
  src/Views/Form/Templates/Sequoia/assets/css/paypal-commerce.scss
Due: stylelint --fix

refactor: rename function
  src/PaymentGateways/PayPalCommerce/AdvancedCardFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update changelog
  CHANGELOG.md
  includes/gateways/stripe/includes/class-give-stripe-customer.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: change condition order to search firgureprint
  includes/gateways/stripe/includes/class-give-stripe-customer.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename class to UncaughtExceptionLogger
  give.php
  src/Framework/Exceptions/UncaughtExceptionLogger.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: use LoggableException as sole contract for logging uncaught exceptions
  src/Container/Exceptions/BindingResolutionException.php
  src/DonorDashboards/Exceptions/DuplicateTabException.php
  src/DonorDashboards/Exceptions/MissingTabException.php
  src/Framework/Exceptions/Primitives/Exception.php
  src/Framework/Exceptions/Primitives/HttpHeaderException.php
  src/Framework/Exceptions/Primitives/InvalidArgumentException.php
  src/Framework/Exceptions/Primitives/LogicException.php
  src/Framework/Exceptions/Primitives/RuntimeException.php
  src/Framework/Exceptions/UncaughtExceptionLogger.php
  src/Framework/FieldsAPI/FieldCollection/Exception/ReferenceNodeNotFoundException.php
  src/Framework/Migrations/Exceptions/DatabaseMigrationException.php
Due: npm run lint:textdomain, npm run lint:php:fix
