Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

fix: use placeholder in select elements
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: decrease bottom margin
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: use bank icons for sepa, becs, ideal and ach
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: match top/bottom spacing to sides
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: match select input height to text input
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: improve square field height
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: match padding pixel for pixel
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: use consistent font in square fields
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/css/square.scss
Due: stylelint --fix

fix: uniformly style square fields
  src/Views/Form/Templates/Sequoia/assets/css/square.scss
Due: stylelint --fix

feature: add class describing active gateway
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: override default stripe cc field border
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: consistent spacing regardless of mandatory acceptance notice
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

chore: remove unnecessary code and spaces
  phpcs.ruleset.xml
Due: none

chore: use short array tag
  src/Views/Form/Templates/Sequoia/Actions.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
  src/Views/IframeContentView.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove console.log
  assets/src/js/plugins/form-template/parent-page.js
Due: eslint --fix

chore: use capital P in WordPress
  blocks/components/chosen-select/index.js
  blocks/donation-form/edit/inspector.js
Due: eslint --fix

fix: recover donation receipt code
  src/Form/Template.php
  src/Receipt/AdditionalDetailsGroup/AdditionalDetailsGroup.php
  src/Receipt/Detail.php
  src/Receipt/DetailGroup.php
  src/Receipt/DonationDetailsGroup/Details/Amount.php
  src/Receipt/DonationDetailsGroup/Details/PaymentGateway.php
  src/Receipt/DonationDetailsGroup/Details/Status.php
  src/Receipt/DonationDetailsGroup/Details/TotalAmount.php
  src/Receipt/DonationDetailsGroup/DonationDetailsGroup.php
  src/Receipt/DonationReceipt.php
  src/Receipt/DonorDetailsGroup/Details/BillingAddress.php
  src/Receipt/DonorDetailsGroup/Details/Email.php
  src/Receipt/DonorDetailsGroup/Details/Name.php
  src/Receipt/DonorDetailsGroup/DonorDetailsGroup.php
  src/Receipt/LineItem.php
  src/Receipt/Receipt.php
  src/Receipt/Section.php
  src/Receipt/UpdateReceipt.php
  src/Views/Form/Templates/Sequoia/Sequoia.php
  src/Views/Form/Templates/Sequoia/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: recover readme.txt
  readme.txt
Due: none

chore: remove unnecessary esc_html__
  includes/misc-functions.php
  includes/shortcodes.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code fromatting
  includes/misc-functions.php
  includes/shortcodes.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add function description
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-checkout.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove duplicate function
  includes/gateways/stripe/includes/admin/admin-helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add missing file
  src/Views/Form/Templates/Sequoia/assets/css/tributes.scss
Due: stylelint --fix

chore: use isLegacyForm fn
  includes/gateways/paypal-standard.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/gateways/paypal-standard.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use isLegacyForm fn
  includes/gateways/manual.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: use esc_html__
  includes/gateways/manual.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/gateways/manual.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: recovert class-give-welcome.php
  includes/admin/class-give-welcome.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  includes/admin/class-give-welcome.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: set version to 2.6.3
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve code formatting
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: improve documentation
  blocks/donor-wall/class-give-donor-wall.php
  blocks/donor-wall/edit/block.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: improve code formatting
  blocks/donor-wall/class-give-donor-wall.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update code impacted due to merge conflicts for corrections
  assets/src/js/frontend/give-stripe-becs.js
  includes/gateways/stripe/includes/give-stripe-helpers.php
  includes/gateways/stripe/includes/payment-methods/class-give-stripe-becs.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: remove duplicate selector
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

chore: remove unnecessary action hook callbacks
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: block robots
  src/Form/LoadTemplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve fieldset cloning process
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix, stylelint --fix
