Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

fix: update RESTList period formatting to match RESTChart
  assets/src/js/admin/reports/components/rest-list/index.js
Due: eslint --fix

feature: query by start and end date
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: check if array is empty before mapping
  assets/src/js/admin/reports/components/rest-list/index.js
Due: eslint --fix

feature: get donor image if available
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add count and total labels
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add donor overview link
  assets/src/js/admin/reports/components/donor-item/index.js
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: setup custom hook for embed template
  includes/class-give-scripts.php
  includes/forms/route.php
  includes/forms/view/embed-form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: name hooks
  includes/forms/view/embed-form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: load scripts in footer
  includes/class-give-scripts.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update stylelinit dependency
  package-lock.json
  package.json
Due: prettier --write

fix: style donor overview link
  assets/src/js/admin/reports/components/donor-item/style.scss
Due: none

chore: add inline documentation
  src/API/Endpoints/Reports/TopDonors.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: retitle Top Donors card
  assets/src/js/admin/reports/app/pages/overview-page/index.js
Due: eslint --fix

feature: scaffold Recent Donations endpoint
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  src/API/API.php
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: auto resize iframe
  assets/src/js/frontend/give.js
  assets/src/js/plugins/give-api/api.js
  assets/src/js/plugins/give-api/util.js
  includes/forms/view/embed-form.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

feature: get donation info with Give_Payment class
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add support for 'cancelled' payment state
  assets/src/js/admin/reports/components/donation-item/utils/index.js
Due: eslint --fix

fix: add default icon and color
  assets/src/js/admin/reports/components/donation-item/utils/index.js
Due: eslint --fix

fix: retitle Recent Donations card
  assets/src/js/admin/reports/app/pages/overview-page/index.js
Due: eslint --fix

chore: improve iframe styling
  assets/src/js/plugins/give-api/util.js
  includes/forms/view/embed-form.php
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add helper fn to check if we are viewing embed form
  includes/template-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: create basic form-style
  templates/form-styles/elegent/index.php
  templates/form-styles/legecy/index.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: add form styling loading logic
  includes/forms/template.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: use helper fn
  includes/forms/route.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add inline documentation
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add initial templates to elegent theme
  templates/form-styles/elegent/close-form-notice.php
  templates/form-styles/elegent/form.php
  templates/form-styles/elegent/index.php
  templates/form-styles/elegent/sections/choose-amount.php
  templates/form-styles/elegent/sections/introduction.php
  templates/form-styles/elegent/sections/payment.php
  templates/form-styles/elegent/sections/personal-infomation.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add helper function to get form style
  includes/template-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: scaffold RESTMiniChart HOC
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  assets/src/js/admin/reports/components/rest-mini-chart/index.js
Due: eslint --fix

feature: scaffold income over time endpoint
  src/API/API.php
  src/API/Endpoints/Reports/IncomeOverTime.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: move highlight calcuations to API endpoint
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  assets/src/js/admin/reports/components/mini-chart/index.js
  assets/src/js/admin/reports/components/mini-chart/utils/index.js
  assets/src/js/admin/reports/components/rest-mini-chart/index.js
  src/API/Endpoints/Reports/IncomeOverTime.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: add inline documentation
  src/API/Endpoints/Reports/IncomeOverTime.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add todo
  includes/forms/route.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: setup elegent them style
  includes/class-give-scripts.php
  includes/forms/view/embed-form.php
  includes/shortcodes.php
  templates/form-styles/elegent/assets/css/form.scss
  webpack.config.js
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix

chore: output embed related class
  includes/forms/route.php
  templates/form-styles/elegent/sections/introduction.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: setup basic introruction section
  templates/form-styles/elegent/assets/css/form.scss
  templates/form-styles/elegent/filters.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: localize chart titles
  assets/src/js/admin/reports/app/pages/overview-page/index.js
Due: eslint --fix

refactor: add introductin section with hook
  templates/form-styles/elegent/actions.php
  templates/form-styles/elegent/form.php
  templates/form-styles/elegent/index.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove use of array_push()
  src/API/Endpoints/Reports/RecentDonations.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: remove goal from top of form
  templates/form-styles/elegent/actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: remove unnecessary margin from error section
  templates/form-styles/elegent/assets/css/form.scss
Due: none

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
