Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

doc: update changelog
  CHANGELOG.md
Due: none

doc: add comment
  src/TestData/Addons/ManualDonations/ManualDonations.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: show gateway checkout label on receipt
  src/Receipt/DonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add `inProgress` flag
  assets/src/js/frontend/give-ajax.js
Due: eslint --fix

chore: update changelog
  CHANGELOG.md
Due: none

chore: clean up github workflow composer installation
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

chore: fix workflow composer installation... for real this time
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/wordpress.yml
Due: none

feature: add function hasOptions
  src/Framework/FieldsAPI/Concerns/HasOptions.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use hasOptions function
  src/Form/LegacyConsumer/templates/checkbox.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comment
  src/Framework/FieldsAPI/Concerns/HasOptions.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: install dev dependencies for tests
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/wordpress.yml
Due: none

chore: prepare for 2.14.0 release
  CHANGELOG.md
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

fix: fetch checkbox options correctely
  src/Form/LegacyConsumer/templates/checkbox.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add visbility conditions to all fields
  src/Form/LegacyConsumer/FieldView.php
  src/Form/LegacyConsumer/templates/checkbox.html.php
  src/Form/LegacyConsumer/templates/file.html.php
  src/Form/LegacyConsumer/templates/radio.html.php
  src/Form/LegacyConsumer/templates/select.html.php
  src/Form/LegacyConsumer/templates/textarea.html.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: add semicolon
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

fix: handle html field for conditional visibility
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

fix: update changelog
  CHANGELOG.md
Due: none

refatos: create function to get selector
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

Update src/Form/LegacyConsumer/resources/js/conditinal-fields.js
  src/Form/LegacyConsumer/resources/js/conditinal-fields.js
Due: eslint --fix

Update src/Framework/FieldsAPI/Checkbox.php
  src/Framework/FieldsAPI/Checkbox.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update src/Framework/FieldsAPI/Concerns/HasOptions.php
  src/Framework/FieldsAPI/Concerns/HasOptions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Update src/Form/LegacyConsumer/FieldView.php
  src/Form/LegacyConsumer/FieldView.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: create function to get visbility conditions attiribute
  src/Form/LegacyConsumer/FieldView.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: make function static
  src/Form/LegacyConsumer/FieldView.php
Due: npm run lint:textdomain, npm run lint:php:fix

Convert only strings to lowercase (#5971)
  CHANGELOG.md
  includes/admin/admin-pages.php
Due: npm run lint:textdomain, npm run lint:php:fix

Use WP time format in donor dashboard (#5975)
  CHANGELOG.md
  src/DonorDashboards/Repositories/Donations.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Sanitize description using wp_kses_post.
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add wp editor for thank you message setting
  src/Views/Form/Templates/Sequoia/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comment
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: validate ipn for each paypal webhook
  includes/gateways/paypal/paypal-standard.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove paypal_verification setting
  includes/admin/tools/views/html-admin-page-system-info.php
  includes/install.php
  src/PaymentGateways/PayPalStandard/PayPalStandard.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unnecessary checks from web_accept ipn handler
  includes/gateways/paypal/paypal-standard.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do not need to cpmplete each test payment
  includes/gateways/paypal/paypal-standard.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use donaion object
  includes/gateways/paypal/paypal-standard.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add migration to remove setting
  src/PaymentGateways/PayPalStandard/Migrations/RemovePayPalIPNVerificationSetting.php
  src/ServiceProviders/PaymentGateways.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: fix typo
  src/PaymentGateways/PayPalStandard/Migrations/RemovePayPalIPNVerificationSetting.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add migration title
  src/PaymentGateways/PayPalStandard/Migrations/RemovePayPalIPNVerificationSetting.php
Due: npm run lint:textdomain, npm run lint:php:fix
