Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

feature: add dedicated option for header background color
  src/Views/Form/Templates/Classic/Classic.php
  src/Views/Form/Templates/Classic/optionConfig.php
  src/Views/Form/Templates/Classic/resources/css/_header.scss
  src/Views/Form/Templates/Classic/resources/css/variables.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: if no header background color do not tint
  src/Views/Form/Templates/Classic/resources/css/_header.scss
  src/Views/Form/Templates/Classic/resources/css/variables.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: add jsconfig.json for webpack js aliases
  jsconfig.json
Due: prettier --write

fix: add default value and update placeholder amount to be 10000
  includes/admin/forms/class-metabox-form-data.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scale fonts better
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
  src/Views/Form/Templates/Classic/resources/css/_donation-summary.scss
  src/Views/Form/Templates/Classic/resources/css/_ffm.scss
  src/Views/Form/Templates/Classic/resources/css/_fn.scss
  src/Views/Form/Templates/Classic/resources/css/_header.scss
  src/Views/Form/Templates/Classic/resources/css/_page.scss
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
  src/Views/Form/Templates/Classic/resources/css/_variables.scss
Due: stylelint --fix

chore: generate source maps for development
  webpack.mix.js
Due: eslint --fix

feature: more font scaling improvements
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
  src/Views/Form/Templates/Classic/resources/css/_payment-details.scss
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
  src/Views/Form/Templates/Classic/resources/css/_section.scss
Due: stylelint --fix

feature: add hover effects to buttons
  src/Views/Form/Templates/Classic/resources/css/_donate-now.scss
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
  src/Views/Form/Templates/Classic/resources/css/_header.scss
Due: stylelint --fix

feature: add donation amount section description
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix

fix: move currency switcher message outside of fieldset
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix, stylelint --fix

feature: set non-mobile gap for donation amount
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix

feature: use the same styles for recurring msg for cs
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix

feature: add icons to personal info fields
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
Due: stylelint --fix

feature: fallback to post title if main heading not set
  src/Views/Form/Templates/Classic/Classic.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: increase padding for non-mobile
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
Due: stylelint --fix

feature: capitalize decimal amounts and enable by default
  src/Views/Form/Templates/Classic/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: replace incorrect main heading control description
  src/Views/Form/Templates/Classic/optionConfig.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: improve receipt styles
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

feature: reset dl margin
  src/Views/Form/Templates/Classic/resources/css/_reset.scss
Due: stylelint --fix

feature: better responsive styles for receipt
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

fix: clean up the donor dashboard link
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
  src/Views/Form/Templates/Classic/resources/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

feature: responsive improvements for receipt
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

fix: make input fill container (visually the input)
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
Due: stylelint --fix

fix: position icon over input and use input styles
  src/Views/Form/Templates/Classic/resources/css/_personal-info.scss
Due: stylelint --fix

fix: add correct spacing between and within dashboard link section
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

feature: no border radius on mobile
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

fix: handle gateway changes
  src/Views/Form/Templates/Classic/resources/css/_currencyswitcher.scss
Due: stylelint --fix

feature: use max-width for receipt
  src/Views/Form/Templates/Classic/resources/css/_page.scss
Due: stylelint --fix

fix: use correct font-size for receipt title
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

fix: tweak spacing in social sharing section
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

fix: set fixed measure for social sharing blurb
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

feature: add indicator for payment status line item
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
  src/Views/Form/Templates/Classic/resources/views/receipt.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

refactor: remove unnessary pseudo-element selector
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

refactor: remove unnecessary statuses
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix

feature: put recurring admin-defined in a pretty box
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix

feature: fix amount description line-height
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
Due: stylelint --fix

refactor: improve reset styles
  src/Views/Form/Templates/Classic/resources/css/_reset.scss
Due: stylelint --fix

feature: add border around container when checked
  src/Views/Form/Templates/Classic/resources/css/_donation-amount.scss
  src/Views/Form/Templates/Classic/resources/js/form.js
Due: eslint --fix, stylelint --fix

feature: match payment gateway selector border
  src/Views/Form/Templates/Classic/resources/css/_payment-details.scss
Due: stylelint --fix

refactor: use aspect-ratio 🎉
  src/Views/Form/Templates/Classic/resources/css/_receipt.scss
Due: stylelint --fix
