Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./vendor/bin/phpcbf, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
	"*.json": ["prettier --write", "git add"],
	"*.php": ["./vendor/bin/phpcbf", "git add"],
	"*.{js,jsx}": ["eslint --fix", "git add"],
	"*.css": ["stylelint --fix", "git add"]
}

chore: ignore db files from lint
  .prettierignore
Due: none

chore: update eslint config
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

chore: add php lint command
  package.json
Due: prettier --write

chore: sniff php file only for WPCS
  .lintstagedrc.json
  package.json
Due: prettier --write

chore: rename eslintrc file
  .eslintrc
  .eslintrc.json
Due: prettier --write

chore: uninstall eslint-config-wordpress infavor of @wordpress/eslint-plugin
  package-lock.json
  package.json
Due: prettier --write

chore: add tab indent to all files
  .editorconfig
Due: none

chore: add wp-textdomain package
  package-lock.json
  package.json
Due: prettier --write

chire: remove unnecessary packages
  package-lock.json
  package.json
Due: prettier --write

chore: update eslint config
  .eslintrc.json
Due: prettier --write

chore: install wp-text-domain
  package.json
Due: prettier --write

chore: install abbel-eslint
  package-lock.json
  package.json
Due: prettier --write

chore: update eslint
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

chore: add logic to check text-domain
  .eslintrc.json
  .lintstagedrc.json
  wp-textdomain.js
Due: prettier --write, eslint --fix

Revert "chore: rename eslintrc file"
  .eslintrc
  .eslintrc.json
Due: prettier --write

chore: revert eslint config
  .eslintrc
  .eslintrc.json
Due: prettier --write

chore: update package.json
  package-lock.json
  package.json
Due: prettier --write

refactor: move Reports views into Views directory
  give.php
  src/Reports/AdminView.php
  src/Reports/Reports.php
  src/Views/Admin.php
  src/Views/Admin/DashboardWidgets/Reports.php
  src/Views/Admin/DashboardWidgets/templates/reports-template.php
  src/Views/Admin/Pages/Reports.php
  src/Views/Admin/Pages/templates/reports-template.php
  src/Views/Views.php
Due: ./vendor/bin/phpcbf

feature: use give_count_payments for PaymentStatuses endpoint
  src/API/Endpoints/Reports/PaymentStatuses.php
Due: ./vendor/bin/phpcbf

chore: add inline documentation
  src/API/Endpoints/Reports/PaymentStatuses.php
  src/Views/Admin.php
  src/Views/Admin/DashboardWidgets/Reports.php
  src/Views/Admin/Pages/Reports.php
  src/Views/Views.php
Due: ./vendor/bin/phpcbf

chore: sniff scss files instead of css
  .lintstagedrc.json
Due: prettier --write

fix: replace wp.components with wp.serverSideRender
  blocks/donation-form-grid/edit/block.js
  blocks/donation-form/edit/block.js
  blocks/donor-wall/edit/block.js
Due: eslint --fix

feature: scaffold payment methods endpoint
  src/API/API.php
  src/API/Endpoints/Reports/PaymentMethods.php
Due: ./vendor/bin/phpcbf

feature: add existing stats logic to PaymentMethods
  src/API/Endpoints/Reports/PaymentMethods.php
Due: ./vendor/bin/phpcbf

fix: correct Payment Methods labels
  src/API/Endpoints/Reports/PaymentMethods.php
Due: ./vendor/bin/phpcbf

feature: setup payment methods chart
  assets/src/js/admin/reports/app/pages/overview-page/index.js
Due: eslint --fix

fix: remove payment methods label
  src/API/Endpoints/Reports/PaymentMethods.php
Due: ./vendor/bin/phpcbf

feature: scaffold FormPerformance endpoint
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  src/API/API.php
  src/API/Endpoints/Reports/FormPerformance.php
Due: ./vendor/bin/phpcbf, eslint --fix

feature: use get_best_selling to source top performing forms
  src/API/Endpoints/Reports/FormPerformance.php
  src/API/Endpoints/Reports/PaymentStatuses.php
Due: ./vendor/bin/phpcbf

chore: add inline documentation
  src/API/Endpoints/Reports/FormPerformance.php
Due: ./vendor/bin/phpcbf

feature: scaffold donations vs income endpoint
  assets/src/js/admin/reports/app/pages/overview-page/index.js
  src/API/API.php
  src/API/Endpoints/Reports/DonationsVsIncome.php
Due: ./vendor/bin/phpcbf, eslint --fix

fix: add 'All Time' clarification to form performance
  assets/src/js/admin/reports/app/pages/overview-page/index.js
Due: eslint --fix

fix: retrieve end parameter from endDate property
  assets/src/js/admin/reports/components/rest-chart/index.js
Due: eslint --fix

feature: implement Give_Payment_Stats to source donations
  src/API/Endpoints/Reports/DonationsVsIncome.php
Due: ./vendor/bin/phpcbf

chore: update akisment spam notice as per devin recommandation
  includes/filters.php
Due: ./vendor/bin/phpcbf

chore: validate log html before output
  includes/admin/tools/logs/class-spam-logs-list-table.php
Due: ./vendor/bin/phpcbf

chore: pass html tag as key
  includes/admin/tools/logs/class-spam-logs-list-table.php
Due: ./vendor/bin/phpcbf

chore: add dummy click link to whitelist spam email
  includes/filters.php
Due: ./vendor/bin/phpcbf

fix: add separate section for akismet settings
  includes/admin/settings/class-settings-advanced.php
Due: ./vendor/bin/phpcbf

chore: get akismet whitelisted email addresses from fn and setup url
  includes/filters.php
Due: ./vendor/bin/phpcbf
