Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

chore: update stable tag - derp!
  readme.txt
Due: none

fix: catch all errors, and do not move errors tied to payment-request button
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: improve width of feerecovery checkbox
  src/Views/Form/Templates/Sequoia/assets/css/feerecovery.scss
Due: stylelint --fix

feature: introduce single gateway class
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix, stylelint --fix

fix: center align donate button
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: seup select defaults
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

feature: added the PayPalCheckout Payment Gateway
  src/PaymentGateways/PayPalCheckout/PayPalCheckout.php
  src/PaymentGateways/PaymentGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: added PaymentGateways service provider
  src/ServiceProviders/PaymentGateways.php
  src/ServiceProviders/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: register service providers
  give.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: standardize endpoint interval logic
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/Endpoint.php
  src/API/Endpoints/Reports/Income.php
  src/API/Endpoints/Reports/IncomeBreakdown.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: improve inline documentation
  src/PaymentGateways/PayPalCheckout/PayPalCheckout.php
  src/PaymentGateways/PaymentGateway.php
  src/ServiceProviders/PaymentGateways.php
  src/ServiceProviders/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused file
  includes/gateways/paypal/paypal-for-commerce.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: increase top margin of single gateway wrapper
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: use get_option to get fresh value
  includes/admin/upgrades/class-give-updates.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: setup listeners for anonymous donation opt-in
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

featuer: add styles for anonymouse donations checkbox
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

feature: use form color in anonymous donation checkbox
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use form color for checkbox border
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add mobile breakpoints for terms and conditions agreement
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

fix: ensure terms can be scrolled
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

chore: add paypal package
  composer.json
  composer.lock
Due: prettier --write

fix: do not set embed iframe url as 404
  src/Controller/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unnecessary code
  src/Controller/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: rename query param to prevent conflict with exiting query_vars
  src/Helpers/Form/Utils.php
  src/Route/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: hide not give related html
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

feature: add numberToDigits utility function
  assets/src/js/admin/reports/components/mini-chart/utils/index.js
Due: eslint --fix

chore: remove unused code
  src/Controller/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: implement numberToDigits function
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

fix: remove server-side trend rounding
  src/API/Endpoints/Reports/AverageDonation.php
  src/API/Endpoints/Reports/TotalDonors.php
  src/API/Endpoints/Reports/TotalIncome.php
  src/API/Endpoints/Reports/TotalRefunds.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: do round zero trend percentage to no decimal places
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

fix: correct implementation of number ToDigits
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

chore: add change log item for #4766
  readme.txt
Due: none

fix: improve implementation of numberToDigits
  assets/src/js/admin/reports/components/mini-chart/index.js
Due: eslint --fix

chore: run npm run production to generate new POT file
  languages/give.pot
  package-lock.json
Due: prettier --write

chore: fix typo in change log
  readme.txt
Due: none

fix:set script version to plugin version to load fresh file on every plugin release
  src/Views/Admin/DashboardWidgets/Reports.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add change log for 2.7.1 and fix typos in previous change logs
  give.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

fix: set default template to legacy if missing
  templates/shortcode-form-grid.php
Due: npm run lint:textdomain, npm run lint:php:fix
