Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

chore: remove onbaording error reporting logic
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: edit error message
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add logic to format errro string
  assets/src/css/admin/settings.scss
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

chore: remove used use
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: rename function
  src/PaymentGateways/PayPalCommerce/DonationFormPaymentMethod.php
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
  src/PaymentGateways/PayPalCommerce/Utils.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add code in try block
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove error container when admin connect or disconnect paypal account
  assets/src/js/admin/admin-settings.js
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update error message for unknown payment errors
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update error message formatting
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: check paypal merchant id to confirm paypal onboarding
  src/PaymentGateways/PayPalCommerce/Repositories/MerchantDetails.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: show paypal on boarding help message when modal close wihtou completing process
  assets/src/js/admin/admin-settings.js
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: remove eadditional placeholder from sprintf
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: reuse param
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: fix typo in class name
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add MerchantDetail consttructor param
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: refresh token on if account exist
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove error container correctely
  assets/src/js/admin/paypal-commerce/index.js
Due: eslint --fix

chore: remove error_log
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: render paypal onboarding trouble notice on basis of account country
  assets/src/js/admin/paypal-commerce/index.js
  src/PaymentGateways/PayPalCommerce/AdminSettingFields.php
  src/PaymentGateways/PayPalCommerce/AjaxRequestHandler.php
  src/PaymentGateways/PayPalCommerce/PayPalCommerce.php
  src/PaymentGateways/PayPalCommerce/ScriptLoader.php
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

chore: update function doc
  src/PaymentGateways/PayPalCommerce/RefreshToken.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update function doc
  src/PaymentGateways/PayPalCommerce/onBoardingRedirectHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Prevent double click for touch devices.
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

chore: Update changelog.
  CHANGELOG.md
Due: none

chore: update version in
  includes/misc-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Multi-Form Goals added via shortcode now stack image and text when needed (#5528)
  CHANGELOG.md
  src/MultiFormGoals/MultiFormGoal/Shortcode.php
  src/MultiFormGoals/resources/css/common.scss
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

Hide state field for South Korea
  includes/country-functions.php
Due: npm run lint:textdomain, npm run lint:php:fix

Validate new korean zipcode format
  includes/process-donation.php
Due: npm run lint:textdomain, npm run lint:php:fix

Various Multi-Step form browser styling compatibility issues are now resolved (#5529)
  CHANGELOG.md
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: stylelint --fix

e2e testing is now scaffolded (via Cypress and wp-env) (#5533)
  CHANGELOG.md
  cypress.json
  package-lock.json
  package.json
  tests/e2e/README.md
  tests/e2e/bin/install.sh
  tests/e2e/fixtures/example.json
  tests/e2e/integration/sample_spec.js
  tests/e2e/jest-puppeteer.config.js
  tests/e2e/jest.config.js
  tests/e2e/plugins/index.js
  tests/e2e/specs/form-display-option-all-fields.test.js
  tests/e2e/specs/form-display-option-button.test.js
  tests/e2e/specs/give-api.test.js
  tests/e2e/specs/shortcode-donation-form.test.js
  tests/e2e/specs/shortcode-donation-history.test.js
  tests/e2e/specs/shortcode-donor-wall.test.js
  tests/e2e/specs/shortcode-form-grid.test.js
  tests/e2e/specs/shortcode-give-form-multiple-forms.test.js
  tests/e2e/specs/shortcode-give-form-same-form-twice.test.js
  tests/e2e/specs/shortcode-give-totals.test.js
  tests/e2e/specs/shortcode-login.test.js
  tests/e2e/specs/shortcode-profile-editor.test.js
  tests/e2e/specs/shortcode-register.test.js
  tests/e2e/specs/test-utility.js
  tests/e2e/support/commands.js
  tests/e2e/support/index.js
Due: prettier --write, eslint --fix

Multiple error redirects does not break donation form view in Multi Step form template view (#5531)
  CHANGELOG.md
  src/Controller/Form.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: make wpdb methods callable with error checking via DB facade
  src/Framework/Database/DB.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add migration to remove revenue foreign keys
  src/Framework/Migrations/Contracts/Migration.php
  src/Revenue/Migrations/RemoveRevenueForeignKeys.php
  src/Revenue/RevenueServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update changelog
  CHANGELOG.md
Due: none

chore: add comment
  src/Revenue/Migrations/RemoveRevenueForeignKeys.php
Due: npm run lint:textdomain, npm run lint:php:fix

Create an account checkbox only displays when Guest Checkout is enabled. (#5516)
  CHANGELOG.md
  includes/forms/template.php
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: setup icon when re render personal information section
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

refactor: Update e2e test commands and documentation.
  .gitignore
  package.json
  tests/e2e/README.md
Due: prettier --write

Sample onboarding tests are now implemented (#5543)
  CHANGELOG.md
  assets/src/js/admin/onboarding-wizard/app/steps/introduction/index.js
  assets/src/js/admin/onboarding-wizard/components/button/index.js
  assets/src/js/admin/onboarding-wizard/components/continue-button/index.js
  src/Onboarding/Setup/templates/index.html.php
  src/Onboarding/Setup/templates/row-item.html
  tests/e2e/integration/onboarding/onboarding_wizard_spec.js
  tests/e2e/integration/onboarding/setup_page_spec.js
  tests/e2e/support/commands.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix
