Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

fix: improve code for update account name to bail early
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove legacy settings on upgrade
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve code and remove legacy code based on the requested changes
  includes/gateways/stripe/includes/admin/admin-actions.php
  includes/gateways/stripe/includes/admin/admin-helpers.php
  includes/gateways/stripe/includes/class-give-stripe-webhooks.php
  includes/gateways/stripe/includes/deprecated/deprecated-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: resolve error in if condition statement
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve code for backward compatibility
  includes/admin/upgrades/upgrade-functions.php
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: comment code for debugging
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: updated code to resolve backward compatibility issues
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: deprecate fn and its usages
  includes/gateways/stripe/includes/admin/admin-helpers.php
  includes/gateways/stripe/includes/class-give-stripe-gateway.php
  includes/gateways/stripe/includes/deprecated/deprecated-functions.php
  includes/gateways/stripe/includes/give-stripe-helpers.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: prevent stripe elements multiple ids error
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: use paragraph styles for acceptance text
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: match gray box padding to figma
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: use font styles in becs and sepa fields
  assets/src/js/frontend/give-stripe-becs.js
  assets/src/js/frontend/give-stripe-sepa.js
Due: eslint --fix

fix: do not hide newsletter fields
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: match top/bottom spacing to sides
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

feature: setup newsletter field styles
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
  src/Views/Form/Templates/Sequoia/assets/css/newsletter.scss
Due: none

fix: persist border when selected
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

feature: use form primary color in newsletter input
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update border on gateway load
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

docs: modify the "Form Page URL" prefix so it's more clear. Fixes #4612
  includes/admin/settings/class-settings-advanced.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use upgrade instead of custom option logic
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: early exit if account alreay connected
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update code for delete option test_publishable_key
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: set first stripe account as default
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: set default account slug to ensure that there is no empty account name
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: format array parameters
  includes/gateways/stripe/includes/admin/class-give-stripe-admin-settings.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove empty account slug on running upgrade routine
  includes/admin/upgrades/upgrade-functions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: decrease bottom margin
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: match select input height to text input
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: use placeholder in select elements
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: use bank icons for sepa, becs, ideal and ach
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: improve square field height
  src/Views/Form/Templates/Sequoia/assets/css/form.scss
Due: none

fix: style constant contact fields
  src/Views/Form/Templates/Sequoia/assets/css/newsletter.scss
Due: none

fix: persist border on contstant contact field
  src/Views/Form/Templates/Sequoia/assets/js/form.js
Due: eslint --fix

fix: use form primary color in constant contact field
  src/Views/Form/Templates/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve code related to account name
  includes/admin/upgrades/upgrade-functions.php
  includes/gateways/stripe/includes/admin/admin-actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve css to support stripe account listing in smaller screens with proper spacing
  assets/src/css/admin/stripe-admin.scss
Due: none

chore: update package.json
  package-lock.json
Due: prettier --write

fix: improve ui on smaller screens
  assets/src/css/admin/stripe-admin.scss
Due: none

chore: set default setting to give
  includes/install.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: remove unnecessary trinary condition
  src/Route/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  ./vendor/bin/phpcbf --standard=WordPress: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
