Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

refactor: stop migration runner based on registered but failed migrations
  src/Framework/Migrations/MigrationsRunner.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove all methods, parameters and logic related to runOrder
  src/Framework/Migrations/MigrationsRunner.php
  src/MigrationLog/MigrationLogFactory.php
  src/MigrationLog/MigrationLogModel.php
  src/MigrationLog/MigrationLogRepository.php
  src/MigrationLog/Migrations/CreateMigrationsTable.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update migration helper class
  src/MigrationLog/Helpers/MigrationHelper.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: reduce number of sql queries
  src/Tracking/TrackingData/DonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: register tracking related hook only if tracking enabled
  src/Tracking/TrackingServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use AcceeToken class to store token
  src/Tracking/AccessToken.php
  src/Tracking/AdminActionHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: record track only if acess token generated
  src/Tracking/AdminActionHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: enable setting only if access token generated
  src/Tracking/AdminActionHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename setting
  src/Tracking/Repositories/Settings.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: save optin nag setting
  src/Tracking/Repositories/Settings.php
  src/Tracking/UsageTrackingOnBoarding.php
Due: npm run lint:textdomain, npm run lint:php:fix

format: improve code formatting
  src/Tracking/AccessToken.php
  src/Tracking/AdminActionHandler.php
  src/Tracking/Enum/EventType.php
  src/Tracking/Helpers/Track.php
  src/Tracking/Repositories/TelemetryAccessDetails.php
  src/Tracking/Repositories/TrackEvents.php
  src/Tracking/TrackClient.php
  src/Tracking/TrackRegisterer.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: schedule cron job after getting access token
  src/Tracking/AdminActionHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: cast value to int
  src/Tracking/TrackingData/DonationFormsData.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: only display registerd tabs in Donor Profile app
  src/DonorProfiles/App.php
  src/DonorProfiles/ServiceProvider.php
  src/DonorProfiles/Tabs/EditProfileTab/LocationRoute.php
  src/DonorProfiles/Tabs/EditProfileTab/ProfileRoute.php
  src/DonorProfiles/Tabs/EditProfileTab/Tab.php
  src/DonorProfiles/resources/js/app/tabs/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: resolve path error
  src/DonorProfiles/Tabs/Contracts/Tab.php
  src/DonorProfiles/Tabs/EditProfileTab/Tab.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: batch processing
  src/Log/LogServiceProvider.php
  src/Log/Migrations/MigrateExistingLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: total logs count
  src/Log/Migrations/MigrateExistingLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve formatting
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove logging as migration runner will handle that
  src/Log/Migrations/MigrateExistingLogs.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove unused property
  src/MigrationLog/MigrationLogModel.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold iframe encapsulation
  src/DonorProfiles/App.php
  src/DonorProfiles/RequestHandler.php
  src/DonorProfiles/ServiceProvider.php
  src/DonorProfiles/resources/views/donorprofile.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: dynamically load site url
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add missing commit query
  src/API/Endpoints/Migrations/RunMigration.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: avoid undefined index error
  src/DonorProfiles/Helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve iframe styles
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: center donor profile
  src/DonorProfiles/resources/js/app/style.scss
Due: stylelint --fix

fix: resolve width issue
  src/DonorProfiles/App.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: improve text control styles
  src/DonorProfiles/resources/js/app/components/text-control/style.scss
Due: stylelint --fix

feature: load iframe encapsulated donor profile in block
  src/DonorProfiles/resources/js/block/edit/index.js
Due: eslint --fix

feature: add wide width alignment support
  src/DonorProfiles/App.php
  src/DonorProfiles/Block.php
  src/DonorProfiles/resources/js/block/data/attributes.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: use accent color
  src/DonorProfiles/App.php
  src/DonorProfiles/Block.php
  src/DonorProfiles/Shortcode.php
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
  src/DonorProfiles/resources/js/app/components/button/index.js
  src/DonorProfiles/resources/js/app/components/mobile-menu/index.js
  src/DonorProfiles/resources/js/app/components/mobile-menu/style.scss
  src/DonorProfiles/resources/js/app/hooks/index.js
  src/DonorProfiles/resources/js/app/store/initialState.js
  src/DonorProfiles/resources/js/app/tabs/donation-history/stats/index.js
  src/DonorProfiles/resources/js/app/utils/index.js
  src/DonorProfiles/resources/js/block/color-control/index.js
  src/DonorProfiles/resources/js/block/data/attributes.js
  src/DonorProfiles/resources/js/block/edit/inspector.js
  src/DonorProfiles/resources/js/block/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

All existing legacy functions used for logging are now updated to use the new Logging API (#5614)
  CHANGELOG.md
  give.php
  includes/actions.php
  includes/admin/admin-actions.php
  includes/admin/upgrades/upgrade-functions.php
  includes/class-give-logging.php
  includes/database/class-give-db-logs-meta.php
  includes/database/class-give-db-logs.php
  includes/gateways/functions.php
  includes/install.php
  includes/payments/class-give-payment.php
  includes/payments/functions.php
  src/Log/Helpers/LogTypeHelper.php
  src/Log/Migrations/MigrateExistingLogs.php
  src/ServiceProviders/LegacyServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use styled-components global styles to hande accent color
  src/DonorProfiles/resources/js/app/components/app/index.js
  src/DonorProfiles/resources/js/app/components/auth-modal/index.js
  src/DonorProfiles/resources/js/app/components/auth-modal/style.scss
  src/DonorProfiles/resources/js/app/components/button/index.js
  src/DonorProfiles/resources/js/app/components/button/style.scss
  src/DonorProfiles/resources/js/app/components/desktop-layout/style.scss
  src/DonorProfiles/resources/js/app/components/donation-table/style.scss
  src/DonorProfiles/resources/js/app/components/donor-info/style.scss
  src/DonorProfiles/resources/js/app/components/mobile-layout/style.scss
  src/DonorProfiles/resources/js/app/components/mobile-menu/index.js
  src/DonorProfiles/resources/js/app/components/mobile-menu/style.scss
  src/DonorProfiles/resources/js/app/components/radio-control/style.scss
  src/DonorProfiles/resources/js/app/components/text-control/style.scss
Due: eslint --fix, stylelint --fix

chore: update changelog
  CHANGELOG.md
Due: none

chore: add since tags
  src/DonorProfiles/Profile.php
  src/DonorProfiles/RequestHandler.php
  src/DonorProfiles/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use accent color in select controls
  src/DonorProfiles/resources/js/app/components/donation-receipt/style.scss
  src/DonorProfiles/resources/js/app/components/select-control/index.js
Due: eslint --fix, stylelint --fix

feature: change color control label
  src/DonorProfiles/resources/js/block/edit/inspector.js
Due: eslint --fix

build: run npm install
  package-lock.json
Due: prettier --write

feature: add addSupplemental method
  src/Log/LogModel.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: update date on log update
  src/Log/LogRepository.php
Due: npm run lint:textdomain, npm run lint:php:fix
