Repository tomasjames1121/WordPress-Give: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "./vendor/bin/phpcbf --standard=WordPress", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.css": ["stylelint --fix", "git add"]
}

fix: resolve issue with autoreplaced variable name
  assets/src/js/admin/admin-forms.js
Due: eslint --fix

chore: add helper fn file
  composer.json
  src/Helpers/Utils.php
Due: prettier --write, npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve payment information styles
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

refactor: update logic to detect failed and success page
  src/Helpers/Form/Utils.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: use refferer to check whether or not we are process donation form
  src/Helpers/Form/Utils.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: check if we are process form or not to overwrite template
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add amount step content option
  src/Views/Form/Themes/Sequoia/Actions.php
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/optionConfig.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add amount step content option
  src/Views/Form/Themes/Sequoia/Actions.php
  src/Views/Form/Themes/Sequoia/optionConfig.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: conditionally display amount section content
  src/Views/Form/Themes/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add payment information headline and description options
  src/Views/Form/Themes/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add payment information headline and descriptions to config
  src/Views/Form/Themes/Sequoia/optionConfig.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve code
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: load theme on ajax if has template other then legacy
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve tempate loading on ajax
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: rmeove is_admin check
  src/Form/LoadTheme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve markup by creating 'payment' section rathe rather than 'personal'
  src/Views/Form/Themes/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: improve markup by removing 'give-section' from progress bar and income stats
  src/Views/Form/Themes/Sequoia/sections/income-stats.php
  src/Views/Form/Themes/Sequoia/sections/introduction.php
  src/Views/Form/Themes/Sequoia/sections/progress-bar.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

fix: update js to reflect new markup
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

fix: paragraph tag to content
  src/Views/Form/Themes/Sequoia/Actions.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

refactor: cleanup form css file
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: add min width for advance and submit buttons
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: correctly check position for currency
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

fix: add tooltip styles
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: improve currency symbol size
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

fix: use default green from figma
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

chore: rename fns
  src/Controller/Form.php
  src/Helpers/Form/Utils.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

feature: add chevron icon to advance button
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
  src/Views/Form/Themes/Sequoia/assets/js/form.js
Due: eslint --fix

fix: improve payment screen styles
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none

chore: pass form id to success page anf faild page url getter
  src/Form/Theme.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: update sequoia template failed page getter fn
  src/Views/Form/Themes/Sequoia/Sequoia.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix typo
  src/Helpers/Form/Utils.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: store int type form id
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: improve logic and prevent switch case from executing
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: setup global for non loggedin donor
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: compare int type form ID
  includes/shortcodes.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: fix checkout url
  src/Controller/Form.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: do not pass short code in iframe query string
  includes/shortcodes.php
  src/Helpers/Form/Theme/Utils/Frontend.php
  src/Views/Form/defaultFormTemplate.php
Due: npm run lint:textdomain, ./vendor/bin/phpcbf --standard=WordPress

chore: add details header to issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: add details header to bug template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix: use cover fit for image
  src/Views/Form/Themes/Sequoia/assets/css/form.scss
Due: none
